@import "../../../../public/css/common-variables";
.apply-try-wrapper{
    .right-panel-modal{
        z-index: 1053!important;;
    }
    .right-panel-modal-content{
        background-color: #fff !important;
    }
    .close-modal-btn{
        color:#fff !important;
    }
    
    .apply-try-content{
        position: relative;
        background:#fff;
        height: 100%;
        .apply-try-header{
            background: #ccc;
            padding: 4px;

            div{
                display: inline-block;
            }
            .apply-try-header-title{
                font-size: 13px;
            }
            .apply-try-header-close{
                position: absolute;
                font-weight: 700;
                font-size: 16px;
                right: 10px;
                top: 0px;
                cursor: pointer;
            }
        }

        .apply-try-content-title{
            font-size: 16px;
            margin: 25px 0 25px 24px;
            height: 16px;
            font-weight: bold;
            color: @primary-font-color;
        }
        .apply-try-content-componey{
            .ant-form-item-required::after{
                content:'';
            }
            .ant-form-item-label{
                font-size:14px;
                color: @secondary-font-color;
                font-weight: 500;
            }
        }
        .ant-form-item{
            padding-left: 13px;
            .ant-form-item-label{
                label::after{
                    content:''
                }
            }
        }
        .ant-form-item-control-wrapper {
            .ant-form-item-control {
                // 排除掉火狐浏览器中，人数选项radioButton渲染的.ant-radio-button-input，否则，点击人数按钮中间会不起作用)
                input:not('.ant-radio-button-input'){
                    width: 368px;
                }
            }
            
        }
        .ant-radio-button-wrapper{
            border-radius: 4px;
            margin: 0 0 0 5px;
            border: 1px solid #d9d9d9;
            width: 89px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            &::before{
                width: 0;
            }
            &.ant-radio-button-wrapper-checked{
                border-color:@primary-color;
                background-color: #E4F2FE;
                border-left: 0;
            }
            &.ant-radio-button-wrapper-checked::before{
                width: 0;
            }
            &:first-of-type{
                margin: 0;
                border-left: 1px solid #d9d9d9 !important;
            }
            &:first-of-type.ant-radio-button-wrapper-checked{
                border-left: 1px solid @primary-color !important;
            }
        }

        .ant-input-number{
            width: 100%;
        }

        .user-scales-container{
            .ant-form-item-control{
                display: flex;
                .ant-input-number{
                    margin-right: 0;
                    border-right: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .user-personal{
                    color: @primary-font-color;
                    font-size: 14px;
                    background: #ddd;
                    position: relative;
                    top: -0.5px;
                    padding: 0 10px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }


        .apply-try-content-apply-btn-wrapper{
            width: 100%;
            text-align: center;
            margin-top: 30px;
            .apply-try-content-apply-btn{
                font-size: 20px;
                padding: 4px 40px;
                width:91%;
                height: 48px;
                background-color: @warn-color;
                border: 0;
            }
        }
        
    }
    .alert-timer{
        position: relative;
        width: 140px;
        left: calc(50% - 70px);
        margin-top: 30px;
    }
}
