.apply-try-wrapper{
    .right-panel-modal{
        z-index: 1053!important;;
    }
    .right-panel-modal-content{
        background-color: #fff !important;
    }
    .close-modal-btn{
        color:#fff !important;
    }
    
    .apply-try-content{
        position: relative;
        background:#fff;
        height: 100%;
        .apply-try-header{
            background: #ccc;
            padding: 4px;

            div{
                display: inline-block;
            }
            .apply-try-header-title{
                font-size: 13px;
            }
            .apply-try-header-close{
                position: absolute;
                font-weight: 700;
                font-size: 16px;
                right: 10px;
                top: 0px;
                cursor: pointer;
            }
        }

        .apply-try-content-title{
            font-size: 16px;
            margin: 25px 0 25px 24px;
            height: 16px;
            font-weight: bold;
            color: #333;
        }
        .apply-try-content-componey{
            .ant-form-item-required::after{
                content:'';
            }
            .ant-form-item-label{
                font-size:14px;
                color: #999;
                font-weight: 500;
            }
        }
        .ant-form-item{
            margin-left: 13px;
            .ant-form-item-label{
                label::after{
                    content:''
                }
            }
        }
        .ant-form-item-control-wrapper{
            .ant-form-item-control {
                input{
                    width: 368px;
                }
            }
            
        }
        .ant-radio-button-wrapper{
            border-radius: 4px;
            margin: 0 0 0 4px;
            border: 1px solid #d9d9d9;
            width: 89px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            &::before{
                width: 0;
            }
            &.ant-radio-button-wrapper-checked{
                border-color:#108ee9;
                background-color: #E4F2FE;
                border-left: 0;
            }
            &.ant-radio-button-wrapper-checked::before{
                width: 0;
            }
            &:first-of-type{
                margin: 0;
                border-left: 1px solid #d9d9d9 !important;
            }
            &:first-of-type.ant-radio-button-wrapper-checked{
                border-left: 1px solid #108ee9 !important;
            }
        }

        .apply-try-content-apply-btn-wrapper{
            width: 100%;
            text-align: center;
            margin-top: 30px;
            .apply-try-content-apply-btn{
                font-size: 20px;
                padding: 4px 40px;
                width:91%;
                height: 48px;
                background-color: #EFA246;
                border: 0;
            }
        }
        
    }
    .alert-timer{
        position: relative;
        width: 140px;
        left: calc(50% - 70px);
        margin-top: 30px;
    }
}
