/*
* 运营报告的样式文件
*/

.operation-report-container{
  padding-top:76px;
  //导出按钮
  .btn-export{
    float:right;
    margin-top:25px;
    margin-right:20px;
  }
  //时间组件
  .report-time-container{
    float:right;
    margin-top:25px;
    padding-right:20px;
  }
  //应用选择组件
  .report-app-select-container{
    float:right;
    margin-top:25px;
    margin-right:10px;
    .ant-select{
      width:300px;
      .ant-select-search__field{
        height:auto;
      }
    }
  }

  .operation-report-content{
    padding:20px 20px 10px 50px;
    .report-item{
      display:inline-block;
      width:100%;
      h4{
        padding-bottom:10px;
      }
      .report-chart-placeholder{
        float:left;
        width:100%;
      }
      .report-chart-container.one-chart-full-width{
        width:100%;
      }
      .report-chart-container{
        float:left;
        width:50%;
        padding:10px 10px 30px 10px;
        .chart-descr{
          padding-bottom:5px;
        }
        .chart-descr-tip{
          padding-bottom:5px;
          padding-left:20px;
        }
        .report-chart{
          border:1px solid #f4f6f7;
          .report-chart-title{
            color:#62696f;
            line-height:18px;
            font-size:14px;
            padding-top:10px;
            text-align:center;
          }
          .analysis_composite_line_chart{
            position:relative;
          }
          //隐藏日活、周活、月活的选择按钮
          .ant-radio-group{
            display:none;
          }

          //表格样式的设置
          .team-login-table{
            .ant-table th, .ant-table td{
              padding:8px;
            }
            .team-table-head{
              .ant-table-placeholder, .ant-table-tbody{
                display:none;
              }
              .ant-table-empty{
                margin-bottom:auto;
                .ant-table-body{
                  height:auto;
                  border-bottom:none;
                }
              }
            }
            .team-table-body{
              .ant-table-header, .ant-table-thead{
                display:none;
              }
              td.data-float-right span{
                float:right;
              }
            }
          }
        }
      }
    }
  }
  .top-nav-tmp{
    line-height:76px;
    font-size:18px;
    .pull-left{
      margin-left:20px;
    }
    .pull-right{
      margin-right:30px;
      span{
        margin-right:20px;
      }
    }
  }
}

//已选择的应用从下拉列表中隐藏
.ant-select-dropdown{
  .app-options-selected{
    display:none;
  }
}
