@import "../../public/css/common-variables";

.overflow-break {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

#add-customer-form-container {
  padding-top: 10px;
  background: #fff;
  h4 {
    padding-left: 10px;
  }
  .check-only-error {
    margin-top: -@margin-bottom;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    color: @error_tips_color;
    width: @edit_input_width;
  }
  .tip-customer-exist {
    display: inline-block;
    margin-top: -10px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    font-size: 12px;
    .tip-customer-error{
      color: @error_tips_color;
    }
  }
  .input-red-border {
    position: relative;
    display: inline-block;
    padding: 6px 7px;
    border: 1px solid @error_tips_color;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    box-shadow: 0 0 0 2px #ffddcc;
    cursor: text;

  }
  //行业加载中效果
  .industry-list-loading {
    line-height: 35px;
    color: #666;
    padding-left: 10px;
    .anticon-loading {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .scroll-bar-inner {
    padding-right: 14px;
    .ant-form-item {
      width: 100%;
      margin: 5px 0 5px 0;
      input, #remarks, .ant-select {
        width: 100%;
      }
      .ant-form-explain {
        color: @error-color;
        text-align: left;
        &:extend(.overflow-break);
      }
    }
    .ant-form-horizontal label {
      padding: 0;
      margin-bottom: 0;
    }
    //增加客户面板
    .add-customer-form {
      //增加客户的基本信息部分
      .add-customer-info {
        h5 {
          background: #ccc;
          font-size: 15px;
          color: #fff;
          padding: 5px 5px 5px 10px;
          margin-top: 8px;
        }
        //地域样式
        #area-container {
          width: 58% !important;
          float: left;
          .area-selector {
            width: 100% !important;

            .ant-form-item {
              label {
                line-height: 32px;
              }
            }
            input[name="area-input"] {
              border-radius: 6px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

          }
        }
        //详细地址样式
        #area-container + .ant-form-item {
          width: 42%;
          float: left;
          .ant-form-item-control-wrapper {
            width: 100%;
          }
          input[name="address"] {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        #area-container + .ant-form-item + .ant-form-item {
          clear: both;
        }
        //行政级别按钮样式
        button {
          color: #666;
          background-color: #f4f4f4;
          border: 1px solid #d9d9d9;
          text-align: center;
          height: 32px;
          padding: 4px 11px 5px 11px;
          font-size: 14px;
          border-radius: 0;
          cursor: pointer;
          line-height: 1.5;
          outline: none;
        }
        button.selected-adm {
          background-color: #fff;
        }
        //标签区域
        #taglists-container {
          width: 100%;
          margin-bottom: 10px;
          margin-top: 5px;
          .tag-list {
            width: 83%;
            margin-left: 78px;
            border: 1px solid #dfe9f3;
            padding: 6px;
            border-radius: 3px;
            &:extend(.overflow-break);
          }
          .ant-tag-checkable:hover {
            background-color: #f3f3f3;
            color: #666
          }
          .ant-tag.ant-tag-checkable-checked {
            background-color: @primary-color;
            color: #fff;
            &:hover {
              background-color: @primary-color;
              color: #fff;
            }
          }
        }
      }
      //增加客户的联系人区域
      .add-customer-contact {
        overflow: hidden;
        border-bottom: 1px solid #cccccc;
        h5 {
          background: #ccc;
          font-size: 15px;
          color: #fff;
          padding: 5px 5px 5px 10px;
          margin-top: 8px;
        }
        & > .ant-form-item {
          width: 15%;
          float: left;
          margin-right: 3px;
        }
        & > .ant-form-item:nth-child(2) {
          width: 50%;
        }
        & > .ant-form-item:nth-child(6) {
          width: 68%;
        }
      }
      //底部按钮区域
      .submit-button-container {
        margin-top: 8px;
        padding-left: 20px;
        button {
          float: right;
          margin-left: 10px;
          height: 32px;
        }
      }
    }
  }

}

#app .right-pannel-default.add_customer_form form {
  .ant-form-item {
    width: 100%;
    input {
      font-size: 12px;
      width: 100%;
    }
    .ant-select {
      width: 100%;
      font-size: 12px;
    }
  }
  .ant-form-item-label label {
    font-size: 12px;
    font-weight: 700;
    padding-right: 5px;
  }
  .form-item-label {
    text-align: left;
    font-size: 12px;
  }
}
