// 成员管理的样式
.member-container {
  .member-wrap {
    .member-detail-wrap {
      .member-top-nav {
        padding: 24px;
        height: 32px;
        .pull-right {
          .search-input-block, .select-role, .select-status {
            display: inline-block;
          }
          .search-input-block {
            width: 288px;
          }
        }
      }
      .member-content {
        margin-top: 32px;
        border-top: 1px solid #E5E5E5;
      }
    }
  }
}

