// 成员管理的样式
.member-container {
  .member-wrap {
    .member-detail-wrap {
      .member-top-nav {
        padding: 24px;
        height: 32px;
        .pull-right {
          .search-input-block, .select-role, .select-status {
            display: inline-block;
          }
          .search-input-block {
            width: 288px;
          }
        }
      }
      .member-content {
        margin-top: 32px;
        border-top: 1px solid #E5E5E5;
        .member-table-info {
          .member-list-table-wrap {
            .antc-table {
              .ant-table tbody tr {
                cursor: pointer;
                background:#fff !important;
              }
              .ant-table tbody .current-row, .ant-table tbody .current-row:hover {
                background: #E4F2FE !important;
              }
              .ant-table td,.ant-table th {
                border-bottom:1px solid #F5F5F5 !important;
                border-right: none !important;
              }
              .ant-table-thead {
                th {
                  color: #999 !important;
                }
                th:first-child {
                  padding: 9px 9px 24px !important;
                }
              }
            }
            .ant-table-tbody {
              td {
                font-size: 14px;
                color: #333 !important;
                .member-name {
                  padding-left: 16px;
                  .accout {
                    font-size: 16px;
                  }
                  .nickname {
                    font-size: 12px;
                    color: #999;
                  }
                }
                .member-status {
                  color: #999;
                }
              }
            }
          }
        }
      }
    }
  }
}