// 成员管理的样式
.member-container {
  .member-wrap {
    .member-detail-wrap {
      .member-top-nav {
        padding: 24px;
        height: 80px;
        .pull-right {
          .search-input-block, .select-role, .select-status {
            display: inline-block;
          }
          .btn-item {
            .ant-select-selection {
              color: #333;
            }
          }
          .search-input-block {
            width: 288px;
          }
        }
      }
      .member-content {
        border-top: 1px solid #E5E5E5;
        position: relative;
        .load8{
            top: calc(45% - 35px);
            left: calc(50% + 15px);
        }
      }
    }
  }
}

