@import "../../../../public/css/common-variables";
.member-log-list-continer {
  .log-item {
    .log-info {
      font-size: 14px;
      color: @primary-font-color;
    }
    .log-time {
      font-size: 12px;
      color: #999999;
    }
  }
  .no-more-data-tip {
    float: left;
    margin-left: 100px;
    width: 180px;
  }
}