@import "../../public/css/common-variables";
.report-left-menu {
    background: #fff;
    margin-right: 16px;
    padding: 10px 16px;
    font-size: 14px;
    li {
        line-height: 30px;
    }
    a {
        color: inherit;
    }
    a.active {
        color: @primary-color;
    }
    .icon-nav-setting {
        float: right;
        display: none;
        cursor: pointer;
    }
    li:hover {
        .icon-nav-setting {
            display: block;
        }
    }
    .btn-open-report {
        position: absolute;
        top: -65px;
        left: 100px;
        z-index: 11;
        font-size: 12px;
        cursor: pointer;
    }
}
