@import '../../../../components/antd-table-pagination/index.less';
@import '../../../../public/css/common-variables';

.position_manage_page {
  .topNav {
    .filter-select {
      position: absolute;
      right: 150px;
      top: 24px;
    }
    .search-input-add-block {
      display: inline-block;
      float: right;
      height: 75px;
      line-height: 75px;
      text-align: center;
      .search-input-container {
        display: inline-block;
        vertical-align: top;
        width:@edit_input_width;
        margin-right: @filter_btn_internal;
      }
      .add-position-btn{
        display: inline-block;
        border-left: 1px solid #edf1f2;
        cursor: pointer;
        width: 100px;
        .ant-btn {
          border-color: transparent;
          color: #4d96d1;
          font-size: 14px;
        }
      }
    }
  }

  .loader8 {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .position-list-table-wrap {
    margin: 75px 50px auto 50px;
    .ant-table-header {
      background: #fff;
    }
    .ant-table-tbody {
      .current-row,.current-row:hover {
        background: #b6d3f3 !important;
      }
    }
  }
  .add-position-form {
    .add-position-content {
      clear: both;
      margin-top: 50px;
      .ant-form-item {
        padding-right: 0;
        text-align: left;
        margin-left: 40px !important;
        > label {
          text-align: left !important;
        }
        .indicator {
          position: absolute;
          float: right;
          right: 140px;
          top: 17px;
          text-align: center;
          .ant-alert {
            padding: 8px 5px;
          }
        }
      }
      .has-error-tips {
        margin: -15px 0  5px 105px;
        color: @error_tips_color;
      }
    }
  }
  .position-info {
    clear: both;
    margin-left: 20px;
    margin-top: 50px;
    dt{
      display: table-cell;
      vertical-align: top;
      font-size: 13px;
    }
    dd{
      display: table-cell;
      li{
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 3px;
        span.tag-count{
          display: inline-block;
          margin-left: 5px;
          color: #4d96d1;
          font-weight: bold;
        }
      }
    }
  }
 .summary_info {
   position: fixed;
   bottom: 80px;
 }
  .right-pannel-default {
    .position-info {
      @color: #b6c2c9;
      .icon-update {
        margin: 0 0 0 10px;
        color: @color;
        cursor: pointer;
        &:hover {
          color: darken(@color , 30%);
        }
      }
    }
  }
}
