/*
注册界面的样式
 */
 @import "../../../public/css/common-variables";
@button-height: 48px;
@margin: 24px;
@border-radius: 3px;
@font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
.register-wrap{
  height: 100vh;
  font-family: @font-family;
  .logo{
    margin-top: 16px;
    margin-left: 16px;
  }
  //注册页图片区
  .register-image-container{
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: linear-gradient(to bottom, @primary-color, #3dcbae);
    .register-left-content-style{
      position: relative;
      height: 50%;
      width: 100%;
      .register-logo, .register-slogan-tip{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .register-logo{
        width: 106px;
        height: 28px;
      }
      .register-slogan-tip{
        width: 260px;
        height: 23px;
        line-height: 23px;
        font-size: 23px;
        text-align: center;
        color: #ffffff;
      }
    }
    
  }
  //注册表单区
  .register-form-wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    .form-wrap{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .register-scroll-bar{
        .gm-scroll-view{
          display: flex;
          align-items: center;
        }
      }
      .register-content-continer{
        width: 384px;
        margin: auto;
      }

      .form-title{
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #213340;
      }
      //注册表单样式
      .register-form{
        margin-top: 10px;
        .ant-form-item{
          margin-bottom: 20px;
        }
        .ant-form-item.register-btn-form-item{
          margin-bottom: 0;
        }
        .MuiFormLabel-root{
          font-family: @font-family;
        }
        .MuiFormLabel-root.Mui-focused{
          color: @primary-color;
        }
        .MuiInput-underline:after{
          border-bottom: 2px solid @primary-color;
        }
        input{
          color: @primary-font-color;
          font-size: 14px;
        }
        .register_captcha_wrap{
          input{
            padding-right: 130px;
          }
          img {
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            height: 40px;
            border-radius: @border-radius;
            cursor: pointer;
          }
        } 
        //隐藏的密码框
        .password-hidden-input{
          width: 0;
          height: 0;
          border: 0;
          padding: 0;
          margin: 0;
        }
        //正在验证状态图标的样式修改
        .is-validating.has-feedback:after{
          right: 80px;
          line-height: 40px;
          height: 40px;
        }

        //验证码输入框
        input.captcha-code-input{
          width: 225px;
        }
        .captcha-code-wrap{
          position: absolute;
          float: right;
          top: 10px;
          right: 0;
          font-size: 14px;
          button{
            padding: 0 13px;
            font-size: 14px;
            color: #cccccc;
            background-color: #f5f5f5;
            border-color: #f5f5f5;
          }
          button.captcha-btn{
            background-color: @primary-color;
            border-color: @primary-color;
            color: #ffffff;
          }
          .captcha-input{
            input{
              padding-right: 120px;
            }
          }
          .get-captcha-code{
            cursor: pointer;
          }
          .active{
            color: @primary-color;
          }
          .anticon-loading{
            margin-left: 4px;
          }
        }
        //密码强度条样式设置 
        .password-strength-wrap{
          margin-top: -20px;
          .ant-pwd-strength-item{
            width: 120px !important;
          }
        }

        .register-user-agreement-tip{
          font-size: 12px;
          margin-bottom: 6px;
          >span{
              color: @secondary-font-color;
          }
        }
        .register-btn{
          button{
            width: 100%;
            height: 46px;
            line-height: 43px;
            border-color: @warn-color;
            background-color: @warn-color;
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            box-shadow:0px 12px 12px 0px rgba(239,162,70,0.24);
          }
        }
        a{
          color: @primary-color;
        }
        //注册错误提示
        .register-error-tip {
          margin-top: 4px;
          line-height: 22px;
          font-size: 14px;
          color: @error-color;
          // 手机号已被注册的提示样式
          &.phone-registed-tip{
            font-size: 12px;
          }
        }

      }
      //有隐藏的密码框的form表单样式
      .register-form.register-finished-form{
        margin-top: 8px;
      }
      .register-to-login{
        float: right;
        height: 20px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        >span{
          color: @secondary-font-color;
        }
      }
    }
  }
}

#footer {
  .footer-content {
    width: 60% !important;
    color: @secondary-font-color;
    a {
      color: @secondary-font-color;
    }
  }
}

@media (max-width: 720px) {
  .register-wrap{
    .register-image-container{
      width: 100%;
      height: 48px;
      margin: 0;
      .register-logo-wrap{
        float: left;
        width: auto;
        height: auto;
        .register-logo{
          width: 80px;
          height: 24px;
          margin: 12px 16px;
        }
      }
      .register-slogan{
        float: right;
        width: 60%;
        height: 48px;
        .register-slogan-tip{
          width: auto;
          padding-right: 16px;
          text-align: right;
          font-size: 16px;
        }
      }
    }
    .register-form-wrap{
      width: 100%;
      display: flex;
      align-items: center;
      .form-wrap{
        top: auto;
        bottom: 0;
        margin: auto;
        .register-to-login{
          float: left;
        }
      }
    }
  }
  #footer .footer-content {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
   .register-wrap {
    .register-image-container{
      height: 40px;
      .register-logo-wrap{
        .register-logo{
          margin: 8px;
        }
      }
      .register-slogan {
        height: 40px;
        .register-slogan-tip{
          padding-right: 8px;
        }
      }
    }
    
    .register-form-wrap {
      .form-wrap{
        .register-content-continer{
          width: 264px;
          .register-form{
            .register-user-agreement-tip {
              font-size: 10px;
            }
            //密码强度条样式设置 
            .password-strength-wrap{
              .ant-pwd-strength-item{
                width: 80px !important;
              }
            }
          }
          .register-to-login{
            margin-top: 17px;
          }
        }
      }
    }
 }
 #footer .footer-content {
    font-size: 10px;
  }
}

@media (max-height: 620px) {
  #footer {
    display: none;
  }
}