.apply-approve-container{
  padding: 24px;
  background: #F5F5F5;
  .apply-add-show-card{
    display: inline-block;
    width: 299px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    cursor: pointer;
  }
  .apply-add-show-card.add-card{
    color:#999;
    font-size:16px;
    border:1px dotted #ccc;
    &:hover{
      color: #2196F3;
      border-color: #2196F3;
    }
  }
}
.show-apply-list.apply-approve-container{
  background: #fff;
}
.edit-container{
  width: 480px;
  margin:0 auto;
  padding:14px 0 0 24px;
  font-size: 14px;
  .component-row{
    height: 40px;
    line-height: 40px;
    .label-components{
      display: inline-block;
      color:#999;
      width: 92px;
      text-align: right;
      padding-right: 10px;
    }
    .text-components{
      display: inline-block;
      color:#333
    }
  }

}