.apply-approve-container{
  padding: 24px;
  background: #F5F5F5;
  .apply-add-show-card{
    display: inline-block;
    width: 299px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    cursor: pointer;
  }
  .apply-add-show-card.add-card{
    color:#999;
    font-size:16px;
    border:1px dotted #ccc;
    &:hover{
      color: #2196F3;
      border-color: #2196F3;
    }
  }
}
.show-apply-list.apply-approve-container{
  background: #fff;
}
