.reg-rule-container{
  #bpmn-container{
  //display: none;
 }
  .reg-rule-wrap{
    .rule-item{
      padding: 16px 0;
      margin-left: 24px;
      border-bottom: 1px solid #DEDFE3;
      overflow: hidden;

      .item-label{
        display: inline-block;
        font-size: 14px;
        color: #333;
        width: 110px;
        float: left;
      }
      .rule-content{
        float: left;
        overflow: hidden;
        .item-node{
          float: left;
          .icon-container{
            display: block;
            width:40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background: #B8D3EA;
            text-align: center;
            .iconfont{
              font-size: 28px;
              color:#fff;
            }
          }
          .show-name{
             display: block;
             font-size: 12px;
             color: #333;
            .connet-bar{
              position: relative;
              display: inline-block;
              width: 40px;
              top:-46px;
              border-bottom: 4px solid red;
            }
          }
        }
      }
      .rule-content.info-container{
        .ant-radio-wrapper{
          display: block;
        }
      }
    }


  }
}