@import "../../../../public/css/iconfont";
@import "../../../../public/css/common-variables";
//check button的样式
.check_button {
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      border-color: @primary-color;
      background-color: @primary-color;
      &:after {
        left: 10px;
        top: 3px;
        width: 10px;
        height: 18px;
        border: 4px solid #fff;
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        position: absolute;
        display: table;
        border-top: 0;
        border-left: 0;
        content: ' ';
        -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }
  }
}
.call_record_content {
  .spin-fix {
    z-index: 1!important;
    background-color: white;
    top: 58px!important;
  }
  .add-content .text-show {
    min-height: 41px;
    margin-left: -5px;
    padding: 0 5px 0 3px;
  }
  .add-content textarea.textarea-fix {
    overflow: hidden;     
    width: 100%;
    margin-left: -5px;
    padding: 0 3px;
    outline: medium;
    resize: none;
    border: initial;
    border-radius: 3px;
    background-color: initial;
  }
  .filter-select-fix {
    top: -2px;
  }
  .range-datepicker, .search-btn {
    float: left;
    margin-top: @filter_area_margin_top;
  }
  .search-btn {
    width: 72px;
    margin-left: 20px;
    span {
      font-size: 12px;
    }
    border-radius: 3px;
  }
  .call_record_wrap {
    padding: @top_nav_height+2 @container_padding 10px @container_padding;
    height: 100vh;
    .filter-input-container {
      position: relative;
      //搜索按钮
      .anticon.anticon-search {
        position: absolute;
        height: 30px;
        width: 20px;
        right: 0;
        line-height: 30px;
        cursor: pointer;
      }
      .ant-select {
        display: inherit;
      }
    }
    .table-thead {
      .ant-table {
        th {
          padding: 9px 8px;
          > div {
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }

    .ant-table-tbody tr td {
      .iconfont.icon-audio-play {
        margin-left: 8px;
        position: relative;
        top: 1px;
        color: @primary-color;
        cursor: pointer;
       }
      .iconfont.icon-audio-play.icon-selected {
        color: #C20C0C;
      }
    }

    .rc-calendar {
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 2;
      white-space: normal;
    }
    .rc-calendar-range-right .rc-calendar-date-input-wrap {
      position: absolute;
      left: -109px;
      overflow: visible;
      &:before {
        content: "~";
        position: absolute;
        left: -15px;
      }
    }

    .rc-calendar-today-btn {
      display: none;
    }

    .rc-calendar-ok-btn {
      background: #2db7f5;
      border: 1px solid #2db7f5;
      padding: 1px 7px;
      border-radius: 6px;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .ant-alert {
      position: static;
      width: auto;
      display: inline-block;
    }
    .alert-wrap {
      text-align: center;
    }
    .alert-wrap:first-child {
      margin-top: 20px;
      position: absolute;
      width: 100%;
    }

    .table-tbody {
      cursor: default;
      .ant-table-header table {
        border: none;
      }
      thead {
        display: none;
      }
      .data-float-right {
        text-align: right;
        cursor: default;
      }
      .call-time, .call-user {
        cursor: default;
      }
    }
    .no-more-data-tip {
      .ant-alert.ant-alert-info {
        width: 100% !important;
      }
    }
    .table-thead {
      height: 50px;
      .ant-table-placeholder {
        display: none;
      }
      .ant-table-body {
        height: auto !important;
        border-bottom: none !important;
      }
    }
    .gm-scroll-view {
      .gm-bottom-loading {
        background: #fff;
      }
      .ant-table-body {
        .customer_column {
          cursor: pointer;
        }
        .customer_column:hover {
          color: #2db7f5;
        }
        border-bottom: none !important;
        .current_row, .current_row:hover {
          background: #b6d3f3 !important;
        }
      }
    }
    .ant-table-tbody {
      .customer_column {
        cursor: pointer;
      }
      .customer_column:hover {
        color: @primary-color !important;
      }
      td.has-filter {
        cursor: default !important;
      }
    }
    .ant-table-tbody{
      tr{
        .add-customer-icon{
          visibility: hidden;
        }
        .collapse-btn{
          padding-right:7px; 
        }
        .icon-edit-btn{
          visibility: hidden;
        }
        .icon-edit-btn-plus.has-data-btn{
          padding-top: 0;
        }
        .add-content{
          position: relative;
        }
        &:hover{
          .add-customer-icon{
            visibility: visible;
          }
          .icon-edit-btn{
            visibility: visible;
          }
        }
      }
    }
    .ant-table-header {
      .ant-table-thead {
        th.has-filter {
          cursor: pointer;
        }
      }
    }
  }

  .filter-phone-button {
    display: inline-block;
    position: relative;
    margin-top: @filter_area_margin_top;
    height: 30px;
    .ant-checkbox {
      height: 30px;
      margin-bottom: 3px;
    }
    .ant-checkbox-inner {
      width: 30px;
      height: 30px;
    }
    .check_button;
    .call-analysis-btn {
      border: 1px solid @primary-color;
      padding: 7px 5px;
      border-radius: 3px;
      margin-left: 15px;
      .call-analysis {
        cursor: pointer;
        color: @primary-color;
      }
    }
    .ant-select-selection__rendered {
      line-height: 23px;
      .ant-select-selection-selected-value {
        padding-top: 3px;
      }
    }
  }

  .show-call-phone {
    margin-left: 48px;
    .call-phone {
      margin-left: 18px;
    }
  }

  .tip-customer-exist {
    margin-top: -10px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    .tip-customer-error{
      color: @error_tips_color;
    }
  }
  .ant-table-tbody {
    .current_row, .current_row:hover {
      background: #b6d3f3 !important;
    }
    .add-content input {
      border: none;
      outline: medium;
      background: transparent;
      height: 22px;
      width: 100%;
    }
    .customer-column-click-wrap {
         > a {
           margin-right: 10px;
         }
    }
    .add-customer-icon{
      width: 100%;
      padding-left: 6px;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
    }
  }
}

.call-record-wrap {
  .new-custom-tbody .icon-column{
    .icon-phone-call-out{
      color: #4A8EC4;
    }
    .icon-callrecord-in{
      color: @primary-color;
    }
    .icon-callrecord-out{
      color: @secondary-color;
    }
  }
  .call_record_content{
    .right-pannel-default {
      width: 700px;
      transform: translate(700px, 0);
      padding: 0;
    }
  }
  //点击查看客户详情时候的右侧面板
  .call-record-crm-detail.right-pannel-default {
    width: 700px;
    transform: translate(700px, 0);
    padding: 0;
  }
  .add-customer {
    .right-pannel-default {
      width: 420px;
      transform: translate(420px, 0);
      padding: 0;
      .crm-add-form {
        margin-top: 50px;
      }
    }
  }
  .call-analysis-panel.right-pannel-default {
    width: auto;
    left: 75px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    background-color: #fff;
    display: block;

    .call-analysis-content {
      .trend-chart-title {
        .call-interval-radio {
          float: none !important;
          position: relative !important;
          top: 0 !important;
          display: inline-block;
          color: inherit;
          line-height: 27px;
        }
        .each-team-trend {
            display: inline-block;
        }
      }
      .ant-select {
        width: auto;
      }
      .call-type-select.btn-item {
        margin-left: 5px!important;
      }
      //时间控件
      .date-range-wrap {
        .call-back-btn{
          float: left;
          position: relative;
          top: 18px;
          margin-right: 10px;
          margin-left: 18px;
        }
        .call-type-select, .range-datepicker, .team-member-select {
          float: left;
          margin-top: 18px;
          margin-left: 8px;
          .ant-select-selection__rendered {
            max-width: 1000px;
            @media screen and (max-width: 1400px) {
              max-width: 600px;
            }
            @media screen and (max-width: 1200px) {
              max-width: 400px;
            }
            @media screen and (max-width: 1000px) {
              max-width: 200px;
            }
            overflow-y: auto;
            height: 32px;
            overflow-x: hidden;
          }
        }
      }
      //头部分隔线的样式
      .topNav {
        &:before {
          left: 0 !important;
          right: 0 !important;
        }
        position: absolute;
        left:0!important;
        padding-left: 8px;
        .close-pannel {
          margin-right: 27px;
          margin-top: 22px;
        }
      }

      .call-data-analysis {
        margin-top: 10px;
        padding-top: 65px;
        background: #f3f5f7;
        .call-table-container {
          width: 100%;
          min-height: 150px;
          padding-right: 10px;
          padding-left: 10px;
          .analysis-wrapper {
            width: 100%;
            .call-info {
              padding-left:0;
              padding-right:0;
              .card-container {
                .card-title {
                  border-bottom: none;
                  padding: 0 0 10px;
                  .additional-content{
                    .icon-export {
                      padding-right: 15px;
                    }
                  }
                }
              }
              .refresh-container{
                margin-right: 16px;
                font-size: 15px;
                cursor: pointer;
              }
            }
            .call-range,.call-duration,.call-rate, .call-stage,.call-zone{
              padding-left: 0;
              .analysis-charts{
                padding: 0;
              }
              .call-top:last-child, .padding-both-none{
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
          .call-type-select {
            margin-bottom: 12px;
          }
          .table-list-containers{
            clear:both;
          }
          //地域分布图
          .call-zone-distribute{
            padding-right: 8px;
            .echarts-tooltip.notshow {
              background:rgba(0,0,0,0) !important;
              border-color:rgba(0,0,0,0) !important;
              color:rgba(0,0,0,0) !important;
              cursor:default !important;
            }
          }
          .call-info, .call-top, .call-service-rate, .call-rate-service-rate,.call-stage-distribute,.customer-stage-distribute{
            min-height: 100px;
          }
          .call-top{
            .card-container {
              .card-title {
                border-bottom: none;
              }}
          }
          .alert-wrap {
            text-align: center;
            line-height: 90px;
            .ant-alert-error, .ant-alert-message, .ant-alert-info {
              display: inline-block;
            }
          }
          // TOP10
          .call-duration-top-ten {
            .call-duration-title {
              margin-top: 20px;
              margin-bottom: 10px;
            }
          }
          // 114占比
          .call-rate {
            .call-rate-title {
              margin-top: 20px;
            }
          }
          .card-container{
            min-height: 150px;
          }

          //通话时段点图
          .call-interval-block{
            position: relative;
            min-height: 200px;
          }
          .call-interval-title {
            margin-top: 20px;
          }
          .call-interval-radio {
            float: right;
            margin-right: 25px;
            position:absolute;
            right: 10px;
            top:20px;
          }
        }
      }
    }

  }
}

.call-record-fix {
  tr > td {
    padding: 6px 8px !important;
  }
   .errmsg-wrap {
    margin: 260px auto;
    text-align: center;
    .iconfont{
      font-size: 96px;
      color:@LOADING_ERR_ICON;
    }

  }
}

.ant-select-dropdown {
  .ant-select-dropdown-menu {
    max-height: 400px;
  }
}

.ant-btn-sm {
  border-radius: 3px;
}
