.upload-wrap{
  .upload-file-name{
    margin-bottom: 10px;
    font-size:14px;
    .file-name{
      margin-right:20px;
    }

    .iconfont.icon-delete{
      font-size: 14px;
      cursor: pointer;
    }
  }
  .upload-file-name:first-child{
    margin-top:10px;
  }
  .download-btn{
    margin-bottom: 10px;
  }
  .ant-alert-error{
    width: 300px;
  }
}
