.upload-wrap{
  .upload-file-name{
    margin-bottom: 10px;
    font-size:14px;
    .anticon-close{
      font-size: 14px;
      margin-left:20px;
      cursor: pointer;
    }
    .alert-timer{
      float: right;
      margin-left:20px;
      .ant-alert-error{
        width:300px;
      }
    }
  }
  .download-btn{
    margin-bottom: 10px;
  }
}
