.upload-wrap{
  .upload-file-name{
    margin-bottom: 10px;
    font-size:14px;
    .anticon-close{
      font-size: 14px;
      margin-left:20px;
      cursor: pointer;
    }
  }
  .alert-timer{
   position: absolute;
    right: 220px;
    bottom:40px;

    .ant-alert-error{
      width:300px;
    }
  }
  .download-btn{
    margin-bottom: 10px;
  }
}
