@import "../../../../public/css/common-variables.less";
//编辑按钮主色
@edit-icon-color: #b6c2c9;
.user-info-manage-container {
  height: 100%;
  //展示区域样式
  padding: 20px @container_padding 30px @container_padding;
  a {
    color: @primary-color;
    &:hover {
      color: @primary-hover-color;
    }
  }
  //个人资料展示区域样式
  .user-info-container-div {
    background-color: #fff;
    padding: 0;
    .user-logo-div {
      //头像区域样式
      //编辑按钮图标样式
      .user-info-btn-class {
        border: 0;
        width: 25px;
        float: right;
        background-color: #b6c2c9;
        margin-right: 12px;
        margin-top: 10px;
        text-align: center;
        padding: 0;
        color: #fff;
        font-size: 16px;
        border-radius: 100px;
        position: absolute;
        right: 0;
        &:hover {
          background-color: @primary-color;
        }
      }

      //头像样式
      .user-info-logo {
        text-align: center;
        padding-top: 20px;
        .head-image-container {
          .cirle-image {
            margin: 0 auto;
            height: 70px;
            width: 70px;
            img {
              height: 70px;
              width: 70px;
              border-radius: 50%;
            }
          }
          //用户名样式
          p {
            text-align: center;
            color: #506470;
            font-size: 14px;
            margin-top: 0;
            width: auto;
          }
          .upload-img-tooltip {
            float: none;
            width: auto;
            margin-right: auto;
            margin-top: auto;
            white-space: normal;
          }
        }
        //用户名下nickname样式
        .user-info-nickname {
          font-size: 16px;
          font-weight: 500;
          margin-top: -38px;
          .icon-save-error {
            color: @error_tips_color
          }
          .basic-edit-field-input {
            display: inline-block;
            width: 100%;
            vertical-align: top;
            margin-top: 4px;
            .icon-edit-btn{
              padding-top: 3px;
              visibility: hidden;
            }
            .ant-form-item {
              margin-right: 16px;
            }
            .button-container {
              margin-right: 10px;
            }
            &:hover{
              .icon-edit-btn{
                visibility: visible;
              }
              .ant-form-item {
                padding-top: 10px;
              }
              background: #F1F8FE;
            }
          }
          .ant-input {
            font-size: 14px;
          }
          .basic-info-text {
            margin-left: 0;
            color: @primary-font-color;
            font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
          }
          .edit-container {
            overflow: hidden;
            display: inline-block;
            text-align: center;
            margin-left: 26px;
            .iconfont {
              cursor: pointer;
              float: right;
            }
            .icon-edit-btn {
              float: right;
              margin: 0 0 0 10px;
              cursor: pointer;
              &:before {
                content: "\E708";
              }
            }
          }
        }
      }
    }

    .user-info-bottom {
      color: #81939e;
      position: relative;
      .user-info-tip{
        z-index: 1000;
        min-height: 80px;
        margin-top: 40px;
        margin-left: 60px;

        .ant-alert-error{
          display: inline-block;
        }
        .ant-alert{
          width:300px;
        }
        .load8 {
          transform:scale(0.5,0.5);
          .loader8 {
            border-left-color:#394144;
          }
        }
      }
      //用户资料展示区域样式
      .user-info-div {
        border-bottom: 1px #edf0f0 solid;
        padding: 0 0 12px 0;
        .user-version {
          margin-top: 8px;
          .user-version-expire {
            margin-left: 10px;
          }
          .user-version-upgrade {
            float: right;
            top: 5px;
            right:24px;
            span {
              color: @warn-color;
            }
          }
        }

        //用户资料 邮箱 电话 角色样式
        .user-info-item {
          font-size: 14px;
          //height: 36px;
          line-height: 36px;
          padding-left: 31px;
          .iconfont.icon-update{
            visibility: hidden;
          }
          .iconfont.icon-edit-btn{
            visibility: hidden;
          }
          &:hover{
            background: #F1F8FE;
            .iconfont.icon-update{
              visibility: visible;
            }
            .iconfont.icon-edit-btn{
              visibility: visible;
            }
          }
          a {
            text-decoration:none;
          }
          .ant-alert-error{
            display: inline-block;
          }
          .ant-alert{
            width:200px;
          }
          .error-msg-tip{
            color: @error_tips_color;
          }
          .user-email-title {
            vertical-align: middle;
          }
          //邮箱input样式
          .user-email-item, .user-qq-item{
            display: inline-block;
            width: 80%;
            .basic-edit-field-input {
              display: inline-block;
              vertical-align: top;
              &.editing {
                margin-top: 4px;
              }
            }
            .active-info {
              margin-left: 10px;
              color: @secondary-font-color;
            }
            .ant-input {
              font-size: 14px;
              margin-left: 0;
            }
            .basic-info-text {
              margin-bottom: 4px;
              margin-left: 0;
              color: @primary-font-color;
              font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
              .hasSendMail{
                margin-left: 10px;
                color: @secondary-font-color;
                font-weight: 400;
              }
            }
            .edit-container {
              display: inline-block;
              text-align: center;
              .iconfont {
                cursor: pointer;
                float: right;
              }
              .icon-edit-btn {
                float: right;
                margin: 0 0 0 10px;
                cursor: pointer;
                &:before {
                  content: "\E708";
                }
              }
            }
          }
          .user-email-item {
            .basic-edit-field {
              .inline-block {
                vertical-align: text-top;
              }
            }
            .edit-container {
              text-align: left;
              padding-right: 15px;
              .icon-edit-btn {
                margin-right: -28px;;
              }
            }
          }
          .user-qq-item {
            .basic-edit-field {
              .no-data-descr {
                .handle-btn-item {
                  color: @primary-color;
                }
              }
            }
          }
          .user-info-item-title{
            color: @secondary-font-color;
          }
          .user-info-item-content{
            color: @primary-font-color;
            .iconfont.icon-update{
              &:before{
                content: "\E708" !important;
              }
            }
          }
        }
        // 修改语言的样式
        .user-info-item{
          .user-lang-value{
            display: inline-block;
            vertical-align: top;
            .basic-edit-field {
              .edit-container {
                .icon-edit-btn {
                  float: right;
                  margin: 0 0 0 10px;
                  cursor: pointer;
                  &:before {
                    content: "\E708";
                  }
                }
              }
              .basic-info-text {
                margin-left: 0;
                margin-bottom: 2px;
              }
              .selectWrap {
                padding-top: 6px;
              }
              form {
                .button-container {
                  margin-right: -5px;
                }
              }
            }
            //编辑按钮hover时才展示
            .icon-edit-btn {
              display: none;
            }
            &:hover {
              .icon-edit-btn {
                display: block;
                float: right;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
        }
        .hsaSendMailMsg{
          height: 32px;
          width: 376px;
          border:1px solid rgba(229,229,229,1);
          border-radius:4px;
          margin-left: 67px;
          padding: 0px 9px;
          position: relative;
          .icon-phone-call-out-tip{
            color: @primary-color;
            position: relative;
            top: 2px;
          }
          .mailMsgContent{
            margin-left: 7px;
            color: @primary-font-color;
          }
        }
        .icon-close-wide{
          float: right;
          cursor: pointer;
          margin-top: 2px;
        }
        .user-bind-phone {
          position: relative;
          .bind-phone-tips {
            width: 335px;
            position: absolute;
            bottom: 0;
            left: 165px;
            z-index: 1;
            line-height: initial;
          }
        }
        .user-version-btn-wrapper{
          margin-top: 3px;
          text-align: center;
          .user-version-upgrade{
            margin: 0 10px;
            width: 32.5%;
            height: 30px;
            padding: 0;
          }
        }
      }

      //企业提示区域样式
      .user-tips-div {
        height: 50px;
        padding-top: 10px;

        //电话区域样式
        .user-tips-title-div {
          .user-tips-name {
            height: 30px;
            font-size: 14px;
            line-height: 36px;
            padding-left: 31px;
          }
        }
      }
    }

    //修改用户信息form表单区域样式
    .user-info-form {
      padding-top: 49px;
      .ant-form-item {
        margin-bottom: 18px;
        .anticon-loading {
          float: right;
          margin-right: 10px;
          margin-top: 20px;
          font-size: 18px;
        }
        .indicator {
          float: right;
          margin-top: 10px;
          margin-right: 10px;
        }
      }

      label {
        //padding-left: 31px;
        padding-right: 10px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
      }

      //取消按钮样式
      .user-info-edit-cancel-btn {
        float: right;
        margin-top: 13px;
        width: 70px;
        height: 31px;
        border-radius: 4px;
      }

      //保存按钮样式
      .user-info-edit-submit-btn {
        float: right;
        margin-top: 13px;
        width: 70px;
        height: 31px;
        border-radius: 4px;
        margin-right: 10px;
      }
    }
  }
  // 记录区域样式
  .user-record-container-wrap {
    padding-left: 20px;
    padding-right: 0;
    min-height: 380px;
    .ant-tabs-nav .ant-tabs-tab{
      &:hover{
        color: @primary-hover-color;
      }
    }
    .user-log-div {
      background-color: #fff;
      min-width: 625px;

      .load-content, .errmsg-wrap {
        margin: 220px auto;
        text-align: center;
        .iconfont{
          font-size: 96px;
        }
        .load8 {
          transform: scale(1, 1);
          position: initial;
        }
        .abnornal-status-tip {
          margin-top: 10px;
          font-size: 20px;
          color: @secondary-font-color;
        }

      }
      //表格区域样式
      .log-table {
        padding-left: 10px;
        padding-right: 10px;
        //表格样式
        .ant-table.ant-table-bordered table {
          border-right: 0px;
          border-left: 0px;
          border-radius: 0px;
        }

        //表头样式
        .ant-table th {
          border-radius: 0px;
          color: #506470;
          text-align: center;
          border-right: 0px;

        }

        .ant-table td {
          color: #81939e;
          text-align: center;
          border-right: 0px;

        }
      }
      .summary-info {
        padding: 10px;
      }
    }
    // tabs样式
    .ant-tabs {
      width: 100%;
      .ant-tabs-bar {
        border-bottom: none;
        .ant-tabs-nav-container {
          font-size: 16px;
          .ant-tabs-tab {
            font-size: 16px;
          }
        }
      }
    }
  }
}

//展示区域宽度低于992时样式
@media (max-width: 992px) {
  .user-record-container-wrap {
    .ant-tabs {
      padding: 20px 0 0 0;
    }
  }
}

// 移动端样式适配
@media screen and (max-width: 600px) {
  .user-info-manage-container {
    padding: 0;
    .user-info-container-div {
      .user-logo-div {
        padding: 16px;
        display: flex;
        flex-direction: column;
        .user-info-logo {
          padding-top: 0;
          .head-image-container {
            height: 64px;
            margin-top: 0;
            margin-bottom: 0;
            .cirle-image {
              width: 64px;
              height: 64px;
              img {
                width: 64px;
                height: 64px;
              }
              .upload-img-container {
                width: 64px;
                height: 64px;
                .change-img-container {
                  width: 64px;
                  height: 64px;
                }
              }
            }
          }
          .user-info-nickname {
            margin-top: 0;
          }
        }
      }
      .user-info-bottom {
        .user-info-div {
          padding: 16px 0;
          border-top: 1px solid #E3E8ED;
          .user-info-item {
            padding: 0 16px;
            .user-info-item-content {
               color: #333333;
            }
          }
          .user-version {
            .user-version-upgrade {
              right: -12px;
            }
          }
        }
      }
    }
  }
}
