.trade-record-wrap {
  height: 100%;
  .trade-record-loading{
    margin: 220px auto;
    text-align: center;
    .load8 {
      transform: scale(1, 1);
      position: initial;
    }
  }
  .msg-tips {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 移动端样式调整
.user-trade-record-phone-wrap {
  height: 100%;
  padding: 2rem;
  .detail-card-container {
    margin-top: 0;
    margin-bottom: 0.8rem;
    .detail-card-title {
      height: 0.6rem;
      line-height: 0.6rem;
      color: #666666;
      background-color: #F8F9FB;
    }
    .detail-card-content {
      .card-content {
        font-size: 1.5rem;
        .detail-item {
          margin-bottom: 1rem;

        }
        .detail-import {
          font-size: 1.8rem;
          .detail-num {
            color: #333333;
          }
          .detail-fee {
            float: right;
            color: #FF8B00;
          }
        }
      }
    }
  }
}

// 表格样式（根据设计图调整的，现在购买记录和操作记录表格样式不一致）
// 2019-10-30 注释 暂时按操作记录的样式展示,所以暂时注释掉
//#app {
//  .user-trade-record-table-wrap {
//    .antc-table {
//      td, th {
//        border: none !important;
//        line-height: 1;
//        font-size: 14px;
//      }
//      // 表头
//      .ant-table-header {
//        background-color: #F1F4F8;
//        th {
//          color: #999 !important;
//          font-weight: normal;
//          padding: 9px 4px !important;
//        }
//      }
//      // 表体
//      .ant-table-body {
//        .ant-table-tbody {
//          td {
//            color: #333 !important;
//            font-weight: normal;
//            line-height: 18px;
//            padding: 23px 4px !important;
//          }
//          tr:nth-child(2n) {
//            background:#F1F4F8;
//          }
//
//          tr:nth-child(2n+1) {
//            background:#fff;
//          }
//        }
//      }
//    }
//  }
//}