@import "../../../../public/css/common-variables.less";
//编辑按钮主色
@edit-icon-color: #b6c2c9;
.user-info-manage-container {
  //展示区域样式
  padding: 20px @container_padding 30px @container_padding;
  //展示区域宽度低于1035时样式
  @media (max-width: 1035px) {
    //个人资料最小宽度
    .user-info-container-div {
      width: 100%;
      min-width: 625px;
    }
    //登录日志区域样式
    .user-log-container-div {
      padding: 20px 0px 0px 0px !important;
      .user-log-div {
        height: 690px !important;
      }
      //表格样式
      .log-table {
        height: 640px !important;
      }
    }
  }
  //个人资料展示区域样式
  .user-info-container-div {
    height: 470px;
    background-color: #fff;
    padding: 0px;

    .user-logo-div {
      //头像区域样式
      border-bottom: 1px #edf0f0 solid;

      //编辑按钮图标样式
      .user-info-btn-class {
        border: 0px;
        width: 25px;
        float: right;
        background-color: #b6c2c9;
        margin-right: 12px;
        margin-top: 10px;
        text-align: center;
        padding: 0px;
        color: #fff;
        font-size: 16px;
        border-radius: 100px;
        position: absolute;
        right: 0px;
        &:hover {
          background-color: #4d96d1;
        }
      }

      //头像样式
      .user-info-logo {
        text-align: center;
        padding-top: 20px;
        .head-image-container {
          margin-top: 0px !important;

          .cirle-image {
            margin-left: 0px;
            width: auto;

            img {
              height: 70px;
              width: 70px;
              border-radius: 50%;
            }
          }

          //用户名样式

          p {
            text-align: center;
            color: #506470;
            font-size: 14px;
            margin-top: 0px;
            width: auto;
          }
          .upload-img-tooltip {
            float: none;
            width: auto;
            margin-right: auto;
            margin-top: auto;
            white-space: normal;
          }
        }
        //用户名下nickname样式
        .user-info-nickname {
          font-size: 14px;
          margin-top: -38px;
          margin-bottom: 24px;
          .icon-save-error {
            color: @error_tips_color
          }
          .basic-edit-field-input {
            display: inline-block;
            width: 100%;
            vertical-align: top;
            margin-top: 4px;
            width: 100%;
          }
          .ant-input {
            font-size: 14px;
          }
          .basic-info-text {
            margin-left: 0px;
            color: #81939e;
            font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
          }
          .edit-container {
            overflow: hidden;
            display: inline-block;
            text-align: center;
            margin-left: 26px;
            .iconfont {
              color: @edit-icon-color;
              cursor: pointer;
              float: right;
            }
            .icon-edit-btn {
              float: right;
              margin: 0 0 0 10px;
              color: @edit-icon-color;
              cursor: pointer;
              &:hover {
                color: darken(@edit-icon-color, 30%);
              }
              &:before {
                content: "\E60F";
              }
            }
          }
        }
      }
    }

    .user-info-bottom {
      color: #81939e;

      .user-info-tip{
        z-index: 1000;
        min-height: 80px;
        margin-top: 40px;
        margin-left: 60px;

        .ant-alert-error{
          display: inline-block;
        }
        .ant-alert{
          width:300px;
        }
        .load8 {
          transform:scale(0.5,0.5);
          .loader8 {
            border-left-color:#394144;
          }
        }
      }


      //用户资料展示区域样式
      .user-info-div {
        border-bottom: 1px #edf0f0 solid;
        padding: 12px 0;

        //用户资料 邮箱 电话 角色样式
        .user-info-item {
          font-size: 14px;
          //height: 36px;
          line-height: 36px;
          padding-left: 31px;
          a {
            text-decoration: underline;
          }
          .ant-alert-error{
            display: inline-block;
          }
          .ant-alert{
            width:200px;
          }
          .error-msg-tip{
            color: @error_tips_color;
          }
          //邮箱input样式
          .user-email-item, .user-qq-item{
            display: inline-block;
            width: 82%;
            .basic-edit-field-input {
              display: inline-block;
              width: 100%;
              vertical-align: top;
              width: 100%;
              &.editing {
                margin-top: 4px;
              }
            }
            .active-info {
              margin-left: 10px;
            }
            .ant-input {
              font-size: 14px;
              margin-left: 0;
            }
            .basic-info-text {
              margin-bottom: 4px;
              margin-left: 0px;
              color: #81939e;
              font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
            }
            .edit-container {
              display: inline-block;
              text-align: center;
              .iconfont {
                color: @edit-icon-color;
                cursor: pointer;
                float: right;
              }
              .icon-edit-btn {
                float: right;
                margin: 0 0 0 10px;
                color: @edit-icon-color;
                cursor: pointer;
                &:hover {
                  color: darken(@edit-icon-color, 30%);
                }
                &:before {
                  content: "\E60F";
                }
              }
            }
          }
        }
        // 修改语言的样式
        .user-info-item{
          .user-lang-value{
            display: inline-block;
            vertical-align: top;
            width: 80%;
            .ant-select{
              width:200px;
            }
            .icon-choose {
              color: #4dbe50;
              &:hover {
                color: #2c792e;
              }
            }
            .iconfont {
              font-size: 14px;
              width: 24px;
              overflow: hidden;
              cursor: pointer;
              text-align: center;
            }
            .icon-close,.icon-choose  {
              padding: 5px 5px 2px 5px;
            }
            .inline-block {
              display: inline-block;
              vertical-align: middle;
            }
            .icon-close {
             color: #f43631;
             &:hover{
               color: #f43631;
             }
           }
          }
        }
      }

      //企业提示区域样式
      .user-tips-div {
        height: 50px;
        padding-top: 10px;

        //电话区域样式
        .user-tips-title-div {
          .user-tips-name {
            height: 30px;
            font-size: 14px;
            line-height: 36px;
            padding-left: 31px;
          }
        }
      }
    }

    //修改用户信息form表单区域样式
    .user-info-form {
      padding-top: 49px;
      .ant-form-item {
        margin-bottom: 18px;
        .anticon-loading {
          float: right;
          margin-right: 10px;
          margin-top: 20px;
          font-size: 18px;
        }
        .indicator {
          float: right;
          margin-top: 10px;
          margin-right: 10px;
        }
      }

      label {
        //padding-left: 31px;
        padding-right: 10px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
      }

      //取消按钮样式
      .user-info-edit-cancel-btn {
        float: right;
        margin-top: 13px;
        width: 70px;
        height: 31px;
        border-radius: 4px;
      }

      //保存按钮样式
      .user-info-edit-submit-btn {
        float: right;
        margin-top: 13px;
        width: 70px;
        height: 31px;
        border-radius: 4px;
        margin-right: 10px;
      }
    }
  }

  //登录历史区域样式
  .user-log-container-div {
    padding-left: 20px;
    padding-right: 0px;
    min-height: 380px;

    .user-log-div {
      background-color: #fff;
      min-width: 625px;

      //登录历史标题样式
      .log-div-title {
        height: 40px;
        line-height: 40px;

        //登录历史样式
        .log-title {
          font-size: 16px;
          padding-left: 40px;
          margin-bottom: 0px;
          overflow: hidden;
          color: #506470;
        }

        //日志信息提示样式
        label.log-title-tips {
          font-size: 14px;
          color: #BCC3C3;
          padding-left: 10px;
          max-width: 75%;
          margin-bottom: 0px;
          font-weight: normal;
          word-wrap: break-word;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #81939e;

          //修改密码样式
          .update-pwd {
            cursor: pointer;
            padding-left: 5px;
            color: #4d96d1;
          }
        }
      }
      .load-content, .errmsg-wrap {
        margin: 220px auto;
        text-align: center;
        .iconfont{
          font-size: 96px;
          color:@LOADING_ERR_ICON;
        }
        .load8 {
          transform: scale(1, 1);
          position: initial;
        }
        .abnornal-status-tip {
          margin-top: 10px;
          font-size: 20px;
          color:@LOADING_ERR_TIP;
        }

      }
      //表格区域样式
      .log-table {
        padding-left: 10px;
        padding-right: 10px;
        //表格样式
        .ant-table.ant-table-bordered table {
          border-right: 0px;
          border-left: 0px;
          border-radius: 0px;
        }

        //表头样式
        .ant-table th {
          border-radius: 0px;
          color: #506470;
          text-align: center;
          border-right: 0px;

        }

        .ant-table td {
          color: #81939e;
          text-align: center;
          border-right: 0px;

        }
      }
      .summary-info {
        padding: 10px;
      }
    }
  }
}
//展示区域宽度大于1035低于1235时样式
@media (min-width: 1035px) and (max-width: 1235px) {
  .user-info-manage-container{
    padding: 20px 0 30px 0;
    .user-info-container-div .user-info-bottom .user-info-div{
      .user-info-item{
        padding-left: 10px;

      }

    }
    .user-log-container-div{
      padding: 20px 0 0 0;
    }
  }
}
