@import "../../../public/css/common-variables";
//模态框样式
.modal-wrap-container {
  display: block;
  position: fixed;
  z-index: 15;
  top: 0;
  width: 100%;
  height: 100%;
  .modal-hole {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    z-index: 15;
    //box-shadow: h-shadow v-shadow blur spread color inset;
    //box-shadow:X轴偏移量 Y轴偏移量 [阴影模糊半径] [阴影扩展半径] 阴影颜色 [投影方式]}
    //blur：可选项，模糊距离，用来设置阴影边缘的模糊化程度。
    //spread：可选项，阴影的尺寸，可放大或缩小阴影的尺寸
    //在google浏览器上 blur 对于阴影尺寸设置很大的阴影没有影响
    //在safari浏览器上 spread值设置的太大并且blur值很小的时候，阴影画不出来，必须两者匹配起来，网上有人建议10:1
    box-shadow: 0 0 500px 5000px rgba(0, 0, 0, 0.6);
  }
  .modal-tip {
    height: 160px;
    width: 300px;
    position: absolute;
    z-index: 20;
    .ant-intro {
      margin-top: 30px;
      height: 100%;
      background: url("./ant-intro.png") no-repeat;
    }
    .modal-message-box {
      position: absolute;
      top: -20px;
      right: 40px;
    }
    .message-wrap {
      width: 150px;
      background: #fff;
      border-radius: 10px;
      padding: 16px;
      font-size:14px;
      color: @primary-font-color;
    }
    .message-bottom-tri {
      position: absolute;
      left: 20px;
      width: 0;
      height: 0;
      border-top: 10px solid #fff;
      border-left: -3px solid transparent;
      border-right: 10px solid transparent;

    }
    .iconfont {
      position: absolute;
      top: -3px;
      right: 1px;
      color: #8DA8C5;
      cursor: pointer;
      font-size: 24px;
    }
  }
}