// 右侧面板样式
.custom-field-panel-container {
    .right-panel-modal-content {
      .ant-form {
        padding: 0 24px;
        .ant-form-item-control {
          .ant-checkbox-group {
            display: grid;
            span {
              font-weight: 400;
              color: #000000a6;
              font-size: 14px;
            }
          }
        }
      }
    }
}