@import "../../../../public/css/common-variables";

.custom-field-options-wrap {
    .select-content {
      .option-container{
        display: block;
        margin-bottom: 20px;
        .ant-input {
          width: 345px !important;
        }
        .icon-container{
          cursor: pointer;
          .hide-icon{
            visibility: hidden;
          }
          .anticon{
            display: inline-block;
            width: 33px;
            color:@secondary-color;
          }
        }
      }
    }
}