@import "../../../../public/css/common-variables";
.select-container {
  width: 440px;
  margin: 0 auto;
  padding: 14px 0 16px 0;
  font-size: 14px;

  .component-row {
    .label-components {
      display: inline-block;
      color: @secondary-font-color;
      width: 50px;
      text-align: right;
      padding-right: 10px;
    }
    .text-components {
      display: inline-block;
      color: @primary-font-color;
      .ant-input {
        width: 372px;
        height: 32px;
      }
      .option-container{
        display: block;
        margin-bottom: 20px;
        .ant-input {
          width: 316px;
        }
        .icon-container{
          .hide-icon{
            visibility: hidden;
          }
          .anticon{
            display: inline-block;
            width: 33px;
            color:@secondary-color;
          }
        }
      }

      .iconfont {
        font-size: 14px;
        color: @secondary-color;
        margin-right: 5px;
      }
      .ant-checkbox-wrapper {
        margin-right: 6px;
      }
    }
    .ant-input.err-tip{

    }
  }
  .component-row.required {
    height: auto;
    .label-components {
      float: left;
      &:before {
        display: inline-block;
        margin-right: 4px;
        content: "*";
        line-height: 1;
        font-size: 12px;
        color: @error-color;
      }
    }
    .ant-input.err-tip{
      border: 1px solid @error-color;
    }
    .require-err-tip {
      color: @error-color;
      display: block;
    }
  }
  .button-container {
    margin-right: 16px;
  }
}
//展示组件
.component-show-container{
  background: #fff;
  padding:10px 219px 10px 227px;
  margin:0 auto;
  &:hover{
    box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.24);
    background: #E4F2FE;
    .title-label .icon-wrap{
      visibility: visible;
    }
  }
  .title-label{
    color: @primary-font-color;
    font-size: 14px;
    margin-bottom: 10px;
    .icon-wrap{
      visibility: hidden;
    }

  }
  //时长组件
  .range-input-container{
    .ant-select{
      width: 47%;
      .ant-select-selection--single{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

    }
    .ant-input{
      width: 53%;
      position: relative;
      top: 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  //单选和多选的组件
  .select-option-container{
    .ant-select{
      width: 100%;
    }
    .ant-radio-wrapper,.ant-checkbox-wrapper{
      display: block;
      height: 30px;
      line-height: 30px
    }
  }

  .ant-input-number{
    height: auto;
  }
  .icon-container{
    .iconfont{
      font-size: 14px;
      color: @secondary-color;
      cursor: pointer;
      margin-left: 14px;
    }
    .btns-container{
      .confirm-btn{
        margin-right: 8px;
        background-color: #EB5E57;
        color: #fff;
      }
    }
  }

  .title-label.required:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    line-height: 1;
    font-size: 12px;
    color: @error-color;
  }
}