@import '../../public/css/common-variables';
@success-tip-color: #06ae06;
@error-tip-color: #f5222d;
.add-user-data-warp {
  .custom-variable-container{
    .icon-add {
      margin-top: 4px;
      float: right;
      color: #8DA8C5;
      cursor: pointer;
      &:hover {
        color: darken(#8DA8C5 , 30%);
      }
    }
    .custom-label{
      display: inline-block;
      line-height: 28px;
      color: @secondary-font-color;
      font-size: 14px;
    }
    .custom-variable-content{
      font-size: 13px;
      .custom-variable-item{
        display: flex;
        color: @primary-font-color;
        .custom-variable{
          word-wrap: break-word;
          white-space: normal;
          width: 48%;
          display: inline-block;
          padding: 10px;
        }
        .custom-variable-value {
          padding-left: 9px;
          width: 52%;
          border-left: 1px dashed #edf1f2;
        }
      }
      .antc-table {
        .table-bottom-border-none {
          table {
            border-bottom: none;
          }
        }
        .ant-table {
          border-radius: 0 !important;
        }
        .ant-table td{
          color: @primary-font-color !important;
        }
        .ant-table th {
          border-bottom: 1px solid #eef0ef !important;
        }
        .ant-table-thead {
          background: #F5F5F5;
          span {
            font-size: 14px;
            color: @secondary-font-color;
            font-weight: normal;
          }
        }
      }
    }
    // 自定义属性添加，编辑展示区
    .custom-variables-wrapper{
      &.editing{
        margin-bottom: 25px;
        .button-container{
          margin-top: 0;
        }
      }
      // 展示文本时样式
      .edit-container{
        position: relative;
        .icon-edit-btn{
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 0;
          display: inline-block;
          margin-top: 5px;
        }
        &.hover-show-edit:hover{
          cursor: pointer;
          transition: all .3s;
          background:#F1F8FE;
          .custom-variable-item{
            transition: all .3s;
            background:#F1F8FE;
          }
        }
        .hover-background {
          background:#F1F8FE;
        }
        .custom-variable-item{
          //模仿ant table
          &:nth-child(odd) {
            background: #f8f9fb;
          }
        }
        .edit-text-wrapper {
          border: 1px solid #e6e6e6;
          border-top: none;
        }
      }
      // 编辑时样式
      .custom-variable-wrap{
        position: relative;
        background-color: #F1F8FE;
        padding: 10px 0;
        border: 1px solid #eef0ef;
        border-top: none;
        .ant-form{
          .ant-form-item{
            width: 100%;
            margin-bottom: 15px;
            .ant-input {
              width: 100%;
            }
            .ant-form-explain {
              white-space: normal;
              work-break: break-word;
            }
          }
          .ant-form-item-label{
            text-align: left;
          }
        }
        .custom-form-item{
          vertical-align: top;
          .icon-minus {
            display: inline-block;
            .anticon-minus {
              margin-top: 8px;
            }
          }
          .properties-form-item {
            &.left {
              float: left;
            }
            display: inline-block;
            width: 45%;
            margin-left: 8px;
          }
          .icon-button {
            &.right{
              float: right;
            }
            display: inline-block;
          }
          .icon-minus{
            font-weight: bold;
            color: #8DA8C5;
            &:hover {
              color: darken(#8DA8C5 , 30%);
            }
          }
        }
      }
      .circle-button{
        position: relative;
        margin: 0;
        z-index: 1;
        cursor: pointer;
        top: 3px;
      }
      .circle-button-minus, .circle-button-plus {
        float: left;
      }
    }
  }
  .access-step-tip {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    .js-code-label {
      display: inline-block;
      line-height: 28px;
      color: @secondary-font-color;
      font-size: 14px;
    }
    //复制成功的提示
    .copy-success-tip {
      float: right;
      display: inline-block;
      margin-left: 10px;
      line-height: 28px;
      color: @success-tip-color;
    }
    .copy-btn {
      float: right;
      color: #8DA8C5;
      line-height: 28px;
      &:hover {
        color: darken(#8DA8C5 , 30%);
      }
    }
    //代码段
    .pre-code{
      margin-top: 0;
      #matomo-js-code {
        white-space:pre-wrap;
        padding: 12px;
        font-size: 12px;
        background-color: #fff;
        color: @secondary-font-color;
      }
    }
  }
  //测试footer
  .js-code-user-tip {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 25px;
    font-size: 14px;
    color: @primary-font-color;
    //复制成功的提示
    .copy-success-tip {
      color: @success-tip-color;
    }
    .ant-btn {
      margin-left: 12px;
    }
    .test-loading {
      display: inline-block;
      margin-left: 5px;
    }
    .anticon-check-circle {
      color: @success-tip-color;
    }
    .anticon-exclamation-circle {
      color: @error-tip-color;
    }
    .test-error-tip,.test-success-tip{
      display: inline-block;
      margin-left: 10px;
      line-height: 24px;
    }
  }
}
