//方形图标的样式文件
.square-logo-wrap {
  float: left;
  img {
    float: left;
    height: 16px;
    width: 16px;
    border-radius: 2px;
  }
  .square-logo-font {
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    background-color: #8aa9c5;
    text-align: center;
    color: #ffffff;
  }
}