//模态框的样式设置
@import "../../public/css/common-variables";
.modal-container {
  position: relative;
  float: left;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.opacity(@opacity:50) {
  opacity: @opacity / 100 !important;
  filter: alpha(opacity=@opacity) !important;
}

@modalOpacity: 30;
.modal-backdrop {
  background-color: @primary-color;
  .opacity(@modalOpacity);
}

.transparentBgFlag {
  background-color: transparent !important;
  .modal-content {
    background-color: #fff !important;
  }
}
//申请审批的通过或者驳回确认框
.apply-modal.modal-dialog{
  height: 168px;
  .apply-modal.modal-content{
    border-radius: 0;
    .modal-header{
      padding: 0;
      height: 32px;
      &.reject-btn{
        background:#FDEFEE;
      }
      &.pass-btn{
        background:#E3F1EC;
      }
      button.close{
        margin-top: 2px;
        margin-right: 8px;
        &:focus,&:active{
          outline: none;
        }
        >span:focus{
          outline: none;
        }
      }
      .modal-title{
        margin: 8px;
        font-size: 14px;
        color: #333;
        line-height: 16px;
        .iconfont.icon-reject{
          margin-right: 8px;
          color: @error-color;
        }
        .iconfont.icon-agree{
          margin-right: 8px;
          color: @agree-btn-background;
        }
      }
    }
    .modal-body{
      padding: 16px;
      font-size: 16px;
      color: #333;
      text-align: left;
    }
    .modal-footer{
      padding: 0 16px 16px 16px;
      text-align: right;
      .btn-cancel,.btn-ok{
        &:hover,&:active,&:focus{
          outline: none;
          outline-offset: 0;
        }
      }
      .btn-cancel{
        width: 64px;
        margin-left: 8px;
        &:active{
          box-shadow: none;
        }
      }
      .btn-ok{
        border: none;
        &.reject-btn{
          background: @error-color;
        }
        &.pass-btn{
          background: @agree-btn-background;
        }
      }
    }

  }
}


.modal-dialog {

  width: 270px;
  height: 120px;

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .border-none {
    border: none;
  }

  .box-shadow {
    box-shadow: 0 5px 15px rgba(156, 193, 247, 0.5);
  }

  .modal-header {
    .border-none;
    padding: 10px 10px 0 0;
  }

  .modal-content {
    .border-none;
    .box-shadow;

    .modal-body {
      font-size: 14px;
      text-align: center;
      color: @primary-color;
      padding: 0 10px 0 10px;
    }

    .modal-footer {
      text-align: center;
      .border-none;
      padding: 20px;

      button.btn.btn-default {
        //国际化修改样式
        padding: 4px 10px;
        height: 30px;
        width: 87px;
      }

      button.btn.btn-ok {
        color: #fff;
        background-color: @primary-color;
        border-color: @primary-color;
        &:hover {
          border-color: @primary-hover-color;
          background-color: @primary-hover-color;
        }
        .anticon-loading{
          margin-left:5px;

        }
      }
      button.btn.btn-cancel {
        color: @primary-color;
        border-color: @primary-color;
        background-color: transparent !important;
        &:hover {
          color: @primary-hover-color;
          border-color: @primary-hover-color;
        }
      }
    }

  }

}
