//模态框的样式设置
@import "../../public/css/common-variables";
.modal-container {
  position: relative;
  float: left;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.opacity(@opacity:50) {
  opacity: @opacity / 100 !important;
  filter: alpha(opacity=@opacity) !important;
}

@modalOpacity: 30;
.modal-backdrop {
  background-color: @primary-color;
  .opacity(@modalOpacity);
}

.transparentBgFlag {
  background-color: transparent !important;
  .modal-content {
    background-color: #fff !important;
  }
}

.modal-dialog {

  width: 270px;
  height: 120px;

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .border-none {
    border: none;
  }

  .box-shadow {
    box-shadow: 0 5px 15px rgba(156, 193, 247, 0.5);
  }

  .modal-header {
    .border-none;
    padding: 10px 10px 0 0;
  }

  .modal-content {
    .border-none;
    .box-shadow;

    .modal-body {
      font-size: 14px;
      text-align: center;
      color: @primary-color;
      padding: 0 10px 0 10px;
      width: 256px;
      white-space: normal;
    }

    .modal-footer {
      text-align: center;
      .border-none;
      padding: 20px;

      button.btn.btn-default {
        //国际化修改样式
        padding: 4px 10px;
        height: 30px;
        width: 87px;
      }

      button.btn.btn-ok {
        color: #fff;
        background-color: @primary-color;
        border-color: @primary-color;
        &:hover {
          border-color: @primary-hover-color;
          background-color: @primary-hover-color;
        }
      }
      button.btn.btn-cancel {
        color: @primary-color;
        border-color: @primary-color;
        background-color: transparent !important;
        &:hover {
          color: @primary-hover-color;
          border-color: @primary-hover-color;
        }
      }
    }

  }

}