.bundle-isloading.load8 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .bundle-isloading.load8 {
    position: fixed;
    left: 45%;
  }
}

