.monthly-report {
    .monthly-report-content {
        padding: 84px 16px 0;
        background: #f3f5f5;
        .report-title {
            padding: 0 16px 16px 0;
            font-size: 18px;
            .team-name {
                font-weight: bold;
            }
            .year-month {
                color: #999;
            }
        }
        .antc-analysis .analysis-charts {
            padding-left: 0;
        }
    }
    .filter {
        float: right;
        margin-top: 16px;
        margin-right: 20px;
        .ant-select {
            vertical-align: middle;
        }
        .ant-calendar-picker {
            margin-left: 10px;
        }
    }
}
