@import '../../../public/css/common-variables';
.monthly-report {
  .monthly-report-content {
    padding: 20px 16px 0;
    background: #f3f5f5;
    .report-title {
      padding: 0 16px 16px 0;
      font-size: 18px;
      .team-name {
        font-weight: bold;
      }
      .year-month {
        color: @secondary-font-color;
      }
    }
    .antc-analysis .analysis-charts {
      padding-left: 0;
    }
  }

}
