@import "../../public/css/common-variables";
.no-data-intro-wrap {
  display: flex;
  flex-direction: column;
  .no-data-intro-img {
    margin: auto;
    height: 144px;
    width: 144px;
    background: transparent url("../../static/images/no-data.png") 0 0;
  }
  .no-data-tip {
    margin: auto;
    padding: 16px;
    font-size: 16px;
    color: @secondary-font-color;
  }
}