@import "../../../../public/css/common-variables";
.add-clue-item{
  .ant-form{
    .tip-customer-exist {
      margin-top: -10px;
      line-height: 20px;
      margin-bottom: 10px;
       margin-left: 100px;
      font-size: 12px;
      .tip-customer-error{
        color: @import_data_warn_color;
      }
    }
  }
}
