.tips-wrap {
  width:282px;
  height:40px;
  background-color: #fff;;
  border:1px solid #E5E5E5;
  box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.3);
  opacity:0.9;
  border-radius:4px;
  .content {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    .gift-logo {
      width: 16px;
    }
    .tips {
      vertical-align: middle;
      padding: 0 6px;
      .number {
        color: #EFA246;
        padding: 0 4px;
      }
    }
  }
}
