@import "../../../../public/css/common-variables";
.right-panel-modal.show-modal.recommend-list-wrap{
  z-index: 112!important;
  .add-focus-customer.right-pannel-default {
    width: 504px !important;
    background-color: transparent !important;
    transform: translateX(504px);
    overflow: visible;
    .iconfont.icon-close.add-focus-customer-btn {
      color: #fff;
      background-color: #8ea9c4;
      border-radius: 0 !important;
      width: 24px;
      height: 24px;
      float: left;
      font-size: 14px;
    }
    .add-focuse-customer-wrap{
      float: left;
      height: 100%;
      width: 480px !important;
      background-color: #fff !important;
      position: relative;
      box-shadow: -4px 0 20px @box_shadow_color;
      padding: 24px;
    }
  }
}
