.assign-associate-wrap{
  //分配给某个销售的样式
  .sales-assign-wrap{
    h5{
      font-size: 18px;
      margin: 3px 0 0 20px;
      font-weight: 300;
    }
    //分配给某个销售
    .sales-assign-content{
      background-color: #dde6ed;
      margin: 10px 20px 20px 20px;
      padding: 10px 0 0 20px;
      .ant-select{
        width: 220px;
        float: left;
      }
      .buttons{
        float: left;
        margin-left: 10px;
        i{
          padding: 5px 5px 2px 5px
        }
      }
    }
  }
  //要绑定的客户样式
  .associate-customer-wrap{
    position: relative;
    //关联客户的标题
    h5{
      font-size: 18px;
      margin: 3px 0 0 20px;
      font-weight: 300;
    }
    //关联客户名称样式
    .customer-text-and-edit{
      background-color: #dde6ed;
      margin: 10px 20px 20px 20px;
      padding: 10px 0 10px 20px;
      font-size: 13px;
      overflow: hidden;
      .icon-choose, .icon-close{
        font-size: 14px;
        position: relative;
        top:5px;
        margin-left: 5px;
      }
      .customer_searchbox_wrap{
        position: relative;
      }
      .customer-name{
        cursor: pointer;
      }
      .recommend-customer-container{
        margin-top: 10px;
        .recommend-customer-item{
          margin-bottom: 5px;
          .icon-choose, .icon-close{
            top:0;
          }
        }
      }
    }
    .ant-alert.ant-alert-success{
      position: absolute;
      top:80px;
      left:30px;
    }
  }
}