.clue-to-customer-panel {
    .clickable {
        cursor: pointer;
    }
    .panel-content {
        padding: 12px;
        font-size: 14px;
        .customer-list,
        .customer-merge {
            .title {
                overflow: hidden;
                margin-bottom: 10px;
            }
        }
        .customer-list {
            .customer-item {
                background: #fff;
                padding: 10px 15px;
                .customer-contact-and-btn {
                    overflow: hidden;
                    button {
                        float: right;
                    }
                }
            }
        }
        .customer-merge {
            .exist-customer {
                margin-top: 10px;
            }
            .is-replace-contract-name {
                margin-left: 20px;
            }
            .crm-pannel-contacts {
                .button-container {
                    display: none;
                }
                .detail-card-edit-status {
                    box-shadow: none;
                }
            }
        }
        .convert-to-new-customer {
            margin-top: 15px;
            overflow: hidden;
            button {
                float: right;
            }
            .ant-btn-primary {
                background-color: #666;
                border-color: #666;
                margin-right: 15px;
            }
        }
    }
}
