@import "../../../../public/css/common-variables";
.clue-detail-container{
  font-size: 14px;
  .clear-float{
    clear: both;
  }
  .clue-detail-block{
    background: #fff;
    .clue-info-item{
      border-radius: 4px;
      float: left;
      width: 100%;
      .clue-info-label,.item-show-label, .ant-form-item-label label{
        width: 60px;
        float: left;
        color: @secondary-font-color;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        &.contact-way-icon{
          margin-top:0;
          margin-right: 0px;
        }
      }
      .clue-info-detail{
        font-size: 14px;
        color: @primary-font-color;
        .basic-edit-field .basic-info-text{
          max-width: 300px;
        }
        &.source-classify {
          .basic-edit-field {
            .edit-container {
             .inline-block {
               transform: translateY(-1px);
             }
            }
          }
        }
      }
      .item-show-container .item-show-content{
          padding-left: 65px;
        }
      .clue-info-detail.area-item{
        float: left;
        width: calc(100% - 60px);

      }
      .clue-info-detail.area-item .icon-edit-btn{
        display: none;
      }
      &.area-content:hover{
        .clue-info-detail.area-item .icon-edit-btn{
          display: block;
        }
      }
      .clue-info-detail.clue-contact-container{

        .basic-edit-field form .ant-form-item .ant-input{
          margin-left:0;
        }
        .ant-col-3.ant-form-item-label{
          width: 18%;
        }
        .ant-col-21.ant-form-item-control-wrapper{
          width: 80%;
        }
      }
      .clue-info-detail.no-handled{
        color: #cccccc;
        display: inline;
        line-height: 24px;
      }
      &.associate-user-item{
        float: none !important;
        .clue-info-detail{
          line-height: 24px;
        }
      }
    }
    .btn-container{
      position : fixed; right: 0px;bottom: 15px;
      .ant-btn{
        margin-right:23px;
        &.confirm-btn{
          color:#fff;
          border-color: @error-color;
          background-color: @error-color;
        }
      }
    }
    .clue-info-item.no-margin-bottom{
       margin-bottom: 0;
    }
      .add-person-info {
        border-top: 1px solid @TAB_SOLID_COLOR;
        overflow: hidden;
        padding-top: 12px;
        .add-clue-info {
          color: @secondary-font-color;
          float: right;
          font-size: 12px;
          .source-name {
            margin-right: 10px;
          }
        }
      }
  }
  .similar-wrap{
    font-size: 14px;
    margin-bottom: 8px;
    .similar-tip{
      color:@warn-color;
      .iconfont{
        margin-right: 5px;
      }
    }
    .similar-content{
      background: #fff;
      &:not(:last-child){
        margin-bottom: 8px;
      }
      .similar-block{
        padding: 8px 16px 16px;
        border-bottom: 1px solid #E8EEF3;
        &:last-child{
          border-bottom:none;
        }
        .similar-title{
          color: @primary-font-color;
          margin:8px 0;
          overflow: hidden;
          cursor: pointer;
          &.title-from-clue-pool {
            cursor: default;
          }
          .similar-title-name {
            display: inline;
            .no-clue-name{
              color:@secondary-font-color;
            }
          }
          .clue-stage {
            margin-right: 8px;
            font-size: 14px;
            font-weight: bold;
            padding:4px;
          }
          .clue-stage.will-distribute {
            background: @will-distribute-background;
            color: @will-distribute-color;
          }
          .clue-stage.has-distribute {
            background: @has-distribute-background;
            color: @has-distribute-color;
          }
          .clue-stage.has-follow {
            color: @has-follow-color;
            background: @has-follow-background;
          }
          .clue-stage.has-transfer {
            color: @has-transfer-color;
            background: @has-transfer-background;
          }
          .clue-stage.has-invalid {
            color: @has-invalid-color;
            background: @has-invalid-background;
          }
          button{
            float: right;
            background: #fff;
            color: @secondary-color;
            border: 1px solid @secondary-color;
            &:hover{
              color: #fff;
              background-color: @primary-color;
              border-color: @primary-color;
            }
          }
        }
        .similar-name-phone{
          font-size: 12px;
          color:@secondary-font-color;
          .contact-name{
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            top:4px;
          }
          .contact-name-ip{
            padding:4px;
          }
        }
        .trace-time{
          font-size: 12px;
          color:@secondary-font-color;
          padding:4px;
        }
        .trace-container {
          display: inline-block;
          width: 100%;
          .trace-content {
            float: right;
            width: 85%;
            white-space: normal;
            font-size: 12px;
            color: @secondary-font-color;
            margin-top: 2px;
          }
        }
      }
      .show-hide-tip{
        cursor: pointer;
        color: @secondary-color;
        text-align: right;
        padding: 16px;
      }
    }
  }
  .clue-contact-container.clue-detail-block.contact-item{
    overflow: hidden;
    .phone-input-wrap {
      .phone-validate-error {
        font-size: 12px;
        text-align: start;
        width: 248px;
        float: left;
        display: inline-block;
        line-height: 1.5;
        color: @import_data_warn_color;
        margin-top: -15px;
        margin-left: 59px;
        margin-bottom: 8px;
        white-space: break-spaces;
      }
    }
    .contact-item-wrap{
      &:not(:first-child){
        margin-top: 10px;
      }
      .contact-item-content{
        overflow: hidden;
        .dynamic-item-form{
          .item-wrap{
            .item-content .ant-form-item-label{
              text-align: left;
            }
          }
        }
        label.ant-form-item-required:before{
          display: none;
        }

      }
    }
    .contact-way{
      display: block;
      &>.iconfont{
        float: left;
        margin:0 5px;
        width: 10%;
      }
      .basic-edit-field{
        float: left;
        width: 80%;
      }
    }
  }

  .associate-customer-detail.clue-detail-block{
    &.no-margin{
      margin-bottom: 0;
    }
    padding: 0;
    overflow: hidden;
    //确认有效或确认无效容器
    .confirm-invalidate-item {
      width: 480px;
      padding: 5px 24px;
      display: flex;
      justify-content: center;
      .confirm-invalidate-panel {
        border-radius: 4px;
        width: 100%;
        background: #fff;
        padding: 12px;
        .ant-form-item {
          width: 100%;
          .ant-form-item-control-wrapper {
            width: 100%;
            textarea {
              width: 100%;
            }
          }
        }
        .save-cancel-btn {
          .ant-btn {
            margin-left: 23px;
            margin-right: 0;
          }
          .ant-btn-cancel {
            float: right;
          }
          .ant-btn-save {
            float: right;
          }
        }
      }
    }
    .clue-info-item{
      position: relative;
      background: #fff;
      margin-bottom: 0;
      .invalid-person{
        margin:0 10px;
        font-weight: bold;
      }
      .invalid-des{
        color: #EFAA5C;
        font-weight: bold;
      }
      .cancel-invalid{
        cursor: pointer;
        float: right;
        color: @secondary-color;
      }
      .clue-info-label{
        top:0;
      }
      .btn-container{
        position: absolute;
        right: 10px;
        top:10px;
        .ant-btn{
          margin-right:5px;
          &.confirm-btn{
            color:#fff;
            border-color: @error-color;
            background-color: @error-color;
          }
        }
        .detail-extract-clue-btn {
          border-color: transparent;
          color: @secondary-color;
          font-size: 14px;
          cursor: pointer;

        }
      }
      .clue-info-detail{
        padding-left: 6px;
        .customer_search_wrap{
          display: inline-block;
          margin-left: 6px;
          width: 350px;
        }
        &.has-associated-customer{
          float: left;
          width: 320px;
        }
      }
    }
    .clue-inability-btn{
      color: @secondary-color;
    }

  }
  .associate-user-detail.clue-detail-block{
    padding: 0;
    overflow: hidden;
    .clue-info-item{
      margin-bottom: 0;
      position: relative;
      background: #fff;
      .clue-info-label{
        top:1px;
      }
    }
    .associate-user{
      cursor: pointer;
      color: @secondary-color;
      margin-left:8px;
    }
  }
  .assign-sales-warp.clue-detail-block{
    padding: 0;
    overflow: hidden;
    .clue-info-item{
      border-radius: 4px;
      position: relative;
      background: #fff;
      margin-bottom: 0;
      .clue-info-label{
        top:0px;
      }
      .handle-clue-person.clue-info-label{
        top:2px;
      }
      .btn-container{
        position: relative;
        float: right;
        right: 0;
        bottom: 0;
        .ant-btn{
          margin-right:5px;
        }
      }
    }

  }
  .clue-trace-card {
    box-shadow: none;
  }
  .clue-trace-content{
    .basic-edit-field form .ant-form-item .ant-input{
      margin-left:0;
    }
  }
  .detail-card-container {
    .title-descr-style {
      padding-left: 8px;
    }
  }
  .contact-item.detail-card-container {
    .detail-card-content {
      float: left;
      width: 100%;
    }
  }
  .lead-trace-card.detail-card-container {
    position: relative;
    //没有跟进时的样式设置
    .top-hander-wrap{
      .no-data-device{
        position: absolute;
        top: 16px;
        left: 80px;
      }
    }
    // 没有最新跟进时的样式
    &.no-trace-card{
      .detail-card-content{
        height: 0;
        padding: 0;
        // 没有跟进添加跟进记录时的样式设置
        .add-customer-trace {
          margin-top: 0;
        }
      }
    }
  }
  .clue-info-item-apply-try-content-title{
    display: inline-block;
    color: @secondary-font-color;
    width: 65px;
  }
  .clue-info-item-apply-try-content-value{
    display: inline-block;
  }
}
//popover错误提示框
.client-invalid-popover {
  .ant-popover-inner-content {
    overflow: hidden;
    //错误提示
    .client-error-tip {
      font-size: 14px;
      .icon-warn-icon {
        position: relative;
        top: 1px;
        color: @reply-message-tip-color;
        margin-right:4px;
      }
      .client-error-text {
        margin-left: 5px;
        color: @primary-font-color;
      }
    }
  }
}
