.clue-to-customer-panel {
    .clickable {
        color: #8da8c5;
        cursor: pointer;
    }
    .panel-content {
        margin: 24px;
        padding: 12px;
        background: #fff;
        font-size: 14px;
        .customer-list,
        .customer-merge {
            margin: 20px 0;
            .title {
                margin-bottom: 10px;
            }
        }
        .customer-merge {
            .go-back {
                float: right;
            }
            .exist-customer {
                margin-top: 10px;
            }
            .btn-delete,
            .is-replace-contract-name {
                margin-left: 20px;
            }
        }
        .btn-block {
            margin-top: 10px;
            overflow: hidden;
            .ant-btn {
                float: right;
                margin-right: 10px;
            }
        }
    }
}
