//线索导入
.import-clue-template-panel.right-pannel-default {
  width: 420px;
  transform: translateX(100%);
  font-size: 14px;

  .import-tips {
    margin-top: 60px;
    margin-left: 20px;
    a {
      text-decoration: none;
    }
    p {
      padding-bottom: 20px;
    }
  }
  .import-file {
    float: right;
    margin-right: 20px;
    .ant-btn {
      margin-bottom: 3px;
    }
    .import-clue, .ant-btn .ant-btn-ghost {
      border: 1px solid #4d96d1;
      border-radius: 5px;
      padding: 4px 11px;
      font-size: 12px;
      cursor: pointer;
    }
    .import-clue {
      margin-right: 12px;
      color: #fff;
      background-color: #4d96d1;
      border-color: #4d96d1;
      .icon-loading {
        margin-left: 8px;
      }
    }
  }
}