@import "../../../../public/css/common-variables";
//点击展开某个线索客户的详情
.clue_customer_rightpanel.right-pannel-default{
  //详情展示区域
  overflow: visible;
  .availability-remark{
    position: absolute;
    border: 26px solid @qualified-tag-color;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 0;
    top: 0;
  }
  .clue_customer_content_wrap{
    //顶部线索详情展示
    h5{
      font-size: 18px;
      margin: 3px 0 0 20px;
      font-weight: 300;
      span.inline-block{
        display: inline-block;
        max-width:300px;
        span{
          display: inline-block;
          max-width:300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .clue_detail_content{
      margin:10px 20px 20px 20px;
      background-color: #dde6ed;
      .iconfont{
        font-size: 14px;
      }

      form .ant-form-item{
        input,textarea, .ant-select{
          width: 220px;
        }

      }

      .detail_item dt{
        width: 80px;
      }
      .detail_item dd {
        .inline-block{
          white-space: normal;
          word-break: break-all;
        }
      }
      .detail_item.user_detail_item_sourcetime{
        overflow: hidden;
        .sourcetime_container{
          .icon-close{
            margin-left: 5px;
          }
          .ant-calendar-picker{
            float: left;
          }
          .tip-container{
            float: left;
            margin-left: 10px;
          }
          .icon-update{
            margin-left: 5px;
          }
          .ant-form-explain{
            color:@error_tips_color;
            margin-top: 5px;
          }
        }
      }
      .user-basic-edit-field-textarea.user-basic-edit-field{
        position: relative;
        width: 280px;
        .icon-update{
          display: inline;
        }
      }

    }
  }

}