.clue-to-customer-panel {
    .clickable {
        color: #8da8c5;
        cursor: pointer;
    }
    .panel-content {
        margin: 24px;
        padding: 12px;
        background: #fff;
        font-size: 14px;
        .existing-customer {
            margin: 20px 0;
            .title {
                margin-bottom: 10px;
            }
        }
    }
}
