@import "../../../../public/css/common-variables";
//线索分析
.clue-analysis-panel.right-pannel-default {
  .ant-tabs-nav {
    margin-left: 10px;
  }
  .ant-tabs-tab {
    font-size: @btn-font-size;   
    line-height: @btn-height;
    height: 63px;  
    padding: 14px 0 !important;
    margin: 0 10px;
    &.ant-tabs-tab-active {
      color: @primary-color;
      border-bottom: 4px solid @primary-color;
    }
  }
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .clue-analysis-panel {
    background: #f3f5f7;
    position: relative;
    height: 100%;
    .analysis-chart-wrap {
      .ant-tabs-top {
        width: 100%;
        .ant-tabs-bar {
          margin-bottom: 0;          
          .ant-tabs-ink-bar {
            background-color: transparent;
          }
          .ant-tabs-nav-container {
            font-size: 16px;
            line-height: 2.1;
            height: 64px;
          }
        }
      }
    }
    .date-picker-container {
      position: absolute;
      right: 0;
      top: @filter_area_margin_top;
      z-index: 10;
      .date-picker-wrap {
        float: right;        
        padding-top: 0;
        .range-datepicker {
          display: inline-block;
          float: none;
          margin-top: -2px;
        }
        .date-picker-tip {
          margin-right: 0!important;
        }
      }
    }

    .close-pannel {
      margin-top: 4px;
      float: right;
    }

    //图表的样式
    .analysis-chart-wrap {
      .ant-tabs-bar {
        background: #fff;
      }
      //概览页样式
      .clue-analysis-overview-container {
        padding-top: 16px;
        .card-container:first-child {
          position: relative;
          .filter-clue-wrap {
            position: absolute;
            z-index: 2;
            right: 30px;
            top: 16px;
            .ant-select {
              margin-right: 10px;
              width: auto;
            }
          }
        }
      }
      //趋势图页样式
      .clue-analysis-trend-container {
        padding-top: 16px;
      }
    }
  }
}