@import '../../../../public/css/common-variables';
//跟进记录
@padding: 8px;
@icon_visit_color: #9b5bf7;
@split_line_color: #f5f5f5;
@report_delivery_color: #f7a33f;
@border_color: #dee5ea;
@statistic_label_hover_color: #4a8ec4;
.clue-trace-container {
  padding-right: 0 !important;
  .top-hander-wrap{
    .iconfont {
      position: absolute;
      top: 12px;
      right: 10px;
    }
    .no-data-device{
      position: absolute;
      top: 10px;
      left: 73px;
    }
    .range-datepicker{
      float: left;
      border-radius: 4px;
      border-color: #DEDFE2;
      color: @secondary-color;
      .border_wrap{
        height: 24px;
        .date_text_wrap{
          padding: 6px 8px;
        }
      }
      .datepicker_wrap {
        color: #757B79;
      }
    }
  }
  //添加
  > .add-customer-trace{
    float: left;
    margin-top: 10px;
  }
  //添加、补充跟进记录面板
  .add-customer-trace {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #d3eafc;
    .ant-form-item {
      width: 100%;
      margin-bottom: 4px;
      .ant-form-item-label label{
        color: @secondary-font-color;
      }
      .ant-radio-wrapper {
        margin-top: -3px;
        margin-right: 30px;
        font-size: 14px;
        .iconfont {
          padding-right: 4px;
          font-size: 16px;
          color: @secondary-color;
        }
        .iconfont.icon-visit-briefcase {
          color: @icon_visit_color;
        }
        .iconfont.icon-report-delivery {
          font-size: 18px;
          color: @report_delivery_color;
        }
      }
      textarea {
        width: 350px;
      }
    }
  }
  //跟进记录列表（下部时间线）展示面板
  .show-container {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    //更多
    .trace-record-bottom {
      float: left;
      width: 100%;
      border-top: 1px solid #f5f5f5;
      .more-customer-record {
        float: right;
        padding-top: 4px;
        padding-right: 7px;
        font-size: 14px;
        color: #b0b6ba;
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
    }
    //分类统计
    .statistic-container{
      float: left;
      margin-bottom: 6px;
      width: 100%;
      .statistic-item{
        float: left;
        width: 20%;
        padding: 4px;
        border-right: 1px solid @border_color;
        border-bottom: 1px solid @border_color;
        text-align: center;
        cursor: pointer;
        &:hover{
          .statistic-label{
            color: @statistic_label_hover_color;
          }
          .statistic-value{
            color: @primary-color;
          }
        }
        .statistic-label{
          float: left;
          width: 100%;
          line-height: 20px;
          font-size: 14px;
          color: @secondary-font-color;
        }
        .statistic-value{
          float: left;
          width: 100%;
          line-height: 20px;
          font-size: 16px;
          color: @primary-font-color;
        }
      }
      .statistic-item:last-child {
        border-right: none !important;
      }
      .statistic-item.active{
        border-bottom: 1px solid @primary-color;
        .statistic-label{
          color: @statistic_label_hover_color;
        }
        .statistic-value{
          color: @primary-color;
        }
      }
    }
    //通话类行筛选
    .trace-filter-item {
      float: right;
      margin-right: 14px;
      line-height: 24px;
      font-weight: bold;
      color: @secondary-color;
      &:hover {
        color: @primary-color;
      }
      i {
        padding-left: 2px;
      }
    }
    .show-customer-trace {
      float: left;
      width: 100%;
      .time-line-item{
        background-color: #fff;
      }
    }
    .customer-trace-loading, .no-record-container {
      position: relative;
      float: left;
      width: 100%;
    }
    .customer-trace-loading{
      .load8 {
        transform: scale(0.5, 0.5);
      }
    }
    .trace-item-content {
      float: left;
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      font-size: 14px;
      border-radius: 3px;
      background-color: #f9f9f9;
      &:hover{
        background-color: #f1f9ff;
        .trace-content .item-detail-content .record-content-show {
          .iconfont.icon-edit-btn {
            display: inline-block;
          }
        }
      }
      //跟进记录类型图标
      .iconfont {
        padding-right: @padding;
        font-size: 16px;
      }
      .icon-visit-briefcase {
        color: @icon_visit_color;
      }
      .item-detail-tip {
        color: @primary-font-color;
        .icon-container{
          display: inline-block;
          width: 24px;
          padding-right: 0;
          font-size: 16px;
          color: @secondary-color;
        }
        .trace-title-name{
          max-width: 200px;
          padding-right: 4px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          line-height: 1;
          display: inline-block;
        }
        .trace-title-phone{
          color: @secondary-font-color;
        }
      }
      //舆情报送的内容
      .report-detail-content {
        padding-left: 24px;
        //舆情报送的内容展示样式
        .report-content-descr {
          padding-bottom: 6px;
          .report-content-start{
            width: 100%;
            white-space: pre-line;
          }
          .content-overflow-ellipsis{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
        .trace-record-time {
          float: right;
        }
        .item-bottom-content {
          margin-top: 0;
          .report-app-name {
            float: left;
            line-height: 24px;
          }
        }
      }
      .trace-content{
        padding-left: 24px;
        //跟进内容
        .item-detail-content {
          white-space: normal;
          word-wrap: break-word;
          color: @secondary-font-color;
          .record-content-show{
            cursor: pointer;
            .icon-edit-btn{
              display: none;
              float: none;
              padding-right: 0;
              vertical-align: bottom;
              font-size: 14px;
            }
          }
          //点此补充跟进记录
          .add-detail-tip {
            font-size: 14px;
            color: #4a8ec4;
            cursor: pointer;
          }
        }
        .item-bottom-content {
          margin-top: 4px;
          color: #b0b6ba;
          //未接听
          .call-un-answer {
            line-height: 24px;
            margin-right: 4px;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            padding: 5px;
          }
          //播放录音区的样式
          .audio-container {
            float: left;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            padding-left: 4px;
            margin-right: 4px;
            //录音图标
            .iconfont.icon-play {
              font-size: 16px;
              //color: @primary-color;
              cursor: pointer;
            }
            .iconfont.icon-play.icon-selected {
              color: #C20C0C;
            }
            .iconfont.icon-play.icon-play-disable{
              color: #b0b6ba;
              cursor: default;
            }
            //通话时长
            .call-time-descr {
              display: inline-block;
              font-size: 14px;
              padding-left: 4px;
            }
          }
          //拨号按钮的样式
          .phone-call-out-btn{
            padding-top: 6px;
            padding-bottom: 5px;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
      .item-bottom-content {
        .item-bottom-right {
          float: right;
          line-height: 24px;
          .sale-name {
            margin-right: 4px;
          }
        }
      }
      .winning-clue-tips {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 375px){
  .clue-trace-container{
    .range-datepicker{
      .datepicker_wrap{
        left: 0!important;
        width: calc(100vw - 50px);
        justify-content: space-between;
        left: 0!important;
        padding: 10px 0 10px 10px;
        &.datepicker_wrap_flex{
          display: flex!important;
        }
        .one_calendar{
          width: auto;
          float: unset;
          height: auto;
          margin-left: 0;
          .bootstrap-datepicker-wrap{
            width: auto;
            height: auto;
            float: unset;
          }
          .datepicker-inline{
            width: auto;
            position: relative;
            top: 0;
          }
        }
        .period-type{
          float: unset;
          .ant-radio-group{
            .ant-radio-wrapper{
              max-width: 92px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .clue-trace-container{
    .range-datepicker{
      .datepicker_wrap{
        .bootstrap-datepicker-wrap{
          margin-right: 0;
        }
        .datepicker-inline{
          table{
            margin-left: 0;
          }
        }
      }
    }
  }
}