@import "../../../../public/css/common-variables";
@FONT-COLOR:#999;
@tab_active_color: #2196f3;
.ant-tabs-bar {
  margin-bottom: 8px;
  .ant-tabs-nav {
    color: @FONT-COLOR;
    .ant-tabs-tab {
      margin-right: 9px;
      font-size: 14px;
      padding: 8px 4px !important;
    }
    .ant-tabs-tab-active {
      color: @tab_active_color;
    }
  }
}
.clue_customer_rightpanel{

  @extend .ant-tabs-bar;
  .iconfont.icon-close.clue-right-btn{
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
  }
  //点击展开某个线索客户的详情
  .clue-detail-wrap{
    float: left;
    height: 100%;
    width: 480px !important;
    background-color: @NOTICE-BACKGROUND !important;
    position: relative;
    .clue-detail-content{
      padding: 0px 24px;
    }
    .delete-modal{
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,0.5);
      .handle-btn{
        position: absolute;
        top:24px;
        right:23px;
        .ant-btn-primary{
          margin-right: 10px;
          border-color: @error_tips_color;
          background-color: @error_tips_color;
          &:hover, &:active, &:focus{
            border-color: @error_tips_color;
            background-color: @error_tips_color;
          }
        }
      }
    }
    //线索详情中线索名称样式
    .clue-basic-info-container{
      width: 100%;
      background-color: #ffffff;
      padding: 20px 24px 20px 24px;
      overflow: hidden;
      .clue-name-wrap{
        width: calc(100% - 50px);
        float: left;
        &.is-edit-type{
          width: 100%;
        }
        //线索的阶段
        .clue-stage{
          float: left;
          font-size: 14px;
          margin-right:8px;
          position: relative;
          top: 3px;
        }
        .clue-stage.will-distribute {
          background: @will-distribute-background;
          color: @will-distribute-color;
        }
        .clue-stage.has-distribute {
          background: @has-distribute-background;
          color: @has-distribute-color;
        }
        .clue-stage.has-follow {
          color: @has-follow-color;
          background: @has-follow-background;
        }
        .clue-stage.has-transfer {
          color: @has-transfer-color;
          background: @has-transfer-background;
        }
        .clue-stage.has-invalid {
          color: @has-invalid-color;
          background: @has-invalid-background;
        }
        .clue-name-title{
          float: left;
          width: 330px;
          .basic-edit-field form .ant-form-item .ant-input{
            margin-left: 0;
          }
          .basic-edit-field-input.basic-edit-field{
            font-size: 16px;
            font-weight: bold;
            border-right:1px solid #e2e2e2;
            .basic-info-text{
              width:325px;
              color: #222222;
              line-height: 23px;
              &.no-data-descr{
                color:#ccc;
              }
            }
          }
          .basic-edit-field-input.basic-edit-field.editing{
            top:8px;
          }
          &.is-edit-type{
             width: 100%;
            .basic-edit-field-input.basic-edit-field{
              border-right:none;
            }
          }

        }
      }

      .remove-clue{
        float: left;
        .iconfont.icon-delete{
          margin-left: 12px;
          font-size: 18px;
        }
      }


    }
    .ant-tabs{
      .ant-tabs-bar{
        border-bottom: 1px solid @TAB_SOLID_COLOR;
      }
      .ant-tabs-nav{
        .ant-tabs-tab{
          padding-top:12px!important;
          padding-bottom: 8px!important;
        }
      }

    }
  }
}

