@import "../../../../public/css/common-variables";
@FONT_COLOR:#999;
.clue-detail-container{
  font-size: 14px;
  .clue-detail-block{
    padding:12px;
    margin-bottom: 12px;
    background: #fff;
    .clue-info-item{
      overflow: hidden;
      margin-bottom:4px;
      .clue-info-label{
        float: left;
        width: 60px;
        color: @FONT_COLOR;
        margin-right:12px;
        position: relative;
        top: 2px;
        font-size: 14px;
      }
      .clue-info-detail{
        float: left;
        width: 320px;
        font-size: 14px;
        color:#333;
      }
      .clue-info-detail.area-item{
        padding-left: 6px;
      }
      .clue-info-detail.clue-contact-container{

        .basic-edit-field form .ant-form-item .ant-input{
          margin-left:0;
        }
        .ant-col-3.ant-form-item-label{
          width: 18%;
        }
        .ant-col-21.ant-form-item-control-wrapper{
          width: 80%;
        }
      }
      .clue-info-detail.no-handled{
        color: #cccccc;
      }
    }
    .clue-info-item.no-margin-bottom{
       margin-bottom: 0;
    }
    .contact-item{
      overflow: hidden;
      margin-bottom:10px;
      .contact-item-content{
        overflow: hidden;
        padding-left: 12px;
        label.ant-form-item-required:before{
          display: none;
        }
      }
       .contact-way{
         display: block;
         &>.iconfont{
           float: left;
           margin:0 5px;
           width: 10%;
         }
         .basic-edit-field{
          float: left;
           width: 80%;
         }
       }
    }
      .add-person-info {
        border-top: 1px solid @TAB_SOLID_COLOR;
        overflow: hidden;
        padding-top: 12px;
        .add-clue-info {
          color: #999;
          float: right;
          font-size: 12px;
          .source-name {
            margin-right: 10px;
          }
        }
      }
  }
  .associate-customer-detail.clue-detail-block{
    padding: 0;
    .clue-info-item{
      position: relative;
      padding: 10px;
      background: #fff;
      margin-bottom: 0;
      .invalid-person{
        margin:0 10px;
        font-weight: bold;
      }
      .invalid-des{
        color: #EFAA5C;
        font-weight: bold;
      }
      .cancel-invalid{
        cursor: pointer;
        float: right;
        color: #8da8c5;
      }
      .clue-info-label{
        top:0;
      }
      .btn-container{
        position: absolute;
        right: 0;
        top:6px;
        .ant-btn{
          margin-right:5px;
        }
      }
      .clue-info-detail{
        padding-left: 6px;
        .customer_search_wrap{
          top: -3px;
        }
      }
    }
    .clue-inability-btn{
      color:@CLICK-BLUE;
    }

  }
  .associate-user-detail.clue-detail-block{
    .clue-info-item{
      margin-bottom: 0;
      .clue-info-label{
        top:1px;
      }
    }
    .associate-user{
      cursor: pointer;
      color: #8da8c5;
    }
  }
  .assign-sales-warp.clue-detail-block{
    padding: 0;
    .clue-info-item{
      position: relative;
      padding: 10px;
      background: #fff;
      margin-bottom: 0;
      .clue-info-label{
        top:0px;
      }
      .handle-clue-person.clue-info-label{
        top:2px;
      }
      .btn-container{
        position: absolute;
        right: 0;
        top:6px;
        .ant-btn{
          margin-right:5px;
        }
      }
    }

  }
}