@import '../../../../public/css/common-variables';
@import '../../../crm/public/css/dynamic.less';

.clue-customer-dynamic {
  .dynamic-error-tip {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
  }
  .load8 {
    position: absolute;
    top: 30px;
    left: 200px;
    transform: scale(0.5, 0.5);
    .loader8 {
      border-left-color: #394144;
    }
  }
  .dynamic-list {
    &:extend(.dynamic-list);
    .time-line.group-by-day .ant-timeline {
      margin-left: 80px;
    }  
  }
}