@import "../../../../public/css/common-variables";

//线索标签颜色
@white_color: #ffffff;
@filter-width: 300px;
//x颜色
@x_color: #cdcdcd;
//right-panel关闭按钮背景色
@close-btn-bg-color: #7bafe2;
.clue_customer_content {
  overflow: hidden;
  .topNav {
    height: 64px;
    position: inherit;
    padding: 0 15px;
    border-bottom: 1px solid #DEDFE3;
  }
  //线索顶部筛选区域
  .date-picker-wrap {
    padding-top: @filter_area_margin_top;
    .range-datepicker {
      float: left;
      margin-left: 5px;
      margin-right: @btn-margin;
    }
    .consult-time {
      float: left;
      text-align: center;
    }
    .search-container {
      float: left;
      .search-input-inner {
        display: inline-block;
      }
      .search-input-wrapper {
        float: left;
        .hide-filter-input {
          width: 0;
        }
        .search-wrapper {
          margin-right: 8px;
          .btn-item {
            margin-right: 0 !important;
          }
          .filter-contianer .show-zone {
            ul.collapse {
              padding-top:2px;
              margin-bottom: -2px;
            }
          }
        }
      }
      .search-input-container {
        float: left;
        .search-input {
          font-size: @SEARCH-INPUT-PLACEHOLDER;
        }
      }
      //已选xx项的提示
      .clue-list-selected-tip {
        float: left;
        padding-left: 15px;
        height: 30px;
        line-height: 30px;
        .icon-sys-notice {
          color: @primary-color;
          font-size: 18px;
          font-weight: bold;
          float: left;
          margin-right: 5px;
        }
        a {
          margin-left: 5px;
          color: @primary-color;
          text-decoration: none;
          &:hover {
            color: @primary-hover-color;
          }
        }
      }
      .ant-input-group-addon {
        background-color: #fff;
      }
      .ant-select {
        width: 100px;
      }
    }
    .add-anlysis-handle-btns {
      display: inline-block;
      button {
        margin-left: 0.5em !important;
        margin-right: 0 !important;
        font-size: 16px;
        color: @secondary-color;
        border-color: @SEARCH-INPUT-BORDER;
        &:hover {
          color: @primary-color;
          border-color: @primary-color;
        }
      }
      .manual-add-btn {
        height: 32px;
        .add-btn {
          font-weight: bold;
        }
      }
      button.ant-btn-primary {
        background-color: @primary-color;
        border-color: @primary-color;
        color: #ffffff;
        &:hover {
          color: #ffffff;
          background-color: @primary-hover-color;
          border-color: @primary-hover-color;
        }
      }
      .iconfont {
        margin-right: 0.5em;
      }
      .recomend-clue-customer-container,.add-import-clue-btn-container {
        display: inline-block;
      }
    }
    .pull-right {
      .btn-item {
        .iconfont {
          margin-right: 0.5em;
        }
      }
    }
    .more-btn {
      width: 32px;
      height: 32px;
      padding: 0;
      margin-right: @filter_area_margin_top;
      color: @secondary-color;
      .iconfont {
        margin-right: 0;
      }
    }
  }
  //线索列表
  .clue-content-container {
    .winning-clue-tips {
      position: absolute;
      top: 30%;
      left: 50%;
      margin-left: -51px;
    }
    top: 63px;
    right: 0;
    left: 70px;
    bottom: 0;
    padding-right: 12px;

    .customer-item-ball {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 1;
      width: 14px;
      height: 14px;
      background: @primary-color;
      border-radius: 50%;
    }
    //线索刷新列表提示
    .new-clue-prompt {
      position: relative;
      display: flex;
      margin-top: -10px;
      background: @import_bg_color;
      height: 48px;
      justify-content: center;
      .icon-close {
        position: absolute;
        right: 12px;
        font-size: 14px;
        align-self: center;
        cursor: pointer;
        color: @x_color;
        &:hover {
          color: darken(@x_color, 5%);
        }
      }
      .icon-warn-icon {
        color: @reply-message-tip-color;
        align-self: center;
      }
      .prompt-sentence {
        display: inline-block;
        font-size: 14px;
        margin-left: 8px;
        align-self: center;
        transform: translateY(0.5px);
      }
    }
    //加载完毕和出错的状态
    .err-content {
      padding-top: 200px;
      font-size: 20px;
      color: #cecece;
      text-align: center;
      .icon-data-error, .icon-no-data {
        font-size: 96px;
      }
      .abnornal-status-tip {
        text-align: center;
        color: @secondary-font-color;
        font-size: 20px;
        margin-top: 10px;
      }
    }

    .filter-container {
      float: left;
      border-right: 1px solid #ccc;
      min-width: @filter-width - 60;
      position: absolute;
      transition: all 0.5s;
      background: #fff;
      &.filter-close {
        left: 0 - @filter-width - 20;
        border-right: 1px solid transparent;
      }
      .filter-wrapper {
        .status-wrapper:first-child {
          min-height: 0;
        }
        .advanced-container ul.item-container {
          margin-left: -3px;
          margin-right: 0;
        }
      }
      .time-range-wrap {
        margin: 10px 0;
        padding-left: 10px;
        .consult-time {
          font-size: 14px;
          line-height: 24px;
          font-weight: initial;
          color: @primary-font-color;
        }
        .ant-calendar-picker{
          .ant-calendar-picker-input {
            .ant-calendar-range-picker-input{
              height: 20px;
            }
          }
        }

      }

    }
    .content-container {
      padding-left: @filter-width + 27px;
      padding-top: 10px;
      &.content-full {
        padding-left: 20px;
      }
      .ant-table tbody .current-row:hover,
      .ant-table tbody .current-row {
        background: #DFEAF3 !important;
      }
      .clue-status-wrap {
        position: absolute;
        font-size: 14px;
        color: @secondary-font-color;
        left: 70px;
        top: 85px;
        z-index: 10;
        margin-left: 70px;
        &.firefox-padding {
          left: 120px;
        }
        &.show-clue-filter {
          left: 370px;
        }
        &.firefox-show-filter-padding {
          left: 410px;
        }
        &.status-type-hide {
          visibility: hidden;
        }
        &.has-refresh-tip {
          top: 122px;
        }
        .clue-status-tab {
          display: inline-block;
          padding: 0px 0 6px 0;
          margin-right: 20px;
          font-size: 14px;
          cursor: pointer;
          color: @secondary-font-color;
          position: relative;
          .clue-status-num {
            padding-left: 5px;
          }
          .clue-add-num{
            position: absolute;
            top: -10px;
            right: 0px;
            color: @warn-color;
            display: none;
            &.show-add-num{
              display: block;
            }
          }
          &.active-tab {
            color: @primary-color;
            border-bottom: 2px solid @primary-color;
          }
        }
      }
      //table表格中相关样式的调整
      #clue-content-block #area.clue-customer-list {
        td, th {
          border-right: none !important;
        }
        th {
          position: relative;
          padding-bottom: 0 !important;
          height: 40px;
        }

        .ant-table-tbody {
          tr {
            .icon-active-call-records-ico {
              visibility: hidden;
            }
            &:hover {
              .icon-active-call-records-ico {
                visibility: visible;
              }
            }
          }
          .action-td-clue {
            .release-clue-btn {
              float: left;
              transform: translateY(2px);
              width: 25px;
              height: 28px;
              margin-left: 6px;
              .icon-release {
                font-size: 14px;
                margin-left: 6px;
              }
            }
            .order-btn-class {
              margin-left: 10px;
              width: 25px;
              text-align: center;
              font-size: 16px;
              border-radius: 100px;
              .icon-delete {
                font-size: 18px;
              }
            }
          }
          .more-btn{
            border: none;
            color: @secondary-color;
            background: none;
            cursor: pointer;
            margin-right: 15px;
            width: 24px;
            height: 24px;
            text-align: center;
            &:hover,&:focus,&:active{
              background: none;
              color: @BUTTON-HOVER;
            }
          }
        }
        //线索顶部标题
        .clue-top-title {
          padding: 5px 0;
          .clue-stage {
            margin-right: 8px;
            font-size: 14px;
            font-weight: bold;
            padding: 4px;
          }
          .clue-name-wrapper{
            display: flex;
            .clue-name {
              flex: 1;
            }
          }
          .clue-name {
            cursor: pointer;
            font-size: 16px;
            color: @primary-font-color;
            .clue-name-item {
              margin-right: 4px;
            }
            .icon-new-clue {
              display: inline-block;
              width: 20px;
              height: 20px;
              position: relative;
              top: 4px;
              margin-right: 4px;
              background: transparent url("../../../../static/images/new.png") 0 0;
            }
            .no-clue-name{
              color: @secondary-font-color;
            }
          }
          .clue-trace-content {
            margin-top: 5px;
            font-size: 14px;
            color: #777;
          }
        }
        .recent-contacter-detail {
          background: none;
          padding: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.has-more-icon {
            min-width: 180px;
          }
        }
        //联系人面板
        .contact-container {
          position: relative;
          .contact-name {
            display: inline-block;
            max-width: 82px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            top: 6px;
          }
          .iconfont.icon-more {
            position: absolute;
            color: #ddd;
            font-size: 25px;
            cursor: pointer;
            right: 0;
            top: 3px;
          }
        }
        //当前跟进人
        .handle-and-trace {
          font-size: 14px;
          &.assign-privilege {
            cursor: pointer;
          }
        }
        //跟进内容
        .clue-foot {
          //編輯跟进内容
          .edit-trace-content {
            padding: 14px 28px 12px 4px;
            .ant-alert-error {
              width: 100%;
            }
            .save-cancel-btn {
              margin-top: 8px;
              text-align: right;
              button {
                margin-left: 4px;
              }
            }
          }
          //展示跟进内容
          .foot-text-content {
            .add-trace-content {
              cursor: pointer;
            }
          ;
            .trace-author {
              .trace-name {
                font-weight: bold;
                margin: 0 10px;
              }
            }
            .iconfont.icon-edit-btn {
              cursor: pointer;
              margin-left: 10px;
            }

          }
          .record-trace-container {
            .trace-time {
              margin-right: 10px;
            }
          }

        }
        //关联客户
        .avalibity-or-invalid-container {
          .edit-invalid-trace-content {
            padding: 14px 28px 12px 4px;
            .ant-alert-error {
              width: 100%;
            }
            .save-cancel-btn {
              margin-top: 8px;
              text-align: right;
              button {
                margin-left: 4px;
              }
            }
          }
          .invalid-confirm {
            button.confirm-btn {
              color: #fff;
              margin-right: 10px;
              border-color: @error-color;
              background-color: @error-color;
            }
          }
          //有效客户
          .avalibility-container {
            .associate-btn {
              margin-right: 24px;
            }
            .associate-customer {
              .customer-name {
                cursor: pointer;
              }
              .arrow-right {
                margin-left: 5px;
              }
            }
          }

        }
        .clue-name-item {
          display: inline-block;
          margin-right: 4px;
        }
      }
      //线索标签
      .clue-label {
        transform: translateY(-2px);
        display: inline-block;
        height: 20px;
        line-height: 17px;
        padding: 0 3px 1px 3px;
        margin-right: 4px;
        margin-left: 0;
        font-size: 12px;
        font-weight: normal;
        color: @white_color;
      }
      .clue-label.intent-tag-style {
        color: @warn-color;
        background: #fff;
        border: 1px solid @warn-color;
        border-radius: 4px;
      }
    }

    .clue-content-block {
      .clue-customer-list {
        .no-more-data-tip {
          font-size: 12px;
          .anticon-info-circle {
            position: static;
            margin-right: 5px;
          }
        }
      }
    }
  }
  //背景模态框
  .right-panel-modal.show-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(0, 0, 0, 0.4);
    .clue-add-btn {
      color: #fff;
      background-color: #8ea9c4;
      border-radius: 0 !important;
      width: 24px;
      height: 24px;
      float: left;
      font-size: 14px;
      position: fixed;
      right: 480px;
      text-align: center;
      cursor: pointer;
    }
    .close-modal-btn{
      z-index: 112;
      background-color: @close-btn-bg-color;
    }
  }
  //添加客户的面板的z-index设置大一些，避免被线索详情覆盖
  .right-panel-modal.crm-add-container {
    z-index: 120;
  }
  //转化客户的面板的z-index设置大一些，避免被线索详情覆盖
  .clue-right-panel.clue-to-customer-panel {
    z-index: 121;
  }
}

.ant-calendar {
  width: 331px !important;
}

#app .customer-stage-table-wrapper.right-pannel-default {
  width: auto;
  left: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .customer-table-close.topNav {
    left: 0;
  }
  .stage-changed-customer-list-wrapper {
    padding: 63px 20px 0;
    .click-cell {
      cursor: pointer;
    }
  }
}

.ant-select-dropdown {
  .ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-selected {
    color: #58ABF5;
  }
}

//表格中样式的调整
#app #clue-content-block {
  .ant-table {
    tr.ant-table-row.invalid-clue {
      td {
        opacity: 0.5;
      }
      td.invalid-td-clue {
        opacity: 1;
      }
    }
    tr > td {
      font-size: 14px;
      .can-edit {
        cursor: pointer;
      }
      .clue-stage.will-distribute {
        background: @will-distribute-background;
        color: @will-distribute-color;
      }
      .clue-stage.has-distribute {
        background: @has-distribute-background;
        color: @has-distribute-color;
      }
      .clue-stage.has-follow {
        color: @has-follow-color;
        background: @has-follow-background;
      }
      .clue-stage.has-transfer {
        color: @has-transfer-color;
        background: @has-transfer-background;
      }
      .clue-stage.has-invalid {
        color: @has-invalid-color;
        background: @has-invalid-background;
      }
    }

  }
  .ant-table-pagination li:first-child {
    position: absolute;
    left: 5px;
  }
  .load8.spinner-fix{
    left: 0;
  }
}

.norm-add-dropdown {
  li {
    font-size: 14px;
    text-align: center;
  }
}

//线索推荐提示样式
.clue-recommend-tips{
  z-index: 1;
  .clue-recommend-tips-container{
    .icon-close-wide{
      cursor: pointer;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
.clue-export-modal .ant-modal-body{
  .modal-tip{
    margin-top: 5px;
  }
}

@media screen and (max-width: 720px){
  .clue_customer_content{
    .date-picker-wrap{
      .search-container{
        .clue-list-selected-tip{
          font-size: 12px;
          padding-left: 0;
        }
      }

    }
    .clue-content-container{
      .content-container{
        //tab栏样式
        .clue-status-wrap{
          width: calc(100% - 152px);
          overflow: scroll;
          .clue-status-container{
            white-space: nowrap;
          }
        }
        //table样式
        .clue-customer-list {
          //分页器样式
          .ant-pagination {
            //总数
            .ant-pagination-total-text {
              display: none;
            }
            .ant-pagination-item{
              min-width: 22px;
              height: 22px;
              line-height: 22px;
            }
            .ant-pagination-jump-next,
            .ant-pagination-jump-prev,
            .ant-pagination-next,
            .ant-pagination-prev{
              min-width: 22px;
              height: 22px;
              line-height: 22px;
            }
            .ant-pagination-prev .ant-pagination-item-link:after,
            .ant-pagination-next .ant-pagination-item-link:after{
              height: 22px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .more-btn{
      margin-right: 0;
    }
  }

  #app .ant-table td.ant-table-selection-column, #app .ant-table th.ant-table-selection-column{
    width: 24px;
    min-width: 24px;
  }
  //table中的checkbox按钮样式
  #app .ant-table td.ant-table-selection-column{
    display: inline-block;
    padding: 13px 25px 0 10px;
  }
  //去掉选中后的背景色
  .ant-table-tbody > tr:hover > td{
    background: none;
  }

  .clue-top-title{
    .more-btn{
      margin-right: 0!important;
    }
    .contact-container{
      text-align: right;
      .phone-callout-container .icon-active-call-records-ico{
        visibility: visible!important;
      }
      .recent-contacter-detail.has-more-icon{
        min-width: auto!important;
        width: auto;
      }
    }
    .clue-bottom-wrapper{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;
      .handle-and-trace{
        margin-left: 10px;
      }
    }
    .clue-foot, .invalid-td-clue{
      width: 100%;
    }
    .invalid-td-clue .edit-invalid-trace-content, .clue-foot .edit-trace-content{
      padding-top: 0px!important;
      padding-right: 0!important;
    }
  }
}

@media screen and (max-width: 720px){
  .clue-content-container{
    .content-container{
      .no-data-add-and-import-intro-wrap {
        padding-top: 150px; 
      }
    }
  }
}
