.clue_customer_content {
  .date-picker-wrap {
    padding-top: 20px;
    .range-datepicker {
      float: left;
    }
    .consult-time {
      float: left;
      margin-top: 6px;
    }
    .type-container, .search-container {
      float: left;
      margin-left: 20px;
      .ant-input-group-addon {
        background-color: #fff;
      }
      .ant-select {
        width: 100px;
      }
    }
    .add-anlysis-handle-btns {
      button {
        margin-right: 5px;
      }
    }
  }
  .clue-content-container {
    position: absolute;
    top: 63px;
    right: 0;
    left: 70px;
    bottom: 0;
    background: #F7F8FA;
    //加载中，加载完毕和出错的状态
    .load-content, .err-content, .no-data {
      margin-top: 260px;
      font-size: 20px;
      color: #cecece;
      text-align: center;
      .icon-data-error, .icon-no-data {
        font-size: 60px;
      }
      .abnornal-status-tip {
        text-align: center;
        margin-top: 16px;
        color: #999;
        font-size: 14px;
      }
    }
    .sales-clue-item-container {
      margin-left: 20px;
    }
    .clue-customer-total-tip {
      margin-left: 40px;
    }
  }
  //背景模态框
  .right-panel-modal.show-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
  }
  //添加客户面板样式
  .right-pannel-default.sales-clue-add-container {
    height: 100%;
    width: 480px !important;
    background-color: #f5f5f5 !important;
    .add-clue-item{
      width: 100%;
      padding: 20px 20px 20px 0;
      form .ant-form-item{
        width:100%;
        .ant-calendar-picker{
          width: 100%;
        }
        input, textarea, .ant-select{
          width: 100%
        }
        .ant-form-item-label label{
          font-size: 14px;
          color:#999;
        }
        .ant-form-explain{
          text-align: left;
        }
      }
      .submit-button-container{
        text-align: right;
        .submit-btn{
          margin-right:10px;
        }
      }
    }

  }

}
.ant-calendar{
  width: 331px!important;
}

//线索导入
.import-clue-template-panel.right-pannel-default {
  width: 420px;
  transform: translateX(100%);
  font-size: 14px;
  .import-tips {
    margin-top: 60px;
    margin-left: 20px;
    a {
      text-decoration: none;
    }
    p {
      padding-bottom: 20px;
    }
  }
  .import-file {
    float: right;
    margin-right: 20px;
    .ant-btn {
      margin-bottom: 3px;
    }
    .import-clue, .ant-btn .ant-btn-ghost {
      border: 1px solid #4d96d1;
      border-radius: 5px;
      padding: 4px 11px;
      font-size: 12px;
      cursor: pointer;
    }
    .import-clue {
      margin-right: 12px;
      color: #fff;
      background-color: #4d96d1;
      border-color: #4d96d1;
      .icon-loading {
        margin-left: 8px;
      }
    }
  }
}

.clue-analysis-panel.right-pannel-default {
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .clue-analysis-panel {
    background: #f3f5f7;
    position: relative;
    height: 100%;
    .analysis-chart-wrap {
      .ant-tabs-top {
        width: 100%;
        .ant-tabs-bar {
          margin-bottom: 0;
          .ant-tabs-nav .ant-tabs-tab {
            padding-left: 25px !important;
          }
          .ant-tabs-ink-bar {
            background-color: transparent;
          }
          .ant-tabs-nav-container {
            font-size: 16px;
            line-height: 2.1;
            height: 64px;
          }
        }
      }
    }
    .date-picker-container {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      width: 400px;
      .date-picker-wrap {
        position: absolute;
        right: 92px;
        top: 18px;
        z-index: 10;
        padding-top: 0;
        .range-datepicker {
          display: inline-block;
          float: none;
        }
        .date-picker-tip {
          position: relative;
          top: -10px;
        }
      }
    }

    .close-pannel {
      margin-top: 20px;
    }

    //图表的样式
    .analysis-chart-wrap {
      .ant-tabs-bar {
        background: #fff;
      }
      //概览页样式
      .clue-analysis-overview-container {
        padding-top: 16px;
        .card-container:first-child {
          position: relative;
          .filter-clue-wrap {
            position: absolute;
            z-index: 2;
            right: 30px;
            top: 16px;
            .ant-select {
              margin-right: 10px;
              width: auto;
            }
          }
        }
      }
      //趋势图页样式
      .clue-analysis-trend-container {
        padding-top: 16px;

      }
    }
  }
}

#app .customer-stage-table-wrapper.right-pannel-default {
  width: auto;
  left: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .customer-table-close.topNav {
    left: 0;
  }
  .stage-changed-customer-list-wrapper {
    padding: 63px 20px 0;
    .click-cell {
      cursor: pointer;
    }
  }
}