@import "../../../../public/css/common-variables";
@filter-width: 340px;
.clue_customer_content {
  //线索顶部筛选区域
  .date-picker-wrap {
    padding-top: 20px;
    .range-datepicker {
      float: left;
      margin-left: 5px;
    }
    .consult-time {
      float: left;
      margin-top: 6px;
    }
    .search-container{
      float: left;
      .filter-btn-container{
        font-size: 16px;
        margin-right: 12px;
        color: @FILTER-BUTTON;
        height: 32px;
        &:hover, &:active{
          color: @BORDER-BLUE;
          border-color:@BORDER-BLUE;
        }
      }
      .search-input-container{
        width: auto;
        display: inline-block;
        .search-input {
          font-size: @SEARCH-INPUT-PLACEHOLDER
        }
      }
      .ant-input-group-addon {
        background-color: #fff;
      }
      .ant-select {
        width: 100px;
      }
    }
    .add-anlysis-handle-btns {
      margin-right:12px;
      button {
        margin-right: 12px;
        font-size: 16px;
        color: @FILTER-BUTTON;
        border-color:@SEARCH-INPUT-BORDER;
        &:hover{
          color: @BUTTON-HOVER;
          border-color:@BUTTON-HOVER;
        }
      }
      button.ant-btn-primary{
        background-color: @BORDER-BLUE;
        border-color: @BORDER-BLUE;
        color: #ffffff;
        &:hover{
          color: #ffffff;
          background-color:  @BUTTON-HOVER;
          border-color: @BUTTON-HOVER;
        }
      }
    }
  }
  //线索列表
  .clue-content-container {
    position: absolute;
    top: 63px;
    right: 0;
    left: 70px;
    bottom: 0;
    background: @NOTICE-BACKGROUND;
    //加载中，加载完毕和出错的状态
    .load-content, .err-content, .no-data-intro, .no-data{
      margin-top: 260px;
      font-size: 20px;
      color: #cecece;
      text-align: center;
      .icon-data-error, .icon-no-data {
        font-size: 96px;
      }
      .abnornal-status-tip {
        text-align: center;
        margin-top: 16px;
        color: #999;
        font-size: 14px;
      }
      .btn-containers{
        margin-top:10px;
      }
    }
    .clue-customer-total-tip {
      margin-top:12px;
      margin-left: 44px;
    }
    .filter-container {
      float: left;
      border-right: 1px solid #ccc;
      min-width: @filter-width - 60;
      height: 100%;
      position: absolute;
      transition: all 0.5s;
      padding-left: 24px;
      background: #fff;
      &.filter-close {
        left: 0 - @filter-width;
        border-right: 1px solid transparent;
      }
      .filter-wrapper{
        .status-wrapper:first-child{
          min-height: 0;
        }
       .advanced-container ul.item-container{
         margin-left: -3px;
         margin-right: 0;
       }
      }
      .time-range-wrap{
        margin-top:10px;
        padding-left: 10px;
        .consult-time{
          font-size: 12px;
          line-height: 24px;
          font-weight: initial;
          color: #333333;
        }
        .range-datepicker{
          margin-top:2px;
          .datepicker_wrap{
            position: fixed;
            top:129px;
            left: 103px !important;
          }
        }
      }


    }
    .content-container {
      padding-left: @filter-width + 22px;
      &.content-full {
        padding-left: 0;
      }
    }


    .content-block{
      .clue-customer-list{
        .no-more-data-tip{
          margin-left: 20px;
          font-size: 12px;
          .anticon-info-circle{
            position: static;
            margin-right: 5px;
          }
        }
      }
    }
  }
  //背景模态框
  .right-panel-modal.show-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
  }
  }
.ant-calendar{
  width: 331px!important;
}

#app .customer-stage-table-wrapper.right-pannel-default {
  width: auto;
  left: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .customer-table-close.topNav {
    left: 0;
  }
  .stage-changed-customer-list-wrapper {
    padding: 63px 20px 0;
    .click-cell {
      cursor: pointer;
    }
  }
}
.ant-select-dropdown{
  .ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-selected{
    color:#58ABF5;
  }
}
