@import "../../../../public/css/common-variables";

@tag-color: #FF8B00;
@content-bg-color: #E3E8ED;
@filter-width: 396px;
.recommend-clues-page-container{
  background-color: @content-bg-color!important;
}
.recommend-clues-lists-container{
  .recommend-customer-list{
    width: auto;
    .iconfont.close-pannel{
      z-index: 14;
    }
    .ant-table tbody .has-extracted-row:hover,
    .ant-table tbody .has-extracted-row {
      //background: #f3f5f5 !important;
      td{
        //background: #f3f5f5 !important;
        color: #bbb!important;
        .iconfont.icon-extract{
          color:#bbb;
          cursor: not-allowed;
        }
      }
    }
    .ant-table tbody .has-extracted-by-other-row:hover,
    .ant-table tbody .has-extracted-by-other-row{
      .iconfont.icon-extract{
        color:#bbb;
        cursor: not-allowed;
      }
    }

    .recommend-clue-panel{
      .topNav{
        left:0;
      }
      .recommend-customer-top-nav-wrap{
        padding-top: 18px;
        overflow: hidden;
        .clue-back-btn{
          float: left;
          margin-right: 15px;
        }
        .close-pannel {
          margin-top: 4px;
          float: right;
        }
        .add-clues-btn{
          color: @will-distribute-color;
        }
        .top-nav-title{
          color: @primary-font-color;
          font-size: 16px;
          font-weight: bold;
        }
        .icon-close{
          float: right;
          color: @primary-color;
          font-size: 12px;
          font-weight: bold;
          &:hover{
            color: @primary-hover-color;
          }
        }
      }
      .recommend-clue-content-container{
        //筛选条件样式
        .filter-container {
          //float: left;
          //border-right: 1px solid #ccc;
          //min-width: @filter-width - 60;
          //position: absolute;
          transition: all 0.5s;
          background: #fff;
          border-bottom: 1px solid #DEDFE3;
          .gm-scroll-view{
            padding-right: 0;
          }
          .add-customer-recommend{
            padding: 20px 20px 0;
            .load8{
              left: calc(50% - 35px);
              top: calc(50% - 45px);
            }
            .other-condition-container{
              .ant-form-item-label {
                //width: 100px;
              }
              .company-name{
                .ant-form-item-label{
                  width: auto;
                }
              }
            }
            .ant-form-item-label{
              text-align: left;
              display: inline-block;
              width: 70px;
            }
            .ant-form-item-control-wrapper{
              display: inline-block;
            }

            .ant-form-item{
              width: initial;
              margin-bottom: 10px;
              .ant-form-item-control {
                input, .ant-calendar-picker, .ant-select {
                  width: 350px;
                  font-size: 14px;
                }
                .ant-calendar-range-picker-input{
                  width: 40%;
                }
                .search-input{
                  width: 580px;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                }
              }
            }
            .area-selector {
              .ant-form-item{
                input{
                  width: 547px!important;
                }
              }
              .anticon-close-circle{
                font-size: 22px;
                color: @placeholder-font-color;
                top: -10px;
                right: -4px;
                transition: color 0.3s;
                &:hover{
                  color: @secondary-font-color;
                }
              }
              input{
                height: 32px;
              }
              .area-selector-all-container{
                margin-right: 10px;
                top: 4px;
              }
              .address-prov{
                .prov-nav-span{
                  height: 50px;
                }
              }
              label{
                font-size: 14px;
              }
            }
            .special-item, .area-selector{
              .ant-form-item-label{
                label{
                  letter-spacing: 30px;
                }
              }
            }
          }
        }
        .recommend-clue-detail-content-container{
          padding: 0;
          //padding-left: @filter-width + 1px;
          margin-top: 0;
          background-color: @content-bg-color;
          .recommend-clue-detail-content-box{
            padding: 16px;
          }
          .detail-card-container{
            margin-top: 0;
            padding: 0;
          }
          .detail-card-title{
            padding: 8px 16px;
            margin-bottom: 0;
          }
          .detail-card-content{
            padding: 0;
          }
          .errmsg-container{
            width: 500px;
            margin: 200px auto;
            text-align: center;
            .errmsg-tip{
              color:@error_tips_color;
              font-size: 14px;

              a{
                color: @BUTTON-HOVER;
              }
            }
            .retry-btn{
              font-size: 14px;
            }
          }
          .recommend-lead-name{
            .iconfont.icon-warning-tip{
              color: @import_data_warn_color;
              margin-right: 6px;
            }
          }
          // 提取线索
          .singl-extract-clue{
            font-size: 14px;
            cursor: pointer;
            .iconfont.icon-extract{
              margin-right: 10px;

            }
            //&.disable-btn{
            //  color: #CCCCCC;
            //}
          }

          // 提取线索样式
          .home-loading.load8{
            left: calc(50% - 35px);
            top: calc(50% - 45px);
          }
          // 头部样式
          .extract-clues-title-container{
            background-color: #ffffff;
            border-bottom:1px solid #dedfe1;
          }
          .extract-clues-title-wrapper{
            padding: 0 24px;
            background-color: #ffffff;
            font-size: 16px;
            font-weight: 800;
          }
          .extract-clues-title{
            overflow: hidden;
            padding-top: 20px;
            line-height: 32px;
          }
          //热门选项样式
          .extract-hot-wrapper{
            font-weight: normal;
            margin: 10px 0 16px 24px;
            .extract-hot-title{
              font-size: 14px;
              color: @secondary-font-color;
            }
            .extract-hot-btn-container{
              display: inline-block;
              .hot-btn-item{
                color: @warn-color;
                font-size: 12px;
                padding: 3px 6px;
                border: 1px solid @border-color;
                border-radius:2px;
                margin-right: 5px;
                cursor: pointer;
                &:hover{
                  border-color: @version-basic-color;
                }
                &.hot-active{
                  background: @version-basic-color;
                  color: #fff;
                  border-color: @version-basic-color;
                }
              }
            }
          }
          .extract-clues-btn-container{
            float: right;
            font-weight: normal;
            .btn-item {
              margin-left: 0.5em !important;
              margin-right: 0 !important;
              float: right;
              position: relative;
              .iconfont {
                margin-right: 0.5em;
              }
              .change-new-span{
                position: relative;
                top: -10px;
              }
            }
          }
          //没有提取数时的提示文案样式
          .unextract-clue-tip{
            color: @has-invalid-color;
            font-size: 14px;
            //display: flex;
            //justify-content: space-between;
            //align-items: flex-start;
            .customer-btn{
              height: 24px;
              color: @will-distribute-color;
            }
            .has-extracted-count{
              color: @primary-color;
              margin: 2px;
            }
            .no-extract-count-tip{
              padding: 0;
              text-align: right;
              align-items: center;
              display: flex;
              float: left;
              line-height: 32px;
              .more-batch-btn{
                color: @primary-color;
              }
            }
            .ant-checkbox-wrapper{
              margin-top: 3px;
              margin-bottom: 0;
            }
            .check-all{
              font-size: 14px;
              color: @primary-font-color;
              font-weight: normal;
              vertical-align: middle;
              width: 60px;
              margin: 0;
              float: left;
              .ant-checkbox, .ant-checkbox+span{
                vertical-align: middle;
              }
            }
            .btn-item {
              margin-left: 0.5em !important;
              margin-right: 0 !important;
              float: right;
              position: relative;
              &.btn-disabled{
                background-color: @primary-disable-color;
                color: #fff;
              }
              .iconfont {
                margin-right: 0.5em;
                &.change-new-icon-rotation + span {
                  position: relative;
                }
              }
            }
            .tip-wrapper{
              font-size: 14px;
              color: @content-font-color;
              margin: 0 8px;
              > span{
                vertical-align: middle;
              }
            }
            //成功后的提示样式
            .alert-timer{
              display: inline-block;
              float: right;
              .ant-alert{
                padding: 6px 48px 6px 38px;
                .ant-alert-icon{
                  top: 8px;
                }
              }
            }
          }
          // 中间内容
          .extract-clue-panel-container{
            padding-right: 10px;
            .extract-clue-item{
              background: #fff;
              padding: 18px;
              display: flex;
              align-items: flex-start;
              transition: all .3s linear;
              border-bottom: 1px solid #f5f5f5;
              &:hover{
                background-color: @hover-item-color;
                .single-extract-clue{
                  .assign-btn{
                    opacity: 1;
                  }
                }
              }
              &.has-extracted-row, &.has-extracted-row:hover{
                color: @secondary-font-color !important;
                background-color: @hover-item-color!important;
                cursor: unset;
                .extract-clue-text-wrapper{
                  color: @secondary-font-color !important;
                  .extract-clue-text__name{
                    cursor: unset;
                  }
                  .clue-name, .extract-clue-text__info{
                    color: @secondary-font-color !important;;
                  }
                }
              }
              &.has-extracted-by-other-row, &.has-extracted-by-other-row:hover{
                .extract-clue-text-wrapper {
                  .extract-clue-text__name {
                    cursor: unset;
                    .clue-name{
                      color: @secondary-font-color!important;
                    }
                  }
                }
              }
              .extract-clue-text-wrapper{
                width: 85%;
                color: @has-transfer-color;
                padding-right: 3px;
                .extract-clue-text__name{
                  font-size: 16px;
                  font-weight:400;
                  margin-top: -3px;
                  .clue-name{
                    font-weight: bold;
                    color: @primary-font-color;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 90%;
                    display: inline-block;
                    vertical-align: middle;
                  }
                  .clue-company-open-status{
                    margin-left: 5px;
                    border: 1px solid @primary-color;
                    color: @primary-color;
                    border-radius:2px;
                    font-size: 12px;
                    padding: 0 5px;
                    vertical-align: middle;
                  }
                }
                .extract-clue-text__filters{
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight:400;
                  .extract-clue-text-item{
                    margin-bottom: 5px;
                  }
                  .extract-clue-info-item{
                    display: inline-block;
                    margin-right: 15px;
                  }
                  .extract-clue-contacts-item{
                    margin-right: 15px;
                    &:last-child{
                      margin-right: 0;
                    }
                    .extract-clue-contact-count{
                      color: @primary-color;
                      cursor: pointer;
                      &:hover{
                        color: @primary-hover-color;
                      }
                    }
                  }
                }
                .single-extract-clue{
                  font-size: 14px;
                  cursor: pointer;
                }
                .iconfont.icon-warning-tip{
                  color: @import_data_warn_color;
                  margin-right: 6px;
                }
                //标签
                .clue-labels{
                  margin-top: 3px;
                  .ant-tag {
                    border-radius: 0;
                    border: none;
                    color: @has-transfer-color;
                  }
                }
                //高亮文字样式
                .text-highlight{
                  color: @confirm-delete-background;
                  font-style: unset;
                }
                .extract-clue-text__info{
                  margin-top: 0px;
                  color: @has-transfer-color;
                }
                .extract-clue-text__null{
                  margin-top: 0
                }
              }
              //已提取按钮样式
              .clue-has-extracted{
                font-size: 14px;
                color: @secondary-font-color;
              }
              .btn-item{
                .iconfont {
                  margin-right: 0.5em;
                }
              }
              .single-extract-clue{
                .assign-btn{
                  opacity: 0;
                }
              }
              .ant-checkbox-wrapper{
                margin: -16px 0 0 -16px;
                padding: 16px 15px 35px;
              }
            }

            .no-more-data-tip{
              .anticon{
                position: static;
                margin-right: 4px;
              }
            }
            //换一批样式
            .more-date-wrapper{
              height:48px;
              line-height: 48px;
              .more-data-content{
                background-color: #fff;
                text-align: center;
                .btn-wrapper{
                  color: @primary-color;
                  font-size: 14px;
                  cursor: pointer;
                  .iconfont{
                    margin-right: 7px;
                  }
                }
              }
            }
          }
          // 底部区域
          .extract-btn-wrapper{
            padding: 15px 24px 0;
            .button-container{
              margin-top: 0;
              float: right;
              .button-add-clue{
                float: right;
                margin-left: 10px;
                height: 24px;
                color: @will-distribute-color;
              }
            }
            .back-btn{
              height: 24px;
            }
          }
          .no-data{
            position: absolute;
            left: calc(50% - 60px);
            top: calc(50% - 87px);
          }
          //空号检测checkbox
          .check-phone-enable-checkbox{
            float: right;
            font-weight: normal;
            color: @primary-font-color;
            font-size: 14px;
            margin-top: 5px!important;
            margin-left: 5px;
            .ant-checkbox{
              vertical-align: middle;
            }
          }
        }
      }
    }

  }
}
.ant-message{
  z-index: 1060;
}
//超限后的内容显示样式
.extract-limit-content{
  min-width: 200px;
  &.check-phone-result-container{
    .ant-popover-arrow, .ant-popover-arrow:after{
      border-bottom-color: @primary-color;
    }
    //头部样式
    .ant-popover-title{
      background-color: @primary-color;
      .check-phone-title{
        color: #fff;
        .icon-check{
          margin-right: 6px;
        }
        .icon-close{
          font-weight: bold;
          color: #fff;
        }
        .check-phone-name{
          font-size: 16px;
        }
        .check-phone-only{
          color: #A6CCF2;
        }
      }
    }
  }
  .ant-popover-inner-content{
    color: @primary-font-color;
    font-size: 14px;
  }
  .icon-warn-icon{
    color: @tag-color;
    width:16px;
    height:16px;
    margin-right: 8px;
    &.error-icon{
      color: @error-color;
      font-size: 14px!important;
    }
  }
  .extract-count{
    color: @tag-color;
    margin: 0 2px;
  }
  .primary-count{
    color: @primary-color;
    margin: 0 2px;
  }
  .icon-close{
    font-size: 12px;
    color: @sub-content-font-color;
    margin-left: 10px;
    vertical-align: top;
    cursor: pointer;
  }
  //检测手机号状态样式
  .check-phone-container{
    position: relative;
    &.check-phone-error-container{
      .icon-warn-icon{
        font-size: 12px;
        margin-right: 3px;
      }
      .check-phone-content{
        .check-phone-box{
          .check-phone-text{
            color: @error-color;
          }
        }
      }
    }
    .icon-close{
      position: absolute;
      top: 0;
      right: 0;
    }
    .icon-search{
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      text-align: center;
      color: @primary-color;
      background: #E3E8ED;
      border-radius: unset!important;
      margin-right: 10px;
    }
    .check-phone-content{
      display: flex;
      align-items: center;
      .check-phone-box{
        color: @primary-font-color;
        .check-phone-title{
          > span:first-child{
            font-weight: bold;
          }
        }
        .check-phone-only{
          color: @secondary-font-color;
          font-size: 14px;
        }
        .check-phone-text{
          font-size: 14px;
          margin-top: 6px;
          display: inline-block;
        }
      }
    }
    .check-phone-free-tip{
      color: @primary-font-color;
      font-size: 12px;
      margin: 5px 5px 5px 0;
      .icon-warn-icon{
        font-size: 14px;
      }
    }
    .check-btn-container{
      text-align: right;
      margin: 15px 0 10px;
      .check-btn-primary{
        margin-left: 15px;
      }
    }
  }
  //空号检测使用提示
  .check-phone-use-container{
    background: #fff;
    font-size: 14px;
    color: @primary-font-color;
    position: relative;
    display: flex;
    align-items: center;
    .img-wrapper {
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #E8EEF3;
      overflow: hidden;
      .image{
        width: 100%;
        height: 100%;
      }
    }
    .only-phone-text{
      color: @secondary-font-color;
    }
    .icon-close{
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
    }
  }
}
.change-new-icon-rotation{
  position: relative;
  animation: rotate-arround 1s linear infinite ;
  display: inline-block !important;
  margin-right: 0.2em !important;
}

@keyframes rotate-arround {
	0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 720px){
  .recommend-clues-lists-container{
    .recommend-customer-list{
      .recommend-clue-panel{
        .recommend-clue-content-container{
          //条件设置样式
          .filter-container{
            .add-customer-recommend{
              form {
                .ant-form-item{
                  .ant-form-item-control-wrapper{
                    display: block;
                  }
                  .ant-form-item-label{
                    line-height: 20px;
                    label{
                      letter-spacing: 0!important;
                    }
                  }
                  .clue-recommend-filter-search-wrapper {
                    display: flex;
                    .search-input-container{
                      .search-input{
                        width: 100%;
                      }
                      .icon-circle-close.search-icon{
                        right: 4px;
                      }
                    }
                    .ant-input-group-addon{
                      position: unset;
                    }
                  }
                }
                .area-selector{
                  width: 80%;
                  .ant-form-item input{
                    width: 100%!important;
                  }
                  .address-prov .prov-nav-span{
                    height: 100px;
                  }
                }
              }
              .vip-filter-content{
                .vip-filter-item{
                  width: 50%;
                  margin-right: 0;
                  &:last-child{
                    margin-top: 10px;
                    float: right;
                  }
                }
              }
              .recommend-clue-sug{
                width: calc(100% - 35px);
                li{
                  width: 100%;
                }
              }
            }
          }
          //推荐线索列表样式
          .recommend-clue-detail-content-container{
            .recommend-clue-detail-content-box{
              padding: 0;
            }
            .extract-clue-panel-container{
              .single-extract-clue{
                .assign-btn{
                  opacity: 1!important;
                }
              }
              .extract-clue-item{
                .ant-checkbox-wrapper{
                  margin: 0 8px 5px 0;
                  padding: 0;
                }
                .extract-clue-text-wrapper{
                  .extract-clue-text__name{
                    .clue-name{
                      max-width: unset;
                      text-overflow: unset;
                      white-space: unset;
                      overflow: auto;
                    }
                  }
                }
              }
            }
            .btn-item{
              width: 32px;
              height: 32px;
              padding: 0;
              min-width: unset;
              .iconfont{
                margin-right: 0!important;
              }
            }
            .unextract-clue-tip .tip-wrapper{
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}