@import "../../../../public/css/common-variables";
.recommend-customer-condition.recommend-customer-condition-wrapper{
  .recommend-top-title{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  form {
    .area-selector{
      .ant-col-24.ant-form-item-label{
        padding: 0;
        line-height: 32px;
      }
    }
    .ant-form-item{
      width:100%;
      margin-bottom: 4px;
      input, textarea, .ant-select{
        width: 100%
      }

      .ant-form-item-label{
        text-align: left;
        label{
          font-size: 14px;
          color:#999;
          &:after{
            content: ''
          }
        }
      }
      .ant-form-explain{
        text-align: left;
      }
    }
    .ant-calendar-picker{
      width: 100%;
      input{
        width: 40%;
        position: relative;
        top:-4px;
      }
    }
    .ant-form-item.add-apply-time{
      .anticon.anticon-cross-circle.ant-calendar-picker-clear{
        display: none;
      }
      .ant-select{
        float: left;
        width: 50%;
      }
    }
     .show-hide-tip{
        font-size: 13px;
        cursor:pointer;
        color:@FILTER-BUTTON;
        float: left;
      }
    .submit-button-container{
 
      text-align: right;
      .submit-btn{
        width: 100%;
      }
      button{
        font-size: 14px;
      }
      .indicator{
        .ant-alert{
          width: 180px;
          margin:0 auto;
        }
      }
    }
    .other-condition-container{
       &.show-container{
          display: block;
       }
      &.hide-container{
         display: none;
      }
    }

  }
}
.ant-calendar-range-right .ant-calendar-date-input-wrap{
  margin-left: 0;
}
