@import "../../../../public/css/common-variables";
@vip-color: #FF8B00;
.recommend-customer-condition.recommend-customer-condition-wrapper{
  .recommend-top-title{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  form {
    .area-selector{
      display: inline-block;
      .ant-col-24.ant-form-item-label{
        padding: 0;
        line-height: 32px;
      }
    }
    .ant-form-item{
      width:100%;
      margin-bottom: 4px;
      input, textarea, .ant-select{
        width: 100%
      }

      .ant-form-item-label{
        text-align: left;
        label{
          font-size: 14px;
          color: @secondary-font-color;
          font-weight: normal;
          &:after{
            content: ''
          }
        }
      }
      .ant-form-explain{
        text-align: left;
      }
    }
    .ant-calendar-picker{
      width: 100%;
      input{
        width: 40%;
        position: relative;
        top:-4px;
      }
    }
    .ant-form-item.add-apply-time{
      .anticon.anticon-cross-circle.ant-calendar-picker-clear{
        display: none;
      }
      .ant-select{
        float: left;
        width: 50%;
      }
    }
    .show-hide-tip{
      font-size: 13px;
      cursor:pointer;
      color: @primary-color;
      display: inline-block;
      margin-left: 10px;
      vertical-align: sub;
      span, .iconfont{
        vertical-align: middle;
      }
    }
    .submit-button-container{
 
      text-align: right;
      .submit-btn{
        width: 100%;
      }
      button{
        font-size: 14px;
      }
      .indicator{
        .ant-alert{
          width: 180px;
          margin:0 auto;
        }
      }
    }
    .other-condition-container{
       &.show-container{
          display: block;
       }
      &.hide-container{
         display: none;
      }
      .save-btn{
        //margin-left: 458px!important;
      }
    }
  }
  //vip样式
  .label-wrapper{
    .label-text{
      vertical-align: middle;
    }
    .label-vip{
      padding: 0 4px;
      border: 1px solid @vip-color;
      border-radius: 2px;
      background-color: @version-basic-bg-color;
      color: @vip-color;
      font-size: 10px;
      margin-left: 6px;
      vertical-align: middle;
    }
  }
  //高级筛选样式
  .advance-data-container{
    .advance-btn-item{
      padding: 3px 6px;
      font-size: 14px;
      color: @warn-color;
      border: 1px solid @border-color;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 5px;
      &:hover{
        border-color: @warn-color;
      }
      &.advance-active{
        background: @warn-color;
        color: #fff;
        border-color: @warn-color;
      }
    }
  }
  //搜索框样式
  .search-input-container {
    width: 100%;
    position: relative;
    .search-input {
      width: 100%;
      height: @input_top_height;
      padding: 8px 25px 8px 8px;
      line-height: @input_height;
      border: 1px solid @SEARCH-INPUT-BORDER;
      border-radius: @border-radius;
      font-size: @form_font_size;;
      &:hover {
        border-color: #57c5f7;
      }

    }

    .search-icon {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      right: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #7f909a;
      cursor: pointer;
      z-index: 1;
    }
    .icon-circle-close.search-icon{
      margin-top: -16px;
      font-size: 14px;
      color: @placeholder-font-color;
      right: 6px;
      transition: color 0.3s;
      &:hover{
        color: @secondary-font-color;
      }
    }
  }
  .clue-recommend-filter-search-wrapper{
    position: relative;
    .anticon-search.search-icon{
      display: none;
    }
    .ant-input-group-addon{
      background-color: @warn-color;
      border-color: @warn-color;
      position: absolute;
      right: -35px;
      top: 0;
      width: 35px;
      height: 32px;
      cursor: pointer;
      padding-left: 8px;
      padding-top: 6px;
      .search-confirm-btn{
        display: block;
        position: relative;
        top: 0;
        right: 0;
        font-size: 20px;
        color: #fff;
        margin-top: 0;
      }
    }
    .recommend-clue-sug{
      position: absolute;
      top: 33px;
      width: 580px;
      z-index: 10;
      background: #fff;
      border: 1px solid #ccc;
      display: none;
      li{
        width: 578px;
        color: @primary-font-color;
        font: 14px arial;
        line-height: 25px;
        padding: 0 8px;
        position: relative;
        cursor: default;
        &:hover{
          background-color: #f0f0f0;
        }
      }
    }
  }
  //vip筛选样式
  .vip-filter-container{
    .vip-filter-content{
      position: relative;
      .vip-filter-item{
        display: inline-block;
        font-size: 14px;
        margin-right: 15px;
        color: @primary-font-color;
        cursor: pointer;
        .btn-item{
          float: none;
        }
        .vip-item-active{
          color: @primary-color;
        }
      }
    }
    .ant-form-item-label{
      label{
        letter-spacing: 2px;
      }
    }
  }
  //已选条件样式
  .selected-filter-container{
    margin: 5px 0 10px;
    color: @primary-font-color;
    .selected-filter-title{
      font-size: 14px;
    }
    .selected-filter-item{
      color: @primary-color;
      background: #fff;
      border: 1px solid @primary-color;
      padding: 3px 10px;
      border-radius: 2px;
      margin-right: 10px;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: #fff;
        background: @primary-hover-color;
      }
      .icon-close{
        font-size: 12px;
        margin-left: 5px;
        margin-right: -5px;
      }
    }
  }
}
.ant-calendar-range-right .ant-calendar-date-input-wrap{
  margin-left: 0;
}
.vip-item-dropDown{
  .ant-dropdown-menu-item{
    font-size: 14px;
    color: @primary-font-color;
    &.ant-dropdown-menu-item-selected{
      color: #108ee9;
    }
  }
}
