.recommend-customer-list.right-pannel-default{
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .recommend-clue-panel{
    .recommend-customer-top-nav-wrap{
      overflow: hidden;
      padding: 15px 0 0 24px;
      .close-pannel {
        margin-top: 4px;
        float: right;
    }
  }
  }

}