.clue-to-customer-panel {
    .icon-phone-call-out-tip {
        color: #EFA246;
    }
    .clue-will-disappear-tip {
        background: #fff;
        height: 32px;
        line-height: 32px;
        font-size: 0 12px 12px;
        padding: 0 8px;
        margin-top: 8px;
        border-radius: 4px;
        .tip-content {
            margin-left: 8px;
            color: #333;
        }
        .no-longer-tips {
            float: right;
            color: #8DA8C5;
        }
    }
    .ant-btn {
        color: #8DA8C5;
    }
    .ant-btn-primary {
        margin-right: 15px;
        color:#fff;
    }
    .ant-btn-primary[disabled] {
        background-color: #d6d6d6;
        border-color: #d6d6d6;
        color:#fff;
    }
    .clickable {
        cursor: pointer;
    }
    .high-light {
        color: #EFA246;
    }
    .clue-mark {
        color: #49a9ee;
    }
    .customer-name {
        font-size: 16px;
        font-weight: bold;
    }
    .right-panel-modal-content .right-panel-content form .ant-form-item {
        padding-right: 0;
    }
    .right-panel-content {
        padding: 0 24px;
        font-size: 14px;
    }
    .customer-search {
        .ant-select {
            width: 435px;
            display: block;
            margin: 0 auto;;
        }
    }
    .customer-list {
        margin-right: -10px;
        .title {
            margin-bottom: 10px;
            .anticon-exclamation-circle {
                font-size: 15px;
                margin-right: 5px;
                color: #EFA246;
            }
        }
        .customer-item {
            position: relative;
            margin-bottom: 10px;
            margin-right: 10px;
            background: #fff;
            padding: 10px 15px;
            border-radius:8px;
            .customer-contacts {
                margin-top: 10px;
                .contact-item {
                    overflow: hidden;
                    .contact-name, 
                    .contact-phone {
                        float: left
                    }
                    .contact-phone {
                        margin-left: 10px;
                    }
                }
            }
            button {
                position: absolute;
                right: 15px;
                bottom: 8px;
            }
            button:hover {
                color: #fff;
                background-color: #108ee9;
                border-color: #108ee9;
            }
        }
        .btn-block {
            padding-right: 10px;
        }
        .merge-to-existing-customer-btn {
            color: #8da8c5;
            cursor: pointer;
            font-size: 14px;
            font-weight: normal;
            float: right;
            margin-right: 10px;
        }
    }
    .customer-merge {
        .contact-list-wrap {
            margin-top: 10px;
            overflow-y: auto;
            .contact-list {
                &>div:first-child {
                    margin-top: 0;
                }
            }
        }
        .contact-title {
            color: #333;
            .icon-contact-default {
                color: #8ea7c5;
                cursor: default;
                margin-right: 10px;
            }
            .icon-contact-default.is-default-contact {
                color: #2096f0;
                cursor: default;
                margin-right: 10px;
            }
        }
        .is-replace-contact-name {
            margin: 5px -12px -10px;
            padding: 5px 10px;
            overflow: hidden;
            background: #E4F2FE;
            line-height: 28px;
            button {
                float: right;
            }
        }
        .detail-card-container {
            float: none;
            border-radius: 4px;
            .contact-content {
                .ant-row {
                    margin-bottom: 10px;
                }
            }
        }
        .crm-pannel-contacts {
            overflow: hidden;
            border-radius: 4px;
            .button-container {
                display: none;
            }
            .detail-card-edit-status {
                padding-bottom: 0;
                box-shadow: none;
            }
            .folding-btn {
                font-size: 12px;
                color: #999;
            }
        }
    }
    .btn-block {
        overflow: hidden;
        margin-top: 20px;
        button {
            float: right;
        }
    }
    .load8 {
        margin-left: -36px;
    }
    .crm-add-form {
        .icon-up-twoline,
        .icon-down-twoline,
        .contact-sex-item,
        .contact-birthday-item,
        .contact-hobby-item,
        .contact-remark-item {
            display: none;
        }
    }
}
