.right-panel .right-panel-content {
    .app-property-container-v3 {
        .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-ink-bar {
            height: 32px;
        }
        .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
            margin-right: 9px;
            font-size: 14px;
            margin-bottom: 8px;
            padding: 4px 4px !important;
        }
        .app-role-permission {
            padding-left: 0;
        }
        .ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
            padding-left: 4px;
        }
        .app-role-permission .app-role-permission-permission {
            margin-left: 10px;
        }
    }
}