@import "../../../public/css/common-variables";
@import "../../../public/sources/page-frame/index-zh_CN.less";
.user-basic-edit-field {
  margin-top:-2px;

  //&.user-basic-edit-field-input {
  //  .ant-input {
  //    height:24px !important;
  //  }
  //}

  .ant-input {
    padding-top:3px;
    padding-bottom:3px;
    width:260px;
  }
  .inline-block {
    display:inline-block;
    vertical-align:middle;
  }
  @color:#b6c2c9;
  .icon-update {
    margin: 0 0 0 10px;
    cursor:pointer;
    .handle-btn-item;
  }
  form {
    position:relative;
    display:table;
    &:after {
      content : " ";
      clear:both;
    }
    &>div {
      float:left;
    }
    .icon-choose {
      padding: 5px 5px 2px 5px;
    }
    .icon-close {
      padding: 5px 5px 2px 5px;
    }
    .ant-form-explain {
      float:none;
    }
  }
  .buttons {
    float:left;
    width:48px;
    position:relative;
    z-index:1;
    text-align:right;
  }
  .ant-form-item {
    width:auto !important;
    margin-bottom:0 !important;
  }
  .anticon-loading {
    margin-right: 3px;
    margin-top: 3px;
  }
  .ant-pwd-strength {
    margin-bottom:-20px;
  }
}
#basic-edit-select-wrap{
  position: relative;
}