.user-basic-edit-field{
  .date-wrap{
    overflow: hidden;
    .ant-calendar-picker{
      float:left;
      .ant-input{
        width: auto;
      }
    }
  }
  .has-error{
    margin-top:5px;
  }
}