@import "../../../public/css/common-variables.less";

.office-container {
  padding: 16px 0 16px 24px;
  .office-content {
    .load8 {
      transform: scale(0.5, 0.5);
      .loader8 {
        border-left-color: #394144;
        position: absolute;
        left: -30px;
      }
    }
    .office-list {
      .delete_ip_config_err_tips {
        margin-right: 24px;
        .alert-timer {
          .ant-alert-error {
            border: none;
            background-color: #E4F2FE;
            width: auto;
            .ant-alert-message {
              color: #EB5E57;
            }
          }
          .ant-alert-no-icon {
            padding-left: 24px;
          }
        }
      }
      .item-office-container {
        cursor: pointer;
        margin-right: 16px;
        min-height: 32px;
        font-size: 14px;
        .item-office-content {
          padding: 0 8px;
          .icon-team-role {
            padding-right: 8px;
          }
          .item-text {
            padding-right: 8px;
          }
          .default-role-checked{
            color: @secondary-font-color;
            border: 1px solid @secondary-font-color;
            font-size: 12px;
          }
          .customer-container {
            display: inline-block;
            color: @secondary-font-color;
            font-size: 12px;
            float: right;
            width: auto;
            .customer-count, .icon-more {
              padding-left: 5px;
            }
            .icon-more {
              color: @primary-color;
              cursor: pointer;
            }
          }
          .delete-zone {
            display: inline-block;
            float: right;
            cursor: pointer;
            .delete-position {
              color: #EB5E57;
              padding-right: 10px;
            }
            .cancel-delete {
              color: @secondary-font-color;
            }
          }
        }
        &:hover{
          background: #F1F8FE; // 悬停背景色
        }
      }
      .item-office-delete-container {
        background: #FBDFDD;
        &:hover{
          background: #FBDFDD;
        }
      }
      .item-selected {
        background: #E4F2FE; // 选中背景色
      };
    }
  }

  // 增加职务样式
  .add-office-container {
    margin-right: 24px;
    font-size: 14px;
    .add-office {
      color: @secondary-color;
      height: 32px;
      cursor: pointer;
      .name-label {
        padding-left: 6px;
      }
    }
  }
  // 表单样式
  .edit-item-or-add-zone {
    .office-form {
      padding: 8px;
      min-height: 128px;
      background: #E4F2FE;
      border-radius: 4px;
      .ant-form-item {
        margin-bottom: 5px;
        .ant-input-number {
          width: 160px;
        }
        .ant-form-item-label label {
          color: @secondary-font-color;
          font-size: 14px;
          font-weight: 400;
          text-align: right;
        }
      }
      .office-btn {
        text-align: right;
        button {
          margin-right: 10px;
        }
      }
    }

  }
}

// 编辑职务、删除职务、设为默认的样式
.edit-office-popover {
  .ant-popover-content > .ant-popover-arrow{
    display: none;
  }
  .ant-popover-content {
    position: relative;
    top: -20px;
    right: -35px;
    .ant-popover-inner-content {
      padding: 0;
      .office-operation-zone {
        padding: 4px 0;
        cursor: pointer;
        color: @secondary-color;
        font-size: 14px;
        .iconfont {
          padding-right: 5px;
        }
        .operation-item-zone {
          height: 32px;
          padding: 4px 16px 0 16px;
          .setting-default {
            padding-left:20px;
          }
          &:hover {
            color: @primary-color;
            background-color: #F1F8FE;
          }
        }
      }
    }
  }
}