.curtao-analysis {
    .top-bar {
        height: 64px;
        .btn-item {
            float: right;
            margin-top: 17px;
            &>div {
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
            }
        }
    }
    .analysis-menu {
        cursor: pointer;
        .active {
            color: blue;
        }
    }
    .page-top-bar {
        overflow: hidden;
        .app-selector {
            margin: 10px;
        }
    }
}

#app .curtao-analysis .ant-table {
    .ant-table-fixed-left .ant-table-fixed {
        th,td {
            border-right: 1px dashed #edf1f2 !important;
        }
    }
    td.clickable {
        cursor: pointer;
    }
}
