.curtao-analysis {
    .top-bar {
        height: 64px;
        .btn-item {
            float: right;
            margin-top: 17px;
            &>div {
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
            }
        }
    }
    .analysis-menu {
        cursor: pointer;
        .active {
            color: blue;
        }
    }
    .page-top-bar {
        overflow: hidden;
        .app-selector {
            margin: 10px;
        }
    }
}
