.audio-player-wrap{
  audio {
    display: block;
    margin: 6px auto;
  }
  .iconfont.icon-close {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 10px;
  }
  //上报客服电话的样式
  .report-wrap{
    font-size: 14px;
    margin-left:42px;
    .report-button{
      color:#4285F4;
      cursor: pointer;
      margin-left: 10px;
      span{
        margin-right: 10px;
      }
    }
    .alert-timer{
      div.ant-alert{
        width: 200px;
        position: absolute;
        right: -200px;
        padding-right: 10px;
        top:30px;
      }
    }
  }
}