/*线索分配样式*/
@import "../../../../public/css/common-variables";

.clue-assignment-container{
  padding: 12px;
  background: #fff;
  //添加策略顶部按钮部分
  .add-clue-assignment-top {
    .add-clue-assignment-btn {
      .add-btn-item {
        font-size: 14px;
      }
    }
  }
}