/*线索分配样式*/
@import "../../../../public/css/common-variables";
@white: #fff;

.clue-assignment-container{
  margin: 12px;
  .clue-assignment-content {
    height: 100%;
    width: 100%;
    background: @white;
    .load8 {
      left: 54%;
    }
    //添加策略顶部按钮部分
    .add-clue-assignment-top {
      padding: 24px;
      height: 80px;
      border-bottom: 1px solid #E5E5E5;
    }
    //错误信息展示
    .err-content {
      padding-top: 260px;
      font-size: 20px;
      color: #cecece;
      text-align: center;
      .icon-data-error, .icon-no-data {
        font-size: 96px;
      }
      .abnornal-status-tip {
        text-align: center;
        color: @secondary-font-color;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
  //添加分配策略按钮
  .add-btn-item {
    height: 32px;
    vertical-align: middle;
    color: @secondary-color;
    border-radius: 4px;
    border-color: #DEDFE2;
    &:hover {
      color: #09a9fe;
      border-color: #09a9fe;
    }
    .anticon-plus {
      font-size: 16px;
    }
    .add-btn-char{
      font-size: 16px;
      margin-left: 0.5em;
      display: inline-block;
      height: 20px;
    }
  }
}