@import "../../../../public/css/common-variables";
// 提取线索
.extract-clue-panel.right-pannel-default {
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .extract-clue-panel {
    .extract-clue-top-nav-wrap {
        padding-left: 16px;
    }
    .extract-clue-content-container {
      margin-top: 48px;
      border-top: 1px solid #DEDFE3;
    }
    .close-pannel {
      margin-top: 4px;
      float: right;
    }
  }
}
