
.more-click {
    margin-left: 5px;
    color: #5EACF0!important;
    cursor: pointer;
}

.less-container {
    display: inline-block;
    word-break: break-all;
    .less-click {
        margin-left: 5px;
    }
}
