.oplate_user_analysis {
  padding:84px 45px 0 42px;
  .daterangepicker {
    float:right;
    margin-top:11px;
  }
  .analysis-app-selector {
    float:left;
  }
  .chart_form {
    position:relative;
    z-index:2;
    border-bottom:1px solid #edf1f2;
    height:62px;
    .ant-alert {
      display:inline-block;
      margin-top:11px;
      vertical-align:middle;
    }
  }
}