//带遮罩层和关闭按钮的右侧面版样式
@add-form-borer: 1px solid #dedfe1;
@panel-width: 480px;
@panel-bg-color: #f5f5f5;
@font-color: #999999;
//遮罩层的样式
.right-panel-modal.show-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
//没遮罩层时的样式
.right-panel-modal:not(.show-modal){
  width: 504px;
  background-color: transparent;
}
.right-panel-modal {
  position: fixed;
  z-index: 111;
  //关闭按钮
  .close-modal-btn {
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: @panel-width;
    text-align: center;
    cursor: pointer;
  }
  //右侧面板的宽度和背景
  .right-panel-modal-content {
    position: fixed;
    right: 0;
    height: 100%;
    width: @panel-width;
    overflow: hidden;
    top: 0;
    z-index: 111;
    background-color: @panel-bg-color;
    box-shadow: -4px 0 20px #cac8c8;
    //标题的样式
    .right-panel-modal-title {
      padding: 24px;
      background-color: #ffffff;
      border-bottom: @add-form-borer;
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 24px;
      .panel-title {
        font-size: 16px;
      }
      .op-btn {
        float: right;
        font-size: 14px;
        font-weight: normal;
        color: #8DA8C5;
        cursor: pointer;
      }
    }
    form {
      .ant-form-item {
        width: 100%;
        margin-bottom: 12px;
        padding-right: 20px;
        font-weight: normal;
        .ant-form-item-label label{
          margin-bottom: 0;
          font-size: 14px;
          font-weight: normal;
          color: @font-color;
        }
        .ant-input, .ant-select {
          width: 100%;
          font-size: 14px;
          color: @font-color;
        }
      }
    }
  }
}
//右侧面板手机端样式
.right-panel-modal.right-panel-modal-mobile{
  .right-panel-modal-content{
    width: 100%!important;
    .right-panel-modal-title{
      padding-left: 48px!important;
    }
    //关闭按钮
    .mobile-close-btn{
      color: #8ea9c4;
      border-radius: 0!important;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      top: 23px;
      left: 24px;
      z-index: 1;
    }
  }
}