/*引入公共变量*/
@import '../../../../../../../public/css/bootstrap-variables';
@import '../../../../../../../public/css/common-variables';
@import '../../../../../../../components/antd-table-pagination/index.less';
@import '../../../../../../../components/ModalDialog/modalDialog-zh_CN.less';

@apply-top-height: 64px; //头部的高度

.right-pannel-default {
  .user_manage_userform {
    .customer_searchbox_wrap .has-error {
      padding-top: 7px;
    }
    //添加loading状态
    .anticon-loading {
      color: #394144;
      font-size: 16px;
      margin: 0 0 0 5px;
      vertical-align: -2px;
    }
    .customer_choosen {
      display: inline-block;
      margin-top: 4px;
      cursor: pointer;
      background-color: #f3f3f3;
      &:hover {
        background-color: darken(#f3f3f3, 5%);
      }
      border-radius: 4px;
      overflow: hidden;
      padding: 3px 10px 3px 10px !important;
      & > span {
        vertical-align: middle;
      }
      .iconfont {
        display: inline-block;
        vertical-align: middle;
        font-family: anticon !important;
        &:before {
          content: "\E62D";
        }
        transform: scale(.66666667) rotate(0deg);
        text-transform: none;
        text-rendering: auto;
        zoom: 1;
        filter: none;
      }
    }
    .txt {
      color: #666;
      padding-top: 7px;
    }
    .userform_error_tip {
      color: @error_tips_color;
      padding-top: 7px;
    }
    .ant-form-item {
      width: auto;
      margin-right: 12px;
      padding: 0 0 0 12px;
    }
    .ant-form-item > label {
      text-align: left;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .ant-input-number-input {
      border: none !important;
      height: 28px !important;
    }
    form .ant-input-number {
      margin-top: 3px;
    }
    form .ant-form-item .ant-select-selection--single .ant-select-selection__rendered {
      line-height: 32px;
    }
    .app-selector-nodata {
      color: #666;
      padding: 8px 0 0 0;
    }
    .ant-form-item .ant-radio-group {
      padding-top: 7px;
    }
  }
  .user_manage_userform, .user-detail-add-app, .user-detail-edit-app {
    .form_btns {
      position: fixed;
      height: 67px;
      bottom: 0;
      left: 28px;
      right: 28px;
      background: #e6edef;
      border-top: 1px solid #cfd8d7;
      .pull-left {
        padding-top: 20px;
        color: #b2bdbf;
      }
    }
  }

  .user_manage_userform, .form_btns {
    .indicator {
      position: absolute;
      width: 200px;
      top: 15px;
      left: 50%;
      text-align: center;
      margin-left: -125px;
      .anticon-loading {
        font-size: 18px;
      }
    }
    .ant-alert {
      display: inline-block;
    }
  }

  .user_manage_userform, .addapp_minor_items, .editapp_minor_items {
    .ant-radio + span {
      color: #5d5d5d;
      font-weight: normal;
    }
    .icon-arrow-up, .icon-arrow-down {
      display: none;
      position: absolute;
      right: 10px;
      top: 2px;
      color: #000;
      cursor: pointer;
    }
    .ant-calendar-picker-icon {
      display: none;
    }
    .ant-calendar-picker-open {
      opacity: 1;
    }
    .customdate {
      .icon-arrow-up, .icon-arrow-down {
        display: block;
        pointer-events: none;
      }
      .ant-input {
        cursor: pointer;
      }
    }
    .ant-radio-group label {
      cursor: pointer;
      min-width: 50px;
    }
  }

}

.user_manage_user_detail_wrap {
  font-size: 0;
  transition: transform 0.5s ease;
  transform: translateX(0);

  &.move_left {
    transform: translateX(-700px);
  }

  .full_size {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
  }
  .user-customer {
    margin-top: -5px;
  }
}

.user_apply_page {
  .none {
    display: none;
  }
  .global_filter_adv {
    position: relative;
    z-index: 10;
    .filter_roles_loading {
      .anticon {
        font-size: 16px;
      }
    }
    .filter_roles_error {
      .ant-alert-error {
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        display: inline-block !important;
      }
      li {
        cursor: auto;
      }
      dt {
        padding-top: 2px;
      }
      a {
        margin-left: 5px;
      }
    }
    .filter_teams_loading {
      .anticon {
        font-size: 16px;
      }
    }
    .filter_teams_error {
      .ant-alert-error {
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        display: inline-block !important;
      }
      li {
        cursor: auto;
      }
      dt {
        padding-top: 2px;
      }
      a {
        margin-left: 5px;
      }
    }
  }
  //.user_apply_contentwrap{
  //padding:25px @container_padding 25px @container_padding;

  .status {
    display: inline;
    margin: 0 0 0 30px;
  }

  .summary_info {
    font-size: 13px;
    color: #7c8185;
    position: fixed;
    bottom: 43px;
  }
  .user-list-thead tbody {
    display: none;
  }
  .user-list-thead .ant-table-body {
    border-bottom: 0;
  }
  .user-list-tbody .ant-table-body {
    height: auto;
    border-bottom: none;
  }
  .user-list-tbody .ant-table-placeholder {
    top: auto;
  }
  .user-list-tbody {
    //下拉加载失败后，提示的样式
    .scroll-loading-data-error {
      text-align: center;
      padding: 5px 0;
      line-height: 20px;
      a {
        font-size: 14px;
      }
    }
    .operate-style, .operate-detail-style {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      word-wrap: initial;
      width: 90%;
      display: inline-block;
    }
    .operate-detail-style {
      cursor: text;
    }
    .show-copy-icon {
      display: none;
    }
    .operate-detail:hover {
      .show-copy-icon {
        display: inline-block;
        width: 10%;
        color: #2db7f5;
        position: relative;
        bottom: 3px;
      }
    }
  }
  .user-list-thead .ant-table-placeholder {
    display: none;
  }
  .user-list-thead .ant-table-body {
    height: auto;
  }
  .user-list-thead .ant-table-empty {
    margin-bottom: 0;
  }
  .ant-table td, .ant-table th {
    padding: 8px 4px;
  }
  .ant-table td {
    color: #6e7377;
  }
  .ant-table .app_ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ant-table td .light_color {
    color: #adb1b2;
  }
  .ant-table td li {
    margin-bottom: 10px;
  }
  .ant-table td li:last-child {
    margin-bottom: 0;
  }

  //}

}

//用户审批
.apply_manage_wrap {
  .nodata-msg-block {
    margin: 50px auto 0 auto;
    a {
      text-decoration: underline;
    }
  }
}



.my-work-detail-panel {
  .app_user_manage_apply_detail_wrap {
    .delay_detail_apps {
      .apply_detail_operate {
        cursor: pointer;
        top: 2px !important;
      }
    }
    .app-property-custom-settings{
      .app-property-other-property {
        padding-bottom: 10px;
        margin-top: 0;
        .form-item {
          display: flex;
          height: 40px;
          .form-item-label {
            text-align: end;
            width: 60px;
            padding: 14px 10px 0 0;
          }
          .form-item-content {
            padding-left: 0;
            .user-time-rangefield-block {
              .user-opening-daterange {
                .range_wrap {
                  min-width: 70px ;
                  padding: 8px 4px;
                }
                .date_text_wrap {
                  padding: 8px 3px;
                }
              }

            }
          }
        }
      }
      .app-role-permission {
        padding-left: 0;
      }
    }
  }
}

.app_user_manage_apply_list_loading, .app_user_manage_apply_list_error, .app_user_manage_detail_loading, .app_user_manage_detail_error {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  position:absolute;
  z-index: 1;
  .ant-alert-error, .ant-alert-message, .ant-alert-info {
    display: inline-block;
  }
}

.apply-filter-menu-list {
  .ant-dropdown-menu-item {
    font-size: 14px;
  }
  .ant-dropdown-menu-item a:hover {
    color: #57c5f7;
  }
}
//申请审批详情宽度设置
.historical-detail-panel:not(.show-modal) {
  width: calc(@apply-detail-width + 24px);

  .close-modal-btn{
    right: @apply-detail-width;
  }
}
.historical-detail-panel{
  .right-panel-modal-content{
    width: @apply-detail-width;
  }
}

.app_user_manage_apply_list_wrap, .app_user_manage_apply_detail_wrap {
  padding-left: 0;
  padding-right: 0;
}
