#chatBtn {
  display: none !important;
}

@icon-width: 48px;
.side-bar-content .side-bar {
  width: @icon-width;
  position: fixed;
  bottom: 40%;
  right: 24px;
  z-index: 99999
}

.side-bar-content .side-bar .single-bar-box {
  height: 60px;
  width: @icon-width;
  background-color: #19CAA6;
  margin: 0 auto 8px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.side-bar-content .side-bar .iconfont {
  width: @icon-width;
  height: 44px;
  display: block;
  font-size: 32px;
  border-radius: 0px !important;
  cursor: pointer;
}

.side-bar-content .side-bar .single-bar-label {
  font: 12px "SimHei";
  display: block;
}

.side-bar-content .weixin {
  display: block;
  position: fixed;
  bottom: 40%;
  right: 94px;
  height: 100px;
  margin-bottom: 36px;
}

.side-bar-content .weixin-hide {
  display: none;
}
