@import "../../../public/css/common-variables";
.approval_block {
  height: 48px;
  overflow: hidden;
  .ant-form-item-control textarea {
    resize: none;
  }
  .approval_text {
    padding-top: 15px;
    padding-bottom: 0;
    line-height: 24px;
    font-size: 16px;
    color: #506470;
  }
  .pass-and-reject-wrap{
    display: inline;
  }
  button.ant-btn-sm{
    margin-left: 10px;
    @basiccolor:#4d96d1;
    @hovercolor:#478ebf;
    border-color:@basiccolor;
    background-color:@basiccolor;
    color:#fff;
    &:hover{
      border-color:@hovercolor;
      background-color:@hovercolor;
    }
  }
  .approval_person {
    line-height: 22px;
    color: @secondary-font-color;
    .alert-timer{
      position: absolute;
      right: 150px;
      bottom:-10px;
    }
    .col-3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}