/**
 * 运营报告样式文件
 */

.operation-report-container{
  padding-top:76px;
  .operation-report-content{
    padding:20px 20px 10px 50px;
    .report-item{
      display:inline-block;
      width: 100%;
      h4{
        padding-bottom:10px;
      }
      .report-chart-placeholder{
        float:left;
        width:100%;
      }
      .report-chart-container.one-chart-full-width{
        width:100%;
      }
      .report-chart-container{
        float:left;
        width:100%;
        padding:10px 10px 30px 10px;
        .chart-descr{
          padding-bottom:5px;
        }
        .report-chart{
          border:1px solid #f4f6f7;
          min-height:300px;
          .report-chart-title{
            color:#62696f;
            line-height:18px;
            font-size:14px;
            padding-top:10px;
            text-align:center;
          }
          .analysis_composite_line_chart{
            position:relative;
          }
          //隐藏日活、周活、月活的选择按钮
          .ant-radio-group{
            display:none;
          }

          //表格样式的设置
          .team-login-table{
            .team-table-head{
              .ant-table-placeholder, .ant-table-tbody{
                display:none;
              }
              .ant-table-empty{
                margin-bottom:auto;
                .ant-table-body{
                  height:auto;
                  border-bottom:none;
                }
              }
            }
            .team-table-body{
              .ant-table-header, .ant-table-thead{
                display:none;
              }
            }
          }
        }
      }
    }
  }
}

//已选择的应用从下拉列表中隐藏
.ant-select-dropdown{
  .app-options-selected{
    display:none;
  }
}
