@import "../../public/css/common-variables";
.saved-tips-wrap {
  .saved-tips-content {
    border: 1px solid #E5E5E5;
    padding: 8px;
    background-color: #fff;
    width: auto;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px;
    .iconfont {
      padding: 8px;
    }
    .icon-add-success {
      color: #28af6a;
    }

    .icon-saved-error-tips {
      color: @warn-color;
    }

    .tips {
      color: @primary-font-color;
      font-size: 14px;
      padding-right: 16px;
    }
  }
}
