/**
* 线索集成样式
**/
.integrate-clue-list-container {
    padding: 12px;
    .integrate-clue-list-content-wrap {
        background: #fff;
        padding: 24px;
        .integrate-list-wrap{
            overflow: hidden;
            .integrate-list-container{
                float: left;
                font-size: 16px;
                margin-right: 20px;
                .anticon-copy{
                    visibility: hidden;
                }
                .integrate-content p:hover{
                    .anticon-copy{
                        visibility: visible;
                    }
                }

            }
        }
    }
}