@analysisCardHeadHeight: 30px; //分析字段卡片头部高度
@analysisCardBodyHeight: 120px;
.ant-card.ant-card-bordered {
    display: inline-block;
}

.contract-analysis-container {
    .dashboard-content {
        min-width: 980px;
    }
    .table-container {
        height: 100vh;
        background-color: white;
        padding-top: 10px;
        .title-wrapper {
            padding-left: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            .table-title {
                width: 200px;
                display: table-cell;
                vertical-align: bottom;
            }
        }
        float: left;
        .alert-timer {
            padding: 30px 20px 20px 20px;
        }
    }
}

.filter-panel-wrapper {
    background-color: white;
    .ant-card {
        border: 1px solid #eee;
        border-radius: 0;
    }
    .filter-btn-bar {
        float: right;
    }
    .filter-container {
        line-height: 30px;
        padding: 10px;
        padding-bottom: 6px;
        .ant-select {
            margin-bottom: 3px;
        }
    }
    .field-container {
        .ant-card-body {
            padding: 0;
            overflow-y: scroll;
            // height: calc(~"100vh - 476px");
            min-height: 100px;
            ul>li.drag-item {
                border-bottom: 1px solid #eee;
                line-height: 1.8;
                font-size: 13px;
                padding: 2px 8px;
                position: relative;
                &:hover {
                    cursor: pointer;
                }
                span {
                    display: block;
                    text-overflow: clip;
                    white-space: nowrap;
                    overflow: hidden;
                }
                i {
                    font-size: 12px;
                    color: #ccc;
                    right: 3px;
                    top: 8px;
                    position: absolute;
                    background-color: white;
                }
            }
        }
        .field-item {
            line-height: 1.8;
            font-size: 13px;
            border-bottom: 1px solid #ccc;
        }
        .drag-source-wrapper {
            .drag-source-container {
                height: 600px;
            }
        }
        .analysis-zone {
            margin-top: 10px;
            overflow: hidden;
            .ant-card {
                border-bottom: 2px solid #eee;
                width: 50%;
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: -4px;
                }
            }
            .ant-card-head {
                height: @analysisCardHeadHeight;
                line-height: @analysisCardHeadHeight;
            }
            .ant-card-body {
                height: @analysisCardBodyHeight;
                overflow-y: auto;
            }
            ul {
                width: 100%;
                height: 70px;
            }
        }
    }
    .all-field-container {
        height: calc(~"100vh - 451px");
        display: inline-block;
        width: 100%;
        min-width: 150px;
        min-height: 149px;
        margin-right: 15px;
        border-bottom: 2px solid #eee;
        margin-bottom: 0;
        padding-bottom: 3px;
        p.filter-title {
            margin-right: 5px;
            float: left;
            font-size: 13px;
            line-height: 2.3;
            width: 100px;
            text-align: right;
        }
        .filter-content {
            float: left;
            input.ant-input-number-input {
                height: 24px;
            }
        }
        .ant-card {
            border-left: none;
        }
        .ant-card-body {
            height: calc(~"100vh - 500px");
            padding: 0;
            overflow-y: scroll;
            min-height: 100px;
        }
    }
}

.filter-selector-container {
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 9px;
    padding-left: 10px;
    .filter-container {
        display: inline-block;
        min-width: 150px;
        margin-right: 10px;
        p.filter-title {
            float: left;
            font-size: 12px;
            line-height: 2.6;
            margin-right: 5px;
            text-align: left;
        }
        .filter-content {
            float: left;
            input.ant-input-number-input {
                height: 24px;
            }
        }
        .ant-card-body {
            padding: 0;
            overflow-y: scroll;
            min-height: 100px;
        }
    }
}

.table-content-wrapper {
    border-top: 1px solid #eee;
    .alert-timer {
        border-top: 1px solid white;
        margin-top: -1px;
    }
}

.table-content-container {
    background-color: white;
    overflow: auto;
    padding: 10px;
    width: 100%;
    .value-list-container {
        padding: 6px 5px;
    }
    table.analysis-table {
        tr {
            td {
                border: 1px solid #eee;
                padding: 3px;
            }
        }
    }
}

.table-list-container {
    border-right: 3px solid #eee;
    background-color: white;
    text-align: center;
    min-height: 500px;
    button {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    ul {
        padding: 0;
        background-color: white;
        border-top: 1px solid #eee;
        text-align: left;
        li {
            cursor: pointer;
            line-height: 2;
            padding: 5px 10px 0 10px;
            font-size: 13px;
            &:hover {
                color: #108ee9;
            }
            &.selected {
                color: #108ee9;
                background-color: #ecf6fd;
            }
        }
    }
}