@import "../../public/css/common-variables.less";
.analysis-menu {
  margin-left:-13px;
  .glyphicon {
    color:#d2d2d2;
    font-size:12px;
    margin-left:3px;
  }
  display:inline-block;
  vertical-align:middle;
  padding:@filter_area_margin_top + 6 30px @filter_area_margin_top @container_padding;
  height:@top_nav_height;
  overflow:hidden;
  border-right:1px solid #e8ecee;
  font-size:14px;
  .ant-dropdown-link {
    font-size:14px;
    color:#2b4352;
  }
}
.analysis-menu-dropdown {
  left:-16px;
  .ant-dropdown-menu-item > a {
    padding:7px 28px 7px 15px;
    color:#b6c2c9;
    font-size:14px;
    &.active {
      color:#2b4352;
    }
  }
}