.user_online_analysis_chart {
  padding:0 32px 0 43px;
  header {
    p {
      margin:20px 0 9px 0;
      font-size:14px;
      color:#464b4e;
      line-height:24px;
      padding:0 0 0 4px;
    }
    height:54px;
    overflow:hidden;
    border-bottom:1px solid #d8dfe5;
  }
  .chart_section {
    max-width:100%;
    overflow:hidden;
    p {
      font-size:14px;
      color:#505559;
      line-height:24px;
    }
    .dl-horizontal {
      @margin:273px;
      dt {
        width: @margin;
        height:230px;
        font-weight:normal;
      }
      dd {
        margin-bottom:-20px;
        margin-left:@margin;
        margin-right:-70px;
      }
    }
  }

  .chart_section:nth-of-type(1) {
    margin:28px 0 0 0;
  }
  .chart_section:nth-of-type(2) {
    margin:22px 0 0 0;
    p {
      margin-bottom:10px;
    }
  }

  .analysis_pie_chart {
    min-height:230px;
    position:relative;
    .chart {
      width:273px;
      height:230px;
    }
    .load8 {
      transform:scale(0.5,0.5);
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      right:0;
      left:0;
    }
    .nodata {
      position:absolute;
      width:100px;
      height:30px;
      margin:auto;
      font-size:16px;
      top:0;
      bottom:0;
      right:0;
      left:0;
      text-align:center;
    }
    .ranklist {
      width:165px;
      margin-right:70px;
      margin-bottom:20px;
      float:left;
      em,b,span {
        display:inline-block;
        vertical-align:middle;
        font-weight:normal;
      }
      em {
        width:12px;
        height:12px;
      }
      li:first-child {
        border-bottom:1px solid #c6ced1;
        padding:0 0 8px 9px;
        margin:6px 0 0 0;
        line-height:22px;
        color:#545c5f;
        em {
          border-radius: 0;
        }
      }
      li {
        cursor:pointer;
        em {
          border-radius:50%;
        }
        span {
          margin-left:6px;
          width:73px;
        }
        b {
          margin-left:6px;
        }
        margin:5px 0 0 0;
        padding:0 0 0 9px;
        line-height:23px;
        color:#7f8386;
      }
    }
  }


  .analysis_bar_chart {
    margin-bottom:37px;
    .chart,.loadwrap {
      position:relative;
    }
    .nodata {
      position:absolute;
      width:100px;
      height:30px;
      margin:auto;
      font-size:16px;
      top:0;
      bottom:0;
      right:0;
      left:0;
      text-align:center;
      transform:translate(10px,0);
    }
    .load8 {
      transform:scale(0.5,0.5);
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      right:0;
      left:0;
    }

  }

  .echarts-tooltip {
    padding:0 !important;
    background-color:rgba(22,22,22,0.7) !important;
    width:180px;
    overflow:hidden;
    color:#fff !important;
    font-size:12px;
    text-align:left;
    .tooltip-title {
      color:#fff;
      em {
        display:inline-block;
        vertical-align:middle;
        width:12px;
        height:12px;
        background:#8d7a4e;
        margin-right:6px;
        font-weight:normal;
        font-style:normal;
      }
      span {
        display:inline-block;
        vertical-align:middle;
      }
      padding:6px 0 6px 6px;
    }
    .content {
      line-height:18px;
      padding-left:24px;
      padding-bottom:8px;
    }

  }

}