.user_online_analysis_list {
  .ant-alert-info {
    display:inline-block;
    margin:20px 0 0 33px;
  }
  padding-top:76px;
  .first-loading .loader8{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .user_online_analysis_list_content {
    margin-top:40px;
    padding:0 51px;
  }
  ul.list {
    font-size:0;
    margin-top:-24px;
  }
  ul.list li {
    width:386px;
    height:279px;
    padding-top:24px;
    padding-right:20px;
    display:inline-block;
    font-size:12px;
    .col-xs-6,.col-xs-4,.col-xs-6 {
      padding-left:0;
      padding-right:0;
    }
    @imgsize:78px;
    .img-logo-wrap img {
      width:@imgsize;
      height:@imgsize;
      border-radius:50%;
    }
    .no-user-logo-div {
      width:@imgsize;
      height:@imgsize;
      line-height: @imgsize;
    }
    .app-logo {
      padding:23px 0 0 24px;
    }
    .header {
      height:110px;
      overflow:hidden;
      border-bottom:1px solid #f1f1f1;
    }
    .footer {
      padding-top:3px;
    }
    .col-xs-6 {
      margin-top:21px;
      line-height:22px;
      color:#78797b;
      padding-left:16px;
      span {
        margin-left:9px;
      }
    }

    .anticon-ellipsis {
      font-size:26px;
      font-weight:bold;
      color:#a2a2a2;
    }
    .more {
      padding:14px 18px 0 0;
      text-align:right;
    }
    .app-desc {
      padding:23px 0 0 7px;
      p {
        font-size:26px;
        line-height:40px;
        white-space:nowrap;
        text-overflow: ellipsis;
        color:#5c95a6;
        width:100%;
        overflow:hidden;
      }
      em {
        display:block;
        font-style:normal;
        font-weight:normal;
        font-size:13px;
        color:#9a9e9f;
        line-height:37px;
        padding-left:2px;
      }
    }

  }
  ul.list li .list-item-content {
    border:1px solid #f3f3f3;
    cursor:pointer;
  }
  ul.list li {
    width: 25%;
  }
  @media(max-width: 1599px) {
    ul.list li {
      width: 33.33333333%;
    }
  }
  @media(max-width: 1240px) {
    ul.list li {
      width: 50%;
    }
  }
  @media(max-width: 880px) {
    ul.list li {
      width: 100%;
    }
  }

  .ant-pagination-wrap {
    padding:16px 69px 40px 0;
  }
  .ant-pagination {
    float:right;
  }
  .anticon-loading {
    float:right;
    margin:4px 20px 0 0;
    font-size:18px;
  }
}