//自定义下拉菜单的样式处理
.ant-dropdown-menu {
  .dropdown-li {
    display: inline-block;
    width: 100%;
    padding: 10px;
  }
  .custom-dropdown-title-container {
    height: 40px;
    .dropdown-title {
      float: left;
      font-size: 14px;
      font-weight: bold;
    }
    .dropdown-btn-container {
      float: right;
      .un-select-data-tip{
        color: #f43631;
        vertical-align: text-bottom;
      }
      .icon-close, .icon-choose {
        margin-left: 10px;
        cursor: pointer;
      }
      .icon-close {
        color: #f43631;
        &:hover {
          color: #b50e0a;
        }
      }
      .icon-choose {
        color: #4dbe50;
        &:hover {
          color: #2c792e;
        }
      }

    }
  }
}