.schedule-list-content{
  overflow: hidden;
  #expire-list-content{
    float: left;
    width: 25%;
    //margin: 15px 10px 0 0;
    //padding: 15px 10px 0 0;
    padding: 10px 0;
    background: rgba(222,223,227,0.5);
    //过期日程标题
    .expire-list-title{
      font-size: 24px;
      border-bottom: 1px solid #aaa;
      height: 30px;
      line-height: 30px;
      color: #636768;
      margin: 0px 16px 0 16px;
    }
    //过期日程内容
    .expire-list-content{
      font-size: 14px;
      .is-loading-schedule-list{
        .load8 {
          transform: scale(0.5, 0.5);
          height: 36px;
          .loader8 {
            border-left-color: #394144;
          }
        }
      }
      .is-loading-schedule-list.show-spinner{
        margin-top: 200px;
      }
      .list-container{
        .list-item{
          margin: 0px 16px 16px 16px;
          background: #fff;
          //标题的样式
          .item-title{
            height: 26px;
            line-height: 26px;
            padding: 0px 15px;
            overflow: hidden;
            color:#fff;
            background: #F9AC58;
            font-size: 14px;
          }
          .item-customer-content{
            padding: 0px 0 0 10px;
            height: 50px;
            line-height: 50px;
            span{
              font-weight: 500;
              font-size: 16px;
              cursor: pointer;
            }
          }
          .item-schedule-content{
            background: #F7F7F9;
            padding: 10px;
            font-size: 14px;
            >span{
             display: block;
              .label{
                font-size: 14px;
                font-weight: normal;
                color:#94AEC8;
              }
            }
          }
          .item-handle-content{
            height:43px;
            line-height: 43px;
            padding: 0px 0 0 20px;
          }
        }
        .no-more-data-tip{
          margin: 0px 16px;
          font-size: 12px;
          .anticon-info-circle{
            position: static;
            margin-right: 5px;
          }
        }
      }

    }
    .iconfont{
      padding-right: 10px;
      position: relative;
      top: 4px;
      font-size: 20px;
    }
  }
  #calendar{
    float: left;
    width:75%;
    padding:20px;
    .fc-time-grid-event.fc-short .fc-time:after{
      content:""
    }
    .fc-time-grid-event.fc-short .fc-time:before{
      content:""
    }
    .fc-time-grid-event.fc-short .fc-time span{
      display: inline-block;
    }
    .fc-title{
      margin: 0px 20px;
    }
    .handle-finish-btn{
      float: right;
      margin-right: 20px;
      background: #fff;
      color:#333
    }
    //设置字体大小
    //.fc-content,.fc-time,.fc-inner-content{
    //  font-size: 13px;
    //}
    .fc-toolbar.fc-header-toolbar{
      .fc-center{
        >div{
          position:relative;
          .fc-button{
            position:absolute;
            top:3px;
          }
          .fc-prev-button.fc-button{
            left: -40px;
          }
          .fc-next-button.fc-button{
            right: -40px;
          }
          .fc-today-button.fc-button{
            right: -120px;
          }

        }
      }
    }
    .iconfont{
      padding-right: 10px;
      position: relative;
      top: 4px;
      font-size: 20px;
    }
  };
  //在周视图时，只展示客户名称
  #calendar.weekView-calendar {
    .fc-time,.fc-inner-content,.handle-finish-btn{
      display: none;
    }
    .fc-title{
      margin: 0;
    }
  }
  //月视图
  #calendar.monthView-calendar{
    .fc-time,.fc-inner-content,.handle-finish-btn{
      display: none;
    }
    .fc-title{
      margin: 0;
    }
  }
  .fc-event.handle-schedule{
    background-color: #FBFBFB;
    color:#999;
    border-color:#FBFBFB;
  }
  //天视图
  #calendar .fc-view.fc-agendaDay-view .fc-body{
    display: none;
  }
  //天视图中日程列表样式
  .content-block{
    color:#666;
    border: 1px solid #dddddd;
    border-top: none;
    overflow: hidden;
    .dayagenda-schedule-list{
      font-size: 14px;
      cursor:pointer;
      .schedule-title{
        background: #F7F7F9;
        .timerange{
          padding-left: 10px;
        }
        .todo{

        }
        .content{

        }
      }
      //右侧日程列表
      .list-item{
        .list-item-content{
          border-bottom: 1px solid #e8e8e8;
          line-height: 1.5;

          //日程时间
          .schedule-time-range{
            padding-left: 10px;
            color:#8da8c5;

          }
          //日程联系的客户
          .schedule-customer-name{
            font-size:16px;
            color:#333333;

          }
          //日程联系内容
          .schedule-content{

          }
          //标记完成的按钮
          .schedule-content-wrap{
            overflow: hidden;
            button{
              float: right;
              margin-right: 10px;
              display: none;
            }
          }
        }
        //鼠标悬浮的时候，加一个背景颜色
        &:hover{
          background: #F6FBFF;
          .schedule-content-wrap{
            button{
              display: block;
            }
          }

        }
      }
      //已完成的日程样式
      .list-item.has-handled{
        background: #FBFBFB;
        div.list-item-content{
          div{
            p, .iconfont.icon-phone-busy,.iconfont.icon-schedule-visit,.iconfont.icon-schedule-other{
              color:#C9C9C9;
            }
          }
        }
      }
      //点击查看详情的日程
      .list-item.selected-customer{
        background: #F6FBFF;
      }

    }
    .ant-row{
      >div{
        padding: 15px 0  6px 10px;
      }
      >div:nth-child(2){
        border-left: 1px dotted #ddd;
        border-right: 1px dotted #ddd;
        position: relative;
        top: -8px;
      }
    }
    //.schedule-content-wrap{
    //  &:hover{
    //    background: #F6FBFF;
    //  }
    //}

  }


  #calendar .fc-view.fc-agendaDay-view .fc-axis{
    display: none;
  }
  .iconfont.icon-phone-busy{
    color:#5DD778
  }
  .iconfont.icon-schedule-visit{
    color:#9C5DF5
  }
  .iconfont.icon-schedule-other{
    color:#9C5DF5
  }


}