@import "../../../../public/css/common-variables";
@Icon-Purple-Color: #9C5DF5;
@Icon-Green-Color: #5DD778;
@Icon-Gray-Color: #ddd;
@left-panel-show-width:25%;
@panel-width-zero:0;
@right-panel-expand:99%;
@right-panle-initial:75%;
@Colum-width:1/7*100%;
@Background-color:#F6FBFF;
@Orange-color:#F7A340;
@fix-btn-top: 18px;
@keyframes expired-show {
  0% { width: @panel-width-zero; }
  100% { width: @left-panel-show-width; }
}
@keyframes expired-hide {
  0% { width: @left-panel-show-width; }
  100% { width: @panel-width-zero; }
}
@keyframes data-zone-expand {
  0% { width: @right-panle-initial; }
  100% { width: @right-panel-expand; }
}
@keyframes data-zone-initial {
  0% { width: @right-panel-expand; }
  100% { width: @right-panle-initial; }
}
.schedule-list-content{
  overflow: hidden;  
  #expire-list-content{
    float: left;
    width: @left-panel-show-width;
    background: rgba(222,223,227,0.5);
    position: relative;
    .expire-list-innerwrap{
      overflow-x: hidden;
      //过期日程标题
      .expire-list-title{
        font-size: 24px;
        border-bottom: 1px solid @bd-grey;
        line-height: 30px;
        color: #636768;
        padding: 10px 16px 9px 16px;
        min-width: 200px;
      }
      //过期日程内容
      .expire-list-content{
        font-size: 14px;
        min-width: 200px;
        .is-loading-schedule-list{
          .load8 {
            transform: scale(0.5, 0.5);
            height: 36px;
            .loader8 {
              border-left-color: #394144;
            }
          }
        }
        .is-loading-schedule-list.show-spinner{
          margin-top: 200px;
        }
        .schedule-list-no-data{
          background: #fff;
          padding-top: 200px;
          width: 380px;
          .iconfont{
            font-size: 96px;
            padding:0;
          }
        }
        .list-container{
          .list-item{
            margin: 0px 16px 16px 16px;
            background: #fff;
           .item-title{
            height: 26px;
            line-height: 26px;
            padding: 0px 15px;
            overflow: hidden;
            color:#fff;
            background: #F9AC58;
            font-size: 14px;
          }
          .item-customer-content{
            padding: 0px 0 0 10px;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            span{
              font-weight: 500;
              font-size: 16px;
              cursor: pointer;
            }
          }
            .iconfont{
              padding-right: 10px;
              font-size: 26px;
              position: relative;
              top: 4px;            }
            .iconfont.icon-call-out{
              font-size: 19px;
            }
            .icon-phone-busy{
              color:@Icon-Green-Color;
            }
            .icon-visit{
              color:@Icon-Purple-Color;
            }
            //标题的样式
            .item-title{
              height: 26px;
              line-height: 26px;
              padding: 0px 15px;
              overflow: hidden;
              color:#fff;
              background: #F9AC58;
              font-size: 14px;
            }
            .item-customer-content{
              padding: 0px 0 0 10px;
              height: 50px;
              line-height: 50px;
              span{
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
              }
            }
            .item-schedule-content{
              background: #F7F7F9;
              padding: 10px;
              font-size: 14px;
              >span{
                display: block;
                .label{
                  font-size: 14px;
                  font-weight: normal;
                  color:#94AEC8;
                }
              }
            }
            .item-handle-content{
              height:43px;
              line-height: 43px;
              padding: 0px 0 0 20px;
            }
          }
          .no-more-data-tip{
            margin: 0px 16px;
            font-size: 12px;
            .anticon-info-circle{
              position: static;
              margin-right: 5px;
            }
          }
        }
        //避免在左侧面板展开或者收起过程中出现原生滚动条
        .list-container.update-scrollbar{
          overflow: hidden;
        }
      }
    }
  .iconfont{
      padding-right: 10px;
      position: relative;
      top: 4px;
      font-size: 19px;
    }
    //左侧页面滑动提示的样式
    .scroll-tip{
      position: absolute;
      top: @fix-btn-top;
      right: -42px;
      height: 32px;
      width: 40px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      .scroll-flag{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        background: #F9AC58;
        font-size: 18px;
        text-align: right;
        color:#fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        z-index: 10;
        padding-right: 10px;
        line-height: 30px;
      }
    }
    //右侧添加联系计划按钮
    .add-schedule-btn{
      position: absolute;
      top: @fix-btn-top;
      right: -150px;
      z-index: 10;
      cursor: pointer;
      button.ant-btn-primary{
        background-color: @BORDER-BLUE;
        border-color: @BORDER-BLUE;
        color: #ffffff;
        &:hover{
          color: #ffffff;
          background-color:  @BUTTON-HOVER;
          border-color: @BUTTON-HOVER;
        }
      }
    }

  }
  #expire-list-content.show-expire-panel{
    border-right: 1px solid @bd-grey;
    animation: expired-show 1s 1;
    width: @left-panel-show-width;
    .scroll-tip {
      .scroll-flag {
        padding-right: 10px;
      }
    }
  }
  #expire-list-content.hide-expire-panel{
    animation: expired-hide 1s 1;
    width: @panel-width-zero;
    .scroll-tip {
      .scroll-flag {
        padding-right: 0;
      }
    }
  }
  #expire-list-content.nodata-left-expired-panel{
    width: @panel-width-zero;
    .scroll-tip {
      .scroll-flag {
        padding-right: 0;
      }
    }
  }
  #calendar-wrap{
    float: left;
    width:@right-panle-initial;
    padding:20px 20px 20px 40px;
    #calendar{
      position: relative;
      .fc-time-grid-event.fc-short .fc-time:after{
        content:""
      }
      .fc-time-grid-event.fc-short .fc-time:before{
        content:""
      }
      .fc-time-grid-event.fc-short .fc-time span{
        display: inline-block;
      }
      .fc-title{
        margin: 0px 20px;
      }
      .handle-finish-btn{
        float: right;
        margin-right: 20px;
        background: #fff;
        color:#333
      }
      //checkbox的样式
      .check-group-container{
        width: 280px;
        position: absolute;
        right: 100px;
        top:-3px;
        .ant-checkbox-group{
          label.ant-checkbox-group-item.ant-checkbox-wrapper{
            margin-right: 0;
            font-size: 15px;
            font-weight: normal;
          }
        }
        .iconfont{
          padding-right: 3px;
          position: relative;
          top:2px;
        }
      }
      .rbc-calendar .rbc-toolbar{
            position:relative;
            display:block;
            margin-bottom: 24px;
            .rbc-btn-group:nth-child(1){
              button{
                position: absolute;
                top:0;
                border-radius: 4px;
              }
              button:nth-child(1){
                right: 410px;
              }
              button:nth-child(2){
                right: 630px;
              }
              button:nth-child(3){
                right: 460px;
              }
            }
        .rbc-btn-group:last-child{
          position: absolute;
          right: 0;
        }
        .rbc-toolbar-label{
          -webkit-flex-grow:0;
          flex-grow:0;
          position: absolute;
          right: 500px;
          top:4px;
          padding:0;
          width: 120px;
        }

      }
      .iconfont{
        padding-right: 10px;
        position: relative;
        top: 4px;
        font-size: 20px;
      }
      //周视图样式
      .week-list-container{
        width: 100%;
        height: 100%;
        border: 1px solid @Icon-Gray-Color;
        overflow: hidden;
        .week-list-content{
          height: 100%;
        }
        .rbc-today{
          background: #eaf6ff;
        }
        //标题
        .title-wrap{
          overflow: hidden;
          //标题
          .even-title{
            float: left;
            width: @Colum-width;
            font-size:16px;
            border-bottom:1px solid @Icon-Gray-Color;
            text-align: center;
            border-right: 1px solid @Icon-Gray-Color;
            height: 35px;
            line-height: 35px;
            .num-wrap{
              .schedule-count{
                position: relative;
                width: 14px;
                height: 14px;
                line-height: 14px;
                background: #2097F3;
                border-radius: 50%;
                margin: 0 auto;
                top: -11px;
                display: inline-block;
                color: #fff;
                font-size: 7px;
              }
            }
          }
          .even-title:last-child{
            border-right: none;
          }
        }
        .schedule-items-content{
          position: relative;
          .schedule-bg-content{
            width: 100%;
            height: 100%;
            position: absolute;
            .schedule-line-grid{
              float: left;
              width: @Colum-width;
              height: 100%;
              border-right: 1px solid @Icon-Gray-Color;
            }
          }
          .event-container{
            float: left;
            width: @Colum-width;
            .even-items-wrapper{
              padding: 0px 2px 0 0;
              font-size: 15px;
              .list-item{
                padding:10px;
                cursor: pointer;
                overflow: hidden;
                .ant-row{
                  display: flex;
                  align-items: center;
                }
                &:hover{
                  background: @Background-color;
                }
              }
              //已完成的日程样式
              .list-item.has-handled{
                background: #FBFBFB;
                p, .iconfont.icon-phone-busy,.iconfont.icon-schedule-visit,.iconfont.icon-schedule-other{
                  color:#C9C9C9;
                }
                &:hover{
                  background: @Background-color;
                }
              }
              //点击查看详情的日程
              .list-item.selected-customer{
                background: @Background-color;
              }
              .no-data-container{
                margin: 50px auto;
                text-align: center;
                .icon-no-schedule-list{
                  font-size: 40px;
                  color:@Icon-Gray-Color
                }
              }
            }
          }
        }
      }
      //月视图样式
      .rbc-month-view .rbc-month-row .rbc-row-content{
            //日期数字的样式
            .rbc-row:first-child{
              margin-top:35px;
                .rbc-date-cell{
                  text-align: center;
                  a{
                    font-size: 25px;
                    font-weight: normal;
                    position: relative;
                    z-index: 100;
                  }
                }
            }
            //事件的样式
            .rbc-row:nth-child(2){
              margin-top:-47px;
              .rbc-row-segment{
                text-align: right;
                .rbc-event{
                  background: transparent;
                  width: 100%;
                  padding: 0;
                  .rbc-event-content .customer-event-wrap .circle-wrap-container{
                        width: 50px;
                        height: 50px;
                        margin: 0px auto;
                        .circle-wrap{
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                          border: 1px solid #BBCCDE;
                        }
                        .schedule-count{
                          width: 20px;
                          height: 20px;
                          line-height: 20px;
                          background: #2097F3;
                          border-radius: 50%;
                          text-align: center;
                          float: right;
                        }
                      }
                }
              }
            }
          }
    };

  }
  //原始大小的日程图
  #calendar-wrap.initial-calendar-panel{
    animation: data-zone-initial 1s 1;
    width:@right-panle-initial;
  }
  //扩大后的日程图
  #calendar-wrap.expand-calendar-panel{
    animation: data-zone-expand 1s 1;
    width: @right-panel-expand;
  }
  //左侧超时日程列表不展示
  #calendar-wrap.nodata-left-expired-panel{
    width: @right-panel-expand;
  }
  .fc-event.handle-schedule{
    background-color: #FBFBFB;
    color:#999;
    border-color:#FBFBFB;
  }
  //天视图
  #calendar .fc-view.fc-agendaDay-view .fc-body{
    display: none;
  }
  //天视图中日程列表样式
  .content-block{
    color:#666;
    border: 1px solid @Icon-Gray-Color;
    overflow: hidden;
    .dayagenda-schedule-list{
      font-size: 14px;
      cursor:pointer;
      .schedule-title{
        background: #F7F7F9;
        .timerange{
          padding-left: 10px;
        }
        .week-wrap{
          background: #fff;
          text-align: center;
          .title-week{
            padding-right: 120px;
            .num-wrap{
              .schedule-count{
                position: relative;
                width: 14px;
                height: 14px;
                line-height: 14px;
                background: #2097F3;
                border-radius: 50%;
                margin: 0 auto;
                top: -11px;
                display: inline-block;
                color: #fff;
                font-size: 7px;
              }
            }
          }
        }

      }
      //右侧日程列表
      .list-item{
        .list-item-content{
          border-bottom: 1px solid #e8e8e8;
          line-height: 1.5;

          //日程时间
          .schedule-time-range{
            padding-left: 10px;
            color:#8da8c5;

          }
          //日程联系的客户
          .schedule-customer-name{
            font-size:16px;
            color:#333333;
          }
          //标记完成的按钮
          .schedule-content-wrap{
            overflow: hidden;
            button{
              float: right;
              margin-right: 10px;
              display: none;
            }
          }
        }
      }
      //鼠标悬浮的时候，加一个背景颜色
      .list-item.hover-item{
        background: @Background-color;
        .schedule-content-wrap{
          button{
            display: block;
          }
        }

      }
      //已完成的日程样式
      .list-item.has-handled{
        background: #FBFBFB;
        div.list-item-content{
          div{
            p, .iconfont.icon-phone-busy,.iconfont.icon-schedule-visit,.iconfont.icon-schedule-other{
              color:#C9C9C9;
            }
          }
        }
      }
      //点击查看详情的日程
      .list-item.selected-customer{
        background: @Background-color;
      }

    }
    .ant-row{
      >div{
        padding: 15px 0  6px 10px;
      }
      >div:nth-child(2){
        border-left: 1px dotted @Icon-Gray-Color;
        border-right: 1px dotted @Icon-Gray-Color;
        position: relative;
      }
    }
  }


  #calendar .fc-view.fc-agendaDay-view .fc-axis{
    display: none;
  }
  .iconfont.icon-phone-busy{
    color:@Icon-Green-Color
  }
  .iconfont.icon-schedule-visit{
    color:@Icon-Purple-Color
  }
  .iconfont.icon-schedule-other{
    color:@Icon-Gray-Color
  }
}
//展示客户名称样式
.customer-names-wrap{
  .list-item{
    font-size: 13px;
    padding: 3px 0;
    cursor: pointer;
    &:hover{
      background: @Background-color;
    }
  }
  .list-item.has-handled{
    color: #c9c9c9;
    background:#FBFBFB;
    &:hover{
      background: @Background-color;
    }
  }
  .list-item.selected-customer{
    background: @Background-color;
  }
}

.schedule-manage-popover {
  z-index: 30;
  .ant-popover-content > .ant-popover-arrow{
    display: none;
  }
}


.ant-popover-placement-bottom, .ant-popover-placement-top {
  .ant-popover-inner-content {
    .contacts-containers {
      font-size: 16px;
      .ant-btn {
        float: right;
      }
      .icon-contact {
        margin-right: 5px;
      }
      .contacts-item.def-contact-item {
        .contacts-name-content {
          color: #6BB6F7;
        }
        .ant-btn:hover, .ant-btn:focus {
          border-color: transparent;
        }
      }
      .contacts-phone-content {
        .phone-item {
          margin-bottom: 5px;
          min-width: 200px;
          &:hover {
            background: @Background-color;
            color: @Orange-color;
            button {
              color: #fff;
              background: @Orange-color;
            }
          }
        }
      }
    }
  }
}

.add-todo.detail-card-container {
  background-color: unset;
  .schedule-form{
    border:none;
    padding: 0;
  }
}