@import "../../../../public/css/common-variables";

@tag-color: #FF8B00;
@content-bg-color: #E3E8ED;
@filter-width: 396px;
@open-status-color: #01C49D;
@mobile-bg-color: #E7F1F9;
@mobile-font-color: #1975D1;
.recommend-clues-page-container{
  background-color: @content-bg-color!important;
}
.recommend-clues-lists-container{
  .recommend-customer-list{
    width: auto;
    position: relative;
    .iconfont.close-pannel{
      z-index: 14;
    }
    .ant-table tbody .has-extracted-row:hover,
    .ant-table tbody .has-extracted-row {
      //background: #f3f5f5 !important;
      td{
        //background: #f3f5f5 !important;
        color: #bbb!important;
        .iconfont.icon-extract{
          color:#bbb;
          cursor: not-allowed;
        }
      }
    }
    .ant-table tbody .has-extracted-by-other-row:hover,
    .ant-table tbody .has-extracted-by-other-row{
      .iconfont.icon-extract{
        color:#bbb;
        cursor: not-allowed;
      }
    }

    .recommend-clue-panel{
      .topNav{
        left:0;
      }
      .recommend-customer-top-nav-wrap{
        padding-top: 18px;
        overflow: hidden;
        .clue-back-btn{
          float: left;
          margin-right: 15px;
        }
        .close-pannel {
          margin-top: 4px;
          float: right;
        }
        .add-clues-btn{
          color: @will-distribute-color;
        }
        .top-nav-title{
          color: @primary-font-color;
          font-size: 16px;
          font-weight: bold;
        }
        .icon-close{
          float: right;
          color: @primary-color;
          font-size: 12px;
          font-weight: bold;
          &:hover{
            color: @primary-hover-color;
          }
        }
      }
      .recommend-clue-content-container{
        &.has-extract-count-tip-container{
          .recommend-clue-detail-content-box{
            padding-top: 8px!important;
          }
        }
        //筛选条件样式
        .filter-container {
          //float: left;
          //border-right: 1px solid #ccc;
          //min-width: @filter-width - 60;
          //position: absolute;
          transition: all 0.5s;
          background: #fff;
          border-bottom: 1px solid #DEDFE3;
          .gm-scroll-view{
            padding-right: 0;
          }
          .add-customer-recommend{
            padding: 20px 20px 0;
            .load8{
              left: calc(50% - 35px);
              top: calc(50% - 45px);
            }
            .other-condition-container{
              .ant-form-item-label {
                //width: 100px;
              }
              .company-name{
                .ant-form-item-label{
                  width: auto;
                }
              }
            }
            .ant-form-item-label{
              text-align: left;
              display: inline-block;
              width: 70px;
            }
            .ant-form-item-control-wrapper{
              display: inline-block;
            }

            .ant-form-item{
              width: initial;
              margin-bottom: 10px;
              .ant-form-item-control {
                input, .ant-select {
                  width: 350px;
                  font-size: 14px;
                }
                .ant-calendar-range-picker-input{
                  width: 40%;
                }
                .search-input{
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                }
              }
            }
            .area-selector {
              .ant-form-item{
                input{
                  width: 488px!important;
                }
              }
              .ant-input-affix-wrapper{
                .anticon-close-circle, .anticon-down, .anticon-up{
                  font-size: 22px;
                  color: @placeholder-font-color;
                  top: -10px;
                  right: -4px;
                  transition: color 0.3s;
                  cursor: pointer;
                  &:hover{
                    color: @secondary-font-color;
                  }
                }
              }
              input{
                height: 32px;
              }
              .area-selector-all-container{
                margin-right: 10px;
                top: 4px;
              }
              .address-prov{
                .prov-nav-span{
                  height: 50px;
                }
              }
              label{
                font-size: 14px;
              }
            }
            .special-item, .area-selector{
              .ant-form-item-label{
                label{
                  letter-spacing: 30px;
                }
              }
            }
          }
        }
        .recommend-clue-detail-content-container{
          padding: 0;
          //padding-left: @filter-width + 1px;
          margin-top: 0;
          background-color: @content-bg-color;
          .recommend-clue-detail-content-box{
            padding: 16px;
          }
          .detail-card-container{
            margin-top: 0;
            padding: 0;
          }
          .detail-card-title{
            padding: 8px 16px;
            margin-bottom: 0;
          }
          .detail-card-content{
            padding: 0;
          }
          .errmsg-container{
            width: 500px;
            margin: 200px auto;
            text-align: center;
            .errmsg-tip{
              color:@error_tips_color;
              font-size: 14px;

              a{
                color: @BUTTON-HOVER;
              }
            }
            .retry-btn{
              font-size: 14px;
            }
          }
          .recommend-lead-name{
            .iconfont.icon-warning-tip{
              color: @import_data_warn_color;
              margin-right: 6px;
            }
          }
          // 提取线索
          .singl-extract-clue{
            font-size: 14px;
            cursor: pointer;
            .iconfont.icon-extract{
              margin-right: 10px;

            }
            //&.disable-btn{
            //  color: #CCCCCC;
            //}
          }
          //checkbox边框样式
          .ant-checkbox-wrapper{
            .ant-checkbox-checked{
              .ant-checkbox-inner{
                border-color: #108ee9;
              }
            }
            .ant-checkbox-inner{
              border-width: 2px;
              border-color: @secondary-font-color;
              width: 16px;
              height: 16px;
            }
          }
          //还可提取数样式
          .recommend-clue-tip-wrapper{
            font-size: 14px;
            color: @content-font-color;
            margin-bottom: 8px;
            display: inline-block;
            > span{
              vertical-align: middle;
            }
          }
          //还可提取数，已选择数样式
          .has-extracted-count{
            color: @primary-color;
            margin: 2px;
          }

          // 提取线索样式
          .home-loading.load8{
            left: calc(50% - 35px);
            top: calc(50% - 45px);
          }
          // 头部样式
          .extract-clues-title-container{
            background-color: #ffffff;
            border-bottom:1px solid #dedfe1;
          }
          .extract-clues-title-wrapper{
            padding: 0 24px;
            background-color: #ffffff;
            font-size: 16px;
            font-weight: 800;
          }
          .extract-clues-title{
            overflow: hidden;
            padding-top: 20px;
            line-height: 32px;
          }
          //热门选项样式
          .extract-hot-wrapper{
            font-weight: normal;
            margin: 10px 0 16px 24px;
            .extract-hot-title{
              font-size: 14px;
              color: @secondary-font-color;
            }
            .extract-hot-btn-container{
              display: inline-block;
              .hot-btn-item{
                color: @warn-color;
                font-size: 12px;
                padding: 3px 6px;
                border: 1px solid @border-color;
                border-radius:2px;
                margin-right: 5px;
                cursor: pointer;
                &:hover{
                  border-color: @version-basic-color;
                }
                &.hot-active{
                  background: @version-basic-color;
                  color: #fff;
                  border-color: @version-basic-color;
                }
              }
            }
          }
          .extract-clues-btn-container{
            float: right;
            font-weight: normal;
            .btn-item {
              margin-left: 0.5em !important;
              margin-right: 0 !important;
              float: right;
              position: relative;
              .iconfont {
                margin-right: 0.5em;
              }
              .change-new-span{
                position: relative;
                top: -10px;
              }
            }
          }
          //没有提取数时的提示文案样式
          .unextract-clue-tip{
            color: @has-invalid-color;
            font-size: 14px;
            //display: flex;
            //justify-content: space-between;
            //align-items: flex-start;
            position: relative;
            .customer-btn{
              height: 24px;
              color: @will-distribute-color;
            }
            .no-extract-count-tip{
              padding: 0;
              text-align: right;
              align-items: center;
              display: flex;
              float: left;
              line-height: 32px;
            }
            //换一批样式
            .more-batch-btn{
              color: @primary-color;
            }
            .ant-checkbox-wrapper{
              margin-top: 3px;
              margin-bottom: 0;
            }
            //全选checkbox
            .check-all{
              font-size: 14px;
              color: @primary-font-color;
              font-weight: normal;
              vertical-align: middle;
              width: 60px;
              margin: 0;
              float: left;
              .ant-checkbox, .ant-checkbox+span{
                vertical-align: middle;
              }
            }
            .btn-item {
              margin-left: 0.5em !important;
              margin-right: 0 !important;
              float: right;
              position: relative;
              .iconfont {
                margin-right: 0.5em;
                &.change-new-icon-rotation + span {
                  position: relative;
                }
              }
            }
            .tip-wrapper{
              font-size: 14px;
              color: @content-font-color;
              min-width: 104px;
              text-align: left;
              display: inline-block;
              > span{
                vertical-align: middle;
              }
              &:before{
                content: '';
                display: inline-block;
                float: left;
                width: 1px;
                height: 22px;
                margin: 6px 16px 0 0;
                background: #ccc;
              }
            }
            //成功后的提示样式
            .alert-timer{
              display: inline-block;
              //float: right;
              .ant-alert{
                padding: 6px 48px 6px 38px;
                .ant-alert-icon{
                  top: 8px;
                }
              }
            }
          }
          //换一批样式
          .more-data-wrapper{
            height:48px;
            line-height: 48px;
            .more-data-content{
              background-color: #fff;
              text-align: center;
              .btn-wrapper{
                color: @primary-color;
                font-size: 14px;
                cursor: pointer;
                .iconfont{
                  margin-right: 7px;
                }
              }
            }
          }
          // 中间内容
          .extract-clue-panel-container{
            padding-right: 10px;
            .extract-clue-item{
              background: #fff;
              padding: 18px;
              display: flex;
              align-items: flex-start;
              transition: all .3s linear;
              border-bottom: 1px solid #f5f5f5;
              &:hover{
                background-color: @hover-item-color;
                .single-extract-clue{
                  .assign-btn{
                    opacity: 1;
                  }
                }
              }
              &.has-extracted-row, &.has-extracted-row:hover{
                color: @secondary-font-color !important;
                background-color: @hover-item-color!important;
                cursor: unset;
                .extract-clue-text-wrapper{
                  color: @secondary-font-color !important;
                  .extract-clue-text__name{
                    cursor: unset;
                  }
                  .clue-name, .extract-clue-text__info{
                    color: @secondary-font-color !important;;
                  }
                }
              }
              &.has-extracted-by-other-row, &.has-extracted-by-other-row:hover{
                .extract-clue-text-wrapper {
                  .extract-clue-text__name {
                    cursor: unset;
                    .clue-name{
                      color: @secondary-font-color!important;
                    }
                  }
                }
              }
              .extract-clue-text-wrapper{
                width: 85%;
                color: @primary-font-color;
                padding-right: 3px;
                .extract-clue-text__name{
                  font-size: 16px;
                  font-weight:400;
                  margin-top: -3px;
                  .clue-name{
                    font-weight: bold;
                    color: @primary-font-color;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 90%;
                    display: inline-block;
                    vertical-align: middle;
                  }
                  .clue-company-open-status{
                    margin-left: 5px;
                    border: 1px solid @open-status-color;
                    color: @open-status-color;
                    border-radius:2px;
                    font-size: 12px;
                    padding: 0 5px;
                    vertical-align: middle;
                  }
                }
                .extract-clue-text__filters{
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight:400;
                  .extract-clue-text-item{
                    margin-bottom: 5px;
                  }
                  .extract-clue-info-item{
                    display: inline-block;
                    margin-right: 15px;
                    .more-contacts{
                      font-size: 14px;
                      color: @primary-color;
                      cursor: pointer;
                    }
                  }
                  .extract-clue-contacts-item{
                    margin-right: 15px;
                    &:last-child{
                      margin-right: 0;
                    }
                    .extract-clue-contact-count{
                      color: @primary-color;
                      cursor: pointer;
                      &:hover{
                        color: @primary-hover-color;
                      }
                    }
                  }
                }
                .extract-clue-text-label{
                  color: @secondary-font-color;
                }
                .single-extract-clue{
                  font-size: 14px;
                  cursor: pointer;
                }
                .iconfont.icon-warning-tip{
                  color: @import_data_warn_color;
                  margin-right: 6px;
                }
                //标签
                .clue-labels{
                  margin-top: 3px;
                  .ant-tag {
                    border-radius: 0;
                    border: none;
                    color: @has-transfer-color;
                  }
                }
                .extract-clue-text__info{
                  margin-top: 0px;
                  color:  @primary-font-color;
                }
                .extract-clue-text__null{
                  margin-top: 0
                }
              }
              //已提取按钮样式
              .clue-has-extracted{
                font-size: 14px;
                color: @secondary-font-color;
              }
              .btn-item{
                .iconfont {
                  margin-right: 0.5em;
                }
              }
              .single-extract-clue{
                position: relative;
                .assign-btn{
                  opacity: 0;
                }
              }
              .ant-checkbox-wrapper{
                margin: -14px 0 0 -16px;
                padding: 16px 15px 35px;
              }
              //高亮文字样式
              .text-highlight{
                color: @confirm-delete-background;
                font-style: unset;
              }
            }

            .no-more-data-tip{
              .anticon{
                position: static;
                margin-right: 4px;
              }
            }
          }
          // 底部区域
          .extract-btn-wrapper{
            padding: 15px 24px 0;
            .button-container{
              margin-top: 0;
              float: right;
              .button-add-clue{
                float: right;
                margin-left: 10px;
                height: 24px;
                color: @will-distribute-color;
              }
            }
            .back-btn{
              height: 24px;
            }
          }
          .no-data{
            position: absolute;
            left: calc(50% - 60px);
            top: calc(50% - 87px);
          }
          //空号检测checkbox
          .check-phone-enable-checkbox{
            font-weight: normal;
            color: @primary-font-color;
            font-size: 14px;
            margin-top: 5px!important;
            margin-left: 5px;
            margin-right: 0;
            display: inline-block;
            .ant-checkbox{
              vertical-align: middle;
            }
            .ant-switch{
              margin-right: 5px;
            }
          }
          //每页加载条数样式
          .load-size-container{
            margin-top: 4px;
            padding-left: 5px;
            color: @primary-font-color;
            display: inline-block;
            &:before{
              content: '';
              display: inline-block;
              float: left;
              width: 1px;
              height: 22px;
              margin-left: 8px;
              margin-right: 16px;
              background: #ccc;
            }
            .ant-select{
              margin: 0 5px;
            }
            .ant-select-selection{
              height: 24px;
              .ant-select-selection__rendered{
                line-height: 24px;
              }
            }
          }
          .btn-item{
            &.btn-disabled{
              background-color: @primary-disable-color;
              color: #fff;
              border-color: @primary-disable-color;
            }
          }
          //批量操作提取按钮以及提示区域样式
          .batch-extract-operator-container{
            display: inline-block;
            transition: all .5s linear;
            opacity: 1;
            &.content-hidden{
              opacity: 0;
              z-index: 0!important;
            }
          }
          .extract-operator-container{
            display: flex;
            position: relative;
            .batch-loading-container{
              position: absolute;
            }
          }
        }
      }
    }
    //遮罩层
    .recommend-clue-mask{
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      &.show-mask{
        display: block;
      }
    }
    //批量加载样式
    .batch-loading-container{
      height: 32px;
      transition: all .4s linear;
      min-width: 250px;
      opacity: 1;
      &.batch-loading-hidden, .content-hidden{
        opacity: 0;
      }
      .content-hidden{
        display: none;
      }
      //检测中
      .batch-check-loading{
        .batch-check-content{
          background-color:  #1975D1;
          padding: 0 8px;
          border-radius: 4px;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 14px;
          height: 32px;
          .icon-check{
            font-size: 14px;
          }
          .batch-check-text{
            margin: 0 20px 0 8px;
          }
          .icon-close{
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
      //提取中
      .batch-progress-loading{
        .batch-progress-content{
          min-width: 256px;
          display: flex;
          align-items: center;
          background: #F1F4F8;
          padding: 0 12px;
          border-radius: 4px;
          height: 32px;
          .batch-progress-text{
            color: @primary-color;
            font-size: 14px;
            margin-right: 8px;
          }
          .batch-progress-bar-box{
            flex: 1;
            .ant-progress-inner{
              background-color: @primary-disable-color;
            }
            .ant-progress-bg{
              background-color: @primary-color;
            }
          }
        }
      }
    }
  }
}
.ant-message{
  z-index: 1060;
}
//超限后的内容显示样式
.extract-limit-content{
  min-width: 200px;
  &.check-phone-result-container{
    .ant-popover-arrow{
      display: none;
    }
    //头部样式
    .ant-popover-title{
      background-color: @primary-color;
      padding: 5px 8px;
      border-bottom: none;
      min-height: 32px;
      height: auto;
      line-height: unset;
      .check-phone-title{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .check-phone-title-content{
          display: flex;
          align-items: center;
        }
        .icon-check{
          margin-right: 8px;
        }
        .icon-close{
          font-weight: bold;
          color: #fff;
          margin-left: 16px;
        }
        .check-phone-name{
          font-size: 14px;
        }
        .check-phone-only{
          color: #BBDEFB;
          font-size: 12px;
        }
      }
    }
    .ant-popover-inner-content{
      padding: 24px;
    }
  }
  //更多联系人
  &.more-contacts-container{
    padding-top: 0;
    .icon-app-view{
      color: #BBDEFB;
    }
    .more-contacts-title{
      color: #BBDEFB;
      margin-left: 10px;
    }
    .ant-popover-inner-content{
      padding: 0;
    }
    .more-contacts-wrapper{
      max-height: 202px;
      overflow-y: hidden;
      &.has-scroll{
        overflow-y: scroll;
      }
      .scrollbar-style;
    }
    .more-contacts-content{
      .more-contacts-item{
        padding: 16px;
        border-bottom: 1px solid @content-bg-color;
        font-size: 14px;
        color: @has-transfer-color;
        &:last-child{
          border-bottom: none;
        }
        .more-contacts-name{
          color: @primary-font-color;
          margin-right: 8px;
        }
        .more-contacts-phone-item{

        }
      }
    }
  }
  &.batch-check-phone-container{
    top: -8px!important;
  }
  .ant-popover-inner-content{
    color: @primary-font-color;
    font-size: 14px;
  }
  .icon-warn-icon{
    color: @tag-color;
    width:16px;
    height:16px;
    margin-right: 8px;
    &.error-icon{
      color: @error-color;
      font-size: 14px!important;
    }
  }
  .extract-count{
    color: @tag-color;
    margin: 0 2px;
  }
  .primary-count{
    color: @primary-color;
    margin: 0 2px;
  }
  .icon-close{
    font-size: 12px;
    color: @sub-content-font-color;
    margin-left: 10px;
    vertical-align: top;
    cursor: pointer;
  }
  .extract-limit-wrapper{
    display: flex;
  }
  //检测手机号状态样式
  .check-phone-container{
    position: relative;
    &.check-phone-error-container{
      .icon-warn-icon{
        font-size: 12px;
        margin-right: 3px;
      }
      .check-phone-content{
        .check-phone-box{
          .check-phone-text{
            color: @error-color;
          }
        }
      }
    }
    .icon-close{
      position: absolute;
      top: 0;
      right: 0;
    }
    .icon-search{
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      text-align: center;
      color: @primary-color;
      background: @content-bg-color;
      border-radius: unset!important;
      margin-right: 10px;
    }
    .check-phone-content{
      display: flex;
      align-items: center;
      .check-phone-box{
        color: @primary-font-color;
        .check-phone-title{
          > span:first-child{
            font-weight: bold;
          }
        }
        .check-phone-only{
          color: @secondary-font-color;
          font-size: 14px;
        }
        .check-phone-text{
          font-size: 16px;
          display: inline-block;
        }
      }
    }
    .check-phone-free-tip{
      color: @primary-font-color;
      font-size: 12px;
      margin: 5px 5px 5px 0;
      .icon-warn-icon{
        font-size: 14px;
      }
    }
    .check-btn-container{
      text-align: right;
      margin-top: 30px;
      .ant-btn{
        height: 32px;
        font-size: 14px;
      }
      .check-btn-primary{
        margin-left: 8px;
      }
      .check-btn-ghost{
        color: @primary-color;
      }
    }
  }
  //空号检测使用提示
  .check-phone-use-container{
    background: #fff;
    font-size: 14px;
    color: @primary-font-color;
    position: relative;
    display: flex;
    align-items: center;
    .img-wrapper {
      width: 56px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #E8EEF3;
      overflow: hidden;
      .image{
        width: 100%;
        height: 100%;
      }
    }
    .check-phone-text{
      margin-right: 16px;
      font-size: 16px;
    }
    .only-phone-text{
      color: @secondary-font-color;
    }
    .icon-close{
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
    }
  }
}
.change-new-icon-rotation{
  position: relative;
  animation: rotate-arround 1s linear infinite ;
  display: inline-block !important;
  margin-right: 0.2em !important;
}

@keyframes rotate-arround {
	0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px){
  .recommend-clues-lists-container{
    .recommend-customer-list{
      .recommend-clue-panel{
        .recommend-clue-content-container{
          &.has-extract-count-tip-container{
            .filter-container{
              border: none;
            }
            .recommend-clue-detail-content-box{
              padding-top: 8px!important;
            }
          }
          //条件设置样式
          .filter-container{
            border-width: 5px;
            .add-customer-recommend{
              padding: 0;
              form {
                > .ant-form-item:first-child{
                  padding-top: 20px!important;
                }
                .ant-form-item{
                  padding: 0 20px;
                  .ant-form-item-control-wrapper{
                    display: block;
                  }
                  .ant-form-item-label{
                    line-height: 20px;
                    display: none;
                    label{
                      letter-spacing: 0!important;
                    }
                  }
                }
                .area-selector{
                  width: 80%;
                  .ant-form-item input{
                    width: 100%!important;
                  }
                  .address-prov .prov-nav-span{
                    height: 100px;
                  }
                }
              }
              .vip-filter-content{
                .vip-filter-item{
                  width: 50%;
                  margin-right: 0;
                  &:last-child{
                    margin-top: 10px;
                    float: right;
                  }
                }
              }
              .recommend-clue-sug{
                width: calc(100% - 35px);
                li{
                  width: 100%;
                }
              }
              .advance-data-container{
                overflow: scroll;
                height: 32px;
                .advance-data-content{
                  max-width: unset;
                  height: auto;
                  white-space: nowrap;
                  //overflow: scroll;
                  .advance-btn-item{
                    color: @tag-color;
                    border-color: #C6D3E2;
                    margin-right: 8px;
                    border-radius: 4px;
                    &.advance-active{
                      background: @tag-color;
                      border-color: @tag-color;
                      color: #fff;
                    }
                  }
                }
                .show-hide-tip{
                  display: none;
                }
              }
              //地域，vip选项样式
              .area-and-vip-container{
                height: 32px;
                line-height: 32px;
                padding: 0 20px;
                border-top: 1px solid @content-bg-color;
                border-bottom: 1px solid @content-bg-color;
                .area-and-vip-item{
                  display: inline-block;
                  font-size: 14px;
                  color: @primary-font-color;
                  .area-info{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 100px;
                    float: left;
                  }
                }
                .iconfont{
                  font-size: 12px;
                  margin-left: 5px;
                  color: @secondary-font-color;
                }
                .area-and-abort-vip{
                  float: right;
                }
              }
              //已选条件样式
              .selected-filter-container{
                padding: 0 20px;
                line-height: 32px;
                margin: 0;
                overflow: scroll;
                width: 100%;
                .selected-filter-content{
                  white-space: nowrap;
                  margin: 5px 0;
                }
                .selected-filter-item{
                  background-color: @mobile-bg-color;
                  border: none;
                  color: @mobile-font-color;
                  padding: 5px 10px;
                  &:hover{
                    color: @mobile-font-color;
                    background: @mobile-bg-color;
                  }
                  .icon-close{
                    margin-right: 0
                  }
                }
              }
            }
          }
          //推荐线索列表样式
          .recommend-clue-detail-content-container{
            .recommend-clue-detail-content-box{
              padding: 0;
              .detail-card-container{
                border-radius: 0;
              }
            }
            .recommend-clue-tip-wrapper{
              padding-left: 16px;
            }
            .unextract-clue-tip{
              .no-extract-count-tip{
                float: right;
                .more-data-wrapper{
                  height: auto;
                  line-height: unset;
                  .btn-wrapper{
                    > span{
                      vertical-align: middle;
                    }
                  }
                }
              }
              .is-mobile{
                float: left!important;
              }
            }
            .load-size-container{
              padding-left: 0;
              &:before{
                margin-right: 8px;
              }
            }
            //中间内容
            .extract-clue-panel-container{
              padding-right: 0;
              .single-extract-clue{
                .assign-btn{
                  opacity: 1!important;
                  color: @primary-color;
                  float: right;
                  margin-right: 0!important;
                  margin-top: 10px;
                }
                .clue-has-extracted{
                  float: right;
                }
              }
              .extract-clue-item{
                .ant-checkbox-wrapper{
                  margin: 2px 8px 5px 0;
                  padding: 0;
                }
                .extract-clue-text-wrapper{
                  flex: 1;
                  .extract-clue-text__name{
                    .clue-name{
                      max-width: unset;
                      text-overflow: unset;
                      white-space: unset;
                      overflow: auto;
                    }
                  }
                }
                //展开，收起按钮
                .append-icon{
                  visibility: hidden;
                }
                .extract-clue-text__info{
                  position: relative;
                  .extract-detail-btn{
                    color: @primary-color;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                  }
                }
              }
              //线索详情样式
              .extract-detail-container{
                background: #fff;
                display: block;
                padding: 0;
                .extract-item-title{
                  display: flex;
                  //align-items: center;
                  border-bottom: 1px solid @content-bg-color;
                  padding: 16px;
                }
                .extract-item-content{
                  max-height: calc(90vh - 108px);
                  width: 100%;
                  overflow-y: scroll;
                  padding: 16px;
                  .extract-clue-text__filters{
                    margin-top: 0;
                  }
                  .extract-clue-text-item{
                    color: @primary-font-color;
                    font-size: 14px;
                    margin-bottom: 18px!important;
                    &:last-child{
                      margin-bottom: 0!important;
                    }
                    .extract-clue-item-label{
                      color: @has-transfer-color;
                      margin-bottom: 9px;
                      font-size: 14px;
                    }
                  }
                }
                .extract-item-btn-container{
                  height: 48px;
                  display: flex;
                  align-items: center;
                  padding: 0 16px;
                  border-top: 1px solid @content-bg-color;
                  .ant-btn{
                    flex: 1;
                    margin-right: 8px;
                    font-size: 16px;
                    &:last-child{
                      margin-right: 0;
                    }
                  }
                  .close-btn{
                    color: @primary-color;
                  }
                }
              }
            }
            .btn-item{
              min-width: unset;
              .iconfont{
                margin-right: 0!important;
              }
            }
            .unextract-clue-tip .tip-wrapper{
              margin: 0;
              padding: 0;
            }
            //底部全选操作区域
            .bottom-operator-container{
              position: fixed;
              bottom: 48px;
              background: #fff;
              width: 100%;
              height: 48px;
              padding: 8px 16px 0;
              box-shadow: 0 0 6px #999;
              .no-extract-count-tip{
                float: left;
              }
              .tip-wrapper{
                margin-top: 4px;
                display: inline-block;
                text-align: right;
                &:before{
                  display: none;
                }
              }
            }
          }
        }
        //遮罩层
        .recommend-clue-mask{
          position: fixed;
        }
        .extract-operator-container{
          min-width: 230px;
          justify-content: flex-end;
        }
        //批量加载样式
        .batch-loading-container{
          min-width: unset;
          width: 100%;
          .batch-progress-content{
            min-width: unset;
          }
        }
      }
    }
  }
  //搜索输入框样式
  .clue-recommend-filter-search-wrapper {
    &.mobile-search-input-container{
      display: flex;
      .search-input-container {
        .search-input{
          width: 100%!important;
          border-color: @tag-color;
          font-weight: normal;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          &:hover{
            border-color: @tag-color;
          }
          &:focus{
            box-shadow: 0 0 0 2px fade(@tag-color, 20%);
          }
        }
        .icon-circle-close.search-icon{
          top: 22px;
        }
      }
      //推荐线索列表
      .recommend-clue-sug{
        display: none;
      }
      //搜索按钮图标样式
      .ant-input-group-addon{
        position: unset;
        background-color:  @tag-color;
        border-color: @tag-color;
      }
    }
  }
  //搜索面板样式
  .search-panel-modal{
    &.right-panel-modal.right-panel-modal-mobile{
      .right-panel-modal-content{
        background-color: #fff;
        .mobile-close-btn{
          top: 28px;
          color: @secondary-font-color;
        }
        .right-panel-modal-title{
          margin-bottom: 0;
        }
        .recommend-clue-search-list{
          .recommend-clue-search-list-item{
            color: @primary-font-color;
            padding: 12px 24px;
            border-bottom: 1px solid @content-bg-color;
            font-size: 14px;
          }
        }
      }
    }
  }
  //vip筛选面板
  .vip-option-modal{
    &.right-panel-modal.right-panel-modal-mobile {
      .right-panel-modal-content {
        background-color: #fff;
        .right-panel-modal-title {
          margin-bottom: 0;
          font-size: 16px;
          color: @primary-font-color;
          font-weight: normal;
        }
      }
    }
    .vip-option-wrapper{
      .vip-option-box{
        padding: 12px;
      }
      //
      .vip-item{
        &:first-child{
          .vip-item-title{
            margin-top: 0;
          }
        }
        .vip-item-title{
          color: #656565;
          margin-bottom: 10px;
          margin-top: 10px;
          font-size: 14px;
        }
        .vip-item-content{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .vip-item-option-item{
            border: 1px solid #C5D3E1;
            padding: 8px 12px;
            margin-right: 6px;
            margin-bottom: 8px;
            width: 32%;
            color: @primary-font-color;
            font-size: 14px;
            border-radius:4px;
            text-align: center;
            white-space: nowrap;
            overflow-x: scroll;
            &:nth-child(3n){
              margin-right: 0;
            }
            &.option-active{
              background-color: @mobile-bg-color;
              color: @mobile-font-color;
              border-color: @mobile-bg-color;
            }
          }
        }
      }
      //确认按钮样式
      .confirm-btn-container{
        background-color: @mobile-font-color;
        text-align: center;
        line-height: 48px;
        font-size: 16px;
        color: #fff;
      }
    }
  }
  //底部提示面板样式
  .bottom-panel-modal{
    &.recommend-clue-bottom-panel{
      z-index: 112;//底部检测结果提示层级要高于线索详情的面板
    }
  }
}

@media screen and (max-width: 374px){
  //vip筛选面板
  .vip-option-modal{
    .vip-option-wrapper{
      .vip-item{
        .vip-item-content{
          .vip-item-option-item{
            width: auto;
            &:nth-child(3n){
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}