@import "../../../../public/css/common-variables";
@vip-color: #FF8B00;
.recommend-customer-condition.recommend-customer-condition-wrapper{
  .add-customer-recommend{
    position: relative;
  }
  .recommend-top-title{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  form {
    .area-selector{
      display: inline-block;
      .ant-col-24.ant-form-item-label{
        padding: 0;
        line-height: 32px;
      }
    }
    .ant-form-item{
      width:100%;
      margin-bottom: 4px;
      input, textarea, .ant-select{
        width: 100%;
        color: @primary-font-color;
      }

      .ant-form-item-label{
        text-align: left;
        label{
          font-size: 14px;
          color: @secondary-font-color;
          font-weight: normal;
          &:after{
            content: ''
          }
        }
      }
      .ant-form-explain{
        text-align: left;
      }
    }
    .ant-calendar-picker{
      width: 100%;
      input{
        width: 40%;
        position: relative;
        top:-4px;
      }
    }
    .ant-form-item.add-apply-time{
      .anticon.anticon-cross-circle.ant-calendar-picker-clear{
        display: none;
      }
      .ant-select{
        float: left;
        width: 50%;
      }
    }
    .show-hide-tip{
      font-size: 14px;
      cursor:pointer;
      color: @primary-color;
      display: inline-block;
      margin-left: 10px;
      vertical-align: sub;
      span, .iconfont{
        vertical-align: middle;
      }
      .iconfont{
        font-size: 14px;
        margin-left: 2px;
        font-weight: bold;
      }
    }
    .submit-button-container{
 
      text-align: right;
      .submit-btn{
        width: 100%;
      }
      button{
        font-size: 14px;
      }
      .indicator{
        .ant-alert{
          width: 180px;
          margin:0 auto;
        }
      }
    }
    .other-condition-container{
       &.show-container{
          display: block;
       }
      &.hide-container{
         display: none;
      }
      .save-btn{
        //margin-left: 458px!important;
      }
    }
  }
  //搜索form-item样式
  .search-input-and-area-form-item{
    margin-bottom: 0!important;
    .ant-form-item-label{
      label{
        margin-bottom: 0!important;
      }
    }
    > .ant-form-item-control-wrapper{
      vertical-align: middle;
      > .ant-form-item-control{
        display: flex;
        align-items: center;
        //地域样式
        .area-selector{
          margin-right: 5px;
          .ant-form-item{
            margin-bottom: 0!important;
          }
          .ant-form-item-label{
            display: none!important;
          }
          input{
            max-width: 125px;
          }
          .area-selector-container{
            position: absolute;
            width: 455px;
          }
        }
        //搜索框样式
        .clue-recommend-filter-search-wrapper{
          .search-input-container{
            input{
              width: 360px;
            }
          }
        }
      }
    }
  }
  //vip样式
  .label-wrapper{
    .label-text{
      vertical-align: middle;
    }
    .label-vip{
      padding: 0 4px;
      border: 1px solid @vip-color;
      border-radius: 2px;
      background-color: @version-basic-bg-color;
      color: @vip-color;
      font-size: 10px;
      margin-left: 6px;
      vertical-align: middle;
    }
  }
  //高级筛选样式
  .advance-btn-item{
    padding: 3px 6px;
    font-size: 14px;
    color: @vip-color;
    border: 1px solid @border-color;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
      border-color: @vip-color;
    }
    &.advance-active{
      background: @vip-color;
      color: #fff;
      border-color: @vip-color;
    }
  }
  .advance-data-container{
    position: relative;
    .advance-data-content{
      &.show-more{
        height: auto;
      }
      .advance-btn-item{
        display: inline-block;
        line-height: normal;
      }
    }
    .show-hide-tip{
      margin-left: 1px;
    }
  }
  //vip筛选样式
  .vip-filter-container{
    margin-top: -10px;
    margin-bottom: 4px!important;
    .vip-filter-content{
      position: relative;
      .vip-filter-item{
        display: inline-block;
        font-size: 14px;
        margin-right: 15px;
        color: @primary-font-color;
        cursor: pointer;
        .btn-item{
          float: none;
        }
        .vip-item-active{
          color: @primary-color;
        }
      }
    }
    .ant-form-item-label{
      label{
        letter-spacing: 2px;
      }
    }
  }
  //已选条件样式
  .selected-filter-container{
    margin: 5px 0 20px;
    color: @primary-font-color;
    display: none;
    &.show-filters, &.mobile-selected-filter-container{
      display: block;
    }
    .selected-filter-title{
      font-size: 14px;
      vertical-align: middle;
    }
    .selected-filter-item{
      color: @primary-color;
      background: #fff;
      border: 1px solid @primary-color;
      padding: 3px 10px;
      border-radius: 2px;
      margin-right: 10px;
      font-size: 12px;
      cursor: pointer;
      vertical-align: middle;
      &:hover{
        color: #fff;
        background: @primary-hover-color;
      }
      .icon-close{
        font-size: 12px;
        margin-left: 5px;
        margin-right: -5px;
      }
    }
    //热门标签样式
    .advance-btn-item{
      vertical-align: middle;
      padding: 2px 6px;
    }
  }
  //热门和vip筛选
  .hot-and-vip-filters{
    transition: all .4s linear;
    //隐藏热门和vip筛选
    &.hide-filters{
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    &.mobile-hide-filters{
      width: 100%;
      overflow: hidden;
    }
  }

}
.ant-calendar-range-right .ant-calendar-date-input-wrap{
  margin-left: 0;
}
.vip-item-dropDown{
  .ant-dropdown-menu-item{
    font-size: 14px;
    color: @primary-font-color;
    &.ant-dropdown-menu-item-selected{
      color: #108ee9;
    }
  }
}

//带自定义时间选择的成立时间下拉框样式
.register-time-container{
  padding-top: 5px;
  width: auto!important;
  .ant-dropdown-menu{
    > .ant-dropdown-menu-item{
      padding: 0;
      background-color: #fff;
    }
  }
  .ant-dropdown-menu-item{
    &:first-child{
      border-radius: 0;
      border-top-left-radius: 4px;
    }
  }
  .register-time-wrapper{
    display: flex;
    border-radius: 4px;
    //选择自定义后样式
    &.selected-custom{
      border: 1px solid #ccc;
      .register-time-select-wrapper{
        .register-time-select-content{
          display: block;
        }
      }
    }
    .register-time-content{
      display: flex;
      .ant-dropdown-menu{
        box-shadow: none;
      }
    }
    //时间选择器样式
    .register-time-select-wrapper{
      border-left: 1px solid #f5f5f5;
      position: relative;
      z-index: 1040;
      .register-time-select-content{
          display: none;
          padding: 0;
          background-color: #fff;
      }
      .ant-calendar-picker-input{
        display: none;
        &+div{
          position: unset!important;
        }
      }
      .ant-calendar-picker-container{
        position: unset!important;
        z-index: 1020;
        .ant-calendar-input-wrap, .ant-calendar-range-middle{
          display: none;
        }
        .ant-calendar-range{
          max-width: 410px;
          box-shadow: none;
          border: unset;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          .ant-calendar-decade-panel-table,
          .ant-calendar-year-panel-table,
          .ant-calendar-month-panel-table{
            height: 175px;
          }
        }
      }
    }
  }
}

//搜索输入框样式
.clue-recommend-filter-search-wrapper{
  position: relative;
  display: flex;
  //搜索框样式
  .search-input-container {
    width: 100%;
    position: relative;
    .search-input {
      width: 100%;
      height: @input_top_height;
      padding: 8px 25px 8px 8px;
      line-height: @input_height;
      border: 1px solid @SEARCH-INPUT-BORDER;
      border-radius: @border-radius;
      font-size: @form_font_size;;
      &:hover {
        border-color: #57c5f7;
      }

    }

    .search-icon {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      right: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #7f909a;
      cursor: pointer;
      z-index: 1;
    }
    .icon-circle-close.search-icon{
      margin-top: -16px;
      font-size: 14px;
      color: @placeholder-font-color;
      right: 6px;
      transition: color 0.3s;
      &:hover{
        color: @secondary-font-color;
      }
    }
  }
  .anticon-search.search-icon{
    display: none;
  }
  .ant-input-group-addon{
    background-color: @primary-color;
    border-color: @primary-color;
    color: #fff;
    font-size: 14px;
    width: auto;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    .search-confirm-btn{
      display: block;
      position: relative;
      top: 0;
      right: 0;
      font-size: 18px;
      color: #fff;
      margin-top: 0;
    }
    .search-text{
      margin-left: 8px;
    }
  }
  .recommend-clue-sug{
    position: absolute;
    top: 33px;
    width: 350px;
    z-index: 10;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    li{
      color: @primary-font-color;
      font: 14px arial;
      line-height: 25px;
      padding: 0 8px;
      position: relative;
      cursor: default;
      &:hover{
        background-color: #f0f0f0;
      }
    }
  }
}
