/*
注册表单的样式
 */
@font-color: #333;
@button-height: 48px;
@blue-color: #2196f3;
@margin: 24px;
.register-wrap{
  padding: 0 @margin;
  .register-form{
    padding: 0 48px;
    margin-top: @margin;
    .ant-form-item{
      margin-bottom: 8px;
    }
    input{
      height: 40px;
      line-height: 42px;
      color: @font-color;
      font-size: 14px;
    }
    //输入框后缀的样式
    .ant-input-group-addon{
      padding: 3px;
      font-size: 14px;
    }
    //正在验证状态图标的样式修改
    .is-validating.has-feedback:after{
      right: 80px;
      line-height: 40px;
      height: 40px;
    }

    //验证码输入框
    input.captcha-code-input{
      width: 200px;
    }
    .captcha-code-wrap{
      float: right;
      width: 144px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      color: #8da8c5;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      .get-captcha-code{
        cursor: pointer;
      }
    }
    .register-error-tip{
      margin-top: 4px;
      padding-left: 21px;
      line-height: 22px;
      font-size: 14px;
      color: #ee5b44;
      background: no-repeat url("../image/error.png") 0 2px;
    }
    button{
      width: 100%;
      height: @button-height;
      margin-top: @margin;
      color: #ffffff;
      background-color: @blue-color;
    }
  }
  //有隐藏的密码框的form表单样式
  .register-form.register-finished-form{
    margin-top: 8px;
  }

}