@import "../../../../public/css/common-variables";
@import "../../../../public/css/common-colors";
@font-color: #999999;
.apply_approve_content_wrap {
  color: #506470;
  overflow: hidden;
  //左侧的tab页面
  .apply_approve_list_wrap {
    float: left;
    width: 336px;
    min-height: 300px;
    border-right: 1px solid #e1e9eb;
    //申请审批列表
    .apply_approve_list_tab {
      padding: 15px;
      border-bottom: 1px solid #e1e9eb;
      overflow: hidden;

      ul {
        overflow: hidden;
        float: left;

        li.apply_type_item {
          float: left;
          position: relative;
          width: 64px;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          color: #999;
          margin-right: 17px;
          &.active-tab {
            color: @primary-color;
            border-bottom: 4px solid @primary-color;
            padding-bottom: 5px;
          }
        }
        //有未读回复提示的样式
        .new-message-tip {
          position: absolute;
          top: 0px;
          right: -10px;
          height: 14px;
          width: 14px;
          font-size: 14px;
        }
      }

      .add_apply_type_icon {
        cursor: pointer;
        float: right;

        .iconfont {
          color: @secondary-color;
          &:hover{
            color: @primary-color;
          }
          &.icon-plus {
            margin-right: 17px;
          }
        }
      }

    }

    //左侧列表内容区域
    .app_user_manage_apply_list_wrap {
      min-height: 400px;
      position: relative;
      //加载列表的loading状态
      .load8 {
        transform: scale(0.5, 0.5);
        left: 40%;
        top: 20%;
        .loader8 {
          border-left-color: #394144;
        }
      }

      //搜索和筛选区域
      .filter-and-search-container, .refresh-tip-panel {
        height: 48px;
        line-height: 32px;
        padding: 8px 16px;
        overflow: hidden;
        border-bottom: 1px solid #E5E5E5;
        //搜索框
        .apply-search-wrap {
          float: left;
          width: 272px;
          .search-input-container {
            height: @btn-height;
            padding: 0;
            .search-input {
              height: 30px;
              line-height: 30px;
              border: none;
              outline: none;
            }
          }
        }

        //筛选框
        .apply-type-filter {
          .apply-status-select {
            width: 100px;
            margin-right: 8px;
          }

          .apply-type-select {
            width: 164px;
          }

        }

        .iconfont.icon-close-tips {
          cursor: pointer;
          color: #ccc;
          float: right;
        }
      };
      //有未读回复的返回按钮
      .filter-and-search-container.return-back{
        height: 32px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;

        padding: 0;
        font-size: 14px;
        .return-arrow,.all-unread-read{
          color: @primary-color;
          &:hover{
            color:@primary-hover-color
          }
        }
        .return-arrow{
          margin-left: 15px;
        }
        .all-unread-read{
          margin-right: 14px;
        }
      }
      .refresh-tip-panel {
        font-size: 14px;
        color: #333;
        border-bottom: 1px solid #e1e9eb;
        .iconfont.icon-warn-icon{
          color:@reply-message-tip-color;
          margin-right: 4px;
        }
      }

      .summary_info {
        font-size: 14px;
        color: @font-color;
        margin: 16px;
      }
    }
  }

  //右侧申请审批详情
  .apply_approve_detail_wrap {
    float: left;
    color: #5d5d5d;
    background-color: #f5f6f8;
  }
  //右侧详情没有内容
  .no-apply-detail{
     background: #E8EEF3;
     width: calc(100% - 336px);
     margin-left: 336px;
     position: absolute;
     height: 100%;
     color: #C6D3E2;
     font-size: 16px;
     text-align: center;
     .detail-tip{
       position: relative;
       top: calc(50% - 44px);
     }
     .iconfont.icon-apply-ico{
        font-size: 40px;

     }
  }
  //申请历史
  .right-panel-modal.historical-detail-panel {
    //@bordercolor: #e1e9eb;
    padding: 0;
    min-height: 200px;
    width: 850px;
    right: 0;
    .right-panel-modal-content{
      width: 850px;

    }
    .close-modal-btn{
      right: 850px;
    }
    .app_user_manage_detail {
      dt {
        float: left;
        overflow: hidden;
        clear: left;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .app_user_apply_list_style {
      .summary_info {
        position: relative;
        bottom: 0px;
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: @form_font_size14;
      }
    }
    //申请列表
    .app_user_manage_apply_list_wrap {
      position: relative;
      @color: #506470;
      color: @color;
      border-right: 1px solid @bordercolor;
      width: 420px;
      float: left;
      min-height: 300px;
      @text-color: #313330;
      .searchbar {
        height: @apply-top-height;
        padding: 16px 20px 0 20px;
        border-bottom: 1px solid @bordercolor;
        //申请类型筛选
        .apply-type-filter {
          position: relative;
          float: left;
          color: @primary-font-color;
          cursor: pointer;
          .apply-type-filter-btn {
            float: left;
            padding-left: 10px;
            padding-right: 2px;
            font-size: 14px;
            border: 1px solid #cdd5d9;
            border-radius: 3px;
            line-height: 29px;
            &:hover {
              border: 1px solid #57c5f7;
            }
            .iconfont.icon-arrow-down {
              font-size: 24px;
              vertical-align: middle;
              color: #a3a4a4;
              font-weight: bold;
            }
          }
        }
        //搜索框
        .apply-search-wrap {
          float: left;
          width: 200px;
          .search-input-container {
            height: @btn-height;
            padding: 0;
            .search-input {
              height: 30px;
              line-height: 30px;
              border: none;
              outline: none;
            }
          }
        }
        //刷新、查看未读回复的按钮
        .search-btns {
          float: right;
          height: 30px;
          line-height: 30px;
          .icon-refresh {
            margin-right: 0;
            color: #a0abaf;
          }
          span.icon-apply-message-tip {
            font-size: 18px;
            color: #edeef0;
          }
          span.has-unread-reply, span.has-new-apply {
            color: @reply-message-tip-color;
            cursor: pointer;
          }
          .check-uread-reply-bg {
            float: right;
            border-radius: 3px;
            height: 24px;
            width: 24px;
            text-align: center;
            line-height: 24px;
            margin-top: 4px;
            margin-left: 14px;
          }
          .check-uread-reply-bg.active {
            background-color: #e1eaf1;
            cursor: pointer;
          }
        }
      }
      .ant-pagination {
        padding: 20px 0 11px 0;
        border: 1px solid @bordercolor;
        border-top: none;
      }
      ul.app_user_manage_apply_list {

        .ant-alert-info {
          display: inline-block;
        }
        //有未读回复的提示
        li.has-unread-reply-tip {
          height: 40px;
          background-color: @reply-message-tip-color;
          line-height: 40px;
          text-align: center;
          font-size: 14px;
          cursor: default;
        }
        li {
          position: relative;
          padding-left: 20px;
          padding-right: 20px;
          border-left: 3px solid transparent;
          border-bottom: 1px solid #f0f4f7;
          cursor: pointer;
          &:hover{
            background-color: @hover-item-color;
          }
          &.current {
            background-color: @current-item-color;
            dt span {
              color: @primary-font-color;
            }
          }
          em, dt {
            font-weight: normal;
            font-style: normal;
          }
          dt {
            padding-top: 12px;
            padding-bottom: 12px;
            span {
              padding-top: 5px;
              line-height: 19px;
              font-size: 16px;
            }
            //未读回复的标识
            span.icon-apply-message-tip {
              padding-left: 5px;
              color: @reply-message-tip-color;
            }
            em {
              float: right;
              line-height: 20px;
              font-size: 13px;
              color: @approval-pending-color;
              &.processed {
                color: @secondary-font-color;
              }
            }
          }
          dd {
            line-height: 18px;
            font-size: 13px;
            padding-bottom: 6px;
            color: @secondary-font-color;
            & > span {
              float: left;
              max-width: 65%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            em {
              float: right;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }


    .button-zones {
      position: inherit;
    }
  }

}

//添加不同类型的审批样式
.add-apply-type-list, .add-search-or-filter-type-list {
  .ant-dropdown-menu-item{
    //带未读回复的提示
      &.active-unreply a, &.active-unreply a:hover{
        color: #EFA246;
        .iconfont {
          color: #EFA246;
        }
      }
      &.inactive-unreply a,&.inactive-unreply a:hover{
        color:#ccc;
        .iconfont {
          color: #ccc;
        }
      }

    a {
      font-size: 14px;
      color: #333;
      .iconfont {
        color: #8DA8C5;
        margin-right: 8px;
      }
      &:hover {
        color: #2196F3;
        .iconfont {
          color: #2196F3;
        }
      }

    }
  }
};
.apply_by_me_container:before,.approve_by_me_container:before,.apply_by_team_container:before {
  pointer-events:auto;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: 0px;
  min-width: 14px;
  height: 14px;
  overflow: hidden;
  background: @error-color;
  border-radius: 8px;
  color: #fff;
  line-height: 14px;
  font-size: 10px;
  text-align: center;
}
.apply_by_me_container:before,.apply_by_team_container:before{
  background: @warn-color;
  height: 7px;
  width: 7px;
  min-width: 0;
  right: -4px;
}
.ant-select-dropdown.ant-select-tree-dropdown .ant-select-tree{
    li .ant-select-tree-title{
      font-size: 14px;
      color: #222;
    }
}
