@import "../../public/css/common-colors";
.shear-content-container {
    display: inline-block;
    .append-icon {
        color: @primary-color;
        cursor: pointer;
        &.collapse-btn {
            float: right;            
            width: initial;
        }
    }
    .cut-content {
        word-break: break-all;
        white-space: initial;
        &>* {
            word-break: break-all;
            white-space: initial;
        }
    }
      .icon-edit-btn-plus.has-data-btn{
        display:inline-block;
        cursor: pointer;
        font-size: 15px;
        padding: 0;
        padding-left: 6px;
      }
}