.competing-product-container {
  padding: 12px;
  .competing-product-content-wrap {
    background: #fff;
    .competing-product-top-nav {
      padding: 24px;
      height: 80px;
      .pull-left {
        .add-input {
          width: 225px;
        }
        .add-btn {
          height: 30px;
          border-radius: 3px;
        }
      }
    }
    .competing-product-content {
      border-top: 1px solid #E5E5E5;
      padding: 24px;
      .msg-tips {
        width: 350px;
      }
      .mb-taglist {
        .mb-tag {
          position: relative;
          width: 167px;
          height:56px;
          border: 1px solid #E5E5E5;
          border-radius:4px;
          color: #333;
          margin: 0 16px 16px 0;
          display: inline-block;
          .mb-tag-content {
            text-align: center;
            line-height: 56px;
            .tag-content {
              font-size: 16px;
            }
            .icon-delete {
              position: absolute;
              right: 5px;
              top: -15px;
              color: #CCC;
              width: 14px;
              height: 16px;
              display: none;
            }
          }
          &:hover {
            background-color: #F1F8FE;
            .icon-delete {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}