.bottom-save-cancel-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  button{
    float: left;
  }
  .ant-btn-primary{
    margin-right: 10px;
  }
  .alert-timer{
    float: left;
    margin: -6px 0 0 10px;
  }
}