@import "../../../../public/css/common-variables.less";
.oplate_user_analysis {
  background-color: rgb(243, 245, 245);
  padding-top:@top_nav_height;
  .topNav:before {
    border-bottom: 0 !important;
  }
}
