.oplate_user_analysis {
  background-color: rgb(243, 245, 245);
  padding-top:76px;
  .topNav{
    &:before{
      border-bottom: 0 !important;
    }
  }
  .analysis_chart {
    padding-right: 0;
    overflow:hidden;
  }
  .global_filter_btn {
    margin:0 0 0 20px;
    display:none;
  }
  .user_analysis_filter {
    padding:15px 42px;
    label {
      font-weight:normal;
      font-size:13px;
    }
    .ant-checkbox {
      margin-top:-1px;
    }
    li {
      margin-right:10px;
    }
  }
  .analysis-selector-wrap {
    display:inline-block;
    position: absolute;
    top: 20px;
    right: 284px;
  }
  .date-range-wrap {
    position:absolute;
    top:21px;
    right:33px;
  }
  .summary-numbers {
    margin: 20px 24px 10px;
    background-color: #fff;
    border-bottom:1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
    .anticon {
      position:absolute;
      width:14px;
      height:14px;
      top:30px;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
    }
  }
  .summary-number {
    cursor:pointer;
    display:inline-block;
    vertical-align:top;
    height:86px;
    width:100%;
    border-right:1px solid #e1e2e4;
    border-bottom: 1px solid #e1e2e4;
    text-align:center;
    position:relative;
    p {
      color:#a6aaab;
      line-height:16px;
      margin-top:15px;
      font-size: 16px;
    }
    >div>div {
      color:#45525b;
      font-size:28px;
      line-height:55px;
    }
    //防止由于字体太长，导致显示错乱
    @for $i from 8 to 14 {
      .f#{$i} {
        font-size : #{24 - ($i - 8) * 2}px;
      }
    }
  }
  .summary-number:last-child {
    border-right:1px solid #e1e2e4;
  }
  .summary-number.active {
    border-bottom: 5px solid #4887b9;
  }
  .chart_list {
    padding:0 24px 0 9px;
    margin-bottom:-3px;
  }
  .charts-select-fix>.ant-select {    
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .chart-holder {
    margin-bottom:21px;
    height:285px;
    background-color: #fff;
    &.zone-fix {
      height: initial;
    }
    &.height-fix {
      height: 285px!important;
      overflow: hidden;
    }
  }
  .activeness-chart-height , .active-time-scatter-height {     
    margin-bottom:21px;
    border:1px solid #f0f0f0;
    height:300px;
    .box-container {
      .arealine-chart, .analysis_timerange_bar_chart {
        height: 256px;
      }
    }
  }
  .expired-activeness-chart-height {
    .box-container {
      .arealine-chart {
        height: 246px;
      }
    }
  }
  .retention_table_chart {
    height:auto;
    min-height:214px;
  }
  // 获取点击标签的样式
  .show-click-lable {
    font-size: 16px;
    background-color: #fff;
    margin: 10px 24px;
    .show-click-type {
      height: 30px;
      padding: 6px 10px;
      margin-right: 10px;
    }
  }
  .error-tips-message {
    text-align: center;
    margin-top: 100px;
  }
}