@import "../../../../public/css/common-variables.less";
.oplate_user_analysis {
  background-color: rgb(243, 245, 245);
  padding-top:@top_nav_height;
  .topNav{
    &:before{
      border-bottom: 0 !important;
    }
    //应用、时间选择框所在区域的样式设置
    .user-analysis-filter-block{
      position: absolute;
      top: @filter_area_margin_top;
      right: @container_padding;
      //应用选择框
      .analysis-selector-wrap {
        float: left;
        .analysis-filter-select .ant-select-selection--single {
          height: 30px;
        }
      }
      //时间选择框
      .date-range-wrap {
        float: left;
        margin-left: 20px;
      }
    }
  }
  .analysis_chart {
    padding-right: 0;
    overflow:hidden;
  }

  .global_filter_btn {
    margin:0 0 0 20px;
    display:none;
  }
  .user_analysis_filter {
    padding:15px 42px;
    label {
      font-weight:normal;
      font-size:13px;
    }
    .ant-checkbox {
      margin-top:-1px;
    }
    li {
      margin-right:10px;
    }
  }
  .summary-numbers {
    margin: 20px 24px 10px;
    background-color: #fff;
    border-bottom:1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
    .anticon {
      position:absolute;
      width:14px;
      height:14px;
      top:30px;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
    }
  }

  .chart_list {
    padding:0 24px 0 9px;
    margin-bottom:-3px;
  }
  .charts-select-fix>.ant-select {    
    position: absolute;
    right: 70px;
    top: 7px;
  }
  .chart-holder {
    margin-bottom:21px;
    height:285px;
    background-color: #fff;
    .card-container .card-container-sub-title {
      float: left;
    } 
    &.zone-fix {
      height: initial;
    }
    &.height-fix {
      height: 285px!important;
      overflow: hidden;
    }
  }
  .activeness-chart-height , .active-time-scatter-height {     
    margin-bottom:21px;
    border:1px solid #f0f0f0;
    height:300px;
    .box-container {
      .arealine-chart, .analysis_timerange_bar_chart {
        height: 256px;
      }
    }
  }
  .expired-activeness-chart-height {
    .box-container {
      .arealine-chart {
        height: 246px;
      }
    }
  }
  .retention_table_chart {
    height:auto;
    min-height:214px;
  }
  // 获取点击标签的样式
  .show-click-lable {
    font-size: 16px;
    background-color: #fff;
    margin: 10px 24px;
    .show-click-type {
      height: 30px;
      padding: 6px 10px;
      margin-right: 10px;
    }
  }
  .error-tips-message {
    text-align: center;
    margin-top: 100px;
  }
}