.antd-vertical-tabs {
  outline: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  color: #666;
}
.antd-vertical-tabs:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.antd-vertical-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 1px;
  box-sizing: border-box;
  height: 2px;
  background-color: #2db7f5;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.antd-vertical-tabs-ink-bar-transition-forward {
  -webkit-transition: right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s;
  transition: right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s;
}
.antd-vertical-tabs-ink-bar-transition-backward {
  -webkit-transition: right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s, left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s, left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.antd-vertical-tabs-tabs-bar {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 16px;
}
.antd-vertical-tabs-nav-container {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  margin-bottom: -1px;
  *zoom: 1;
}
.antd-vertical-tabs-nav-container:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.antd-vertical-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.antd-vertical-tabs-tab-prev,
.antd-vertical-tabs-tab-next {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  margin-right: -2px;
  margin-top: 3px;
  width: 32px;
  height: 100%;
  line-height: 32px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
  text-align: center;
}
.antd-vertical-tabs-tab-prev-icon,
.antd-vertical-tabs-tab-next-icon {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-family: sans-serif;
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  -webkit-transform: scale(0.83333333) rotate(0deg);
  transform: scale(0.83333333) rotate(0deg);
  /* IE6-IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1);
  zoom: 1;
}
:root .antd-vertical-tabs-tab-prev-icon,
:root .antd-vertical-tabs-tab-next-icon {
  -webkit-filter: none;
  filter: none;
}
:root .antd-vertical-tabs-tab-prev-icon,
:root .antd-vertical-tabs-tab-next-icon {
  font-size: 12px;
}
.antd-vertical-tabs-tab-prev-icon:before,
.antd-vertical-tabs-tab-next-icon:before {
  display: block;
  font-family: "anticon" !important;
}
.antd-vertical-tabs-tab-btn-disabled {
  cursor: default;
  color: #ccc;
  pointer-events: none;
}
.antd-vertical-tabs-tab-next {
  right: 2px;
}
.antd-vertical-tabs-tab-next-icon:before {
  content: "\E600";
}
.antd-vertical-tabs-tab-prev {
  left: 0;
}
.antd-vertical-tabs-tab-prev-icon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.antd-vertical-tabs-tab-prev-icon:before {
  content: "\E601";
}
:root .antd-vertical-tabs-tab-prev {
  -webkit-filter: none;
  filter: none;
}
.antd-vertical-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
}
.antd-vertical-tabs-nav-scroll {
  width: 99999px;
  overflow: hidden;
}
.antd-vertical-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  -webkit-transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  margin: 0;
  list-style: none;
  float: left;
}
.antd-vertical-tabs-nav:before,
.antd-vertical-tabs-nav:after {
  display: table;
  content: " ";
}
.antd-vertical-tabs-nav:after {
  clear: both;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-disabled {
  pointer-events: none;
  cursor: default;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-disabled .antd-vertical-tabs-tab-inner {
  color: #ccc;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 28px;
  box-sizing: border-box;
  position: relative;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-inner {
  padding: 8px 20px;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-inner:hover {
  color: #57c5f7;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-inner:active {
  color: #2baee9;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-inner .anticon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.antd-vertical-tabs-nav .antd-vertical-tabs-tab-active .antd-vertical-tabs-tab-inner {
  color: #2db7f5;
}
.antd-vertical-tabs-mini .antd-vertical-tabs-nav-container {
  font-size: 12px;
}
.antd-vertical-tabs-mini .antd-vertical-tabs-tab {
  margin-right: 24px;
}
.antd-vertical-tabs-mini .antd-vertical-tabs-tab .antd-vertical-tabs-tab-inner {
  padding: 8px 16px;
}
.antd-vertical-tabs-tabpane-hidden {
  display: none;
}
.antd-vertical-tabs-content {
  position: relative;
  width: 100%;
}
.antd-vertical-tabs-slide-horizontal-backward-enter {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
}
.antd-vertical-tabs-slide-horizontal-backward-enter.antd-vertical-tabs-slide-horizontal-backward-enter-active {
  -webkit-animation-name: antMoveLeftIn;
  animation-name: antMoveLeftIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.antd-vertical-tabs-slide-horizontal-backward-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.antd-vertical-tabs-slide-horizontal-backward-leave.antd-vertical-tabs-slide-horizontal-backward-leave-active {
  -webkit-animation-name: antMoveRightOut;
  animation-name: antMoveRightOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.antd-vertical-tabs-slide-horizontal-forward-enter {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
}
.antd-vertical-tabs-slide-horizontal-forward-enter.antd-vertical-tabs-slide-horizontal-forward-enter-active {
  -webkit-animation-name: antMoveRightIn;
  animation-name: antMoveRightIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.antd-vertical-tabs-slide-horizontal-forward-leave {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.antd-vertical-tabs-slide-horizontal-forward-leave.antd-vertical-tabs-slide-horizontal-forward-leave-active {
  -webkit-animation-name: antMoveLeftOut;
  animation-name: antMoveLeftOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-tab {
  float: none;
  margin-right: 0;
  margin-bottom: 16px;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-tab:last-child {
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-tab .antd-vertical-tabs-tab-inner {
  padding: 8px 24px;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-nav-scroll {
  width: auto;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-tabs-bar {
  border-bottom: 0;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-nav-container {
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-nav-wrap {
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-ink-bar {
  width: 2px;
  left: auto;
  height: auto;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-ink-bar-transition-forward {
  -webkit-transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s;
  transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-ink-bar-transition-backward {
  -webkit-transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s, top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.09s, top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-container {
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical .antd-vertical-tabs-content {
  overflow: hidden;
  width: auto;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-tabs-bar {
  float: left;
  border-right: 1px solid #e9e9e9;
  margin-right: -1px;
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-tab .antd-vertical-tabs-tab-inner {
  text-align: right;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-nav-container {
  margin-right: -1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-nav-wrap {
  margin-right: -1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-ink-bar {
  right: 1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-content {
  padding-left: 24px;
  border-left: 1px solid #e9e9e9;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-right .antd-vertical-tabs-tabs-bar {
  float: right;
  border-left: 1px solid #e9e9e9;
  margin-left: -1px;
  margin-bottom: 0;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-right .antd-vertical-tabs-nav-container {
  margin-left: -1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-right .antd-vertical-tabs-nav-wrap {
  margin-left: -1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-right .antd-vertical-tabs-ink-bar {
  left: 1px;
}
.antd-vertical-tabs-vertical.antd-vertical-tabs-right .antd-vertical-tabs-content {
  padding-right: 24px;
  border-right: 1px solid #e9e9e9;
}
.antd-vertical-tabs-bottom .antd-vertical-tabs-tabs-bar {
  margin-bottom: 0;
  margin-top: 16px;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-ink-bar {
  visibility: hidden;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab {
  margin: 0;
  border: 1px solid transparent;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #f9f9f9;
  margin-right: 2px;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-inner {
  padding: 7px 16px 6px;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-active {
  background: #fff;
  border-color: #d9d9d9;
  color: #2db7f5;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-active .antd-vertical-tabs-tab-inner {
  padding-bottom: 7px;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-nav-wrap {
  margin-bottom: 0;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-inner .anticon-cross {
  margin-right: 0;
  color: #999;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  font-size: 12px;
  font-size: 9px \9;
  -webkit-transform: scale(0.75) rotate(0deg);
  transform: scale(0.75) rotate(0deg);
  /* IE6-IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1);
  zoom: 1;
  width: 0;
  text-align: right;
  vertical-align: middle;
  overflow: hidden;
}
:root .antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-inner .anticon-cross {
  -webkit-filter: none;
  filter: none;
}
:root .antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-inner .anticon-cross {
  font-size: 12px;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-inner .anticon-cross:hover {
  color: #404040;
  font-weight: bold;
}
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab-active .anticon-cross,
.antd-vertical-tabs.antd-vertical-tabs-card .antd-vertical-tabs-tab:hover .anticon-cross {
  width: 16px;
}
.antd-vertical-tabs-extra-content {
  float: right;
  line-height: 32px;
}
.antd-vertical-tabs-extra-content .antd-vertical-tabs-new-tab {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  -webkit-transform: scale(0.83333333) rotate(0deg);
  transform: scale(0.83333333) rotate(0deg);
  /* IE6-IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1);
  zoom: 1;
  color: #999;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
:root .antd-vertical-tabs-extra-content .antd-vertical-tabs-new-tab {
  -webkit-filter: none;
  filter: none;
}
:root .antd-vertical-tabs-extra-content .antd-vertical-tabs-new-tab {
  font-size: 12px;
}
.antd-vertical-tabs-extra-content .antd-vertical-tabs-new-tab:hover {
  color: #404040;
}