/**
  公共样式定义文件
 */
//公共颜色文件的引入
@import './common-colors.less';
//头部导航操作区高度
@top_nav_height:64px;
@container_padding:24px;

//form 表单
@input_height:30px;
@input_width:325px;
@form_font_size:13px;
@form_font_size14:14px;
@form_font_size16:16px;
@line_height13:13px;
@line_height14:14px;
@line_height30:30px;
@table_font_size:13px;
@edit_input_width:260px;
@border-radius:3px;
@input_top_height: 32px;
@apply-detail-width: 700px;
//筛选按钮宽度
@filter_btn_width:75px;
//不同筛选框之间的间距
@filter_btn_internal:15px;
//筛选区域上边距
@filter_area_margin_top:15px;
//筛选按钮样式
.filter_btn {
  margin-left:@filter_btn_internal;
  font-size:@form_font_size16;
  height:@input_height;
  border-radius:@border-radius;
  width:@filter_btn_width;
}
//搜索框宽度
@filter_input_width:196px;
.border-radius {
  border-radius:@border-radius;
}

//label 黑色
@label_black:#53575a;
//下边距
@margin-bottom:13px;
//编辑保存按钮（对号）的字体颜色
@icon_choose_color:#4dbe50;
//编辑取消按钮（叉号）的字体颜色
@icon_close_color:#f43631;
//应用添加按钮宽度
@app_icon_width:60px;
//应用添加按钮高度
@app_icon_height:60px;
//label的内边距padding
@label_padding_top:11px;
//table中的分割线颜色
@table_dashed_color:#eff2f3;

//信息标签的背景色
@info-tag-color: #b8c4ca;
//意向标签的背景色
@intent-tag-color: #ddd13c;
//试用标签的背景色
@trial-tag-color: #95b73c;
//签约标签的背景色
@sign-tag-color: #5197cf;
//合格标签的背景色
@qualified-tag-color: #00a854;
//曾经合格标签的背景色
@history-qualified-tag-color: #85c6a6;
//流失标签的背景色
@loss-tag-color: #6a8498;
//续约标签的背景色
@re-contract-color:#8397ed;
//标签字体的颜色
@tag-font-color: #ffffff;


// 错误提示的字体以及边框颜色
@error_tips_color: @error-color;

//待分配的背景色
@will-distribute-background: #FDF6EC;
//待分配的颜色
@will-distribute-color: #Efa246;
//待跟进的背景色
@has-distribute-background: #F1FAEF;
//待跟进的颜色
@has-distribute-color: #71ca62;
//已跟进的背景色
@has-follow-background: #E8F4FE;
//已跟进的颜色
@has-follow-color: #2196f3;
//已转化的颜色
@has-transfer-color:#666;
//已转化的背景色
@has-transfer-background: #E5E5E5;
//无效的颜色
@has-invalid-color: @secondary-font-color;
//无效的背景色
@has-invalid-background: #E5E5E5;
//button悬浮的蓝色
@BUTTON-HOVER:#09a9fe;
//蓝色标签的背景颜色
@BLACK_TAG_BACKGROUND:#EEF7FE;
//背景色 列表的背景色
@NOTICE-BACKGROUND:#f5f6f8;
//图标的背景色
@ICON-BACKGROUND:#e8f4fe;
//搜索框边框的颜色 default类型按钮border的颜色
@SEARCH-INPUT-BORDER:#DEDFE2;
//搜索框中字体大小
@SEARCH-INPUT-PLACEHOLDER:16px;
//边框灰色
@bd-grey: #DEDFE3;
//顶部按钮
@btn-margin: 12px;
@btn-height: 32px;
@btn-lineHeight: 30px;
@btn-font-size: 16px;
@btn-min-width: 96px;
@btn-radius: 4px;
//tab页中横线的颜色
@TAB_SOLID_COLOR:#e2e3e5;
//加载中或者出错后图标的颜色
@LOADING_ERR_ICON:#cecece;

@font-black: #757B79;
@box_shadow_color: #cac8c8;
@bordercolor: #e1e9eb;
@text-color: #313330;
@reply-message-tip-color: #f7a43e;
@approval-pending-color: #f68a4a;
@text-color: #313330;
@apply-detail-bg-color: #ffffff;
@apply-top-height: 64px; //头部的高度
@apply-list-color: #506470;
@current-item-color: #f5f6f8;
@disable_call_phone_icon:#ccc;

// 导入面板的背景色
@import_bg_color: #f5f5f5;
// 导入的数据错误时，字体颜色
@import_data_error_color: #eb5e57;
// 导入的数据，出现警告时的字体颜色
@import_data_warn_color: #efa246;

// 客户阶段颜色
@customer-stage-first-color: #D0C628;
@customer-stage-second-color: #9BBD33;
@customer-stage-third-color: #38BB3B;
@customer-stage-fourth-color: #07B3C2;
@customer-stage-fifth-color: #2196f3;
@customer-stage-sixth-color: #806FE6;
@customer-stage-seventh-color: #D078D1;
@customer-stage-eighth-color: #D18F78;

// 鼠标移入的背景色
@mouse-enter-zone-background: #F1F8FE;

// 次要内容字体颜色
@sub-content-font-color: #CCCCCC;

// 确认删除的背景色
@confirm-delete-background: #EB5E57;

// 内容区背景色
@content-zone-background: #FFFFFF;

// 边框颜色
@border-color: #E5E5E5;

// 选中状态背景色
@select-btn-color: #E4F2FE;

//日程图标的颜色
//电联
@phone-call-out: #23b16a;
//拜访
@visit-briefcase: #9d5cf4;
//其他
@trace-other: #8eaac6;

@icon-close-background-color: #8ea9c4;

//版本信息基础样式
@version-basic-color: @warn-color;
@version-basic-bg-color: #FDF6EC;
//商品信息样式
@goods-name-bg-color: #FAFAFA;
@goods-name-hover-bg-color: #F1F8FE;
