@import (optional) "./common-variables.less";
// common a  style
.a_button {
    color: @primary-color;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.a_button:hover {
    color: @primary-hover-color;
    border: 1px solid @primary-hover-color;
}

//一行属性条目的样式，展示基本信息时使用
.detail_item {
    padding: @label_padding_top 0 9px 0;
    color: @label_black;
    font-size: 13px;
}

.detail_item dt {
    width: 56px;
    text-align: right;
    font-weight: normal;
    i {
        margin-left: 27px;
    }
    em {
        margin-left: 7px;
    }
}

.detail_item dd {
    padding: 0 0 0 20px;
    margin-left: 56px;
}

.right-pannel-default {
    form {
        .ant-form-item {
            padding-top: 1px;
            input {
                height: @input_height;
                .border-radius;
                font-size: @form_font_size;
                padding-top: 3px;
                padding-bottom: 3px;
                width: @edit_input_width;
            }
            textarea {
                .border-radius;
                height: auto;
                font-size: @form_font_size;
                width: @edit_input_width;
            }
            width:370px;
            margin-bottom:@margin-bottom;
            .ant-select {
                width: @edit_input_width;
                font-size: @form_font_size;
            }
            .ant-select-selection {
                .border-radius;
            }
            .ant-select-selection--single {
                border-radius: @border-radius;
                height: @input_height;
            }
            .ant-select-selection--single .ant-select-selection__rendered {
                line-height: @line_height30;
            }
            .ant-select-dropdown-menu-item {
                font-size: @form_font_size;
            }
            .ant-input-number {
                margin-top: 0px;
                border-radius: @border-radius;
            }
            .ant-radio-group {
                //右侧面板 radio input样式
                .ant-radio-input {
                    width: auto;
                }
            }
        }
    } //右侧面板非form表格中的
    .ant-select {
        width: @edit_input_width;
    }
    .form-cancel-btn {
        float: right;
        margin-top: 20px;
        padding: 4px 15px;
        display: block;
        margin-right: 56px;
        .border-radius;
    }
    .form-submit-btn {
        float: right;
        margin-top: 20px;
        padding: 4px 15px;
        .border-radius;
        margin-right: 6px;
    }
    .iconfont {
        width: 24px;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
    }
    .icon-choose {
        color: @icon_choose_color;
        &:hover {
            color: darken(@icon_choose_color, 20%);
        }
        font-size:@form_font_size14;
    }
    .icon-close {
        color: @icon_close_color;
        color: darken(@icon_close_color, 20%);
    }
    .icon-update {
        font-size: @form_font_size16;
    } //添加数据时
    .form-item-label {
        color: #53575a;
        text-align: right;
        font-size: 13px;
    } //radio 样式
    .ant-radio+span {
        margin-left: 8px;
        position: relative;
    }
    .ant-form-item-label label {
        font-weight: normal;
        font-size: @form_font_size;
        line-height: @form_font_size;
        color: #666;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding: 16px 4px !important;
    }
}

.col-xs-10 {
    //以下为默认通用设置
    .border_wrap {
        line-height: 13px;
        height: 28px;
    }
    .ant-select-selection {
        .border-radius;
    } //下拉框默认高度

    //下拉菜单进行选择操作时，边框高亮
    .ant-select-focused.ant-select-open {
        .ant-select-selection {
            border-color: #49a9ee;
            outline: 0;
            box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
        }
    }

    //下拉菜单选择完之后，去掉边框高亮
    .ant-select-focused {
        .ant-select-selection {
            border-color: #d9d9d9;
            box-shadow: none;
        }
    }

    .ant-select-lg {
        .ant-select-selection--single {
            height: @input_height;
        }
    }
    .ant-select-selection--single {
        height: @input_height;
        border-radius: @border-radius;
    } //输入框高度和圆角
    input {
        height: @input_height;
        border-radius: @border-radius;
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header{
        margin-bottom: 0 !important;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 0;
    }
}

//筛选框按钮中箭头样式
.ant-btn-ghost {
    i {
        margin-left: 10px;
        font-size: @form_font_size;
    }
}

span.customize-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: inline-block;
    padding: 0;
    i {
        color: @primary-color;
        display: inline-block;
        width: 100%;
        line-height: 27px;
        text-align: center;
    }
}

//展示“更多”按钮时按钮的样式调整
.responsive-mini-btn {
    .btn-item {
        padding: 0;
        min-width: 2em;
        .iconfont {
            margin-right: 0 !important;
        }
    }
}

/*
* 只兼容chrome的多行截断加省略号样式 
* firefox下只截断，不显示省略号
* 在容器上添加line-camp line-clamp-[1-5]代表截断的行数*
*/

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
    height: calc(~"1em * 1.2 * 1");
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(~"1em * 1.2 * 2");
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(~"1em * 1.2 * 3");
}

.line-clamp-4 {
    -webkit-line-clamp: 4;
    height: calc(~"1em * 1.2 * 4");
}

.line-clamp-5 {
    -webkit-line-clamp: 5;
    height: calc(~"1em * 1.2 * 5");
}

@media screen and (max-width: 720px){
    .ant-dropdown{
        max-width: 85%;
    }
}

.clickable{
    cursor: pointer;
}

/* End required CSS. */
