//form 表单

$input_height:30px;
$input_width:325px;
$form_font_size:13px;
$form_font_size14:14px;
$form_font_size16:16px;
$line_height13:13px;
$line_height14:14px;
$line_height30:30px;
$table_font_size:13px;
$edit_input_width:260px;
$border-radius:3px;
//筛选按钮宽度
$filter_btn_width:75px;
//不同筛选框之间的间距
$filter_btn_internal:15px;
//筛选区域上边距
$filter_area_margin_top:22px;
//筛选按钮样式
@mixin filter_btn{
  margin-left:$filter_btn_internal;
  font-size:$form_font_size;
  height:$input_height;
  border-radius:$border-radius;
  width:$filter_btn_width;
}
//搜索框宽度
$filter_input_width:350px;
@mixin border-radius{
  border-radius:$border-radius;
}

//蓝色
$blue:#4d96d1;
//label 黑色
$label_black:#53575a;
//下边距
$margin-bottom:13px;
//编辑保存按钮（对号）的字体颜色
$icon_choose_color:#4dbe50;
//编辑取消按钮（叉号）的字体颜色
$icon_close_color:#f43631;
//应用添加按钮宽度
$app_icon_width:60px;
//应用添加按钮高度
$app_icon_height:60px;
//label的内边距padding
$label_padding_top:11px;
//table中的分割线颜色
$table_dashed_color:#eff2f3;

