// 客套色系相关颜色
// 用于特别需要强调和突出的文字、按钮和图标的色系
@primary-color: #1564C0;//强调色
@primary-hover-color: #1F87E5;//强调色悬停状态的颜色
@primary-active-color: #1A75D2;//强调色激活状态下的颜色
@primary-disable-color: #BBDEFB;//强调色不可用时的颜色
// 用于普通文字、按钮和图标的颜色
@secondary-color: #8DA8C5;//次要颜色
@secondary-hover-color: #7694B4;//次要颜色悬停状态的颜色
@secondary-active-color: #5F82A3;//次要颜色激活状态的颜色
@secondary-disable-color: #C6DBF0;//强调色不可用时的颜色
//暗色字的颜色
@primary-font-color: #333333;//重要级文字信息、内页标题信息等
@secondary-font-color: #999999;//用于辅助、次要的文字信息
@placeholder-font-color: #CCCCCC;//用于输入框提示文字信息

//logo提取色
@logo-color: #3DCBAF;//用于成功、通过等正式场景以及需要凸显品牌的场景的颜色
@logo-hover-color: #00BE9D;//logo提取色悬停状态的颜色
@logo-active-color: #00BE9D;//logo提取色激活状态的颜色
@logo-disable-color: #C6DBF0;//logo提取色不可用时的颜色

// 弱提示、弱警告颜色
@warn-color: #EFA246;//警告色
// 强提示及强警告颜色
@error-color: #EB5E57; //失败、错误色