@font-face {
  font-family: 'iconfont';  /* project id 58332 */
  src: url('//at.alicdn.com/t/font_58332_l8hajzfim7b.eot');
  src: url('//at.alicdn.com/t/font_58332_l8hajzfim7b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_58332_l8hajzfim7b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_58332_l8hajzfim7b.woff') format('woff'),
  url('//at.alicdn.com/t/font_58332_l8hajzfim7b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_58332_l8hajzfim7b.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50% !important;
}
 
.iconfont:before {
  display: inherit !important;
  background: none !important;
  opacity: 1 !important;
  position: relative !important;
}

.icon-release-client:before { content: "\e70e" !important; }
.icon-merge-client:before { content: "\e70a" !important; }
.icon-filter:before { content: "\e724" !important; }
.icon-assign:before { content: "\e723" !important; }
.icon-change-new:before { content: "\e722" !important; }
.icon-modify-condition:before { content: "\e721" !important; }
.icon-clue-recommend:before { content: "\e71f" !important; }
.icon-clue-pool:before { content: "\e71e" !important; }
.icon-export-clue:before { content: "\e71d" !important; }
.icon-configuration:before { content: "\e710" !important; }
.icon-more:before { content: "\e71c" !important; }
.icon-client-pool:before { content: "\e718" !important; }
.icon-search-duplicates:before { content: "\e709" !important; }
.icon-filter1:before { content: "\e70c" !important; }
.icon-recycle-bin-1:before { content: "\e717" !important; }
.icon-setting:before { content: "\e621" !important; }
.icon-add:before { content: "\e605" !important; }
.icon-member:before { content: "\e77f" !important; }
.icon-close-pannel:before { content: "\e606" !important; }
.icon-arrow-up:before { content: "\e60a" !important; }
.icon-arrow-down:before { content: "\e608" !important; }
.icon-tree-arrow-close:before { content: "\e615" !important; }
.icon-stage:before { content: "\e6b9" !important; }
.icon-add-btn:before { content: "\e620" !important; }
.icon-crm:before { content: "\e7c8" !important; }
.icon-tongzhi:before { content: "\e614" !important; }
.icon-guanli:before { content: "\e61d" !important; }
.icon-app:before { content: "\e671" !important; }
.icon-role-auth-config:before { content: "\e61b" !important; }
.icon-zone:before { content: "\e664" !important; }
.icon-xiajiantou:before { content: "\e603" !important; }
.icon-time:before { content: "\e632" !important; }
.icon-tuichu:before { content: "\e602" !important; }
.icon-sys-notice:before { content: "\ea2f" !important; }
.icon-app-view:before { content: "\e612" !important; }
.icon-circle-unselect:before { content: "\e609" !important; }
.icon-circle-selected:before { content: "\e610" !important; }
.icon-close:before { content: "\e60b" !important; }
.icon-close-wide:before { content: "\e720" !important;}
.icon-forbid:before { content: "\e60c" !important; }
.icon-choose:before { content: "\e60d" !important; }
.icon-delete:before { content: "\e717" !important; }
.icon-update:before { content: "\e60f" !important; }
.icon-o6:before { content: "\e600" !important; }
.icon-app-grant:before { content: "\e680" !important; }
.icon-organization:before { content: "\e68c" !important; }
.icon-return:before { content: "\e601" !important; }
.icon-hangye:before { content: "\e629" !important; }
.icon-piliangcaozuo:before { content: "\e617" !important; }
.icon-turn-user-list:before { content: "\e604" !important; }
.icon-realm:before { content: "\e74f" !important; }
.icon-dynamic-more:before { content: "\e607" !important; }
.icon-basicinfo:before { content: "\e6be" !important; }
.icon-team:before { content: "\e648" !important; }
.icon-select-member:before { content: "\e611" !important; }
.icon-tree-arrow-open:before { content: "\e613" !important; }
.icon-app-upgrade:before { content: "\e63d" !important; }
.icon-turn-arrow:before { content: "\e616" !important; }
.icon-auditlog:before { content: "\e814" !important; }
.icon-app-forced-upgrade:before { content: "\e62a" !important; }
.icon-user:before { content: "\e626" !important; }
.icon-upgrade:before { content: "\e61c" !important; }
.icon-app-auth:before { content: "\e61e" !important; }
.icon-sale-team-manager:before { content: "\e618" !important; }
.icon-sale-team-owner:before { content: "\e619" !important; }
.icon-iconfontlishijilv:before { content: "\e61a" !important; }
.icon-privilege:before { content: "\e623" !important; }
.icon-role:before { content: "\e90b" !important; }
.icon-notice:before { content: "\e61f" !important; }
.icon-up-twoline:before { content: "\e622" !important; }
.icon-down-twoline:before { content: "\e624" !important; }
.icon-dashboard:before { content: "\e642" !important; }
.icon-online:before { content: "\e625" !important; }
.icon-apply:before { content: "\e628" !important; }
.icon-analysis:before { content: "\e627" !important; }
.icon-contract:before { content: "\e654" !important; }
.icon-return-btn:before { content: "\e62b" !important; }
.icon-shenqing:before { content: "\e780" !important; }
.icon-radio:before { content: "\e62c" !important;}
.icon-import-btn:before { content: "\e62d" !important;}
.icon-search-repeat:before { content: "\e63a" !important;}
.icon-merge-btn:before { content: "\e70a" !important;}
.icon-usertypeconfig:before{content:"\e68e"}
.icon-warn-icon:before{content:"\e62f"}
.icon-kick-user:before { content: "\e630" !important;}
.icon-applyentry:before{content:"\e699"}
.icon-call-back:before{content:"\e763" !important;}
.icon-visit:before{content:"\e633" !important;}
.icon-ketao-app:before{content:"\e634" !important;}
.icon-other:before{content:"\e635"}
.icon-all:before { content: "\e636" !important; }
.icon-refresh:before { content: "\e639" !important; }
.icon-call-analysis:before { content: "\e63b" !important; }
.icon-sales-goals:before { content: "\e673" !important; }
.icon-call-out:before { content: "\e6ea" !important; }
.icon-interested:before{ content:"\e63e" !important;}
.icon-uninterested:before{ content:"\e63c" !important;}
.icon-audio-play:before{content: "\e63f" !important;}
.icon-phone-busy:before{content:"\e68a" !important;}
.icon-phone-waiting:before{content:"\e69e" !important; }
.icon-phone-answering:before{content:"\e8f1" !important; }
.icon-phone-bye:before{content:"\e640" !important; }
.icon-export:before { content: "\e641" !important; }
.icon-zuzhi:before { content: "\e672"; }
.icon-bumen:before { content: "\e69a"; }
.icon-trace:before {content: "\e638";}
.icon-app-detail:before { content: "\e703"; }
.icon-hamburger:before{content:"\e661";}
.icon-schedule:before{content:"\e645"}
.icon-schedule-visit:before{content:"\e646"}
.icon-schedule-other:before{content:"\e647"}
.icon-no-schedule-list:before{content:"\e64b"}
.icon-contact:before{content:"\e6d2"}
.icon-jiantou-up:before{content:"\e72d"}
.icon-left-arrow:before{content:"\e6f6"}
.icon-team-role:before{content:"\e64c"}
.icon-role-set:before{content:"\e66c"}
.icon-transfer:before{content:"\e81d"}
.icon-apply-message-tip:before{content:"\e662"}
.icon-phone-call-out:before{content:"\e64e"}
.icon-phone-call-out-tip:before{content:"\e64f"}
.icon-detail-list:before{content:"\e650"}
.icon-industry:before{content:"\e651"}
.icon-address:before{content:"\e652"}
.icon-remark:before{content:"\e653"}
.icon-administrative:before{content:"\e660"}
.icon-arrow-right:before{content:"\e655"}
.icon-data-error:before{content:"\e656"}
.icon-no-data:before{content:"\e657"}
.icon-edit-btn:before{content:"\e6b0"}
.icon-edit-btn-plus:before{content: "\e708"}
.icon-detail-address:before{content:"\e658"}
.icon-visit-briefcase:before{content:"\e659"}
.icon-play:before{content:"\e65a"}
.icon-contact-phone:before{content:"\e65b"}
.icon-contact-ketao-app:before{content:"\e65c"}
.icon-trace-other:before{content:"\e65d"}
.icon-contact-default:before{content:"\e65e"}
.icon-callrecord-out:before{content:"\e669"}
.icon-callrecord-in:before{content:"\e667"}
.icon-weChat:before{content:"\e665"}
.icon-qq:before{content:"\e666"}
.icon-email:before{content:"\e68d"}
.icon-alarm-clock:before{content:"\e6c8"}
.icon-callback:before{content:"\e668"}
.icon-report-delivery:before{content:"\e66a"}
.icon-arrow:before{content:"\e67e"}
.icon-login-failed:before{content:"\e67d"}
.icon-concern-customer-login:before{content:"\e67c"}
.icon-deactivate-customer-login:before{content:"\e67b"}
.icon-remote-login:before{content:"\e67a"}
.icon-block:before{content: "\e66b";}
.icon-common:before {content: "\e66d";}
.icon-reply:before {content: "\e66e";}
.icon-customer:before {content: "\e66f";}
.icon-circle-close:before {content: "\e670";}
.icon-refresh-btn:before {content: "\e674";}
.icon-search:before {content: "\e675";}
.icon-apply-user:before{content: "\e676";}
.icon-app-default:before{content: "\e679";}
.icon-stop:before{content: "\e683";}
.icon-edit-pw:before{content: "\e682";}
.icon-disable:before{content: "\e683";}
.icon-enable:before{content: "\e684";}
.icon-change:before{content: "\e688";}
.icon-foot:before{content: "\e689";}.icon-app-default:before{content: "\e679";}
.icon-circle:before{content: "\e67f";}
.icon-disc:before{content: "\e681";}
.icon-order-lose:before{content: "\e685";}
.icon-order-win:before{content: "\e686";}
.icon-clue:before{content:"\e68f";}
//新版一级导航图标-start
.icon-curtao-wihte-logo:before{content:"\e744"}
.icon-accounts-ico:before{content: "\e75f"};
.icon-leads-ico:before{content: "\e757"};
.icon-call-records-ico:before{content: "\e759"};
.icon-users-ico:before{content: "\e756"};
.icon-apply-ico:before{content:"\e75b"};
.icon-analysis-ico:before{content: "\e761"};
.icon-calendar-ico:before{content: "\e75d"};
.icon-deals-ico:before{content: "\e762"};
//新版一级导航图标-end
.icon-active-call-records-ico:before{content: "\e6a2"};//拨打电话的图标
.icon-users:before{content: "\e69b"};
.icon-active-users:before{content: "\e6a5"};
.icon-leave-apply:before{content:"\e6b8"};
.icon-sales-opportunity:before{content:"\e6ba"};
.icon-business-trip:before{content:"\e6ae"};
.icon-contract-ico:before{content: "\e6b2"};
.icon-active-contract-ico:before{content: "\e6b1"};
.icon-contact-head:before{content: "\e7f6"};
.icon-weixin:before{content: "\e6aa"};
.icon-apply-status:before{content:"\e6d1"};
.icon-list-view:before{content: "\e712"};
.icon-board-view:before{content: "\e713"};
.icon-deal-budget:before{content: "\e76d"};
.icon-recovery:before{content: "\e6d5"};
.icon-more:before{content:"\e6d8"};
.icon-shuaxin:before{content: "\e6d9"};
.icon-huikuan:before{content: "\e6da"};
.icon-shoubihuikuan:before{content: "\e6db"};
.icon-fuwu:before{content: "\e6dc"};
.icon-invite-member:before{content: "\e6dd"};
.icon-password-visible:before{content: "\ebcc"};
.icon-password-hide:before{content: "\ebcd"};
.icon-password-visible:before{content: "\e719";}
.icon-password-invisible::before{content: "\e71a";}
.icon-dial-up-keybord:before{content: "\e6e6"};
.icon-close-btn:before{content:"\e6ef"}
.icon-oplate:before{content: "\ebce"};
.icon-transfer:before{content:"\e6f2"}
.icon-tree-right-arrow:before{content:"\e6c5"}
.icon-tree-up-arrow:before{content:"\ebcf"}
.icon-tree-down-arrow:before{content:"\ea30"}
.icon-order-arrow-down:before{content:"\e6f3"}
.icon-phone-hang-up:before{content:"\e6f7"}
.icon-customer-score:before{content:"\e6f8"}
// 引导流程
.icon-add-customer:before{content:"\e6ff"}
.icon-add-member:before{content:"\e700"}
.icon-release:before{content:"\e705"}
.icon-plus:before{content:"\e70d"}
.icon-release:before{content:"\e70e"}
.icon-extract:before{content:"\e714"}
.icon-new:before{content:"\e711"}
.icon-histroy:before{content:"\e6cb"}
.icon-ketao-logo:before{content:"\e701"}
.icon-add-success:before{content:"\e71b"}
.icon-close-tips:before{content:"\e720"}
.icon-filter-ip:before{content:"\e725"}
.icon-tips:before{content:"\e726"}
.icon-saved-error-tips:before{content:"\e727"}
.icon-call-failed:before{content:"\e72b"}
.icon-pull-clue-failed:before{content:"\e72c"}
// 左侧导航下面的图标-start
.icon-customer-service:before{content:"\e760"}
.icon-nav-dial-up:before{content:"\e764"}
.icon-nav-notice:before{content:"\e758"}
.icon-nav-setting:before{content:"\e75c"}
.icon-user-logo-default:before{content:"\e74c"}
// 左侧导航下面的图标-end
.icon-huanying:before{content:"\e72f"}
.icon-warning-tip:before{content:"\e734"}
.icon-versions-feature-item:before{content:"\e735"}
.icon-phone-back:before{content:"\e73a"}
.icon-biaoqing:before{content:"\e742"}
.icon-report:before{content:"\e743"}