//拨号键盘的样式设置
@hover-color: #2196F3;
.dial-up-keyboard-btn{
  text-align: center;
  color: #aeb3b6;
  cursor: pointer;
  &:hover{
    color: @hover-color;
  }
}

.dial-up-keyboard-btn.keyboard-expanded {
  color: @hover-color;
}
