//拨号键盘的样式设置
@import "../../public/css/common-variables";
.dial-up-keyboard-btn {
  display: block;
  text-align: center;
  color: #CBCBCB;
  cursor: pointer;
  &:hover{
    color: @primary-color;
  }
}

.dial-up-keyboard-btn.keyboard-expanded {
  color: @primary-color;
}
