//拨号键盘
.dial-up-keyboard-wrap{
  width: 145px;
  input{
    height: 30px;
    margin-top: 8px;
    line-height: 30px;
    font-size: 14px;
  }
  .anticon-close-circle{
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  .number-key-container{
    margin-top: 4px;
    .phone-num-btn{
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 4px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
  .call-btn{
    height: 30px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 8px;
  }
}