.app-select-list {
  position: relative;
  .app-select-list-wrap {
    box-sizing: border-box;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border:1px solid #2196f3;
    box-shadow:2px 2px 3px #aaaaaa;
    padding: 5px;
    border-radius: 4px;
    .sure-cancel-btn {
      padding-right: 6px;
      text-align: right;
      color: #2196f3;
      font-size: 14px;
      cursor: pointer;
      .sure-btn {
        padding-right: 12px;
      }
    }
    .select-app-wrap {
      width: 335px;
      height: 200px;
      // 选择应用的内容区
      .select-app-content {
        .app-self-image {
          img {
            width: 24px;
            height: 24px;
          }
        }
        .app-default-image {
          padding: 5px 4px 3px;
          background-color: #a8b2b5;
          border-radius: 3px;
          .icon-app-default {
            color: #fff;
            font-size: 14px;
          }
        }
        .app-name {
          padding-left: 8px;
        }
        .ant-checkbox-group {
          .ant-checkbox-wrapper {
            color: #464b4e;
            display: block;
            padding-bottom: 6px;
            margin-left: 8px;
            .ant-checkbox {
              padding-right: 8px;
            }
            .ant-checkbox-checked + span .app-name {
              color: #2196f3;
            }
            &:hover {
              background-color: #EEF7FE;
            }
          }
        }
      }
    }
    
  }
}
