.select-app-wrap {
  width: 300px;
  height: 200px;
  // 选择应用的内容区
  .select-app-content {
    .app-self-image {
      img {
        width: 24px;
        height: 24px;
      }
    }
    .app-default-image {
      padding: 5px 4px 3px;
      background-color: #a8b2b5;
      border-radius: 3px;
      .icon-app-default {
        color: #fff;
        font-size: 14px;
      }
    }
    .app-name {
      padding-left: 8px;
    }
    .ant-checkbox-group {
      .ant-checkbox-wrapper {
        display: block;
        padding-bottom: 6px;
        margin-left: 8px;
        .ant-checkbox {
          padding-right: 8px;
        }
        &:hover {
          background-color: #EEF7FE;
        }
      }
    }
  }
}

