@import "../../../../public/css/common-variables";

@group-tree-width: 300px;
@group-tree-name-height: 60px;
@border-color: #f3f5f7;
@img-height: 45px;
@img-width: 45px;
@edit-team-form-height: 130px;
@edit-teamName-form-height: 90px;

.sales-team-manage-container {
  padding: 12px;
  .member-list-zone {
    background: #fff;
  }
  //团队搜索框的样式设置
  .sales-team-search-block {
    position: relative;
    float: right;
    width: 300px;
    margin-top: 20px;
    margin-right: 30px;
  }


  //保存结果提示信息的样式
  .indicator {
    position: absolute;
    right: 150px;
    top: 7px;
    text-align: center;
  }

  //编辑组内成员列表的遮罩层
  .member-list-edit-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background-color: fade(#4d96d1, (0.3*100));
  }

  .sales-team-add-div {
    float: right;
    height: 75px;
    line-height: 69px;
    z-index: 101;
    border-left: 1px solid #edf0f0;

    .sales-team-add-btn {
      color: #4d96d1;
      border-color: transparent;
      width: 116px;
      height: 32px;
      font-size: 14px;
    }
  }

  .public-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //搜索框样式
  .sales-team-member-search-input-div {
    width: 315px;
    height: 32px;
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 5px;
    input {
      height: 30px;
      line-height: 30px;
      border: 1px solid #9aa2a4;
      background: transparent;
      color: #000;
    }
  }
}
