@import "../../../../public/css/common-variables";

@group-tree-width: 300px;
@group-tree-name-height: 60px;
@border-color: #f3f5f7;
@img-height: 45px;
@img-width: 45px;
@edit-team-form-height: 130px;
@edit-teamName-form-height: 90px;

.sales-team-manage-container {
  padding: 12px;
  .member-list-zone {
    background: #fff;
  }
  //团队搜索框的样式设置
  .sales-team-search-block {
    position: relative;
    float: right;
    width: 300px;
    margin-top: 20px;
    margin-right: 30px;
  }


  //保存结果提示信息的样式
  .indicator {
    position: absolute;
    right: 150px;
    top: 7px;
    text-align: center;
  }

  //编辑组内成员列表的遮罩层
  .member-list-edit-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background-color: fade(#4d96d1, (0.3*100));
  }

  .sales-team-add-div {
    float: right;
    height: 75px;
    line-height: 69px;
    z-index: 101;
    border-left: 1px solid #edf0f0;

    .sales-team-add-btn {
      color: #4d96d1;
      border-color: transparent;
      width: 116px;
      height: 32px;
      font-size: 14px;
    }
  }

  .public-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sales-team-table-block {
    min-width: 720px;
    font-size: 0px;
    border-radius: 4px;
    .sales-team-group, .sales-team-tree-container {
      > .alert-timer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 255px;
        height: 30px;
      }
    }
    .sales-team-group {
      width: @group-tree-width;
      float: left;
      font-size: 14px;
      position: relative;
      padding-right: 0 !important;
      .left-tree-ul {
        position: relative;
        float: left;
        min-width: 300px;

        .sales-team-group-li {
          display: block;
          font-size: 14px;
          padding-left: 10px;

          .left-tree-children-ul {
            display: none;
          }

          &.isLiSelect {
            & > .left-tree-children-ul {
              display: block;
            }

          }
          //左侧树项的背景设置
          .item-border-style {
            position: absolute;
            width: 100%;
            left: 0;
            border-bottom: 1px solid #f3f5f7;
          }
          .sales-team-group-name-div {
            width: 100%;
            cursor: pointer;
            .item-border-style {
              height: @group-tree-name-height;
            }

            &.select {
              .item-border-style {
                background-color: #ecf2f3 !important;
              }
            }

            &:hover {
              .item-border-style {
                background-color: #EFF8F9;
              }
              .tree-operation-icon {
                display: block !important;
              }

              .tree-operation-btn-div {
                background-color: #ecf2f3 !important;
              }
            }
            .left-tree-item-container {
              min-width: 240px;
            }
            .left-tree-arrow {
              float: left;
              width: 25px;
              height: @group-tree-name-height;
              text-align: left;
              line-height: @group-tree-name-height;
              position: relative;
              z-index: 11;

              .icon-tree-arrow {
                font-size: 10px;
              }
              &:hover {
                .icon-tree-arrow {
                  color: #4d96d1;
                }
              }
            }

            .sales-team-group-info {
              position: relative;
              height: @group-tree-name-height;
              padding-top: 14px;

              .sales-team-group-name {
                span {
                  float: left;
                  height: 30px;
                  line-height: 30px;
                }
                .sales-team-name-text {
                  max-width: 100px;
                  display: inline-block;
                  &:extend(.sales-team-manage-container .public-overflow-hidden);
                }
                .sales-team-member-statistic {
                  display: inline-block;
                }
              }
              .sales-team-group-pen {
                height: 30px;
                line-height: 30px;
                color: #B8BDBF;
                &:extend(.sales-team-manage-container .public-overflow-hidden);

              }
            }

            &.show-tree-operation {
              .tree-operation-icon {
                display: block !important;
              }
            }

            .tree-operation-div {
              width: 70px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              z-index: 11;
              position: relative;
              float: right;
              right: 5px;
              display: inline-block;
              .icon-delete, .icon-update {
                margin-left: 5px;
              }
              .tree-operation-icon {
                float: left;
                font-size: 20px;
                display: none;

                &:hover {
                  color: #2377bd;
                }
              }

              .tree-operation-btn-div {
                width: 80px;
                height: 81px;
                margin-top: -1px;
                position: absolute;
                top: 0px;
                left: 46px;
                background-color: #ffffff;
                border-bottom: 1px solid @border-color;
                border-right: 1px solid @border-color;
                border-top: 1px solid @border-color;
                padding-top: 4px;

                .tree-operation-btn-div-item {
                  height: 25px;
                  line-height: 25px;
                  cursor: pointer;
                  margin-top: 5px;
                  .operation-btn-item-span {
                    padding-left: 5px;
                  }
                  &:hover {
                    color: #2377bd;;
                  }
                }
              }
            }
          }
        }
      }

      .add-sales-team-div {
        padding: 10px;

        .add-sales-team-div-btn {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border: 1px solid #dfe5e8;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      //  form样式
      .group-form-div {
        height: @edit-team-form-height;
        .item-border-style {
          height: @edit-team-form-height;
          background-color: #EFF8F9;
        }
      }
      //没有上级团队的编辑界面高度去掉上级团队选项的高度
      .group-form-no-superior.group-form-div {
        height: @edit-teamName-form-height;
        .edit-sales-team-form {
          height: @edit-teamName-form-height;
        }
        .item-border-style {
          height: @edit-teamName-form-height;
        }

      }
      .edit-sales-team-form {
        cursor: default;
        height: @edit-team-form-height;
        position: absolute;
        left: 0;
        width: 300px;

        .form {
          padding-top: 15px;
          padding: 10px;

          .ant-form-item {
            margin-bottom: 6px;
            & > label {
              text-align: center;
              font-weight: normal;
            }
          }
          .edit-sales-team-btn-item {
            text-align: right;
            padding-right: 12px;
            width: 280px;
            height: auto;
            .button-container{
              margin-top: 0;
            }
            .anticon.anticon-loading {
              font-size: 18px;
              margin-right: 10px;
            }
            .indicator {
              top: -5px;
              right: 120px;
            }
            .member-form-btn {
              border-radius: 4px;
              margin-left: 10px;
            }
          }
        }

      }
    }

  }

  /*--成员头像、名称、选择框样式--start  */

  //成员头像样式
  .sales-team-member-info-img {
    height: @img-height;
    width: @img-width;
    border-radius: 50%;
  }

  //盛放展示成员头像及name的div样式
  .sales-team-member-info {
    position: relative;
    float: left;
    width: 90px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  }

  //成员名称的样式
  .sales-team-member-info-name {
    width: 90px;
    color: #7f9e9b;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    &:extend(.sales-team-manage-container .public-overflow-hidden);
  }

  //盛放带选择框的成员头像及name的div样式
  .operation-sales-team-member-info {
    &:extend(.sales-team-manage-container .sales-team-member-info);
    //盛放选择框和名称的div样式
    .sales-team-member-info-name-div {
      height: 20px;
      line-height: 20px;
      width: 90px;
      padding-left: 10px;
      //名称前选择框样式
      .select-icon-div {
        width: 15px;
        height: 15px;
        float: left;
        border-radius: 50%;
        background-color: #dfe5e8;
        color: #ffffff;
        line-height: 17px;
        font-size: 10px;
        margin-top: 7px;
        //选择框选中样式
        &.select-member {
          background-color: #4d96d1 !important;
        }

      }
      //带选择框的名称样式
      .sales-team-member-info-name {
        &:extend(.sales-team-manage-container .sales-team-member-info-name);
        width: 60px;
        text-align: left;
      }
    }
  }

  //停用成员的样式
  .sales-team-member-stop {
    position: absolute;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 12px;
    border-radius: 50%;
    top: 0;
    z-index: 2;
    left: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  //负责人的样式
  .icon-sale-team-owner {
    position: absolute;
    height: 45px;
    top: -22px;
    left: 10px;
    font-size: 40px;
    color: #272636;
  }

  //秘书的样式
  .icon-sale-team-manager {
    position: absolute;
    height: 45px;
    top: -23px;
    left: 9.5px;
    font-size: 60px;
    color: #c44999;
  }
  /*--成员头像、名称、选择框样式--end  */

  //搜索框样式
  .sales-team-member-search-input-div {
    width: 315px;
    height: 32px;
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 5px;
    input {
      height: 30px;
      line-height: 30px;
      border: 1px solid #9aa2a4;
      background: transparent;
      color: #000;
    }
  }


}
