.basic-info-container{
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  height: 60px;
  .clue-type-title{
    font-size: 16px;
    font-weight: bold;
  }
  .iconfont.icon-close{
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
    z-index: 1010;
  }
}