.no-data-icon-tip-container{
  position: absolute;
  height: 200px;
  width: 200px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #c5c5c5;
  .icon-no-data.iconfont{
    font-size: 64px;
    width: auto;
    text-align: center;
  }
  .tip-text{
    text-align: center;
  }
}