.cols-layout-out-wrapper{
    &.cols-layout-out-wrapper-scroll{
        overflow-x: scroll;
    }
    
   .cols-layout-wrapper{
        display: flex;
        justify-content: space-around;
        position: relative;
        
        .cols-layout-close{
            position: absolute;
            top:40px;
            left: 40px;
        }
    } 
}

