/** Created by 2019-05-29 14:53 */
.custom-variable-container{
  margin-top: 4px;
  .icon-add {
    float: right;
    color: #8DA8C5;
    &:hover {
      color: darken(#8DA8C5 , 30%);
    }
  }
  .custom-label{
    display: inline-block;
    line-height: 28px;
    color: #999999;
    font-size: 14px;
  }
  .custom-variable-content{
    font-size: 13px;
    .custom-variable-item{
      .custom-variable-key{
        width: 30%;
        display: inline-block;
      }
    }
  }
  // 自定义属性添加，编辑展示区
  .custom-variables-wrapper{
    &.editing{
      margin-bottom: 25px;
      .button-container{
        margin-top: 0;
      }
    }
    // 展示文本时样式
    .edit-container{
      position: relative;
      .icon-edit-btn{
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 0;
      }
      &.hover-show-edit:hover{
        .icon-edit-btn{
          display: inline-block;
        }
      }
      .custom-variable-item{
        color: #000;
      }
    }
    // 编辑时样式
    .custom-variable-wrap{
      position: relative;
      background-color: #F1F8FE;
      padding: 10px 0;
      border: 1px solid #eef0ef;
      .ant-form{
        .ant-form-item{
          width: 100%;
          margin-bottom: 15px;
          .ant-input {
            width: 100%;
          }
        }
        .ant-form-item-label{
          text-align: left;
        }
      }
      .custom-form-item{
        float: left;
        width: calc(100% - 25px);
        vertical-align: top;
        .icon-minus {
          display: inline-block;
        }
        .properties-form-item {
          display: inline-block;
          width: 48%;
          margin-left: 8px;
        }
        .icon-minus{
          font-weight: bold;
          color: #8DA8C5;
          &:hover {
            color: darken(#8DA8C5 , 30%);
          }
        }
      }
      .circle-button{
        position: relative;
        margin: 0;
        z-index: 1;
        cursor: pointer;
        top: 3px;
      }
      .circle-button-minus, .circle-button-plus {
        float: left;
      }
    }
  }
}

