/** Created by 2019-05-29 14:53 */
.custom-variable-container{
  .icon-add {
    margin-top: 4px;
    float: right;
    color: #8DA8C5;
    &:hover {
      color: darken(#8DA8C5 , 30%);
    }
  }
  .custom-label{
    display: inline-block;
    line-height: 28px;
    color: #999999;
    font-size: 14px;
  }
  .custom-variable-content{
    font-size: 13px;
    .custom-variable-item{
      .custom-variable{
        width: 48%;
        display: inline-block;
        padding: 10px;
      }
      .custom-variable-value {
        width: 52%;
        border-left: 1px dashed#edf1f2;
      }
    }
    .antc-table {
      .table-bottom-border-none {
        table {
          border-bottom: none;
        }
      }
      .ant-table {
        border-radius: 0 !important;
      }
      .ant-table td{
        color: #333 !important;
      }
      .ant-table th {
        border-bottom: 1px solid #eef0ef !important;
      }
      .ant-table-thead {
        background: #F5F5F5;
        span {
          font-size: 14px;
          color: #999;
          font-weight: normal;
        }
      }
    }
  }
  // 自定义属性添加，编辑展示区
  .custom-variables-wrapper{
    &.editing{
      margin-bottom: 25px;
      .button-container{
        margin-top: 0;
      }
    }
    // 展示文本时样式
    .edit-container{
      position: relative;
      .icon-edit-btn{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
        display: inline-block;
        margin-top: 5px;
      }
      &.hover-show-edit:hover{
        cursor: pointer;
        transition: all .3s;
        background:#F1F8FE;
        .custom-variable-item{
          transition: all .3s;
          background:#F1F8FE;
        }
      }
      .hover-background {
        background:#F1F8FE;
      }
      .custom-variable-item{
        //模仿ant table
        &:nth-child(odd) {
          background: #f8f9fb;
        }
      }
      .edit-text-wrapper {
        border: 1px solid #edf1f2;
        border-top: none;
      }
    }
    // 编辑时样式
    .custom-variable-wrap{
      position: relative;
      background-color: #F1F8FE;
      padding: 10px 0;
      border: 1px solid #eef0ef;
      border-top: none;
      .ant-form{
        .ant-form-item{
          width: 100%;
          margin-bottom: 15px;
          .ant-input {
            width: 100%;
          }
        }
        .ant-form-item-label{
          text-align: left;
        }
      }
      .custom-form-item{
        vertical-align: top;
        .icon-minus {
          display: inline-block;
          .anticon-minus {
            margin-top: 8px;
          }
        }
        .properties-form-item {
          &.left {
            float: left;
          }
          display: inline-block;
          width: 45%;
          margin-left: 8px;
        }
        .icon-button {
          &.right{
            float: right;
          }
          display: inline-block;
        }
        .icon-minus{
          font-weight: bold;
          color: #8DA8C5;
          &:hover {
            color: darken(#8DA8C5 , 30%);
          }
        }
      }
      }
      .circle-button{
        position: relative;
        margin: 0;
        z-index: 1;
        cursor: pointer;
        top: 3px;
      }
      .circle-button-minus, .circle-button-plus {
        float: left;
      }
    }
  }

