@success-tip-color: #06ae06;
@error-tip-color: #f5222d;
.margin-style {
  margin-top: 20px;
}
.integrate-config-wrap.js-code-show{
  margin-top: -40px;
}
.integrate-config-wrap {
  position: absolute;
  display: inline-block;
  &:extend(.margin-style);
  margin-left: 30px;
  margin-bottom: 20px;
  z-index: 11;
  .access-step-tip {
    width: 800px;
    font-size: 14px;
  }
  .accesss-title {
    margin-top: 20px;
  }
  .curtao-product-name {
    margin-top: 10px;
  }
  .test-success-tip{
    color: @success-tip-color;
  }
  .test-error-tip{
    color: @error-tip-color;
  }
  .test-error-tip,.test-success-tip{
    display: inline-block;
    margin-left: 10px;
    line-height: 24px;
  }
  .integrate-config-form {
    width: 400px;
    &:extend(.margin-style);
    margin-bottom: 20px;
    button {
      float: right
    }
    //其他接入方式展示区
    .other-access-way-wrap {
      margin-top: 30px;
      .other-access-way {
        margin-top: 4px;
        .matomo-image {
          width: 120px;
          cursor: pointer;
        }
        .logo {
          margin-left: 40px;
          img {
            margin-right: 4px !important;
          }
          span {
            font-size: 16px !important;
            font-weight: bold;
          }
        }
      }
    }
  }
  .integrate-js-code-wrap {
    .copy-btn {
      float: right;
    }
    //复制成功的提示
    .copy-success-tip {
      float: right;
      display: inline-block;
      margin-left: 10px;
      line-height: 28px;
      color: @success-tip-color;
    }
    .js-code-label {
      display: inline-block;
      line-height: 28px;
      color: #999999;
    }
    //jscode展示区
    .js-code-contianer {
      margin-top: 4px;
      pre {
        padding: 10px;
      }
      .js-code-user-tip {
        display: inline-block;
        margin-top: 8px;
        color: #999999;
        .attention-flag {
          color: @error-tip-color;
        }
        button {
          margin-left: 4px;
        }
      }
    }
    // 用户属性展示区
    .custom-variable-container{
      margin-top: 4px;
      .custom-variable-item{
        .custom-variable-key{
          width: 30%;
          display: inline-block;
        }
      }
    }
  }
}
