.apply-try-wrapper{
    .apply-try-content{
        position: relative;

        .apply-try-header{
            background: #ccc;
            padding: 4px;

            div{
                display: inline-block;
            }
            .apply-try-header-title{
                font-size: 13px;
            }
            .apply-try-header-close{
                position: absolute;
                font-weight: 700;
                font-size: 16px;
                right: 10px;
                top: 0px;
                cursor: pointer;
            }
        }

        .apply-try-content-title{
            font-size: 20px;
            margin: 15px 0 20px 10px;
        }
        .apply-try-content-componey{
            span{
                margin: 0 10px;
                font-size: 16px;
                color: rgb(153, 153, 153);
            }
            .apply-try-content-componey-input{
                width: 360px;
                border: 1px solid;
            }
            
        }
        .apply-try-content-useNumber-wrapper{
            margin:10px 0;
            span{
                margin: 0 10px;
                font-size: 16px;
                color: rgb(153, 153, 153);
            }
            .apply-try-content-useNumber{
                font-size: 14px;
                background: #fff;
                border: 1px solid #aaa;
                padding: 3px 10px;
                margin: 0 5px;
            }
        }
        .apply-try-content-apply-btn{
            font-size: 14px;
            background: #888;
            border: 1px solid #888;
            padding: 4px 40px;
            font-weight: 700;
            color: #fff;
            margin: 12px 0 0 340px;
        }
    }
    .apply-try-success-wrapper{
        padding: 100px 0;
        text-align: center;

        .apply-try-success-title{
            font-size: 18px;
        }
        .apply-try-success-content{
            font-size: 14px;
            color: #ccc;
        }
    }
}