/**
    系统公告列表显示样式
*/
.app-notice-list {
    .app-notice-item {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 8px 0 12px 10px;
        background: #dce4e7;
        margin-left: 20px;
        margin-right: 20px;
        .app-notice-type {
            text-align: right;
            margin-right: 10px;
        }
    }

    .display-notice-style {
        word-wrap:break-word;
        word-break:break-all;
        white-space: pre-wrap;
    }

    .ant-alert {
        position: relative;
        top: 20px;
        left: 150px;
    }

    .alert-wrap {
        text-align: center;
        .ant-alert {
            position: relative;
            top: 30px;
            left: 20px;
        }
        .ant-alert-error, .ant-alert-message, .ant-alert-info {
            display: inline-block;
        }
    }

    .ant-alert-error, .ant-alert-message, .ant-alert-info {
        display: inline-block;
    }

    .app-notice-content {
        pre {
            border: 0;
            background-color: #dce4e7;
            color: #666;
            font-size: 16px;
        }
    }
}

.right-pannel-default {
    .app-notice-style .close-pannel {
        margin-bottom: 20px;
    }
}