@import "../../public/css/common-variables";
.phone-callout-container{
  .icon-active-call-records-ico{
    cursor: pointer;
    font-size: 14px;
    padding-right: 0;
    margin-left: 10px;
    visibility:hidden;
  }
  &:hover{
    .icon-active-call-records-ico{
      visibility: visible;
    }
  }
  .icon-active-call-records-ico.default-show{
    visibility:visible;
  }
  .check-phone-btn{
    color: @primary-color;
    margin-left: 5px;
    .icon-check{
      font-size: 12px;
      margin-right: .5em;
    }
  }
}
