@import "../../public/css/common-variables";
.phone-callout-container{
  .icon-active-call-records-ico, .icon-search{
    cursor: pointer;
    font-size: 14px;
    padding-right: 0;
    margin-left: 10px;
    visibility:hidden;
  }
  &:hover{
    .icon-active-call-records-ico, .icon-search{
      visibility: visible;
    }
  }
  .icon-active-call-records-ico.default-show, .icon-search.default-show{
    visibility:visible;
  }
}
