@import "../../public/css/common-variables";
.phone-callout-container{
  position: absolute;
  right: 5px;
  top: 6px;
  .icon-active-call_record-ico{
    cursor: pointer;
    font-size: 14px;
    padding-right: 0;
    margin-left: 10px;
    visibility:hidden;
  }
  &:hover{
    .icon-active-call_record-ico{
      visibility: visible;
    }
  }
  .icon-active-call_record-ico.default-show{
    visibility:visible;
  }
}
