.user-score-container {
  padding: 12px;
  .user-score-wrap {
    background: #fff;
    .user-score-content {
      font-size: 14px;
      padding: 24px;
      .level-rule-tip{
        margin-bottom: 12px;
      }
      //基本信息配置
      .basic-score-rule{
        padding: 12px 0;
        p{
          margin-bottom: 10px;
          .ant-switch{
            display: inline-block;
            margin-left: 10px;
          }
        }
        .ant-row{
          margin-bottom:10px;
          .start-icon{
            display: inline-block;
            margin: 0px 10px;
          }
          .add-minus-btns{
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            width: 100px;
            float: right;
          }
        }
        .user-score-lists{
          position: relative;
          min-height: 100px;

        }

      }
      //参与度配置
      .particepate-container-warp{
        min-height: 400px;
        .user-engagement-container{
          padding: 12px 0;
          .user-engagement-panel{
            p{
              margin-bottom: 10px;
              .ant-switch{
                display: inline-block;
                margin-left: 10px;
              }
            }
            .user-engagement-item-wrap{

              .user-engagement-and-add{
                overflow: hidden;
                position: relative;
                .user-engagement-item{
                  width: 900px;
                  float: left;
                  border: 1px solid #ddd;
                  padding: 12px;
                  margin: 8px 0;
                  .ant-row{
                    margin-bottom:10px;
                    .ant-input{
                      width: 160px;
                    }
                    .add-operate-item{
                      font-size: 20px;
                      span{
                        cursor: pointer;
                        padding-left: 10px;
                      }
                    }
                  }
                }
                .add-user-engagement-item{
                  font-size: 20px;
                  position: absolute;
                  bottom: 0;
                  left: 900px;
                  span{
                    cursor: pointer;
                    padding-left: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .save-btns{
        text-align: right;
        padding-right: 424px;
        margin-top:10px;
        .ant-btn{
          margin-left: 20px;
        }
      }
    }
  }
  .ant-alert.ant-alert-error{
    width: 400px;
    margin:40px auto;
  }
  .ant-input-number-input{
    height: 25px;
  }
  .load8 {
    transform: scale(0.5, 0.5);
    .loader8 {
      border-left-color: #394144;
    }
  }
}