.user-score-container {
  padding: 12px;
  .user-score-wrap {
    background: #fff;
    .user-score-content {
      font-size: 14px;
      padding: 12px;
      .level-rule-tip{
        margin-bottom: 12px;
      }
      //基本信息配置
      .basic-score-rule{
        padding: 12px 0;
        p{
          margin-bottom: 10px;
          .ant-switch{
            display: inline-block;
            margin-left: 10px;
          }
        }
        .ant-row{
          margin-bottom:10px;
          .start-icon{
            display: inline-block;
            margin: 0px 10px;
          }
          .add-minus-btns{
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            width: 100px;
            float: right;
          }
        }
        .user-score-lists{
          position: relative;
          min-height: 100px;
          .load8 {
            transform: scale(0.5, 0.5);
            .loader8 {
              border-left-color: #394144;
            }
          }
          .save-btns{
            text-align: right;
            padding-right: 424px;
            margin-top:10px;
            .ant-btn{
              margin-left: 20px;
            }
          }
        }

      }
    }
  }
}