.right-pannel-default{
  form.add-to-customer-container {
    .add-to-customer-label {
      margin: 10px 0;
    }
    .ant-form-item {
      width: 100%;
      .ant-select, input {
        width: 100%;
      }
      .has-error .ant-form-explain{
        white-space: normal;
      }
    }
  }
}
