@import "../../public/css/common-variables";
.add-todo-container {
    .add-todo-title {
      display: inline-block;
      overflow: hidden;
      padding-bottom: 2px;
      margin: 0 20px;
      border-bottom: 1px solid #dedfe1;
      font-size: 14px;
      width: 456px;
      .iconfont {
        display: inline-block;
        color: @secondary-color;
        margin-right: 6px;
        transform: translateY(1px);
      }
      .todo-topic-switch {
        display: inline-block;
      }
    }
  }
  .add-todo.detail-card-container{
      background: none;
      margin-top: 0;
      padding-top: 0;
      .ant-form.ant-form-horizontal{
        border: none
      }
      //根据设计图，将SearchInput的search-icon隐藏
      .search-icon{
        display: none;
      }
  }