@import "../../public/css/common-variables";
.loading-wrapper.load8{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.load8{
  text-align: center;
  .loader8-content{
    position: relative;
  }
  .loader8-inner{
     position: absolute;
     top: calc(50% - 30px);
     left: calc(50% - 15px);
     width: 30px;
     height: 30px;
     img{
       width: 30px;
       height: 30px;
     }
   }
  .loader8-text{
      margin-top: 10px;
      color: @primary-font-color;
      font-size: 14px;
    }
}


.load8 .loader8 {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.35em solid #D3EAFD;
  border-right: 0.35em solid #D3EAFD;
  border-bottom: 0.35em solid #D3EAFD;
  border-left: 0.35em solid @primary-color;
  animation: load8 0.5s infinite linear;
}

.load8 .loader8,
.load8 .loader8:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes line-spin {
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.line-spin {
  margin:0 auto;
  position: relative;
  width:55px;
  height:55px;
}
.line-spin .translatePos {
  transform:translate(25px, 28px) rotate(22deg);
}
.line-spin .translatePos> div:nth-child(1) {
  top: 20px;
  left: 0;
  -webkit-animation: line-spin 1.2s 0.12s infinite ease-in-out;
  animation: line-spin 1.2s 0.12s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(2) {
  top: 13.63636px;
  left: 13.63636px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin 1.2s 0.24s infinite ease-in-out;
  animation: line-spin 1.2s 0.24s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(3) {
  top: 0;
  left: 20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin 1.2s 0.36s infinite ease-in-out;
  animation: line-spin 1.2s 0.36s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(4) {
  top: -13.63636px;
  left: 13.63636px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin 1.2s 0.48s infinite ease-in-out;
  animation: line-spin 1.2s 0.48s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(5) {
  top: -20px;
  left: 0;
  -webkit-animation: line-spin 1.2s 0.6s infinite ease-in-out;
  animation: line-spin 1.2s 0.6s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(6) {
  top: -13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin 1.2s 0.72s infinite ease-in-out;
  animation: line-spin 1.2s 0.72s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(7) {
  top: 0;
  left: -20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin 1.2s 0.84s infinite ease-in-out;
  animation: line-spin 1.2s 0.84s infinite ease-in-out;
}

.line-spin .translatePos> div:nth-child(8) {
  top: 13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin 1.2s 0.96s infinite ease-in-out;
  animation: line-spin 1.2s 0.96s infinite ease-in-out;
}

.line-spin .translatePos> div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 5px;
  height: 15px;
}