/*应用管理样式设置*/
@import "../../../../public/css/common-variables";
//添加成员时，角色选中后就不再在下拉列表中展示的样式设置
.ant-select-dropdown-menu-item-selected.manager-options-selected {
  display: none;
}

.app_content {
  //标签过滤面板的样式
  .app-filter-adv {
    position: absolute;
    top: 75px;
    right: 10px;
    left: 85px;
    padding: 10px 40px 0 40px;
    border-bottom: 2px dotted #edf1f2;
    dt {
      display: table-cell;
      width: 90px;
      vertical-align: top;
      font-size: 13px;
    }
    dd {
      display: table-cell;
      li {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 3px 10px;
        span.tag-count {
          display: inline-block;
          margin-left: 5px;
          color: #4d96d1;
          font-weight: bold;
        }
      }
      li.selected {
        background: #4d96d1;
        color: #fff;
        border-radius: 4px;
        span.tag-count {
          color: #1f539e !important;
        }
      }
    }
  }
  form {
    .head-image-container {
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }
  .app-over-view-panel.right-pannel-default {
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    background-color: rgb(243, 245, 245);
    display: block;
  }
}

.app-form-scroll {
  width: 420px;
  .ant-form-item {
    padding-right: 0;
    text-align: left;
    margin-left: 40px !important;
    width: auto;
    > label {
      text-align: left !important;
    }
    input.ant-select-search__field {
      height: 20px;
    }
    textarea.ant-input{
      width: @edit_input_width !important;
    }
    .indicator {
      position: absolute;
      float: right;
      right: 185px;
      top: 35px;
      text-align: center;
    }
    //正在获取成员、密令app列表的等待效果
    .user-list-loading, .app-list-loading {
      line-height: 35px;
      color: #666;
      padding-left: 10px;
      .anticon-loading {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .form-cancel-btn, .form-submit-btn {
      margin-top: 40px !important;
    }

    //  标签的样式
    .block-tag-edit {
      font-size: 14px;
      width: 300px;
      white-space: normal;
      .app-tag {
        margin-right: 8px;
        cursor: pointer;
        padding: 3px 8px;
        display: inline-block;
        margin-bottom: 8px;
        color: #666;
        line-height: 21px;
      }
      .tag-selected {
        background: #4d96d1;
        border-radius: 4px;
        color: white;
        padding: 3px 8px;
      }
    }
  }
}


.app_manage_style {
  .firstLoading {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 999;
  }
}