.list-panel {
    .panel-wrap {
        width: auto;
        left: 75px;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        background-color: #fff;
        .topNav {
            left: 0;
            z-index: 99999;
        }
        .panel-title {
            line-height: 64px;
            font-weight: bold;
            display: inline-block;
        }
        .panel-content {
            .iconfont {
                width: inherit;
            }
        }
    }
}
