/**
 * 登录页样式
 *
 * Created by yubin.
 */

@body-bg: #1d2b36;
@font-color: #d8eaf4;
//或、微信登录的颜色
@text-color: #8ba7c2;
@border-radius: 3px;

.forgot-password-form {
  .code-wrap {
    position: absolute;
    width: 110px;
    height: 128px;
    top: 60px;
    right: 30px;
    text-align: center;
    background: #fff;

    p {
      margin: 4px 0;
      color: #fc9603;
      font-size: 12px;
    }
  }

  .form-wrap {
    position: absolute;
    width: 280px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -140px;
  }

  .ant-steps {
    width: 420px;
    margin-top: 50px;
    margin-bottom: 20px;
    .ant-steps-item:nth-child(3) {
      margin-left: -30px;
    }

    .ant-steps-item:nth-child(4) {
      margin-left: -15px;
    }

    .ant-steps-tail {
      opacity: 0;
    }

    .ant-steps-item.ant-steps-status-wait .ant-steps-head-inner > .ant-steps-icon {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .input-area {
    margin: 16px 0 12px;
    //隐藏的欺骗密码框
    .password-hidden-input{
        width: 0;
        height: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
  }

  .input-item {
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    margin: 8px 0;
    font-size: 14px;
  }

  .input-area .captcha_wrap {
    text-align: left;
    overflow: hidden;
  }

  .input-area .captcha_wrap input {
    width: 148px;
    float: left;
  }

  .input-area .captcha_wrap img {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 40px;
    border-radius: @border-radius;
    cursor: pointer;
  }

  .btn-change-view {
    text-align: right;
    margin-top: 12px;
    cursor: pointer;
    outline: none;
    color: @font-color;
  }

  .success-msg {
    font-size: 14px;
    color: #4dbe50;
  }
  .login-find-password-tip{
    float: right;
  }

  .ant-alert-icon {
    left: 4px;
  }

  .ant-alert-error {
    color: #ee5b44;
    background: none;
    font-size: 14px;
    line-height: 17px;
    border: none;
    margin-top: 2px;
    padding: 8px 0 8px 24px;
  }
}

