.summary-number {
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  height:86px;
  width:100%;
  border-right:1px solid #e1e2e4;
  border-bottom: 1px solid #e1e2e4;
  text-align:center;
  position:relative;
  p {
    color:#a6aaab;
    line-height:16px;
    margin-top:15px;
    font-size: 16px;
  }
  >div>div {
    color:#45525b;
    font-size:28px;
    line-height:55px;
  }
  //防止由于字体太长，导致显示错乱
  .for(@i: 8) when (@i < 14) {
    .f(@i) {
      font-size : 24 - (@i - 8) * 2px;
    }
    .for((@i + 1));
}
.for();
}
.summary-number:last-child {
  border-right:1px solid #e1e2e4;
}
.summary-number.active {
  border-bottom: 5px solid #4887b9;
}