.integrate-config-container {
  width: 400px;
  margin-left: 200px;
  padding-top: 50px;
  .ant-form-item {
    label {
      font-weight: normal;
      font-size: 14px;
    }
    input {
      font-size: 14px;
    }
  }
  //等待样式
  .save-loading {
    float: right;
    font-size: 16px;
    line-height: 24px;
  }
  //错误提示样式
  .save-error {
    float: right;
    line-height: 24px;
    color: #f50;
  }
  button {
    float: right;
  }
}