@import '../../../public/css/bootstrap-variables.less';
@import '../../../public/css/common-variables';
@bg-white: #FFFFFF;
@bd-grey: #DEDFE3;
@font-grey: #cccccc;
@icon-grey: #CBCBCB;
@icon-blue: #2196F3;
@nav-icon-size: 30px;
//缩小图标时的菜单高度
@reduce-nav-icon-li-height: 40px;
//缩小图标并缩小间距时的菜单高度
@reduce-nav-margin-li-height: 32px;
//正常图标时的菜单高度
@nav-item-height: 50px;
@nav-text-width: 72px;
@nav-text-fontSize: 14px;
.unread-style {
    position: absolute;
    top: 10px;
    left: -40px;
    margin-left: 100%;
    min-width: 16px;
    height: 16px;
    overflow: hidden;
    background: #f41919;
    border-radius: 8px;
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    z-index: 1000;
}

.disable-link {
    cursor: not-allowed;
    &:hover,
    &:active,
    &:focus,
    &.iconfont:before, .iconfont:before {
        color: @icon-grey !important;
    }
}
@media (max-height: 715px) {
    //缩小浏览器时，展示小图标
    .navbar {
        .navbar-nav {
            > li.sidebar-menu-li {
                height: @reduce-nav-icon-li-height;
                > a.iconfont {
                    height: @reduce-nav-icon-li-height;
                    line-height: @reduce-nav-icon-li-height;
                    &:before {
                        font-size: 24px;
                    }
                }
            }
        }
        .sidebar-user {
            .notification, .sidebar-backend-config, .dial-up-keyboard-btn, .customer-service-navicon {
                .iconfont.sidebar-bottom-icon {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-height: 605px) {
    //再缩小浏览器到小图标并缩小间距时的样式
    .navbar {
        .navbar-nav {
            > li.sidebar-menu-li {
                height: @reduce-nav-margin-li-height;
                > a.iconfont {
                    height: @reduce-nav-margin-li-height;
                    line-height: @reduce-nav-margin-li-height;
                    &:before {
                        font-size: 18px;
                    }
                }
            }
        }
        .sidebar-user {
            .notification, .sidebar-backend-config, .dial-up-keyboard-btn, .customer-service-navicon {
                .iconfont.sidebar-bottom-icon {
                    font-size: 16px;
                }
            }
        }
    }
}
#hamburger{
  display: none;
}
#menusLists{
  display: block;
}
@media (max-height: 510px) {
  #hamburger{
    display: block;
  }
  #menusLists{
    display: none;
  }
}

.navbar {
    position: fixed;
    margin: 0 -15px;
    top: 0;
    bottom: 0;
    width: @sidebar-min-width;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    border: none;
    border-right: 1px solid @bd-grey;
    background-color: @bg-white;
    .container,
    .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .gm-scrollbar.-vertical {
        width: 4px;
    }
    .gm-scrollbar.-vertical .thumb,
    .gm-scrollbar .thumb:hover,
    .gm-scrollbar .thumb:active {
        background-color: rgba(82, 136, 189, 0.7);
    }
    .collapse {
        display: block;
        border-top: none;
    }
    .navbar-collapse {
        padding: 0;
        box-shadow: none;
    }
    .header-logo {
        float: none;
        overflow: hidden;
        height: @top_nav_height;
        padding: 12px 0;
        position: relative;
        margin-bottom: 10px;
        .logo {
            float: none;
            margin-left: 0;
            padding: 0 0 0 17px !important;
            color: @navbar-default-link-color;
            >span {
                display: none;
            }
        }
        &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 13px;
            right: 13px;
            height: 1px;
            overflow: hidden;
            background-color: @bd-grey;
        }
    }
    .navbar-nav {
        float: none;
        margin: 0;
        font-size: @nav-text-fontSize;
        >li {
            //线索未读数
            &.leads_icon_container, &.sidebar-applyentry ,&.apply_icon_container{
                pointer-events:none;
                &:before {
                    pointer-events:auto;
                    cursor: pointer;
                    position: absolute;
                    right: 17px;
                    top: 8px;
                    min-width: 16px;
                    height: 16px;
                    overflow: hidden;
                    background: #f41919;
                    border-radius: 8px;
                    color: #fff;
                    line-height: 16px;
                    font-size: 12px;
                    text-align: center;
                    z-index: 1000;
                }
                a{
                    pointer-events:auto;
                }
            }
            &.apply_icon_container:before{
                min-width: 10px;
                height: 10px;
                top: 11px;
                right: 20px;
                border-radius: 10px;
            }

            &.sidebar-applyentry:before {
                left: -29px;
            }
            //申请审批入口
            &.apply_icon_container {
                //有未读回复提示的样式
                .iconfont.icon-apply-message-tip {
                    position: absolute;
                    top: -14px;
                    right: 17px;
                    height: 14px;
                    width: 14px;
                    font-size: 14px;
                    &:before {
                        color: #F4750E !important;
                        text-align: initial;
                        width: initial;
                        font-size: initial;
                    }
                }
            }
            float: left;
            height: @nav-item-height;
            width: @sidebar-min-width - 1;
            &.iconfont:before,
            .iconfont:before {
                color: @icon-grey;
                text-align: center;
                width: 100%;
                font-size: @nav-icon-size;
            }
            a {
                &:hover.iconfont:before {
                    color: @icon-blue;
                }
                &.active.iconfont:before {
                    color: @icon-blue;
                }
                &.deactivation.iconfont:before {
                    color: @icon-grey
                }
                height: @nav-item-height;
                white-space: nowrap;
                color: @navbar-default-link-color;
                line-height: @nav-item-height;
                //margin: 15px 0 15px 0;
                padding: 0;
                text-decoration: none;
                >i {
                    height: 30px;
                    width: 31px;
                    float: left;
                    line-height: 30px;
                    margin: 0;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                &:hover,
                &:focus {
                    color: @navbar-default-link-color;
                    background-color: transparent;
                }
            }
        }
        >li.leads_icon_container {
            &:before {
                &:extend(.unread-style);
                top: 12px;
                left: -35px;
            }
        }
    }
    .sidebar-user {
        display: block;
        position: absolute;
        bottom: 18px;
        width: @sidebar-min-width - 1;
        padding: 0;
        overflow: hidden;
        background-color: @bg-white;
        @hover-color: @icon-blue;
        .notification, .sidebar-backend-config, .dial-up-keyboard-btn, .customer-service-navicon, .winning-clue{
            text-align: center;
            cursor: pointer;
            .iconfont{
                color:@icon-grey;
                font-size: 28px;
                &:hover{
                    color: @icon-blue;
                }
            }
            // 在线客服、拨号键盘active加到了iconfont上
            .active.iconfont {
                color: @icon-blue;
            }
            // 打开通知面板时
            .active.deactivation.iconfont{
                color: @bd-grey;
            }
            // 后台管理、通知active加到了a标签上
            a.active {
                text-decoration: none;
                .iconfont{
                    color: @icon-blue;
                }
                // 打开通知面板时
                .deactivation.iconfont{
                    color: @bd-grey;
                }
            }
        }    
        //拨号按钮的样式
        .dial-up-keyboard-btn{
            margin-top: 10px;
        }
        .dial-up-keyboard-btn.keyboard-expanded{
            >.iconfont:before{
                content: "\E733";
                color: @icon-blue;
            }
        }
        .winning-clue {
            margin: 8px 0 12px 0;
            .gift-logo {
                width: 28px;
                height: 28px;
            }
        }
        // 通知图标
        .notification {
            margin: 8px 0 12px 0;
            .iconfont.active:before{
                content: "\E6a4";
            }
        }
        // 后台管理
        .sidebar-backend-config{
            margin-bottom: 8px;
            .active{
                .iconfont:before{
                    content: "\E6a3";
                }
            }
            // 有新的公告时，提示杨样式
            .ant-badge {
                cursor: pointer;
                .ant-badge-dot {
                    position: absolute;
                    top: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    
        .avatar {
            img {
                border: 2px solid rgba(0, 0, 0, 0);
                &:hover {
                    border-color: @hover-color;
                }
            }
            .no-user-logo-div {
                border: 2px solid rgba(0, 0, 0, 0);
                &:hover {
                    border-color: @hover-color;
                }
            }
            .active {
                img {
                    border-color: @hover-color;
                }
                .no-user-logo-div {
                    border-color: @hover-color;
                }
            }
        }
        .logout {
            float: none;
            margin: 80px 0 0 19px;
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            cursor: pointer;
            text-align: center;
            color: #b6c2c9;
            text-decoration: none;
            transform: rotate(180deg);
            .iconfont {
                font-size: 28px;
            }
            &:hover {
                color: @hover-color;
            }
        }
        .avatar_container {
            overflow: hidden;
            text-align: center;
            .avatar {
                .no-user-logo-div {
                    .icon-users-ico {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

.nav-sidebar-winning-clue,
.nav-sidebar-notification,
.nav-sidebar-backend-config {
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color: @icon-blue;
    }
    li:last-child a {
        border-bottom: none;
    }
    em {
        float: right;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        background: #f41919;
        border-radius: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-family: @font-family-sans-serif;
    }
    .pad em {
        padding: 0 3px;
    }
}
// 领线索样式
.nav-sidebar-winning-clue {
    width:330px;
    height:212px;
    border:1px solid @sub-content-font-color;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border-radius:4px;
    padding-left: 0;
    .ant-popover-content {
        padding: 0;
        margin-left: -16px !important;
    }
    .ant-popover-inner-content {
       padding: 0;
    }
}

.nav-sidebar-notification {
    a {
        padding: 10px 5px;
    }
    a:last-child {
        border-bottom: none;
    }
}

//左侧响应式导航 汉堡包按钮
.logo-and-menus .hamburger {
    margin-top: 20px;
    display: none;
    &:hover {
        cursor: pointer;
    }
    .line {
        width: 35px;
        height: 5px;
        background-color: #DCE1E3;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

//汉堡包弹框样式
.nav-sidebar-lists {
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color: #57c5f7;
    }
    li:last-child a {
        border-bottom: none;
    }
    em {
        float: right;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        background: #f41919;
        border-radius: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .pad em {
        padding: 0 3px;
    }
}

//个人信息样式
.nav-sidebar-userinfo {
    .ant-popover-inner {
        margin-left: 1px;
    }
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color: @icon-blue;
    }
    li:last-child a {
        border-bottom: none;
    }
}
//隐藏百度商桥的客服图标
#newBridge {
    #nb_icon_wrap {
        display: none;
    }
}