@import '../../../public/css/bootstrap-variables.less';
@import '../../../public/css/common-variables';
@bd-grey: #DEDFE3;
@font-grey: #cccccc;
@icon-grey: #CBCBCB;
@icon-active-color: #ffffff;//图标选中状态的颜色
@nav-icon: #ffffff;//图标默认状态下的颜色
@nav-icon-size: 32px;//导航正常图标大小
//正常图标时的菜单高度
@nav-item-height: 48px;
//缩小图标时的菜单高度
@reduce-nav-icon-li-height: 40px;
//缩小图标并缩小间距时的菜单高度
@reduce-nav-margin-li-height: 32px;
@nav-icon-small-size: 24px;//缩小浏览器导航主图标大小
@nav-bottom-small-size: 28px;//缩小浏览器底部图标及高度
@nav-text-width: 72px;
@nav-text-fontSize: 14px;
.unread-style {
    position: absolute;
    top: 10px;
    left: -40px;
    margin-left: 100%;
    min-width: 16px;
    height: 16px;
    overflow: hidden;
    background: #f41919;
    border-radius: 8px;
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    z-index: 1000;
}

.disable-link {
    cursor: not-allowed;
    &:hover,
    &:active,
    &:focus,
    &.iconfont:before, .iconfont:before {
        color: @icon-grey !important;
    }
}
@media (max-height: 700px) {
    //缩小浏览器时，展示小图标
    .navbar {
        .navbar-nav {//图标32、高度40
            > li.sidebar-menu-li {
                height: @reduce-nav-icon-li-height;
                > a.iconfont {
                    height: @reduce-nav-icon-li-height;
                    line-height: @reduce-nav-icon-li-height;
                }
            }
        }
        .sidebar-user {//图标32、高度32
            div.notification, div.sidebar-backend-config, div.dial-up-keyboard-btn, div.customer-service-navicon, div.winning-clue {
                height: @reduce-nav-margin-li-height;
                line-height: @reduce-nav-margin-li-height;
            }
        }
    }
}

@media (max-height: 600px) {
    //再缩小浏览器到小图标并缩小间距时的样式
    .navbar {
        .navbar-nav {
            > li.sidebar-menu-li {//图标24、高度32
                height: @reduce-nav-margin-li-height;
                > a.iconfont {
                    height: @reduce-nav-margin-li-height;
                    line-height: @reduce-nav-margin-li-height;
                    &:before {
                        font-size: @nav-icon-small-size;
                    }
                }
            }
        }
        .sidebar-user {//图标：28、高度：28
            div.notification, div.sidebar-backend-config, div.dial-up-keyboard-btn, div.customer-service-navicon, div.winning-clue {
                height: @nav-bottom-small-size;
                line-height: @nav-bottom-small-size;
                .iconfont.sidebar-bottom-icon {
                    font-size: @nav-bottom-small-size;
                }
            }
        }
    }
}
#hamburger{
  display: none;
}
#menusLists{
  display: block;
}
// 高度缩放适配
@media (max-height: 500px) {
  #hamburger{
    display: block;
  }
  #menusLists{
    display: none;
  }
}
// 导航左右布局时的样式
.navbar.navbar-horizontal{
    position: fixed;
    margin: 0 -15px;
    top: 0;
    bottom: 0;
    width: @sidebar-min-width;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    border: none;
}
.navbar {
    background-color: @primary-color;
    .container,
    .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .gm-scrollbar.-vertical {
        width: 4px;
    }
    .gm-scrollbar.-vertical .thumb,
    .gm-scrollbar .thumb:hover,
    .gm-scrollbar .thumb:active {
        background-color: rgba(82, 136, 189, 0.7);
    }
    .collapse {
        display: block;
        border-top: none;
    }
    .navbar-collapse {
        padding: 0;
        box-shadow: none;
    }
    .header-logo {
        height: @top_nav_height;
        line-height: @top_nav_height;
        text-align: center;
        .icon-curtao-wihte-logo {
            font-size: 32px;
            color: @icon-active-color;
        }
        a {
            text-decoration: none;
        }
    }
    .navbar-nav {
        float: none;
        margin: 0;
        font-size: @nav-text-fontSize;
        >li {
            float: left;
            height: @nav-item-height;
            width: @sidebar-min-width;
            &:hover {
                background-color: @primary-hover-color; 
            }
            &.active {
                background-color: @primary-active-color; 
            }
            //线索未读数
            &.leads_icon_container, &.sidebar-applyentry ,&.apply_icon_container{
                pointer-events:none;
                &:before {
                    pointer-events:auto;
                    cursor: pointer;
                    position: absolute;
                    right: 17px;
                    top: 8px;
                    min-width: 16px;
                    height: 16px;
                    overflow: hidden;
                    background: #f41919;
                    border-radius: 8px;
                    color: #fff;
                    line-height: 16px;
                    font-size: 12px;
                    text-align: center;
                    z-index: 1000;
                }
                a{
                    pointer-events:auto;
                }
            }
            &.apply_icon_container:before{
                min-width: 10px;
                height: 10px;
                top: 11px;
                right: 16px;
                border-radius: 10px;
            }

            &.sidebar-applyentry:before {
                left: -29px;
            }
            //申请审批入口
            &.apply_icon_container {
                //有未读回复提示的样式
                .new-message-tip {
                    position: absolute;
                    top: 3px;
                    right: 12px;
                    height: 14px;
                    width: 14px;
                    font-size: 14px;
                }
            }
            &.iconfont:before,
            .iconfont:before {
                color: @nav-icon;
                text-align: center;
                width: 100%;
                font-size: @nav-icon-size;
            }
            a {
                &:hover.iconfont:before {
                    color:  @icon-active-color;
                }
                &.active.iconfont:before {
                    color:  @icon-active-color;
                }
                &.deactivation.iconfont:before {
                    color: @nav-icon;
                }
                height: @nav-item-height;
                white-space: nowrap;
                color: @navbar-default-link-color;
                line-height: @nav-item-height;
                padding: 0;
                text-decoration: none;
                >i {
                    height: 30px;
                    width: 31px;
                    float: left;
                    line-height: 30px;
                    margin: 0;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                &:hover,
                &:focus {
                    color: @navbar-default-link-color;
                    background-color: transparent;
                }
            }
        }
        >li.leads_icon_container {
            &:before {
                &:extend(.unread-style);
                top: 8px;
                left: -30px;
            }
        }
        //线索管理加1效果
        .lead-icon-add-num{
            position: absolute;
            top: 0px;
            right: 0;
            color: @warn-color;
            display: none;
            z-index: 111;
            &.show-add-num{
                display: block;
            }
        }
    }
    .sidebar-user {
        display: block;
        position: absolute;
        bottom: 8px;
        width: @sidebar-min-width;
        padding: 0;
        overflow: hidden;
        @hover-color: @icon-active-color;
        // 展示赢线索详细内容时的样式
        .winning-clue.show-detail {
            background-color: @primary-hover-color; 
        }
        .notification, .sidebar-backend-config, .dial-up-keyboard-btn, .customer-service-navicon, .winning-clue, .sidebar-userinfo{
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: @primary-hover-color;
            }
            &.active {
                background-color: @primary-active-color;
            }
            .iconfont{
                color: @nav-icon;
                font-size: @nav-icon-size;
                &:hover{
                    color: @icon-active-color;
                }
            }
            // 在线客服、拨号键盘active加到了iconfont上
            .active.iconfont {
                color: @icon-active-color;
            }
            // 打开通知面板时
            .active.deactivation.iconfont{
                color: @bd-grey;
            }
            // 后台管理、通知active加到了a标签上
            a.active {
                text-decoration: none;
                .iconfont{
                    color: @icon-active-color;
                }
                // 打开通知面板时
                .deactivation.iconfont{
                    color: @nav-icon;
                }
            }
        }  
        .notification {
            .ant-badge-dot {
                top: 4px;
                right: 0px;
                box-shadow: none;
            }
        }  
        //拨号按钮的样式
        .dial-up-keyboard-btn.keyboard-expanded{
            background-color: @primary-active-color;
            >.iconfont:before{
                color: @icon-active-color;
            }
        }
        .winning-clue {
            .gift-logo {
                width: 20px;
                height: 20px;
            }
        }
        // 后台管理
        .sidebar-backend-config{
            // 有新的公告时，提示杨样式
            .ant-badge {
                cursor: pointer;
                .ant-badge-dot {
                    position: absolute;
                    top: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }
      
        .logout {
            float: none;
            margin: 80px 0 0 19px;
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            cursor: pointer;
            text-align: center;
            color: #b6c2c9;
            text-decoration: none;
            transform: rotate(180deg);
            .iconfont {
                font-size: 28px;
            }
            &:hover {
                color: @hover-color;
            }
        }
        .avatar_container {
            overflow: hidden;
            text-align: center;
            // 上传了头像的样式
            .avatar {
                img {
                    vertical-align: top;
                    margin-top: 8px;
                }
            }
            // 没上传头像时，默认头像样式设置
            .user-default-logo-wrap,.user-default-logo-wrap.active {
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin-top: 8px;
                border-radius: 50%;
                background-color: @icon-active-color;
                .icon-user-logo-default {
                    font-size: 16px;
                    color: @primary-color;
                }
            }
        }
    }
}

.nav-sidebar-winning-clue,
.nav-sidebar-notification,
.nav-sidebar-backend-config {
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color: @primary-color;
    }
    li:last-child a {
        border-bottom: none;
    }
    em {
        float: right;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        background: #f41919;
        border-radius: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-family: @font-family-sans-serif;
    }
    .pad em {
        padding: 0 3px;
    }
}
// 领线索样式
.nav-sidebar-winning-clue {
    width:330px;
    height:212px;
    border:1px solid @sub-content-font-color;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border-radius:4px;
    padding-left: 0;
    .ant-popover-content {
        padding: 0;
        margin-left: -16px !important;
    }
    .ant-popover-inner-content {
       padding: 0;
    }
}

.nav-sidebar-notification {
    a {
        padding: 10px 5px;
    }
    a:last-child {
        border-bottom: none;
    }
}

//左侧响应式导航 汉堡包按钮
.navbar-collapse .hamburger {
    margin-top: 20px;
    display: none;
    &:hover {
        cursor: pointer;
    }
    .line {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

//汉堡包弹框样式
.nav-sidebar-lists {
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color:@primary-color;
    }
    li:last-child a {
        border-bottom: none;
    }
    em {
        float: right;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        background: #f41919;
        border-radius: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .pad em {
        padding: 0 3px;
    }
}

//个人信息样式
.nav-sidebar-userinfo {
    .ant-popover-inner {
        margin-left: -16px;
    }
    margin-left: 0 !important;
    padding-left: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-content {
        padding: 4px 5px;
    }
    a {
        display: block;
        padding: 10px 5px 10px 13px;
        margin: 3px 0;
        font-size: 14px;
        color: #525858;
        border-bottom: 1px solid #f5f5f5;
        text-decoration: none !important;
    }
    a:hover,
    a.active {
        color: @primary-color;
    }
    li:last-child a {
        border-bottom: none;
    }
}
//隐藏百度商桥的客服图标
#newBridge {
    #nb_icon_wrap {
        display: none;
    }
}

// 手机端样式设置
.nav-bar-wrap.col-xs-12 {
    .navbar-vertical {
        position: relative;
        width: 100%;
        height: 48px;
        min-height: 48px;
        margin-bottom: 0;
        border: none;
        .navbar-nav {
            > li.sidebar-menu-li {
                width: 33.33%;
                height: 48px;
                > a.iconfont {
                    height: 48px;
                    line-height: 46px;
                    &:before {
                        font-size: 28px;
                    }
                }
            }
        } 
    }
}
// 宽度缩放适配
@media (max-width: 600px) {
    #hamburger{
      display: none;
    }
    #menusLists{
      display: block;
    }
  }
