.rightContent {
  .main {
    //顶部二级导航下的内容区样式设置
    .top-nav-module-content {
      margin-top: 64px;
      &.fixed-position {
        margin-top: 128px;
      }
    }
    //左侧二级导航下的内容区样式设置
    .left-nav-module-conent{
      height: 100vh;
      margin-left: 120px;
      padding: 12px;
      background-color: #f5f5f5;
    }
  }
}

//.apply_users_ico:before,
//.apply_opportunities_ico:before,
//.apply_business_ico:before,
//.apply_leave_ico:before {
//  pointer-events: auto;
//  cursor: pointer;
//  position: absolute;
//  right: 10px;
//  top: 10px;
//  min-width: 16px;
//  height: 16px;
//  overflow: hidden;
//  background: #f41919;
//  border-radius: 8px;
//  color: #fff;
//  line-height: 16px;
//  font-size: 12px;
//  text-align: center;
//  z-index: 1000;
//}