.analysis_title_and_num {
  padding-top:27px;
  font-size:14px;
  .pull-left {
    color:#636e72;
    padding-left:17px;
    padding-top:5px;
  }
  .pull-right {
    color:#939393;
    padding-right:32px;
    padding-top:5px;
    padding-bottom:5px;
  }
  em {
    font-weight:normal;
    font-style:normal;
    line-height:16px;
    padding:3px 11px;
    color:#fff;
    background:#33a3dc;
    border-radius:9px;
    margin-left:8px;
  }
}