.recent-contacter-detail {
  font-size: 14px;
  background: #fbfdff;
  padding: 8px 16px;
  .contact-content {
    overflow: hidden;
    .contact-container {
      float: left;
    }
    .contact-label {
      margin: 10px 3px 0 0;
      color: #999;
    }
    .contact-name {
      margin-right: 8px;
      font-weight:bold;
    }
    .phone-num-container, .email-container, .qq-container, .weChat-container {
      .contact-item {
        border-radius: 4px;
        border: 1px solid #ebebeb;
        margin-right: 8px;
        margin-top:5px;
        display: inline-block;
        padding: 2px 8px;
        background: #fff;
        cursor: pointer;
        .icon-phone-call-out, .icon-email, .icon-qq, .icon-weChat{
          color: #8CA9C5;
          margin-right: 4px;
        }
      }
      .contact-item:hover {
        background: #f7a53f;
        color: #fff;
        .icon-phone-call-out, .icon-email, .icon-qq, .icon-weChat{
          color: #fff;
        }
      }
    }
  }
}