@import "../../../../public/css/common-variables";
.recent-contacter-detail {
  font-size: 14px;
  background: #fbfdff;
  padding: 8px 16px;
  .contact-content {
    overflow: hidden;
    .contact-container {
      float: left;
    }
    .contact-label {
      margin: 10px 3px 0 0;
      color: #999;
    }
    .contact-name {
      margin-right: 8px;
      font-size: 14px;
      color:#666;
    }
    .phone-num-container, .email-container, .qq-container, .weChat-container {
      .contact-item {
        border-radius: 4px;
        margin-right: 8px;
        display: inline-block;
        padding: 2px 8px;
        background: #fff;
        cursor: pointer;
        color: @CLICK-BLUE;
        .icon-phone-call-out, .icon-email, .icon-qq, .icon-weChat{
          color: @CLICK-BLUE;
          margin-right: 4px;
        }
      }
      .contact-item:hover {
        color: @BUTTON-HOVER;
        .icon-phone-call-out, .icon-email, .icon-qq, .icon-weChat{
          color: @BUTTON-HOVER;
        }
      }
      .contact-item.inability{
        font-size:14px;
        color: #999;
        background: @NOTICE-BACKGROUND;
        border:none;
        .icon-phone-call-out, .icon-email, .icon-qq, .icon-weChat{
          color: #999;
        }
      }

    }
  }
}