@import "../../../../public/css/common-variables";
.customer-notice-message-container {
  .customer-notice-content {
    padding: 16px 16px 0 16px;
    .customer-title {
      margin-bottom: 8px;
      color: @primary-font-color;
      overflow: hidden;
      .login-time {
        margin-left: 10px;
      }
      button {
        float: right;
      }
    }
    .customer-content {
      font-size: 14px;
      color: @secondary-font-color;
      .system-notice-item {
        padding-bottom: 12px;
      }
      .user-name {
        color: @primary-color;
        margin: 0px 5px;
        cursor: pointer;
      }
      .notice-detail-more {
        color: @secondary-color;
        cursor: pointer;
        padding-bottom: 16px;
      }
    }
    .recent-contacter-detail {
      padding: 8px 0;
    }
    .customer-label {
      padding: 0 5px;
    }
  }
}