@box_shadow_color: #cac8c8;
@import "../../../../public/css/common-variables";
.sales-clue-item-container {
  border-left: 2px solid transparent;
  position: relative;
  margin: 10px;
  background: #fff;
  .associate-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
  }
  .loading-container-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    .is-loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.8);
      .load8 {
        margin-top: 30px;
      }
      p {
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        color: #49A7F5;
      }
    }
  }
  .remark-error {
    position: absolute;
    top: 100px;
    left: 200px;
  }
  .clue-top-title {
    padding: 16px 16px 4px 16px;
    .clue-stage {
      margin-right: 7px;
      font-size: 14px;

      padding: 2px;
      font-weight: bold;
    }
    .clue-stage.will-distribute {
      background: @will-distribute-background;
      color: @will-distribute-color;
    }
    .clue-stage.has-distribute {
      background: @has-distribute-background;
      color: @has-distribute-color;
    }
    .clue-stage.has-follow {
      color: @has-follow-color;
      background: @has-follow-background;
    }
    .ant-tag {
      margin-left: 10px;
    }

    .clue-name {
      font-weight: bold;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .clue-content {
    padding: 0 0 10px 16px;
    font-size: 15px;
    .recent-contacter-detail {
      background: #fff;
      padding: 8px 0;
      font-size: 15px;
    }
    .clue-trace-content {
      .clue-access-channel {
        margin: 0 5px;
        color: #8CA9C5;
      }
    }
  }
  .clue-foot {
    .record-trace-container {
      .trace-author {
        margin: 0px 5px;
      }
      .icon-edit-btn {
        visibility: hidden;
      }
      &:hover {
        .icon-edit-btn {
          visibility: visible;
          cursor: pointer;
          margin-left: 10px;
        }
      }
      .trace-author {
        color: #8CA9C5;
      }
    }
    .associate-customer {
      font-size: 14px;
      .customer-name {
        color: #8CA9C5;
        cursor: pointer;
        font-weight: normal;
      }
    }
    .add-btn {
      margin-top: 10px;
      .remark-clue {
        margin-left: 10px;
      }
    }
    .ant-btn {
      font-size: 14px;
      color: #8CA9C5;
      border: 1px solid #ebebeb;
      &:hover {
        color: #fff;
        background: #2196F3;
      }
    }
    .ant-btn.ant-btn-primary {
      color: #fff;
    }
    .ant-btn.cancel-btn {
      &:hover {
        background: #fff;
        color: #8CA9C5;
      }
    }
    .foot-text-content, .edit-trace-content {
      background: #fbfdff;
      padding: 8px 16px;
    }
    .foot-text-content.has-no-content {
      padding: 0;
    }

  }
  .edit-trace-content {
    .has-error {
      .ant-alert-error {
        position: absolute;
        z-index: 5;
        left: 200px;
      }
    }
    .save-cancel-btn {
      margin-top: 10px;
      .cancel-btn {
        margin-left: 5px;
      }
    }

  }
  &:hover {
    box-shadow: -4px 0 20px @box_shadow_color;;
  }
}

.sales-clue-item-container.cur-clue {
  border-left: 2px solid #2196F3;
}