@import "../../../../public/css/common-variables";
.will-expire-container {
  .will-customer-title {
    color: @primary-font-color;
    padding: 16px 16px 4px 16px;
  }
  .will-customer-content {
    font-size: 14px;
    padding: 0 0 16px 16px;
  }
}