.daily-report-panel {
    .btn-zone {
        float: right;
        margin-right: 20px;
        button {
            margin-left: 20px;
        }
    }
    .ant-steps-title, .ant-steps-head {
        background: #f5f5f5;
    }
    .add-tpl-content {
        padding: 16px 0;
    }
}
.report-list {
    .cell-align-right {
        text-align: right;
    }
    .ant-table-row {
        cursor: pointer;
    }
}
