@import "../../../public/css/common-variables";

@font_color: #8da8c5;
@item_height: 24px;
.basic-edit-field {
  //展示信息的样式
  .basic-info-text {
    max-width: 375px;
    line-height: 24px;
    margin-left: 6px;
    color: #333333;;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  };
  .no-data-descr{
    color: #ccc;
    a{
      color: #8fa8c6;
    }
  }
  .inline-block {
    display: inline-block;
    vertical-align: middle;
  }
  //编辑信息时的样式
  form {
    position: relative;
    display: table;
    .ant-form-item {
      .ant-input, div.ant-select, .ant-calendar-picker {
        width: 100%;
        margin-left: 6px;
      }
      .ant-input {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    .ant-form-explain{
      white-space: pre-wrap;
    }
    .button-container{
      margin-bottom: 10px;
    }
  }
  .ant-form-item {
    width: auto !important;
    margin-bottom: 0 !important;
  }
}
//内容有多行的时候
.basic-edit-field.has-more-row{
  .basic-info-text {
    float: left;
  }
  //编辑状态
  .edit-container {
    overflow: hidden;
    position: relative;
    .basic-info-text {
      float: left;
      width: 90%;

    }
    .icon-edit-btn {
      float: left;
      width: 10%;
      position: absolute;
      bottom: 0;
    }
  }
  .edit-container.hover-show-edit {
    overflow: hidden;
    position: relative;
    .icon-edit-btn {
      display: none;
    }
    &:hover {
      background: #E8F5FE;
    }
  }
}

//地域编辑框的处理
.location-edit-field {
  float: left;
  padding-left: 6px;
  .button-container{
    margin-bottom: 10px;
  }
}
.edit-container.hover-show-edit {
  .icon-edit-btn {
    display: none;
  }
  &:hover {
    background: #E8F5FE;
    .icon-edit-btn{
      display: inline-block;
    }
  }
}
