.basic-edit-field{
  .edit-container.hover-show-edit{
    .icon-edit-btn{
      display: none;
    }
    &:hover{
      .icon-edit-btn{
        display: inline-block;
        font-weight: normal;
      }
    }
  }
}