.basic-edit-field{
  .edit-container.hover-show-edit{
    .icon-edit-btn{
      display: none;
    }
    &:hover{
      background: #E8F5FE;
      .icon-edit-btn{
        display: inline-block;
      }
    }
  }
}