@import '../../../public/css/common-variables';

.customer_search_wrap {
  position: relative;
  //颜色是666
  color: #666;
  //提示样式
  .customer_suggest_tip {
    color: #666;
    padding-top: 7px;
  }
  .customer_select_error_tip{
    text-align: left;
  }
  //错误样式
  .customer_suggest_error_tip,.customer_select_error_tip {
    color: @error_tips_color;
  }
  //已经选中了客户的样式
  .customer_choosen {
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
    background-color: #f3f3f3;
    &:hover {
      background-color: darken(#f3f3f3, 5%);
    }
    border-radius: 4px;
    overflow: hidden;
    padding: 3px 10px 3px 10px !important;
    & > span {
      vertical-align: middle;
    }
    .iconfont {
      display: inline-block;
      vertical-align: middle;
      font-family: anticon !important;
      &:before {
        content: "\E62D";
      }
      transform: scale(.66666667) rotate(0deg);
      text-transform: none;
      text-rendering: auto;
      zoom: 1;
      filter: none;
    }
  }
  .ant-select-search__field__placeholder {
    top: 3px;
    color: #cdcdcd;
  }
  .associate-customer-wrap {
    .ant-select {
      width: 100%;
      &.err-tip{
        &:focus {
          outline: none;
        }
        .ant-select-selection {
          border: 1px solid @error_tips_color;
          &:focus, &:active {
            box-shadow: 0 0 0 2px rgba(240, 65, 52, 0.2);
          }
          .ant-select-search__field__wrap .ant-select-search__field:focus {
            box-shadow: none;
          }
        }
      }
      &.ant-select-focused.err-tip{
      .ant-select-selection {
        box-shadow: 0 0 0 2px rgba(240, 65, 52, 0.2);
        &:focus, &:active {
          box-shadow: 0 0 0 2px rgba(240, 65, 52, 0.2);
        }
      }
    }
    }
  }
  .customer-name {
    display: inline-block;
    width: 90%;
    cursor: pointer;
    color: @secondary-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .arrow-right {
      margin-left: 4px;
    }
  }

  &.customer_searchbox_error {
    .ant-select-selection--single {
      border: 1px solid @error_tips_color;
    }
  }
  .edit-container.hover-show-edit {
    padding: 3px 0;
    .icon-edit-btn {
      display: none;
    }
    &:hover {
      background: #E8F5FE;
      .icon-edit-btn {
        display: inline-block;
      }
    }
  }
}
