@import '../../../../public/css/common-variables';
.notice-wrap {
  .notice-content-wrap {
    .notice-content-list {
      color: @primary-font-color;
      font-size: 14px;
      .notice-title {
        padding: 16px 16px 0 16px;
        font-weight: bolder;
      }
      .notices-item {
        border-bottom: 1px solid #f1f1f1;
        font-weight: normal;
        .wrapper {
          padding: 16px 16px 0 16px;
          .item-content {
            white-space: pre-line;
          }
          .item-pubInfo {
            color: #989898;
            font-size: 12px;
            padding: 16px 0;
          }
        }
      }
    }
  }
  .ant-alert {
    display: inline-block;
    margin-left: 20px;
  }
  .total {
    position: fixed;
    bottom: 20px;
    margin-left: 16px;
    font-size: 14px;
  }
}