$margin-top: 20px;
$border-style: 1px solid #bcc4c7;

@mixin infor-list {
  padding: 25px 10px 22px 24px;
  margin-left: $margin-top;
  margin-right: $margin-top;
  font-size: 14px;
}

//超过规定宽度后显示...
@mixin font-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-buttons {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 176px;
}

.log-infor-scroll {
  width: 420px;
  .ant-pagination {
    float: right;
    margin-top: 5px;
  }
  .ant-pagination-item {
    background-color: transparent;
  }
  .ant-pagination-item-active {
    background-color: #2db7f5;
  }
}

.card-infor-list {
  @include infor-list;
  border-top: $border-style;
  border-bottom: $border-style;
  .card-detail-error {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .card-item {
    width: 330px;
    height: 35px;
    line-height: 33px;
    .card-item-left {
      display: inline-block;
      overflow: hidden;
    }
    .card-item-right {
      display: inline-block;
      max-width: 280px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: initial;
      padding-left: 6px;
    }
    i{
      padding: 0 8px;
    }

  }
  //标签展示的样式
  .tag-container {
    display: inline-block;
    .tag-label {
      float: left;
      line-height: 28px;
    }
    .block-tag {
      width: 310px;
      white-space: normal;
      display: inline-block;
      .ant-tag {
        font-size: 14px;
        border-radius: 4px;
        background: #c0d7e8;
        margin-top: 4px;
        margin-left: 5px;
        float: none;
        a {
          color: #000;
        }
        i {
          color: #3879d9;
        }
      }
    }
  }
  .detail-address-style {
    line-height: 20px;
    padding-bottom: 5px;
    .card-item-right {
      padding-left: 42px;
      max-width: 330px;
      white-space: normal;
    }
  }
  //没有左侧的label时，样式设置
  .left-label-null-style {
    padding-top: 0;
    padding-bottom: 8px;
    .card-item-right {
      padding-left: 55px;
    }
  }

}

//标签修改的样式
.card-info-tag-form {
  display: inline-block;
  padding: 25px 10px 22px 24px;
  margin-left: 20px;
  margin-right: 20px;
  label {
    padding-right: 0;
    padding-top: 3px;
    text-align: left;
  }
  .ant-form-item {
    width: 330px !important;
    margin-bottom: 5px;
    .block-tag-edit {
      font-size: 14px;
      width: 300px;
      white-space: normal;
      .app-tag {
        margin-right: 8px;
        cursor: pointer;
        padding: 3px 8px;
        display: inline-block;
        margin-bottom: 5px;
        color: #666;
      }
      .tag-selected {
        background: #4d96d1;
        border-radius: 4px;
        color: white;
        padding: 3px 8px;
      }
    }
    .app-tag-saving {
      color: #979EA2;
    }
    .app-tag-save-success {
      color: #87d068;
    }
    .app-tag-save-error {
      color: #f50;
    }
  }
}

.log-infor-list {
  @include infor-list;

  .log-infor-title {
    padding-bottom: 10px;
  }

  .log-list-content {
    margin-top: 5px;
    text-align: center;
    @mixin log-label {
      font-weight: normal;
      font-size: 14px;
      //margin-bottom: 0;
    }

    .log-item {
      width: 330px;
      text-align: left;
      .log-username {
        width: 50px;
        @include log-label;
        @include font-overflow;
      }
      .log-info {
        width: 135px;
        padding-left: 10px;
        @include log-label;
        @include font-overflow;
      }
      .log-time {
        padding-left: 10px;
        @include log-label;
        @include font-overflow;
      }
    }
  }

}
.ant-btn.ant-btn-sm{
  border-radius: 3px;
}