/*引入公共变量*/
@import '../../../../public/css/bootstrap-variables';
/*安全域-地域分析-最外层节点*/
.analysis_realm_zone_content {
  padding:96px 43px 32px 43px;
  @media (max-width:$screen-sm) {
    padding-left:0;
    padding-right:0;
  }
}
/*安全域-地域分析-内层节点*/
.analysis_realm_zone {
  /*提示没有安全域的层默认隐藏*/
  .nodata-msg-block {
    display:none;
    margin:50px auto 0 auto;
  }
  /*没有数据的时候analysis_realm_zone会添加一个analysis_realm_zone_nodata的样式*/
  &.analysis_realm_zone_nodata {
    /*没有数据的时候，显示没数据的层*/
    .nodata-msg-block {
      display:block;
    }
    /*没数据的时候不显示地图和排行列表*/
    .chartmapwrap,.ranklistwrap {
      display:none;
    }
  }
  /*地图、排行列表 背景、圆角设置*/
  .chartmapwrap,.scrollwrap {
    background:#fff;
    border-radius:4px;
  }
  /*地图外层节点*/
  .chartmapwrap{
    position:relative;
  }
  /*时间选择器*/
  .timepicker {
    position:relative;
    z-index:10;
  }
  /*地图组件*/
  .chartmap {
    padding:25px 0 15px 25px;
  }
  /*排行榜外层节点*/
  .ranklistwrap {
    padding:0 0 0 16px;
  }
  /*loading居中、绝对定位*/
  .isloading {
    position:absolute;
    width:70px;
    height:70px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
  }

  /*宅设备的(小于992px)样式*/
  @media (max-width: $screen-md) {
    /*排行榜*/
    .ranklistwrap {
      padding:20px 0 0 0;
    }
    /*loading所在的层*/
    .isloading {
      position:static;
      padding:50px 0;
      box-sizing: content-box;
    }
    /*地图中的loading隐藏，只显示一个loading*/
    .chartmapwrap .isloading {
      display:none;
    }
  }
  /*宽度不足600px的样式*/
  @media (max-width: 600px) {
    /*日期选择器中的直接子节点*/
    .timepicker + div {
      display:none;
    }
    /*排行榜*/
    .ranklistwrap {
      padding-top:0;
    }
  }
  /*宽度不足450px的样式*/
  @media (max-width:450px) {
    /*地图*/
    .chartmap {
      padding-left:15px;
    }
    /*地图外层节点*/
    .chartmapwrap {
      padding-left:0;
    }
  }
  /*宽屏设备的样式(样式大于992px)*/
  @media (min-width:$screen-md) {
    /*没有数据的提示层，水平、垂直居中*/
    .nodata-msg-block {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;
    }
  }
  /*最大宽度625px的样式*/
  @media (max-width:625px) {
    /*时间选择器*/
    .rc-calendar-range {
      width:auto;
    }
    /*时间选择器*/
    .rc-calendar-range-middle {
      display:none;
    }
    /*时间选择器*/
    .rc-calendar-date-input-wrap:before {
      display:none;
    }
    /*时间选择器*/
    .rc-calendar-range-right .rc-calendar-date-input-wrap {
      position:static;
      left:auto;
    }
    /*时间选择器*/
    .rc-calendar-range-part {
      width:auto;
      float:none;
    }
  }

}