.strategy-card {
  .card-box {
    height: 128px;
    .single-card.strategy {
      &.selected {
        background:  #F1F8FE;
      }
      height: 100%;
      .card-content {
        margin-left: 0;
        width: 100%;
        .card-title {
          color: #333;
          font-weight: 800;
        }
        .card-disable {
          color: #999;
        }
        .card-item {
          margin-top: 3px;
          color: #999;
          .card-item-right {
            width: 75%;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}