.sales-process-container {
  padding: 12px;
  .sale-process-wrap {
    background: #fff;
    .sale-process-top-nav {
      padding: 24px;
      height: 80px;
      border-bottom: 1px solid #E5E5E5;
    }
    .sales-process-content {
        .content-zone {
          ul {
            padding-top: 8px;
            padding-left: 24px;
            .process-box {
              position: relative;
              width: 300px;
              border: 1px solid #E5E5E5;
              border-radius:4px;
              color: #333;
              margin: 16px 16px 0 0;
              display: inline-block;
              padding: 16px 16px 8px 16px;
              .item-content {
                .item {
                  font-size: 14px;
                  padding-bottom: 12px;
                }
                .item-name {
                  font-size: 16px;
                }
                .item-status {
                    div {
                      display: inline-block;
                      margin-left: 10px;
                    }
                }
              }
              .item-operator {
                float: right;
                .iconfont {
                  font-size: 18px;
                }
                .icon-delete {
                  margin-left: 16px;
                }
              }
            }
          }
        }
    }
  }
}