@import "../../public/css/bootstrap-variables";
.ellipsis {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.analysis-rank-list {
  padding:18px 10px 12px 10px;
  em,i,b {
    font-weight:normal;
    font-style:normal;
  }
  ul {
    padding:15px 0 0 0;
  }
  li {
    padding:21px 18px 21px 12px;
    border-radius:4px;
    margin:0 0 8px 0;
    color:#81939f;
    background:#f9f9f9;
    font-size:0;
    em , span , i , b {
      font-size:14px;
      display:inline-block;
      box-sizing:content-box;
      &:extend(.ellipsis);
    }
    em {
      width:percentage(2/12);
    }
    span {
      width:percentage(6/12);
    }
    i {
      width:percentage(2/12);
    }
    b {
      width:percentage(2/12);
    }
    em:before {
      content:attr(data-rank);
      @size:24px;
      display:inline-block;
      width:@size;
      height:@size;
      line-height:@size;
      border-radius:24px;
      background:#b5c2ca;
      color:#fff;
      text-align:center;
    }
  }

  li:nth-child(1) {
    background:#fbd3d3;
    @color:#ef504d;
    color:@color;
    em:before {
      background:@color;
    }
  }

  li:nth-child(2) {
    background:#ffe1d6;
    @color:#fd8e59;
    color:@color;
    em:before {
      background:@color;
    }
  }

  li:nth-child(3) {
    background:#fceed3;
    @color:#f4ba4e;
    color:@color;
    em:before {
      background:@color;
    }
  }

}
