/*登录界面的样式文件*/
@import "../../public/css/common-variables";
@wihte-color: #ffffff;
@title-border-color: #dedfe2;
@form-width: 276px;
@font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
@import '../../public/sources/page-frame/index-zh_CN.less';
.login-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    font-family: @font-family;
    //等待效果
    .isloading{
        position: absolute;
        height: 60px;
        width: 60px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    a.logo{
        margin-left: 140px;
        margin-bottom: 20px;
    }

    //登录、注册按钮
    .login-register-btn{
        float: right;
        width: 96px;
        height: 32px;
        margin-top: 16px;
        margin-right: 24px;
        border: 1px solid #fff;
        line-height: 1.2;
        font-size: 16px;
        color: #ffffff;
        background: transparent;
        &:hover{
            border: 1px solid @primary-color;
            background: transparent;
        }
    }

    .csm-form-wrap{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        .login-scroll-bar{
            .gm-scroll-view{
                display: flex;
                align-items: center;//上下居中
                //justify-content: center;//左右居中
            }
        }
    }
    .form-wrap {
        width: 384px;
        margin: auto;
        .login-logo-wrap{
            margin-top: 10px;
            text-align: center;
        }
        .form-title{
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: #213340;
        }
        //隐藏密码输入框的样式
        .password-hidden-input{
            width: 0;
            height: 0;
            border: none;
            padding: 0;
            margin: 0;
            outline: none;
        }
        .MuiFormLabel-root{
            font-family: @font-family;
            color: @secondary-font-color;
            font-size: 16px;
            font-weight: normal;
            line-height: 16px;
        }
        // 输入框label内容颜色设置，
        .MuiFormLabel-root.Mui-focused{
            color: @secondary-font-color;
        } 
        .MuiInput-underline:after{
            border-bottom: 2px solid @primary-color;
        }
        .input-item{
            position: relative;
            .iconfont{
                position: absolute;
                bottom:4px;
                right:0px;
                cursor: pointer;
                .handle-btn-item;
            }
            .iconfont.icon-password-visible{
                right: 2px;
                font-size: 15px;
                bottom: 8px;
            }
            .iconfont.icon-password-invisible{
                font-size: 8px;
                bottom: 8px;
                right: 2px;
            }
            .login-input-wrap {
                outline: none;
                border: none;
            }
        }
        .login-error-msg{
            width: @form-width;
            margin: 0 auto;
        }
         //链接的颜色设置
        a {
            color: @primary-color;
            &:hover{
                color: @primary-hover-color;
            }
        }
    }
    .login-error-tip, .register-error-tip {
        margin-top: 4px;
        line-height: 22px;
        font-size: 14px;
        color: @error-color;
        margin-bottom: 8px;
    }
    .login-error-tip{
        margin-top: 0;
        .icon-warn-icon{
            margin-right: 10px;
        }
    }
    .login-user-agreement-tip, .login-no-account-register-tip{
        margin-bottom: 4px;
        font-size: 14px;
        >span{
            color: @secondary-font-color;
        }
    }
    .login-find-password-tip{
        font-size: 14px;
    }
    .login-no-account-register-tip{
        float: right;
    }
}
#footer {
  .footer-content {
    color: @secondary-font-color;
    a {
        color: @secondary-font-color;
    }
  }
}
::selection {
    color: @primary-font-color !important;
}
@media (max-width: 500px) {
    .csm-form-wrap{
        .form-wrap {
            width: 264px;
        }
    }
    #footer {
        .footer-content {
          padding: 14px 0;
          font-size: 10px;
        }
    }
}

@media (max-height: 480px) {
    #footer {
      display: none;
    }
  }