/** Created by 2019-07-26 11:11 */
@import "../../../../public/css/common-variables";
@border-color: #e3e8ec;
.guide-card-container{
  position: relative;
  .icon-close{
    position: absolute;
    cursor: pointer;
    color: @disable_call_phone_icon;
    top: 3px;
    right: 10px;
    font-size: 12px;
  }
}
.boot-process-content{
  background: #fff;
  // 引导流程统一样式
  .guide-content-wrap{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid @border-color;
    line-height: 20px;
    color: @secondary-font-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .guide-card-info{
      padding: 6px 0;
      flex: 2;
      > .iconfont{
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        font-size: 32px;
        border-radius: 4px!important;
        color: #fff;
        margin-right: 11px;
        float: left;
      }
      > img{
        width: 48px;
        height: 48px;
        float: left;
      }
      .guide-text{
        margin-left: 59px;
        .guide-text__title {
          color: @primary-font-color;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
        .guide-text__des{
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .guide-btn-block {
      .ant-btn {
        font-size: 14px;
        color: #108ee9;
        &.btn-finished{
          color: @FILTER-BUTTON;
        }
      }
    }
  }
  // 添加客户样式
  .customer-title-wrapper{
    > span{
      &:first-child{
        font-size: 16px;
      }
    }
    .customer-title-btn{
      cursor: pointer;
      float: right;
      color: @CLICK-BLUE;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

// 添加成功后样式
.guide-finished-wrapper{
  text-align: center;
  margin-top: 150px;
  > p{
    color: @primary-font-color;
    font-size: 20px;
    margin: 15px 0 32px;
  }
  button{
    margin: 0 8px;
    font-size: 14px;
  }
}