.home-column-item{
  float: left;
  width: 100%;
  padding-left: 10px;
  .column-item-title{
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    .title-icon.iconfont{
      font-size: 14px;
      padding-right: 6px;
    }
  }
}