.home-page-container{
  float: left;
  width: 100%;
  height: 100vh;
  background-color: #e3e8ec;
  .home-loading.load8{
    transform: scale(0.5, 0.5);
    .loader8 {
      border-left-color: #394144;
    }
  }
  .column-title-icon {
    color: #666666;
    padding-right: 6px;
    &.icon-my-interest{
      color: #FF8B00;
      padding-right: 4px
    }
  }

  .return-old-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    width: 40px;
    height: 40px;
    line-height: 15px;
    padding: 4px;
    text-align: center;
    color: #8fa8c6;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cfd9e5;
    cursor: pointer;
    &:hover{
      color: #40a9ff;
      border: 1px solid #40a9ff;
    }
  }
  //我的工作中的类型选择dropdown
  .my-work-dropdown-trigger{
    float: right;
    color: #90abc7;
    cursor: pointer;
    .dropdown-icon{
      padding-left: 4px;
      font-size: 16px;
      vertical-align: middle;
      font-weight: bold;
    }
  }
  .no-data-intro, .no-data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 180px;
  }

  ////768以上展示三列
  //@media(min-width: 768px){
  //  .my-work-wrap.home-column-item {
  //    width: 50%;
  //  }
  //  .my-insterest-wrap, .team-data-wrap {
  //    width: 25%;
  //  }
  //}
  ////768以下折行展示
  //@media(max-width: 768px){
  //  .my-work-wrap.home-column-item {
  //    width: 100%;
  //  }
  //  .my-insterest-wrap, .team-data-wrap {
  //    width: 50%;
  //  }
  //}

}