@font-color: #333333;
.my-data-title {
  line-height: 24px;
  font-size: 14px;
  color: @font-color;
}

//各类型标题下的数据
.my-data-title-data {
  float: left;
  width: 100%;
  margin-top: 4px;
  line-height: 24px;
  font-size: 16px;
}

.my-contact-performance {
  color: #EFA246;
}

.call-time-total {
  color: #2196F3;
}

.contact-customer-count {
  color: #28AF6A;
}

//排名数据的展示
.performance-data-item {
  margin-bottom: 10px;
  line-height: 20px;
}

.performance-data-item {
  float: left;
  width: 100%;
  .performance-image {
    width: 16px;
    height: 16px;
  }
  .contact-data {
    margin-left: 4px;
  }
}

.performance-data-left {
  float: left;
  font-size: 16px;
  color: #EFA246;
}

.performance-data-right {
  float: right;
  font-size: 14px;
  color: @font-color;
}

//各列表数据样式
.my-data-detail-list {
  float: left;
  width: 100%;
  margin-top: 20px;
  .call-time-name {
    float: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
  .progress-bar-wrap {
    float: right;
    width: 80%;
  }
}