@import "../../../../public/css/common-variables";
@border-color: #E8EEF3;
.team-data-wrap {
  .column-item-content{
    background-color: unset;
  }
  .detail-card-container {
    margin-top: 0;
    border-bottom: 1px solid @border-color;
    border-radius: 0;
    box-shadow: none;
  }
}

.my-data-title {
  line-height: 24px;
  font-size: 14px;
  color: @primary-font-color;
}

//各类型标题下的数据
.my-data-title-data {
  display: inline-block;
  width: 100%;
  margin-top: 4px;
  line-height: 24px;
  font-size: 16px;
}

.my-contact-performance {
  color: @warn-color;
}

.call-time-total {
  color: @primary-color;
}

.contact-customer-count, .contact-clue-count, .see-expire-contract-btn {
  color: @primary-color;
}
.expire-contract-count {
  color: @warn-color;
}
.call-time-item {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

//排名数据的展示
.my-data-performance-chart {
  float: left;
  width: 100%;
  height: 10px;
  border: 1px solid #f8dfc1;
  border-radius: 4px;
  margin-top: 4px;
  .my-performance-percent {
    //width: 10%;
    background: #f0a44c;
    height: 9px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
  }
}

.performance-data-item {
  margin-bottom: 10px;
  line-height: 20px;
}

.performance-data-item {
  float: left;
  width: 100%;
  .performance-image {
    width: 16px;
    height: 16px;
  }
  .contact-data {
    margin-left: 4px;
  }
}

.performance-data-left {
  float: left;
  font-size: 16px;
  color: @warn-color;
}

.performance-data-right {
  float: right;
  font-size: 14px;
  color: @primary-font-color;
}

//各列表数据样式
.my-data-detail-list {
  float: left;
  width: 100%;
  margin-top: 20px;
  .call-time-name {
    float: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
  .progress-bar-wrap {
    float: right;
    width: 80%;
  }
}

//时间筛选样式
.my-data-call-time-card,.my-data-preformance-card{
  &.has-loading{
    min-height: 182px;
    position: relative;
  }
  .select-wrapper{
    .ant-select-selection{
      height: 24px;
      .ant-select-selection__rendered{
        line-height: 24px;
      }
    }
    .call-time-select,.performance-select{
      float: right;
    }
  }
}

// 到期合同样式
.contract-expire-wrapper{
  height: auto;
  float: left;
  width: 100%;
  .antc-analysis{
    .analysis-charts{
      padding: 0;
    }
    .ant-row{
      .ant-col-sm-24{
        margin-bottom: 0!important;
      }
    }
    .ant-table-pagination{
      margin-bottom: 10px;
    }
    .card-container{
      .card-title{
        font-weight: normal;
        color: @primary-font-color;
        font-size: 14px;
        line-height: 24px;
        .title-name{
          font-size: 14px;
          padding: 0;
        }
        .additional-content{
          float: left;
          .type-switch{
            .ant-select{
              margin-left: 0;
            }
            .ant-select-selection{
              height: 24px;
              margin-right: 5px;
              .ant-select-selection__rendered{
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
.see-expire-contract-btn{
  color: @primary-color;
}

//提取线索统计样式
.extract-clue-wrap{
  margin-top: 4px;
  .extract-clue-data{
    color: @primary-font-color;
    font-size: 14px;
  }
}