@import "../../../../public/css/common-variables";
@font-color: #333333;
@btn-color: #8DA8C5;
@btn-hover-color: #2196F3;
@border-color: #e3e8ec;
@Background-color:#F6FBFF;
@Orange-color:#F7A340;
.my-work-wrap{
  padding-left: 10px;
  .my-work-content {
    .refresh-data-tip{
      text-align: center;
      font-size: 14px;
      padding: 10px 0;
      border-bottom: 1px solid @border-color;
    }

    //可以打开订单详情的工作
    .open-work-detail-style{
      cursor: pointer;
      z-index: 1;
    }
    .my-work-card-container{
      position: relative;
      padding: 0;
      border-radius: 4px;
      .hide-my-work-item-hover {
        display: none !important;
      }
      .show-my-work-item-hover {
        display: block !important;
      }
      .my-work-item-hover{
        position: absolute;
        display: none;
        float: right;
        top: 0;
        right: 10px;
        padding-left: 60px;
        padding-right: 10px;
        z-index: 2;
        height: 69px;
        background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 20%);//渐变背景设置
        //已处理按钮
        .handle-work-finish {
          float: left;
          margin-top: 21px;
          margin-left: 8px;
          color: @btn-color;
          cursor: pointer;
          &:hover {
            color: @btn-hover-color;
          }
          .work-finish-text {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            vertical-align: middle;
            padding: 0 21px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            &.visit-btn {
              width: 88px;
              height: 32px;
              line-height: 30px;
              font-size: 14px;
              padding: inherit;
            }
          }
          .approval-btn{
            line-height: 22px;
            font-size: 14px;
            z-index: 2;
          }
          .anticon-loading{
            margin-right: 6px;
            font-size: 16px;
          }
        }
        .work-hover-show-detail {
          float: left;
          margin-top: 20px;
          line-height: 24px;
          .work-contact-name {
            margin-right: 8px;
            color: @font-color;
          }
          .work-contact-phone {
            cursor: pointer;
            height: 24px;
            line-height: 22px;
            vertical-align: middle;
            padding: 0 22px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            display: inline-block;
            color: #ffffff;
            background-color: @btn-hover-color;
            //拨打电话的按钮
            .iconfont {
              font-size: 16px;
              color: #FFFFFF;
              margin-left: 0;
            }
          }
          //只有一个电话时的按钮样式（为了点整个按钮都可以触发打电话，padding需要放到内层的电话按钮上）
          .work-contact-phone.only-one-phone-btn{
            padding: 0;
            .icon-active-call-records-ico{
              padding: 0 22px;
            }
          }
        }
      }
      //工作内容的统一样式
      .work-content-wrap {
        padding: 10px;
        border-bottom: 1px solid @border-color;
        line-height: 20px;
        color: #999999;
        //鼠标移上后的阴影效果
        &:hover{
          box-shadow: 0 0 10px #d3d4d8;
        }
        .work-name {
          height: 30px;
          line-height: 24px;
          margin-left: 6px;
          font-size: 16px;
          font-weight: 400;
          color: #333333;
          .customer-label {
            vertical-align: top;
            height: 18px;
            margin-top: 4px;
            margin-right: 4px;
            padding: 0 4px;
            line-height: 15px;
            color: #ffffff;
          }
          //  客户分数
          .custmer-score {
            margin-left: 4px;
            padding-right: 4px;
            padding-left: 2px;
            border-radius: 4px;
            line-height: 18px;
            color: #EFA246;
            background-color: #FFF0BA;
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            .iconfont {
              margin-right: 2px;
            }
          }
        }
        //线索名\客户名可点击样式
        .customer-clue-name {
          max-width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          cursor: pointer;
          z-index: 2;
          &:hover {
            color: @btn-hover-color;
          }
        }
        .work-remark {
          line-height: 20px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 14px;
          .last-contact-time {
            margin-right: 8px;
          }
          .work-remark-content {
            width: 85%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .visit-add-container {
          .visit-add-textarea {
            .ant-input {
              font-size: 14px;
            }
            .ant-form-item {
              margin-bottom: 8px;
            }
          }
          .visit-add-options {
            position: relative;
            margin-top: 10px;
            font-size: 14px;
            height: 32px;
            .recent-three-traces {
              display: inline-block;
              color: #8DA8C5;
              line-height: 32px;
              cursor: pointer;
              height: 32px;
              .traces-tip {
                display: inline-block;
                transform: translateY(-2px);
              }
              .iconfont {
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
              }
              &:hover {
                color: #2095F4;
              }
            }
            .visit-add-btns {
              display: inline-block;
              position: absolute;
              right: 0;
              .ant-btn {
                height: 32px;
                margin-left: 8px;
                font-size: 14px;
              }
            }
          }
          .ant-radio-group {
            width: 100%;
            margin-top: 8px;
            .ant-radio-wrapper {
              overflow: hidden;
              display: block;
              border-radius:4px;
              margin-bottom: 2px;
              margin-right: 0;
              padding: 8px 0;
              font-size: 14px;
              font-weight: normal;
              white-space: normal;
              color: #333;
              background: #FAFAFA;
              &:hover {
                background: #E4F2FE;
              }
              &.ant-radio-wrapper-checked {
                background: #E4F2FE;
              }
              .ant-radio {
                float: left;
                margin: 2px 0 0 8px;
                .ant-radio-input {
                  height: 10px;
                }
              }
              > span {
                float: left;
                &:last-child {
                  width: 95%;
                }
              }
            }
          }
        }
        .alert-timer{
          float: right;
          margin-bottom: 20px;
          .ant-alert-error{
            padding-right: 20px;
          }
        }
      }
      &:hover {
        .my-work-item-hover{
          display: block;
        }
      }
    }
    .daily-report-work-card{
      .work-content-wrap{
        overflow: hidden;
        .work-name{
          float: left;
          .iconfont{
            font-size: 30px;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        .buttons{
          float: right;
          button{
            margin-left: 10px;
          }
        }
      }
    }
    //申请消息
    .apply-work-card {
      .apply-person {
        float: left;
      }
      .apply-time {
        float: right;
      }
    }
    //申请审批详情宽度设置
    .my-work-detail-panel:not(.show-modal) {
      width: calc(@apply-detail-width + 24px);

      .close-modal-btn{
        right: @apply-detail-width;
      }
    }
    .my-work-detail-panel{
      .right-panel-modal-content{
        width: @apply-detail-width;
      }
    }
  }
}

.contacts-containers {
  font-size: 16px;
  cursor: default;
  .ant-btn {
    float: right;
  }
  .icon-contact-default {
    margin-right: 5px;
  }
  .contacts-item {
    .contacts-name-content {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333333;
      .iconfont {
        color: @btn-color;
      }
    }
    .phone-item {
      color: #999999;
    }
  }
  //只有一个电话时的样式设置
  .contacts-item.only-one-phone-style{
    .contacts-name-content{
      display: inline-block;
      max-width: 150px;
    }
    .contacts-phone-content {
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
    }
  }
  .contacts-item.def-contact-item {
    .contacts-name-content {
      .iconfont{
        color: @btn-hover-color;
      }
    }
    .ant-btn:hover, .ant-btn:focus {
      border-color: transparent;
    }
  }
  .contacts-phone-content {
     padding-left: 20px;
    .phone-item {
      margin-bottom: 5px;
      max-width: 200px;
      &:hover {
        color: #333333;
      }
    }
  }
}

.contact-phone-popover.ant-popover-placement-bottom{
  padding-top: 0;
  > .ant-popover-content > .ant-popover-arrow{
    display: none;
  }
}
