@import "../../../../public/css/common-variables";

.my-work-content {
  .detail-card-container {
    padding: 0;
    border-radius: 4px;
    //工作标题的统一样式
    .detail-card-title {
      padding: 8px;
      margin-bottom: 0;
      border-bottom: none;
      background-color: #F9FBFC;
      color: #8DA8C5;
      .work-title-icon {
        padding-right: 8px;
      }
      .work-title-text {
        margin: 0 6px;
      }
    }
    //工作内容的统一样式
    .detail-card-content {
      padding: 16px 20px 20px;
      line-height: 20px;
      color: #999999;
      .work-name {
        margin-bottom: 4px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        .customer-label {
          vertical-align: top;
        }
        //客户标签的颜色设置
        .customer-label.info-tag-style {
          background-color: @info-tag-color;
        }
        .customer-label.intent-tag-style {
          background-color: @intent-tag-color;
        }
        .customer-label.trial-tag-style {
          background-color: @trial-tag-color;
        }
        .customer-label.sign-tag-style {
          background-color: @sign-tag-color;
        }
        .customer-label.qualified-tag-style {
          background-color: @qualified-tag-color;
        }
        .customer-label.history-qualified-tag-style {
          background-color: @history-qualified-tag-color;
        }
        .customer-label.re-contract-tag-style {
          background-color: @re-contract-color;
        }
        .customer-label.loss-tag-style {
          background-color: @loss-tag-color;
        }
        //  客户分数
        .custmer-score {
          margin-left: 4px;
          padding-right: 4px;
          border-radius: 4px;
          border-bottom-left-radius: 16px;
          color: #EFA246;
          background-color: #FFF0BA;
          font-size: 14px;
          .iconfont {
            margin-right: 4px;
          }
        }
      }
      //线索名，客户名可点击样式
      .customer-name,.clue-name {
        cursor: pointer;
        &:hover {
          color: #4d96d1;
        }
      }
      .work-remark {
        line-height: 24px;
        .last-contact-time {
          margin-right: 8px;
        }
      }
      .work-hover-show-detail {
        display: none;
        line-height: 24px;
        .work-contact-name {
          margin-right: 4px;
        }
        .work-contact-phone {
          padding: 3px 4px 5px 4px;
          color: #ffffff;
          border-radius: 4px;
          background-color: #2196F3;
          //拨打电话的按钮
          .iconfont.icon-active-call_record-ico {
            visibility: visible;
            color: #ffffff;
          }
        }
      }
    }
    &:hover {
      .work-hover-show-detail {
        display: block;
      }
    }
  }

  //待处理线索,申请消息类型标题高亮
  .clue-work-card, .apply-work-card {
    .detail-card-title {
      color: #2196F3;
    }
  }
  //申请消息
  .apply-work-card {
    .apply-person {
      float: left;
    }
    .apply-time {
      float: right;
    }
  }
}