@import "../../../public/css/common-variables";
li.apply-list-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 3px solid transparent;
  border-bottom: 1px solid #f0f4f7;
  cursor: pointer;
  &:hover{
    background-color: @current-item-color;
  }
  &.current {
    background-color: @current-item-color;
    border-left: 3px solid @apply-active-color;
    dt span {
      color: @primary-font-color;
    }
  }
  em, dt {
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
  }
  dt {
    padding-top: 12px;
    padding-bottom: 12px;
    span {
      padding-top: 5px;
      line-height: 19px;
      font-size: 16px;
    }
    //未读回复的标识
    span.icon-apply-message-tip {
      padding-left: 5px;
      color: @reply-message-tip-color;
    }
    em {
      float: right;
      line-height: 20px;
      color: @approval-pending-color;
      &.processed {
        color: @LOADING_ERR_TIP;
      }
    }
  }
  dd {
    line-height: 18px;
    font-size: 13px;
    padding-bottom: 6px;
    color: @LOADING_ERR_TIP;
    & > span {
      float: left;
      max-width: 65%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    em {
      float: right;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}