@import "../../public/css/common-variables";
.password-setting {
  font-size: 14px;
  color: #9f9fa1;
  height: 31px;
  line-height: 31px;
  .label-container,.check-container,.input-container,.input-msg-container{
    display: inline-block;
  }
  .check-container{
    margin-left: 4px;
  }

  .input-msg-container{
    .input-container{
      position: relative;
      .iconfont{
        position: absolute;
        cursor: pointer;
        color: rgba(0,0,0,3.65);
        font-size: 20px;
        right: 10px;
        top:0;
      }
      .ant-input{
        width: 240px;
      }
      .ant-input.has-warning{
        border: 1px solid @error_tips_color;
        &:focus{
          box-shadow:none;
        }
      }
    }
    .warning-text{
      color:@error_tips_color
    }
  }

}