//英语和西班牙语的样式
.operation-steps {
  .operation-steps-title {
    padding:21px 7px 0 7px;
  }
  .list-unstyled {
    li {
      width: 156px;
      padding:5px 7px 8px;
      text-align: center;
    }
  }
}