.antc-table {
    //复选框列宽度
    .ant-table-thead>tr>th.ant-table-selection-column,
    .ant-table-tbody>tr>td.ant-table-selection-column {
      width:25px;
    }
    //调整checkbox行高
    thead {
        label.ant-checkbox-wrapper {
            margin-top: 0;
            position: relative;
            top: 3px;
        }
    }
    .colums-back {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90;
        background: transparent;
    }
    .ant-checkbox-wrapper {
        margin-top: 5px;
        margin-left: 0;
    }
    .customize-colums {
        .ant-alert {
            margin-bottom: 10px;
            line-height: 1;
        }
        .bar-bottom {
            width: 100%;
            text-align: left;
            padding-left: 14px;
        }
        position: absolute;
        z-index: 99;
        background-color: white;
        box-shadow: 0px 1px 5px 0px;
        overflow: auto;
        label.ant-checkbox-wrapper {
            margin-left: 13px;
            margin-top: 10px;
        }
        div.ant-checkbox-group {
            width: 130px;
            margin-top: -10px;
            margin-left: 5px;
            .ant-checkbox-group-item {
                display: block;
                margin: 19px 8px;
            }
        }        
        margin-top: 3px;
        .ant-checkbox-group {
            margin-left: 10px;
        }
    }
    .ant-table th {
        font-weight: bold;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        .ant-table-column-sorter {
            font-weight: normal;
        }
    }
    .ant-table.ant-table-scroll-position-left .ant-table-fixed-left {
        box-shadow: none;
    }
    .ant-table-fixed-left {
        border-radius: 0!important;
        box-shadow: 6px 0 5px -5px rgba(0, 0, 0, 0.2);
    }
    .hide-body tbody.ant-table-tbody {
        display: none;
    } //去除滚动条交汇处的边框
    .ant-table-body {
        border-bottom: none!important;
    } //为了去掉垂直的阴影和上边框的距离 start
    .ant-table-placeholder {
        top: 57px;
    }
    .ant-table-scroll .ant-table-header .ant-table-fixed {
        padding-top: 10px;
    }
    #content-block {
        margin-top: 70px;
    }
    .ant-table-scroll {
        th {
            padding-top: 10px;
        }
        .ant-table-fixed-left {
            border-radius: 0;
        }
    } //用于显示固定列        
    &.splice-table .custom-tbody table {
        margin-top: 0;
    }
    &.splice-table .custom-tbody .ant-table-header {
        display: table-header-group;
    }
    .ant-table {
        overflow: auto;
    }
    & .ant-table-header .ant-table-fixed {
        background-color: white;
        padding-top: 10px;
    }
    &.ant-table-scroll {
        //遮盖thead的滚动条
        .ant-table-header:before {
            height: 47px;
            top: 0;
        }
        .ant-table-placeholder {
            top: 79px;
        }
    }
    .total_summary {
        position: relative!important;
        top: 70px!important;
    }
    &.scroll-load-table {
        overflow: auto; //下拉加载滚动条样式   
        .gm-scrollbar.-vertical {
            width: 18px;
            border-radius: 0;
        }
    } //分页移到table下面
    .ant-pagination {
        position: static!important; // 将总数移到左侧，保持和旧版位置一致
    }    
    .ant-table th {
        font-weight: bold;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        .ant-table-column-sorter {
            font-weight: normal;
        }
    }
    .ant-table-placeholder {
        position: static!important;
        padding: 60px 8px!important;
    } //遮盖滚动条 此处不能用::-web-kit-scrollbar设置，也不能用overflow-y设置,否则会出现不冲齐,无滚动条bug
    .ant-table-fixed-header .ant-table-scroll .ant-table-header:before {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: -5px;
        width: 16px;
        height: 60px;
        background-color: white;
    }
    .hide-body tbody.ant-table-tbody {
        display: none;
    }
    .spin-fix {
        z-index: 1;
        background-color: white;
        top: 70px;
    }
    .ant-table table {
        table-layout: fixed;
    }
    .ant-table th {
        background: transparent;
        color: #636768;
        padding: 9px !important;
    }
    .ant-table td {
        border-bottom: none;
        color: #75797c;
        word-break: break-all;
        max-width: 260px;
    }
    .ant-table th.no-wrap,
    .ant-table td.no-wrap {
        width: 1% !important;
        white-space: nowrap;
    }
    .ant-table td,
    .ant-table th {
        border-right: 1px dashed #edf1f2 !important;
    }
    .ant-table td:last-child,
    .ant-table th:last-child {
        border-right: none !important;
    }
    .ant-table tbody tr:nth-child(2n) {
        background: #f8f9fb;
    }
    .ant-table tbody tr:nth-child(2n+1) {
        background: #fff;
    }
    .ant-table .ant-checkbox-inner {
        width: 18px;
        height: 18px;
    }
    .ant-table .ant-checkbox-checked .ant-checkbox-inner {
        border-color: #4d96d1;
        background-color: #4d96d1;
    }
    .ant-table th,
    .ant-table-body {
        border-bottom: 2px solid #eef0ef;
    }
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
        border-color: transparent;
    }
    .ant-pagination-item-active,
    .ant-pagination-item:hover,
    .ant-pagination-prev:hover,
    .ant-pagination-next:hover {
        background: #fff;
        border-color: #9da8ac;
    }
    .ant-pagination-item-active a,
    .ant-pagination-item-active:hover a,
    .ant-pagination-item a,
    .ant-pagination-item:hover a,
    .ant-pagination-prev a,
    .ant-pagination-next a,
    .ant-pagination-prev:hover a,
    .ant-pagination-next:hover a {
        color: #8e8e8e;
    }
    .ant-pagination-disabled a,
    .ant-pagination-disabled:hover a {
        color: #e0e0e0;
    }
    .ant-pagination-disabled:hover {
        border-color: transparent;
    }
    .ant-pagination-jump-next,
    .ant-pagination-jump-prev {
        color: #e2e2e2;
    }
    .ant-pagination-jump-prev:hover:after,
    .ant-pagination-jump-next:hover:after {
        color: #8e8e8e;
    }
    .ant-table thead tr:hover {
        background: transparent;
    }
    .ant-table .ant-checkbox-checked .ant-checkbox-inner:after {
        left: 6px;
        top: 3px;
    }
    .ant-table th {
        &.ant-table-column-sort {
            color: #F4BA4A !important;
            border-bottom: 2px solid #F4BA4A !important;
            cursor: pointer;
            background: #fff;
        }
        .anticon-filter {
            border-style: solid;
            border-color: transparent;
            border-width: 5px 10px 10px 5px;
        }
    }
    .ant-table {
        .has-filter {
            cursor: pointer;
        }
        .filter-active {
            .anticon-filter {
                color: #108ee9;
            }
        }
    }
    .ant-table-filter-dropdown {
        min-width: 215px;
        .custom-filter-input {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            padding: 2px 5px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
        }
        .ant-table-filter-dropdown-btns {
            display: inline-block;
            border: none;
            vertical-align: middle;
            padding: 15px;
        }
    }
}