.analysis-filter {
    position: absolute;
    top: 20px;
    right: 33px;
    .date-selector-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
}

