@import "../../public/css/common-variables.less";
.analysis-filter {
    float: right;
    margin-top: @filter_area_margin_top;
    margin-right: @btn-margin;
    .date-selector-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
}
.analysis-container{
    .loading-wrap,.err-tip-wrap,.err-tip-content-wrap{
        position:relative;
        height: 100%;
    }
    .nodata {
        position:absolute;
        width:100px;
        height:30px;
        margin:auto;
        font-size:16px;
        top:0;
        bottom:0;
        right:0;
        left:0;
    }
    .load8 {
        transform:scale(0.5,0.5);
        position:absolute;
        margin:auto;
        top:0;
        bottom:0;
        right:0;
        left:0;
    }
    //获取失败后的提示
    .err-tip-wrap{
        .err-tip{
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 35px;
            width: 350px;
            a{
                margin-left: 10px;
            }
        }
    }
    //获取失败后，失败信息和正确时的展示同时存在
    .err-tip-content-wrap{
        .err-tip{
            position: absolute;
            top: -40px;
            z-index: 20;
            width: 350px;
            margin: auto;
            left: 0;
            right: 0;
             a{
                margin-left: 10px;
            }
        }
    }
}

