.app-rate-item {
  .item-number {
    font-size: 32px;
  }
  .item-info {
    .info-date {
      font-size: 14px;
    }
    .info-rate {
      float: right;
      .anticon {
        color: rgb(105, 173,185);
      }
    }
  }
  .ant-progress-bg {
    background-color: rgb(26, 179,149);
  }
}