.application_user_apply_ico:before,
.application_sales_opportunity_ico:before,
.application_business_apply_ico:before,
.application_leave_apply_ico:before{
  pointer-events:auto;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  min-width: 16px;
  height: 16px;
  overflow: hidden;
  background: #f41919;
  border-radius: 8px;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  font-family: "SimHei", "Helvetica Neue", Helvetica, sans-serif;
  z-index: 1000;
}