@import "../../public/css/common-variables";
@border-color: #E8EEF3;
@card-column-padding: 16px;
.card-column-wrap {
    float: left;
    width: 100%;
    padding: @card-column-padding @card-column-padding @card-column-padding 0;
    // 第一列左侧间距
    &.first-card-column{
        padding-left: @card-column-padding;
    }
    .card-column-item {
        background: #FFFFFF;
        box-shadow: 0px 2px 2px 0px rgba(33,51,64,0.1);
        border-radius: 4px;
        .column-item-content {
            // background-color: #FFFFFF;
        }
        .column-item-title{
            padding: 8px;
            border-bottom: 1px solid @border-color;
            font-size: 14px;
            color: @primary-font-color;
            .title-icon.iconfont{
                font-size: 14px;
                padding-right: 6px;
            }
        }
    }
}