.edit-container{
  width: 480px;
  margin:0 auto;
  padding:14px 0 16px 0;
  font-size: 14px;
  .component-row{
    height: 30px;
    line-height: 30px;
    .label-components{
      display: inline-block;
      color:#999;
      width: 92px;
      text-align: right;
      padding-right: 10px;
    }
    .text-components{
      display: inline-block;
      color:#333;
      .ant-input{
        width: 372px;
        height: 24px;
      }
      .iconfont{
        font-size: 14px;
        color: #8DA8C5;
        margin-right: 5px;
      }
    }
  }
  .button-container{
    margin-right: 16px;
  }
}