
.user-manage-adduser {
  .ant-form {
    .app-property-setting {
      .app-property-container {
        .basic-data-form {
          .form-item-label {
            padding-left: 16px;
          }
          .form-item-content {
            .ant-radio-group, .ant-checkbox-group {
              .ant-checkbox, .ant-radio {
                input {
                  width: 14px;
                }
              }
            }
            .ant-radio + span, .ant-checkbox + span{
              color: #5d5d5d;
              font-weight: normal;
            }
          }
        }
      }
    }
    .operation-steps-footer {
      .btns {
        .form-cancel-btn {
          float: left;
        }
      }
    }
  }
  .basic-data-form-wrap {
    .basic-data-form {
      .form-item-content {
        .user-type-radiofield-block {
          .ant-radio-group {
            label {
              width: 65px;
            }
            .ant-radio-button-input {
              width: 100%;
            }
          }
        }
      }
      .other-config-content {
        padding-top: 14px;
        .user-multilogin-radiofield-block {
          display: inline-block;
        }
        .ant-checkbox-wrapper>span{
          font-weight: 400;
          color: #000000a6;
        }
      }

    }
  }
  .app-role-permission {
    ul.permission-group-item-wrapper {
      .permission-group-item-container {
        border-bottom: 1px solid #d9d9d9;
      }
    }
    .rounded_item {
      border: 1px solid #d9d9d9;
    }
  }
}