@import '../../../../public/css/common-variables';
@import './user-common-variales';

.user-detail-add-app-v2 {
  .btn-return.btn-text {
    float: right;
    padding-top: 10px;
    cursor: pointer;
  }
  .user-manage-v2-load8 {
    .load8 {
      transform: scale(0.5, 0.5);
      top: 30%;
    }
  }
  .add-app-container {
    background: white; //布局样式
    .operation-steps-footer {
      background: @right_panel_bgcolor;
      border: none;
      .btns {
        .ant-btn {
          float: inherit;
          background: @primary-color;
          border-color: @primary-color;
          color: #fff;
        }
        .btn-disabled {
          background: #fff;
          border-color: #d9d9d9;
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }
    .apply-app-user-config .app-config-wrap .user-type-radio-form-item.ant-form-item .ant-radio-group label {
      padding: 0;
    }
    .app-config-wrap {
      .ant-radio-group label {
        text-align: center;
      }
      .user-time-rangefield-block {
        .user-opening-daterange {
          width: 270px;
        }
        .ant-col-24 {
          width: 68%;
        }
      }
      .ant-col-5 {
        width: 18%;
        margin-top: -1px;
      }
      .ant-col-19 {
        text-align: left;
        input {
          width: 100%;
        }
      }
    }
    .apply-app-user-config {
      float: none;
      .app-config-wrap {
        float: none;
        width: 100%;
      }
    }
    .app-property-setting {
      padding-left: 3px;
      padding-top: 0;
    }
    .operation-steps {
      position: inherit;
      background: @right_panel_bgcolor;
      height: 38px;
      border: none;
      .operation-steps-title {
        margin-top: 6px;
        color: black;
        border: none;
        padding: 0;
      }
    }
    .carousel>.carousel-inner>.item {
      height: 100vh;
      padding: 16px 10px 54px 10px;
    }
    ul.list-unstyled {
      margin: 0;
      margin-top: 10px;
      width: 100%;
      border-bottom: 1px solid #eee;
      li.operation-steps-action {
        padding: 8px;
        font-size: 14px;
        color: #5a5e5f;
        line-height: 22px;
        position: relative;
        width: initial;
        &:after {
          content: none;
        }
        .active-dot {
          display: none;
        }
        span.active {
          font-weight: bold;
        }
      }
    }
    .btn-bar {
      text-align: right;
      button {
        margin-left: 5px;
      }
    }
    .left-nav-container,
    .add-app-content {
      display: inline-block;
      vertical-align: top;
    }
    .left-nav-container {
      font-size: 14px;
      color: @secondary-font-color;
    }
    .add-app-content {
      width: 355px;
    }
    .app-config-container {
      overflow-x: hidden;
    }
    .selected-app-container {
      border: 1px solid @bd-lightgrey;
      border-radius: 4px;
      padding: 5px 0;
      p.btn-text {
        text-align: left;
        font-size: 14px;
        padding-left: 11px;
        margin-top: 5px;
        cursor: pointer;
        color: #9FB5CC;
      }
      ul {
        li {
          padding: 2px 0 2px 11px;
          margin: 3px 0;
          &:hover {
            background: @bg-lightblue;
          }
          .anticon {
            cursor: pointer;
            vertical-align: bottom;
          }
        }
      }
    }
    .app-selector-container {
      padding: 12px;
      border: 1px solid @primary-color;
      border-radius: 4px;
      .input-container {
        margin-bottom: 12px;
      }
      .app-list-container {
        text-align: left;
        .ant-checkbox-wrapper {
          display: block;
          font-size: 14px;
          line-height: 32px;
          margin: 0 -12px;
          padding: 0 12px;
          &:hover {
            background: @bg-lightblue;
          }
        }
      }
    }
  }
  .indicator {
    position: absolute;
  }
}