
.user-manage-adduser {
  .basic-data-form-wrap {
    .basic-data-form {
      .form-item-content {
        .user-type-radiofield-block {
          .ant-radio-group {
            label {
              width: 65px;
            }
            .ant-radio-button-input {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .app-role-permission {
    ul.permission-group-item-wrapper {
      .permission-group-item-container {
        border-bottom: 1px solid #d9d9d9;
      }
    }
    .rounded_item {
      border: 1px solid #d9d9d9;
    }
  }
}