@import '../../../../public/css/common-variables';
@import '../../../../public/css/common.less';
// /近期登录用户列表的样式
.recent-login-users-container {
  .topNav {
    //时间选择组件
    .recent-login-time-select {
      margin-top: @filter_area_margin_top;
      margin-left: 25px;
    }
    //应用选择下拉框
    .recent-login-app-select {
      margin-top: @filter_area_margin_top;
      margin-left: 20px;
      .ant-select {
        width: auto;
      }
    }
    //类型选择下拉框
    .recent-login-type-select, .recent-login-filter-type-select {
      margin-top: @filter_area_margin_top;
      margin-left: 20px;
      .ant-select {
        width: auto;
      }
    }
  }
  .recent_login_header-wrap {
    .btn-item-container {
      // 刷新按钮
      .refresh-btn {
        min-width: 32px;
      }
    }
  }
  //近期登录用户列表
  .recent-login-users-table-wrap {
    .table-no-data-scroll;
    .user-list-thead {
      .ant-table-content {
        .ant-table-placeholder {
          display: none;
        }
      }
    }
    .user-list-tbody#custom-tbody{
        .ant-table-placeholder{
          display: block;
        }
    }
    .ant-table-content {
      .ant-table-body {
        td {
          .owner-customer {
            cursor: pointer;
            color: #1976D2;
          }
        }
      }
    }
  }

  .ant-table-empty {
    .ant-table-large {
      .ant-table-body {
        border-bottom: none !important;
      }
    }
  }
  .ant-table-row.current_row:hover,
  .ant-table-row.current_row {
    background: #DFEAF3;
  }
  .unnormal-login {
    margin-right: 5px;
    color: #f41919;
    font-size: 12px
  }
  .summary_info {
    font-size: 13px;
    color: #7c8185;
    position: fixed;
    bottom: 20px;
  }
}

