/**
* 单个用户审计日志样式
*/
@import '../../../../public/css/common-variables';
.user-log-panel {
  .load8 {
    transform: scale(0.5, 0.5);
    height: 36px;
    .loader8 {
      border-left-color: #394144;
    }
  }
  .log-info-header {
    text-align:right;
    .search-content, .log-type-select, .select-app, .select-time , .app-terminals-select{
      float: right;
      margin-left: 5px;
    }
    .log-type-select,.select-app {
      .ant-select{
        width: auto;
      }
    }
    .app-terminals-select {
      .ant-select{
        width: 100%;
      }
    }
  }
  .user-log-list {
    //新版用户样式
    .time-line.group-by-day {
      background: white;
      padding-top: 15px;
    }
    .alert-wrap {
      display: inline-block;
      .ant-alert {
        position: absolute;
        left: 45%;
        z-index: 0;
      }
    }
    .time-over-range-tips {
      text-align: center;
    }
    .log-info {
      .toggle-click-block {
        cursor: pointer;
      }
      margin-top: 10px;
      .log-info-item{
        margin-bottom:10px;
        padding:8px 0 2px 10px;
        background:#dce4e7;
        font-size:14px;
        .operation{
          font-weight:bold;
        }
        .log-operate-detail{
          padding: 4px;
          color: @secondary-font-color;
        }
        .log-detail{
          padding-right:20px;
          word-wrap:break-word;
          white-space:pre-wrap;
          .iconfont{
            margin-left: 6px;
            color: #0e77ca;
            &:hover{
              color: #49a9ee;
            }
          }
        }
      }
    }
  }
  .total-summary {
    padding: 10px 0;
    height: 50px;
  }
}