@right_panel_bgcolor: #f5f5f5;
@box_shadow_color: #cac8c8;
@font-color: #5D5D5D;
@font-black: #53575a;
@right_panel_padding: 24px;
@white_color: #ffffff;
@split_line_color: #e2e2e2;
@right_panel_margin: 8px;
@btn_color: #8da8c5;
@split_line_color: #e2e2e2;
@border_style: 1px solid #f5f5f5;
@icon_color: #c2c2c2;
@font_color: #333333;
@interested_color: #F9B706;
@item_height: 24px;
@font_color: #333333;
@btn_color: #8da8c5;
@card_margin: 8px;
@bg-lightblue: #EEF7FE;
@app-logo-width: 24px;
@app-logo-mr: 7px;
@app-pl: @app-logo-width + @app-logo-mr;
@app-title-width: 150px;
@user-name-width: 185px;
@font-lightblue: #9FB5CC;
@bd-lightgrey: #EBEBEB;
@bd-blue: #2497F4;
@color: #4c8ec4;
@btn-blue: #108ee9;
@chart-height: 116px;