/**
* 用户分析样式
*/
.user-analysis-panel {
  .detail-card-container {
    .toggle-detail {
      position: relative;
      top: -24px;
    }
  }
  .load8 {
    transform: scale(0.5, 0.5);
    height: 36px;
    .loader8 {
      border-left-color: #394144;
    }
  }
  // 应用选择框的样式
  .user-analysis-header {
    text-align: right;
    .select-app {
      .ant-select{
        width: auto;
        text-align:right;
      }
    }
  }
  .user-no-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  .user-login-info {
    margin-top: 10px;
    font-size:14px;
    // 用户登录分数
    .login-score {
      padding:0 0 20px 10px;
      .login-stress{
        font-weight:bold;
        padding-left: 5px;
      }
    }
    // 用户登录信息
    .login-info {
      height: 86px;
      .login-stress{
        font-weight:bold;
        padding-left: 5px;
      }
      padding:0 0 2px 10px;
    }
    // 登录次数、时长
    .login-chart {
      .box-container {
        background-color: #E6EDEF;
        .box-title {
          border: none;
          padding: 0;
          .additional-content {
            position: relative;
            bottom: -25px;
            z-index: 10;
            .type-switch {
              margin-right: 0;
            }
            .ant-radio-group {
              .ant-radio-button-wrapper, .ant-radio-button-wrapper {
                background-color: #E6EDEF;
              }
            }
          }
        }
      }
      .duration-chart {
        height:186px;
      }
    }
    .alert-tip {
      text-align: center;
      margin-top: 80px;
    }
  }
}