@import '../../../../public/css/common-variables';
@import './user-common-variales';
.user_manage_user_detail {
  white-space: normal;
  padding-top: 0;
  .user-detail-basic {
    .sales-editor {
      .anticon-loading {
        right: 10px;
      }
    }
    .select_text_wrap {
      .status-wrapper {
        min-height: initial;
      }
    }
    .ant-select,
    .inputWrap form .ant-form-item input,
    .inputWrap form>div {
      width: 100% !important;
    }
    .detail-card-content {
      .card-content-edit-status {
        margin-top: 3px;
      }
      .sales-team-show-block .user-organization {
        width: 100%;
        .ant-select {
          width: 100% !important;
          margin-top: 10px;
          margin-bottom: -10px;
        }
      }
    }
    .sales-team-show-block {
      font-size: 14px;
      .sales-role{
        margin-top: -16px;
      }
      .sales-team {
        margin-bottom: 5px;
        .sales-team-label {
          color: @secondary-font-color;
          margin-right: @card_margin;
        }
        .sales-team-text {
          color: @font_color;
        }
        .icon-edit-btn {
          float: right;
        }
      }
      span.icon-transfer {
        float: right;
        font-size: 16px;
        color: @secondary-color;
      }
    } //编辑区域样式
    .sales-team-edit-block {
      .edit-label {
        margin-right: @card_margin;
        font-size: 14px;
        color: @secondary-font-color;
      }
      .ant-select {
        width: 100%;
      }
    }
  }
  .user_detail_item_status {
    .ant-switch-checked,
    .ant-switch {
      width: 60px;
    }
    .ant-switch-checked .ant-switch-inner {
      left: 8px;
    }
    .anticon-loading {
      margin-left: 10px;
    }
    .alert-timer {
      display: inline-block;
      margin-left: 10px;
      .ant-alert {
        padding: 5px;
        margin-bottom: 0;
      }
    }
  }
  .user-organization {
    margin-top: -7px;
    .ant-select {
      width: @edit_input_width  !important;
    }
  }
  .load8 {
    transform: scale(0.5, 0.5);
    .loader8 {
      border-left-color: #394144;
      top: 80px;
    }
  }
  dd.operate_app_btns {
    padding-right: 20px;
    height: 20px;
    .all_apps_stop_btns,
    .add_app_btns {
      float: right;
    }
    .all_apps_stop_btns {
      .alert-timer {
        height: 20px;
      }
      .ant-alert {
        position: relative;
        bottom: 20px;
      }
    }
  }
  .app_list {
    padding: 6px 0 0 5px;
    li {
      position: relative;
      margin-bottom: 17px;
      padding: 8px 0 10px 26px;
      margin-right: 20px;
      @bgcolor: #dce4e7;
      background: @bgcolor; //合格的标签展示
      .qualified-tag-style {
        position: absolute;
        border: 26px solid #00a854;
        border-right-color: transparent;
        border-bottom-color: transparent;
        left: 0;
        top: 0;
        .qualified_span {
          position: absolute;
          top: -28px;
          left: -44px;
          width: 56px;
          height: 56px;
          text-align: right;
          padding: 7px 7px 0 0;
          color: #fff;
        }
      }
      .is_disabled {
        position: absolute;
        border: 26px solid #b6c3cb;
        border-left-color: transparent;
        border-bottom-color: transparent;
        right: 0;
        top: 0;
        .disabled_span {
          position: absolute;
          top: -28px;
          right: -28px;
          width: 56px;
          height: 56px;
          text-align: right;
          padding: 7px 7px 0 0;
          color: #fff;
        }
      }
      .logo {
        margin: 6px 0 0 0;
        text-align: center;
        .no-user-logo-div {
          width: 52px;
          height: 52px;
          line-height: 52px;
          margin: 0;
        }
        img {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          margin: 0;
        }
        p {
          margin: 10px auto 0 auto;
          height: 18px;
          line-height: 18px;
          width: 70px;
          background: @primary-color;
          color: #fff;
          border-radius: 7px;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0 5px;
        }
      }
      .app-disabled {
        color: #fff;
        border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 2px 4px;
        border-radius: 4px;
      }
      .desp {
        margin-left: 10px;
        margin-right: 15px;
        &.pull-left {
          margin-top: 5px;
        }
        .app-prop-list {
          margin-top: 4px;
          line-height: 29px;
          color: #71767a;
          &>span {
            display: inline-block;
            width: 33.33%;
          }
        }
      }
      .operate {
        @color: #71767a;
        position: absolute;
        right: 19px;
        bottom: 25px;
        a {
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 50%;
          text-align: center;
          transition: all 0.3s ease;
        }
        span {
          font-size: 22px;
        }
      }
    }
  }
  .get_detail_error_tip {
    text-align: center;
    .ant-alert {
      display: inline-block;
    }
  }
}