/**
* 用户分析样式
*/
@import '../../../../public/css/common-variables';
@import './user-common-variales';

.user-analysis-panel {
  .detail-card-container {
    position: relative;
    z-index: 999;
    .title-container {
      overflow: inherit;
    }
  }
  .terminals-select-zone {
      .title-click-block {
        .toggle-detail {
          position: relative;
          top: -26px;
        }
      }
  }
  .load8 {
    transform: scale(0.5, 0.5);
    height: 36px;
    .loader8 {
      border-left-color: #394144;
    }
  }
  // 应用选择框的样式
  .user-analysis-header {
    text-align: right;
    .select-app {
      .ant-select{
        width: auto;
        text-align:right;
      }
    }
  }
  .user-no-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  .user-login-info {
    margin-top: 10px;
    font-size:14px;
    // 用户登录分数
    .login-score {
      padding:0 0 20px 10px;
      .login-stress{
        font-weight:bold;
        padding-left: 5px;
      }
    }
    // 用户登录信息
    .login-info {
      .login-stress{
        font-weight:bold;
        padding-left: 5px;
      }
      padding:0 0 2px 10px;
    }
    // 登录次数、时长
    .login-chart {
      position: relative;
      .filter-ip {
        padding-top: 2px;
        position: absolute;
        right: 0;
        .ant-checkbox-wrapper>span{
          font-weight: 400;
          color: #000000a6;
        }
      }
      .box-container {
        background-color: #E6EDEF;
        .box-title {
          border: none;
          padding: 0;
          .additional-content {
            position: relative;
            bottom: -25px;
            z-index: 10;
            .type-switch {
              margin-right: 0;
            }
            .ant-radio-group {
              .ant-radio-button-wrapper, .ant-radio-button-wrapper {
                background-color: #E6EDEF;
              }
            }
          }
        }
      }
      .duration-chart {
        height: 126px;
        .analysis-chart {
          height: 146px;
          position: relative;
          top: 10px;
        }
      }
    }
    .alert-tip {
      text-align: center;
      margin-top: 80px;
    }
  }
  .user-login-info {
    .alert-tip {
      margin-top: 0;
      margin-left: 45px;
      position: relative;
      top: 45px;
    }
    .login-score {
      text-align: center;
      .score-container {
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
        text-align: left;
        li {
          span:first-child {
            width: 120px;
            display: inline-block;
          }
        }
        .anticon {
          float: right;
          margin-top: 3px;
          margin-left: 3px;
          cursor: pointer;
          color: #ccc;
        }
      }
      .total-score {
        position: relative;
        .ant-progress-inner {
          .ant-progress-text {
            top: 40%;
          }
        }
        span.over-icon {
          display: inline-block;
          position: absolute;
          top: 53%;
          width: 100%;
          text-align: center;
        }
      }

    }
    .login-info .login-stress {
      padding-left: 0;
    }
    .login-chart {
      margin-left: -4px;
      padding-top: 10px;
      .box-container {
        background: white;
      }
      .box-title {
        background: white;
        font-weight: initial;
        .title-name {
          font-size: 14px;
        }
        .additional-content {
          float: left;
        }
      }
      .duration-chart {
        height:@chart-height;
        margin-left: 0;
        background: white;
      }
      .box-container {
        overflow: initial;
      }
      .box-container .box-title .additional-content {
        position: initial;
        .ant-radio-group .ant-radio-button-wrapper {
          font-weight: initial;
          background: white;
        }
      }
    }
    // 最近登录统计信息
    .last-login-active-statistics {
      margin: 0 0 10px 10px;
      .last-login-title {
        padding: 10px 0;
      }
    }
  }
  .title-container {
    .app-terminals-select {
      float: right;
      margin-right: 10px;
      .select-app-terminal-type {
        width: 100px;
      }
    }
  }
}