/**
* 用户-批量变更界面改版
*/
@import "../../../../public/css/common-variables";

@right_panel_width: 504px;
@right_panel_content_width: 480px;
@right_panel_bgcolor: #f5f5f5;
@box_shadow_color: #cac8c8;
@tab_active_color: #2196f3;
@font-color: #5D5D5D;

.user-batch-change-wrap {
  height: 100%;
  .right-panel-modal-content {
    height: 100%;
    .user-batch-change-content-wrap {
      padding: 0 20px;
      .selected-number{
        font-size:14px;
        .the-number{
          color:#f4ba4a;
          padding:5px;
        }
      }
      .batch-change-content {
        .ant-tabs {
          .ant-tabs-bar {
            margin-bottom: 8px;
            .ant-tabs-nav {
              color: #999999;
              .ant-tabs-tab {
                margin-right: 8px;
                font-size: 14px;
                padding: 8px 8px 8px 0!important;
              }
              .ant-tabs-tab-active {
                color: @tab_active_color;
              }
            }
          }
        }
      }
    }
  }
}