@import "../../public/css/common-variables";
//应用列表样式
.app-selector {
  //添加应用时展示应用列表样式
  .application-list-div {
    position: absolute;
    left: 60px;
    top: 6px;
    z-index:5;
    //左箭头样式
    .arrow-left {
      width: 0px;
      height: 0px;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      border-right: 5px solid #d9d9d9;
      font-size: 0px;
      line-height: 0px;
      position: absolute;
      top: 15px;
      left:1px;
      display: block;
      z-index:2;
    }
    //右箭头样式
    .arrow-right {
      width: 0px;
      height: 0px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #d9d9d9;
      font-size: 0px;
      line-height: 0px;
      position: absolute;
      right: -4px;
      top: 15px;
      display: none;
      z-index:2;
    }

    &.white {
      @color:#fff;
      .arrow-left {
        border-right-color:@color;
      }
      .arrow-right {
        border-left-color:@color;
      }
    }

    &.dark {
      @color:#d9d9d9;
      .arrow-left {
        border-right-color:@color;
      }
      .arrow-right {
        border-left-color:@color;
      }
    }

    //应用列表展示在添加按钮左侧时样式
    &.application-list-div-left {
      right: 65px;
      left: auto;

      .arrow-left {
        display: none;
      }

      .arrow-right {
        display: block;
      }
    }

  }
  .salesApplication-div {
    position:relative;
    z-index:1;
    margin-left:5px;
  }
  //单个应用样式
  .application-div {
    display:inline-block;
    padding-bottom: 10px;
    margin-left:-15px;
    margin-top:-10px;
    .application-img-div {
      height: @app_icon_height;
      width: @app_icon_width;
      margin-left: 15px;
      line-height: @app_icon_height;
      position: relative;
      float: left;
      text-align: center;
      margin-top: 10px;

      .icon-add {
        border-radius: 50%;
        border: 2px solid #d2dadc;
        cursor: pointer;
        color:#d2dadc;
        width: @app_icon_width;
      }

      .setpermission {
        position:absolute;
        top:3px;
        bottom:3px;
        left:3px;
        right:3px;
        border-radius:50%;
        cursor:pointer;
      }

      .setpermission.not-set{
        visibility:visible;
        background-color:#37A5DD;
        color:#fff;
        line-height: 19px;
        background-size: 100%;
        padding-top: 17px;

      }

      .application-img-delete {
        position: absolute;
        font-size: 10px;
        background-color: red;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        right: 0px;
        cursor: pointer;
        color:#EAEDEF;
        z-index:1;
      }

      img.application-img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid #B2B2B2;

      }

      &:hover,&.active {
        img.application-img {
          border-color:#3299cc;
        }
      }

    }
  }

}
//如果不需要设置角色和权限，则不需要边框变色
.do-not-set-roles-and-permission {
  .application-div {
    .application-img-div:hover,.application-img-div.active {
      img.application-img {
        border-color:#B2B2B2;
      }
    }
  }
}

.permission-required .setpermission.not-set {
  color:#FF0505;
}

.app-selector.read-only {
  .application-img-delete {
    display:none;
  }
}