/*
用户协议的样式
 */
@font-color: #333;
@blue-color: #2196f3;
@user-agree-width: 912px;
@user-agree-width-middle: 600px;
@user-agree-width-small: 300px;
body{
  margin: 0;
}
.user-agreement-wrap{
  height: 100vh;
  background-color: #F1F4F8; 
  font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
  .user-agreement-title{
    position: absolute;
    width: @user-agree-width + 96;
    left: 0;
    right: 0;
    margin: 15px auto;
    .user-agreement-text{
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #CCCCCC;
      color: #333333;
      font-size: 16px;
    }
  }

  .user-agreement-content{
    position: absolute;
    left: 0;
    right: 0;
    width: @user-agree-width;
    margin: 54px auto;
    padding: 48px 0 48px 48px;
    color: #333333;
    background-color: #ffffff;
    .content-title {
      margin-bottom: 30px;
      padding-right: 48px;
      font-size: 16px;
      font-weight: bold;
    }
    .content-text {
      font-size: 14px;
      margin-bottom: 30px;
      padding-right: 48px;
    }
    .bottom-right-company{
      float: right;
    }
  }
}

#footer {
  .footer-content {
    color: #000000;
    a {
      color: #000000;
    }
  }
}

@media (max-width: 1024px) {
  .user-agreement-wrap{
    .user-agreement-title{
      width: @user-agree-width-middle + 96;
    }
    .user-agreement-content{
      width: @user-agree-width-middle;
    }
  }
}
@media (max-width: 720px) {
  .user-agreement-wrap{
    .user-agreement-title{
      width: @user-agree-width-small + 96;
    }
    .user-agreement-content{
      width: @user-agree-width-small;
    }
  }
  #footer .footer-content {
    font-size: 10px;
    padding: 14px 0 !important;
  }
}
