@import "../../../../public/css/common-variables";
//客户详情概览页
@card_margin: 8px;
.basic-overview-contianer {
  .no-data-text {
    padding-left: 4px;
    color: #d2d0d0;
  }
  //有应用签约到期的提示、没有用户的提示
  .overview-user-tip {
    display: inline-block;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    color: @primary-font-color;
    .icon-warn-icon {
      float: left;
      margin-right: 4px;
      font-size: 16px;
      color: #f7a335;
    }
    .expire-tip-content, .no-user-tip-content{
      float: left;
    }
    .icon-arrow-right {
      float: right;
      color: @secondary-color;
    }
  }
  //所属销售的样式
  .sales-team-container {
    .sales-team-show-block {
      font-size: 14px;
      .sales-team-label {
        float: left;
        color: @secondary-font-color;
        line-height: 24px;
      }
      .duplicate-sales-warning{
        .button-container {
          margin-top: 30px;
        }
        //选择负责人时提示信息
        .select-warning {
          font-size: 12px;
          float: left;
          margin-top: -62px;
          margin-left: 52px;
          color: @warn-color;
        }
      }
    }
  }
  .sales-team-container.detail-card-edit-status {
    .detail-card-title {
      margin-bottom: @card_margin;
    }
  }
  //客户分数
  .crm-score-card-container{
    .crm-score-label{
      padding-right: 6px;
      font-size: 14px;
      color: @secondary-font-color;
    }
    .crm-score-title{
      display: inline-block;
      .crm-score-text{
        color: @primary-color;
      }
      .anticon-question-circle-o{
        color: #ccc;
        cursor: pointer;
        margin-left: 5px;
      }
      .iconfont{
        float: right;
        font-size: 14px;
      }
    }
    .crm-score-detail-wrap{
      display: inline-block;
      //合格账号
      .crm-qualified-user-blcok{
        float: left;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: @card_margin;
        .crm-account-label{
          float: left;
        }
        .crm-account-text{
          float: left;
          max-width: 350px;
          white-space: normal;
          word-wrap: break-word;
          word-break: break-all;
          .ant-tag{
            margin-bottom: @card_margin;
            .icon-active-users{
              margin-right: 4px;
              color: @secondary-font-color;
            }
          }
          .no-qualify-account-tip{
            font-size: 14px;
            color: #d2d0d0;
          }
        }
      }
      //分数趋势
      .crm-history-score-block {
        float: left;
        width: 100%;
        .crm-score-label{
          float: left;
          line-height: 24px;
        }
        .date-selector-wrap,.date-selector-wrap .range-datepicker{
          float: right;
          font-size: 14px !important;
          line-height: 24px !important;
          height: 24px !important;
        }

        .range-datepicker{
          .border_wrap{
            height: 24px;
          }
          .date_text_wrap{
            padding: 6px;
          }
        }
        //选择自定义时间时，防止时间选择框超出详情部分被覆盖的样式设置
        .select-custom-range-style {
          .range-datepicker {
            .datepicker_wrap {
              position: fixed;
              top: auto;
              margin-top: 13px;
              left: -101px !important;
            }
          }
        }

        .analysis-chart{
          float: left;
          width: 100%;
        }
      }
    }
  }

  //日程
  .schedule-item {
    width: 100%;
  }
  //最新跟进
  .detail-card-container {
    position: relative;
    // 没有最新跟进时的样式
    &.no-trace-card{
      .detail-card-content{
        height: 0;
        padding: 0;
        // 没有跟进记录，添加跟进记录时的样式设置
        .customer-container {
          background-color: #ffffff;
          .add-customer-trace{
            margin-top: 0
          }
        }
      }
    }
    .schedule-item:not(:first-child){
      border-top: 1px solid #eee;
    }
    .top-hander-wrap {
      .iconfont.icon-add {
        position: absolute;
        top: 12px;
        right: 10px;
        margin-top: 0;
      }
    }
    .customer-trace-loading{
      .load8{
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    .customer-container {
      //添加跟进记录
      > .customer-trace-card {
        margin-top: 0;
        border: 1px solid #d3eafc;
      }
      .add-customer-trace {
        .add-trace-item textarea {
          width: 330px;
        }
      }
      //跟进记录展示列表
      .show-container {
        margin-top: 0;
        .show-customer-trace{
          padding: 0;
          .time-line .time-line-item {
            .group-day {
              padding-left: 4px;
            }
            .trace-item-wrap {
              padding-left: 4px;
            }
          }
        }
      }
    }
    //更多
    .trace-record-bottom {
      float: left;
      width: 100%;
      border-top: 1px solid #f5f5f5;
      .more-customer-record {
        float: right;
        padding-top: 4px;
        padding-right: 7px;
        font-size: 14px;
        color: #b0b6ba;
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
    }
  }

  //二级域名样式
  .second-level-domain-name{
    color: #000000a6;
  }
}
//Popover错误提示框
.apply-invalid-popover{
  .ant-popover-inner-content {
    overflow: hidden;
    //申请时错误提示
    .apply-error-tip {
      font-size: 14px;
      .icon-warn-icon {
        position: relative;
        top: 1px;
        margin-right: 4px;
        color: @warn-color;
      }
      .apply-error-text {
        color: @primary-font-color;
        margin-left: 4px;
      }
    }
  }
}
.detail-card-container{
  .detail-card-source-classify{
    font-size: 14px;
    color: @primary-font-color;
    margin-left: 6px;
    float: left;
    line-height: 24px;
    &:first-of-type{
      color: @secondary-font-color;
      display: inline-block;
      width: 60px;
      margin-left: 0;
    }
  }
  .basic-edit-field{
    font-size: 14px;
  }
}
