//客户详情概览页
@font_color: #333333;
@label_color: #999999;
@btn_color: #8da8c5;
@card_margin: 8px;
.basic-overview-contianer {
  //有应用签约到期的提示
  .app-expire-tip {
    line-height: 18px;
    font-size: 14px;
    color: @font_color;
    .icon-warn-icon {
      margin-right: 4px;
      font-size: 16px;
      color: #f7a335;
    }
    .icon-arrow-right {
      float: right;
      color: @btn_color;
    }
  }
  //所属销售的样式
  .sales-team-container {
    .detail-card-title {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .sales-team-show-block {
      font-size: 14px;
      .sales-team-label {
        color: @label_color;
        margin-right: @card_margin;
      }
      .sales-team-text {
        color: @font_color;
      }
      span.icon-transfer {
        float: right;
        font-size: 16px;
        color: @btn_color;
      }
    }
    //编辑区域样式
    .sales-team-edit-block {
      .edit-label {
        margin-right: @card_margin;
        font-size: 14px;
        color: @font_color;
      }
      .ant-select {
        width: 358px;
      }
    }
  }
  .sales-team-container.detail-card-edit-status {
    .detail-card-title {
      margin-bottom: @card_margin;
    }
  }

  //最新跟进
  .detail-card-container {
    position: relative;
    .trace-top-block {
      .total-tip, .trace-filter-item {
        display: none;
      }
      .iconfont.icon-add {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    //添加跟进记录
    .customer-container {
      > .add-customer-trace {
        border: 1px solid #d3eafc;
      }
      .add-customer-trace {
        .add-trace-item textarea {
          width: 330px;
        }
      }
    }
    .show-container {
      margin-top: 0;
      .customer-trace-list.group-by-day {
        .customer-trace-item {
          .group-year {
            padding: 12px 0 0 0;
          }
          .group-day {
            padding: 10px 16px 0 0;
          }
          .trace-item-content {
            width: 350px;
          }
        }
      }
    }
  }

}