@import '../../../../public/css/bootstrap-variables.less';
@import '../../../../components/ModalDialog/modalDialog-zh_CN.less';
@import '../../../../public/css/common-variables';

@font_color: #999999;
@btn_color: #8ba9c3;
@hover_bg_color: #f6fbff;
@delete_confirm_color: #ec5f56;
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.crm-pannel-contacts {
  .contact-list-container{
    float: left;
    width: 100%;

    .contact-item-wrap{
      .contact-item-content{
        float: left;
        width: 100%;
      }
      .contact-label{
        float: left;
        line-height: 24px;
        font-size: 14px;
        color: @font_color;
      }
      .basic-edit-field .basic-info-text{
        font-size: 14px;
      }
    }



    //联系人展示区
    .contact-item-container.contact-delete-border {
      border: 1px solid @delete_confirm_color;
      .contact-item-title {
        .contact-name {
          max-width: 115px;
        }
        .contact-info {
          //联系人角色、职位等
          .contact-info-content {
            max-width: 115px;
          }
        }
      }
    }
    .contact-item-container {
      .detail-card-title {
        padding-bottom: 0;
      }
      .contact-item-title {
        //设为默认联系人的图标
        .icon-contact-default {
          display: inline-block;
          font-size: 16px;
          color: #8ea7c5;
          cursor: pointer;
        }
        //默认联系人的图标
        .is-default-contact {
          color: #2096f0;
          cursor: default;
        }
        //联系人
        .contact-name {
          display: inline-block;
          height: 24px;
          line-height: 24px;
          max-width: 148px;
          padding: 0 4px;
          color: @primary-font-color;
          &:extend(.text-ellipsis);
          cursor: default;
        }
        .contact-info {
          vertical-align: top;
          cursor: default;
          span {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            vertical-align: top;
          }
          //联系人角色、职位等
          .contact-info-content {
            max-width: 148px;
            &:extend(.text-ellipsis);
          }
        }
        //操作按钮区
        .contact-item-buttons {
          float: right;
          .iconfont {
            float: right;
            font-size: 16px;
            margin-left: 4px;
            font-weight: bolder;
          }
          .iconfont.icon-delete{
            font-weight: 100;
          }
        }
        .contact-delete-buttons {
          float: right;
          .delete-button-style {
            width: 72px;
            height: 24px;
            line-height: 24px;
            padding: 0;
            border-radius: 4px;
            text-align: center;
            font-size: 12px;
          }
          //确认删除
          .contact-delete-confirm {
            color: #ffffff;
            border: 1px solid @delete_confirm_color;
            background-color: @delete_confirm_color;
            &:hover {
              background-color: #f04134;
              border: 1px solid #f04134;
            }
          }
          .contact-delete-cancel {
            color: #8da8c5;
            margin-right: 6px;
          }
        }
      }
      //联系方式展示区
      .contact-way-container {
        float: left;
        width: 100%;
        .no-contact-way-tip{
          text-align: center;
          color: #d2d0d0;
          a{
            padding-left: 2px;
          }
        }
        .contact-way-type {
          float: left;
          width: 100%;
          .iconfont.contact-way-icon {
            float: left;
            font-size: 16px;
            color: #999;
            margin-right: 6px;
          }
          .contact-way-content {
            float: left;
            .contact-way-item {
              cursor: default;
              .contact-way-text {
                line-height: 24px;
              }
              //拨打按钮
              .phone-call-button {
                display: none;
                width: 70px;
                height: 24px;
                line-height: 24px;
                margin-left: 20px;
                border-radius: 4px;
                text-align: center;
                background-color: #f7a340;
                color: #ffffff;
                cursor: pointer;
              }
              &:hover {
                background-color: @hover_bg_color;
                .phone-call-button {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
