
@import '../../../../public/css/common-variables';
@btn_color: #8ba9c3;
@block-line-color: #D1DADE;
@font_color: #464b4e;
@pending-font-color: #eda247; // 合同待审字体颜色
@review-font-color: #2196f3; // 合同审核字体颜色
@filed-font-color: #9fb5cd; // 合同归档字体颜色
@twoline-font-color: #8da8c5; // 展开/收起颜色
@delete_confirm_color: #ec5f56; // 删除颜色

.crm-contract-container {
  .contract-top-block {
    padding-right: 10px;
    //共xxx条
    .total-tip {
      color: @secondary-font-color;
    }
    //添加订单按钮
    .iconfont.icon-add {
      float: right;
      font-size: 16px;
      color: @btn_color;
    }
  }
  //无数据的提示
  .no-data-tip{
    float: left;
  }
  // 删除合同样式
  .item-delete-border {
    border: 1px solid @delete_confirm_color;
  }
  // 合同展示样式
  .contract-container-scroll {
    .contract-item-container {
      // 删除按钮，默认隐藏
      .contract-item-buttons .icon-delete {
        display: none;
      }
      // 删除按钮，鼠标移入显示
      &:hover {
        .contract-item-buttons .icon-delete {
          display: block;
        }
      }
      .contract-title {
        .contract-item-stage {
          color: @pending-font-color;
          padding-bottom: 12px;
        }
        .contract-item-title {
          .contract-stage {
            padding-right: 8px;
            .contract-left-bracket{
              padding-right: 2px;
            }
            .contract-right-bracket {
              padding-left: 2px;
            }
          }
          .contract-pending {
            color: @pending-font-color;
          }
          .contract-review {
            color: @review-font-color;
          }
          .contract-filed {
            color: @filed-font-color;
          }
          .contract-scrapped {
            color: @secondary-font-color;
          }
          .contract-num {
            color: @font_color;
          }
        }
        .iconfont {
          float: right;
        }
        // 删除合同
        .contract-item-buttons {
          //删除确认按钮区
          .item-delete-buttons {
            float: right;
            .delete-button-style {
              width: 72px;
              height: 24px;
              line-height: 24px;
              padding: 0;
              border-radius: 4px;
              text-align: center;
              font-size: 12px;
            }
            //确认删除
            .item-delete-confirm {
              color: #ffffff;
              border: 1px solid @delete_confirm_color;
              background-color: @delete_confirm_color;
              &:hover {
                background-color: #f04134;
                border: 1px solid #f04134;
              }
            }
            .item-delete-cancel {
              color: #8da8c5;
              margin-right: 6px;
            }
          }
        }
      }
      .toggle-detail {
        position: relative;
        top: -20px;
      }
      .contract-item {
        width: 100%;
        font-size: 14px;
        .contract-item-content {
          margin-bottom: 4px;
          //描述与值
          .contract-label {
            float: left;
            line-height: 24px;
            width: 60px;
            text-align: right;
            color: @secondary-font-color;
          }
          .contract-value {
            line-height: 24px;
            padding-left: 8px;
            color: @font_color;
            width: 350px;
            display: inline-block;
            .app-info {
              .app-icon-name {
                .app-self {
                  img {
                    width: 24px;
                    height: 24px;
                  }
                }
                .app-default {
                  padding: 5px 4px 3px;
                  background-color: #a8b2b5;
                  border-radius: 3px;
                  .icon-app-default {
                    color: #fff;
                    font-size: 14px;
                  }
                }
                .app-name {
                  padding-left: 6px;
                }
              }
            }
            .antc-table {
              display: inline-block;
              .ant-table-thead {
                background-color: #F5F5F5;
                tr {
                  line-height: 16px;
                }
              }
              .ant-table-tbody {
                tr {
                  line-height: 16px;
                }
                td {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
          .contract-remarks {
            float: right;
            width: 345px;
            white-space: normal;
            word-wrap:break-word;
            word-break:break-all
          }
          // 编辑有效期样式
          .contract-validity-edit-block {
            display: inline-block;
            .validity-time {
              width: 355px;
              padding-left: 6px;
              display: inline-block;
              line-height: 24px;
              input {
                width: 163px;
                padding-bottom: 14px;
              }
            }
          }
        }
        // 合同待审编辑样式
        .item-edit-style {
          .basic-edit-field .basic-info-text{
            max-width: 360px;
          }
          //编辑按钮hover时才展示
          .icon-edit-btn {
            display: none;
          }
          &:hover {
            background-color: #E8F5FE;
            .icon-edit-btn {
              display: block;
            }
          }
        }
        .app-selecotr-wrap {
          .select-app-wrap {
            .select-app-content {
              height: 100%;
            }
          }
        }
      }
      .contract-bottom-wrap {
        float: right;
        padding: 8px 5px 0 0;
        position: relative;
        .alert-timer {
          position: absolute;
          bottom: 120px;
          left: 0;
        }
      }
    }
  }
  // 添加合同面板样式
  .add-contract-panel {
    .contract-title {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 12px;
    }
    .contract-form {
      padding: 12px 0 0;
      border-top: 1px @block-line-color solid;
      border-bottom: 1px @block-line-color solid;
      label {
        color: @secondary-font-color;
      }
      .ant-form {
        .ant-form-item {
          width: 100%;
          .ant-form-item-control {
            input, .ant-select, .ant-calendar-picker, .ant-textarea{
              width: 100%;
            }
            .validity-time {
              input {
                width: 170px;
                padding-bottom: 14px;
              }
            }
          }
        }
      }
      // 产品信息表格展示
      .antc-table {
        width: 345px;
        td input, .ant-input-number-input-wrap {
          height: 26px;
        }
        tbody {
          tr {
            td .total-price {
              input {
                float: left;
                width: 90px !important;
              }
            }
            .icon-close {
              display: none;
            }
            &:hover {
              .icon-close {
                display: inline;
                padding-left: 10px;
                color: @filed-font-color;
              }
            }
            td {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .app-info {
      .app-icon-name {
        .app-self {
          img {
            width: 24px;
            height: 24px;
          }
        }
        .app-default {
          padding: 5px 4px 3px;
          background-color: #a8b2b5;
          border-radius: 3px;
          .icon-app-default {
            color: #fff;
            font-size: 14px;
          }
        }
        .app-name {
          padding-left: 6px;
        }
      }
    }
  }
  .detail-card-container {
    // 选择产品样式
    .app-selecotr {
      .app-selecotr-wrap {
        position: relative;
        top: 0;
        .select-app-wrap {
          width: 320px;
        }
      }
    }
  }

}
