@import "../../../../public/css/common-variables";
@add-form-borer: 1px solid #dedfe1;
@font-color: #999999;
@icon-color: #8da8c5;
@ant-form-item-width: 100%;
//添加客户的背景模态框
.right-panel-modal.show-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background: rgba(0, 0, 0, 0.5);
  .crm-close-btn {
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
    position: fixed;
    right: 480px;
    text-align: center;
    cursor: pointer;
  }
}
//添加客户面板样式
.right-pannel-default.crm-add-container{
  height: 100%;
  width: 480px !important;
  background-color: #f5f5f5 !important;
  .top-title-container{
    padding: 24px ;
    background-color: #ffffff;
    border-bottom: @add-form-borer;
    font-size: 14px;
    font-weight: 800;
  }
  .crm-add-form {
    position: relative;
    .add-info-title{
      margin: 20px;
      border-bottom: @add-form-borer;
      font-size: 14px;
      color: @font-color;
      .iconfont{
        color: @icon-color;
        margin-right: 6px;
      }
    }
    .ant-form-item{
      width: @ant-form-item-width;
      padding-right: 20px;
      font-size: 14px;
      .ant-form-item-label label{
        font-size: 14px;
      }
    }
    .check-only-error {
      margin-top: -@margin-bottom;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 100px;
      color: @error_tips_color;
      width: @ant-form-item-width;
    }
    .tip-customer-exist {
      margin-top: -@margin-bottom;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 100px;
    }
    .input-red-border {
      position: relative;
      display: inline-block;
      padding: 6px 7px;
      border: 1px solid @error_tips_color;
      line-height: 1.5;
      color: #666;
      background-color: #fff;
      background-image: none;
      box-shadow: 0 0 0 2px #ffddcc;
      cursor: text;
    }
    .industry-list-loading {
      line-height: 35px;
      color: #666;
      padding-left: 10px;
      .anticon-loading {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .ant-input, .ant-select {
      width: @ant-form-item-width;;
    }
    .ant-form-item-control {
      width: @ant-form-item-width;
    }
  }
  .crm-add-form-loading {
    margin-top: -300px;
  }

}