@import "../../../../public/css/common-variables";

@right_panel_width: 504px;
@right_panel_content_width: 480px;
@right_panel_bgcolor: #f5f5f5;
@box_shadow_color: #cac8c8;
@tab_active_color: #2196f3;
@font-color: #5D5D5D;
//新版客户详情的样式
//TODO 后期所有界面宽度改成统一的宽度后抽出到公共的rightPanel样式中即可
.crm-right-panel {
  width: @right_panel_width !important;
  transform: translate(@right_panel_width, 0);
  background-color: transparent !important;
  .right-panel-content {
    width: @right_panel_content_width !important;
    box-shadow: -4px 0 20px @box_shadow_color;
    background-color: @right_panel_bgcolor !important;
  }
  > .icon-close {
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
    z-index: 1010;
  }
}

//将滚动条调到卡片外面
.customer-detail-content {
  .srollbar-out-card-style {
    > .gm-scroll-view {
      padding-right: 10px;
    }
  }
}

//合并客户
.crm-right-merge-panel.crm-right-panel {
  .select-customer-container {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
    .select-customer-label {
      font-size: 14px;
      vertical-align: middle;
    }
    .btn-primary-merge {
      margin-left: 50px;
      color: #fff;
      background-color: #71aad8;
      border: 1px solid transparent;
      &:hover {
        background-color: #4d96d1;
      }
    }
  }
  .merge-customer-loading {
    position: absolute;
    top: 16px;
    right: 90px;
    font-size: 18px;
  }
  .merge-customer-tooltip {
    position: absolute;
    top: 10px;
    right: 120px;
  }
  .basic-info-contianer {
    padding: 10px 24px 12px 24px;;
    .basic-info-btns {
      .icon-uninterested, .icon-interested {
        cursor: default;
      }
    }
  }
  .crm-right-panel-content {
    padding: 0 10px 20px 20px;
  }
}

//申请用户面板
.apply-user-form-panel {
  width: 700px !important;
  transform: translate(700px, 0);
  > .icon-close {
    display: none;
  }
  .circle-button {
    z-index: 2;
  }
  .crm-right-panel-content-slide {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
  }
  .crm-right-panel-content {
    width: 100%;
    padding: 0 10px 20px 20px;
  }
}

.crm-right-panel {
  .crm-right-panel-content-slide {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
  }
  .crm-right-panel-content {
    float: left;
    width: 100%;
    padding: 0 10px 20px 20px;
    .ant-tabs-bar {
      margin-bottom: 8px;
      .ant-tabs-nav {
        color: @secondary-font-color;
        .ant-tabs-tab {
          margin-right: 8px;
          font-size: 14px;
          padding: 8px 4px !important;
        }
        .ant-tabs-tab-active {
          color: @tab_active_color;
        }
      }
    }

    .ant-form-item {
      color: @font-color;
    }

    .panel-title {
      font-size: 14px;
      padding: 5px 4px 10px 4px;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-tabs-bar {
      color: #B6C2C9;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner {
      color: @font-color;

    }
    .ant-tabs-ink-bar {
      background-color: @tab_active_color !important;
      height: 2px;
    }
    .ant-tabs-nav .ant-tabs-tab-inner {
      padding-bottom: 12px;
      padding-top: 5px;
      color: #898989;
      &:hover {
        color: #4D96D1;
      }
    }
  }

  .crm-right-panel-addbtn {
    height: 34px;
    border: 1px solid #33A3DC;
    border-radius: @border-radius;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #33A3DC;
    padding-top: 5px;
    background-color: #D4E6ED;
    span {
      margin-left: 6px;
    }
    cursor: pointer;
  }

  .crm-right-panel-addbtn:hover {
    background-color: #B9DBEA;
  }
}

//添加销售线索
.add-form-wrap {
  height: 100%;
  padding-top: 33px;
  .sales-clue-form {
    .ant-form-item {
      .ant-calendar-picker {
        .ant-calendar-picker-input {
          width: 155px;
        }
      }
      .indicator {
        position: absolute;
        float: right;
        right: 150px;
        top: 16px;
        .ant-alert {
          position: relative;
          width: auto;
          top: auto;
          left: auto;
          padding: 8px;
        }
      }
      .form-cancel-btn {
        margin-right: 16px;
      }
    }
  }
}

//某个客户下的用户列表
.customer-user-list-panel.right-pannel-default {
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .no-more-data-tip .ant-alert {
    width: 100%;
    top: 0;
    left: 0;
  }
  .user_manage_return_block {
    .icon-return.return-btn {
      margin-top: 10px;
      margin-left: 20px;
      left: 0;
    }
    .customer_user_back{
      position: relative;
      float: left;
      top: 15px;
    }
    .customer_name_wrap {
      font-size: 15px;
      margin-top: 21px;
      margin-left: 110px;
    }
  }
  .user_manage_filter_block {
    .user_manage_droplist {
      margin-right: 65px;
    }
    .ant-select {
      width: auto;
    }
  }
  .button-zones {
    padding-left: 24px;
    left: 0;
  }
}