@import "../../../../public/css/common-variables";

@right_panel_width: 504px;
@right_panel_content_width: 480px;
@right_panel_bgcolor: #f5f5f5;
//新版客户详情的样式
.crm_content {
  //TODO 后期所有界面宽度改成统一的宽度后抽出到公共的rightPanel样式中即可
  .crm-right-panel {
    width: @right_panel_width !important;
    transform: translate(@right_panel_width, 0);
    background-color: transparent !important;
    .right-panel-content {
      width: @right_panel_content_width;
      box-shadow: -4px 0 20px #cac8c8;
      background-color: @right_panel_bgcolor !important;
    }
    .icon-close {
      color: #fff;
      background-color: #8ea9c4;
      border-radius: 0 !important;
      width: 24px;
      height: 24px;
      float: left;
      font-size: 14px;
      z-index: 1010;
    }
  }
}

@font-color: #5D5D5D;
//合并客户时，下拉列表的样式设置
.merge-customer-select.ant-select-dropdown {
  background-color: #e6edef;
}

.merge-customer-select .ant-select-dropdown-menu-item-selected {
  background-color: #CEE8F3;
}

//合并客户
.crm-right-merge-panel.crm-right-panel {
  .select-customer-container {
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    .select-customer-label {
      font-size: 14px;
      vertical-align: middle;
    }
    .ant-select {
      .ant-select-selection {
        background-color: #e6edef;
      }
    }
    .btn-primary-merge {
      margin-left: 240px;
      color: #fff;
      background-color: #71aad8;
      border: 1px solid transparent;
      &:hover {
        background-color: #4d96d1;
      }
    }
  }
  .merge-customer-loading {
    position: absolute;
    top: 16px;
    right: 130px;
    font-size: 18px;
  }
  .merge-customer-tooltip {
    position: absolute;
    top: 10px;
    right: 120px;
  }
  .crm-right-panel-content {
    padding: 50px 20px 20px 20px;
  }
}

//修改客户
.crm-right-panel {
  .crm-right-panel-content-slide {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
  }
  .crm-right-panel-content {
    float: left;
    width: 100%;
    padding: 0 20px 20px;
    .ant-form-item {
      color: @font-color;
    }

    .panel-title {
      font-size: 14px;
      padding: 5px 4px 10px 4px;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-tabs-bar {
      color: #B6C2C9;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner {
      color: @font-color;

    }
    .ant-tabs-ink-bar {
      background-color: #4D96D1 !important;
      height: 3px;
    }
    .ant-tabs-nav .ant-tabs-tab-inner {
      padding-bottom: 12px;
      padding-top: 5px;
      color: #898989;
      &:hover {
        color: #4D96D1;
      }
    }
  }

  .crm-right-panel-addbtn {
    height: 34px;
    border: 1px solid #33A3DC;
    border-radius: @border-radius;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #33A3DC;
    padding-top: 5px;
    background-color: #D4E6ED;
    span {
      margin-left: 6px;
    }
    cursor: pointer;
  }

  .crm-right-panel-addbtn:hover {
    background-color: #B9DBEA;
  }

  .block-tag {
    .ant-tag {
      font-size: 14px;
      border-radius: 4px;
      background: #c0d7e8;
      margin-top: 4px;
      float: none;
      a {
        color: #000;
      }
      i {
        color: #3879d9;
      }
    }
  }

  .block-tag-edit {
    font-size: 14px;
    width: 550px;
    white-space: normal;
    margin-top: -2px;
    .customer-tag {
      margin-right: 8px;
      cursor: pointer;
      padding: 3px 8px;
      display: inline-block;
      margin-bottom: 8px;
    }
    .tag-selected {
      background: #4d96d1;
      border-radius: 4px;
      color: white;
      padding: 3px 8px;
    }
  }

  .ant-form-explain {
    white-space: normal;
  }
}

//添加销售线索
.sales-clue-form {
  .ant-form-item {
    .ant-calendar-picker {
      .ant-calendar-picker-input {
        width: 155px;
      }
    }
    .indicator {
      position: absolute;
      float: right;
      right: 150px;
      top: 16px;
      .ant-alert {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        padding: 8px;
      }
    }
    .form-cancel-btn {
      margin-right: 16px;
    }
  }
}

//某个客户下的用户列表
.customer-user-list-panel.right-pannel-default {
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .no-more-data-tip .ant-alert {
    width: 100%;
    top: 0;
    left: 0;
  }
  .user_manage_return_block {
    .icon-return.return-btn {
      margin-top: 10px;
      margin-left: 20px;
      left: 0;
    }
    .customer_name_wrap {
      font-size: 15px;
      margin-top: 28px;
      margin-left: 55px;
    }
  }
  .user_manage_filter_block {
    .user_manage_droplist {
      margin-right: 65px;
    }
    .ant-select {
      width: auto;
    }
  }
  .topNav {
    left: 0 !important;
    .topnav-links-wrap {
      display: none !important;
    }
  }
}