//  基本资料样式
@import "../../../../public/css/common-variables";

@block-bgColor: #dde6ed;
@block-line-color: #D1DADE;
@font-color: #464b4e;
//信息标签的颜色
@info-tag-color: #b8c4ca;
//意向标签的颜色
@intent-tag-color: #b8c4ca;
//试用标签的颜色
@trial-tag-color: #95b73c;

.crm-basic-container {
  color: @font-color;
  .ant-spin.ant-spin-default.ant-spin-spining {
    margin-top: 30px;
  }
  .crm-content-block {
    //float:left;
    background-color: @block-bgColor;
    .client-info-content {
      //float:left;
      padding: 10px 20px;
    }
  }

  //线的样式
  .block-split-line {
    height: 1px;
    left: 15px;
    right: 15px;
    background-color: @block-line-color;
  }

  .ant-tag.customer-label {
    font-size: 14px;
    border-radius: 4px;
    background: #c0d7e8;
  }
  .customer-label.info-tag-bgcolor{
    color: #ffffff;
    background-color: @info-tag-color;
  }
  .customer-label.intent-tag-bgcolor{
    color: #ffffff;
    background-color: @intent-tag-color;
  }
  .customer-label.trial-tag-bgcolor{
    color: #ffffff;
     background-color: @trial-tag-color;
   }
  .crm-basic-competing-products{
    .customer-label {
      margin-top: -2px;
    }
  }
  .userName-info-content {
    float: left;
    padding: 10px 20px;
  }
  .sales_staff-info-content {
    padding: 0 20px 30px 20px;
    background-color: @block-bgColor;
    .block-split-line {
      width: 100%;
      height: 1px;
      margin-bottom: 25px;
      background-color: @block-line-color;
      opacity: 0.4;
    }
  }

  .user-statistic-content {
    padding: 0 20px;
    label {
      font-weight: normal;
      font-size: 14px;
    }
  }
  //行政级别、地址
  .crm-basic-administrative-level, .crm-basic-address {
    .user-basic-edit-field{
      margin-top: 0;
    }
  }
  //地域的设置
  .location-edit-field {
    position: absolute;
    width: 550px;
  }

  .basic-location-field {
    margin-top: -4px;
  }
  .crm-basic-remarks {
    textarea {
      float: left;
    }
  }
  .crm-basic-item {
    .basic-sales-edit-field {
      .ant-select {
        float: left;
        width: @edit_input_width;
        margin-top: -2px;
      }
    }
    dd .basic-industry-field {
      margin-top: -4px;
    }

    .location-edit-field .area-selector {
      .ant-form-item {
        > label {
          display: none;
        }
        .anticon {
          top: 8px;
        }
      }
    }
    .ant-form-item .ant-select {
      width: @edit_input_width;
      margin-top: -5px
    }
    .block-tag {
      .ant-tag {
        margin-top: 0;
      }
    }
    .tag-input {
      float: left;
    }
    .has-error {
      float: left;
      width: 100%;
    }
    div {
      .statistic-num {
        color: #638eae;
      }
    }
    .basic-item-remarks {
      margin-top: 10px;
      line-height: 20px;
    }
  }

  .icon-turn-user-list {
    float: right;
    margin-top: -32px;
    cursor: pointer;
    color: #a4b3b8;
    &:hover {
      color: #fff;
    }
  }

  .check-only-error {
    color: #f50;
  }
  //form表单页
  form {
    background-color: @block-bgColor;
    .input-red-border {
      position: relative;
      display: inline-block;
      padding: 6px 7px;
      border: 1px solid #f50;
      line-height: 1.5;
      color: #666;
      background-color: #fff;
      background-image: none;
      box-shadow: 0 0 0 2px #ffddcc;
      cursor: text;

    }
    .input-customer-name textarea {
      resize: none !important;
      vertical-align: top;
    }
    .industry-list-loading {
      line-height: 30px;
      color: #666;
      padding-left: 5px;
      margin-top: -4px;
      .anticon-loading {
        font-size: 16px;
        margin-left: 10px;
      }
    }

    .return-btn {
      right: 10px;
      top: 10px;
    }
    .client-info-content {
      padding: 20px 20px 10px 20px;
    }
    .salesman-info-content {
      padding: 20px 20px 5px 20px;
    }
    .sales_staff-info-content {
      background-color: @block-bgColor;
    }
    .ant-form-item {
      width: 600px;
      button {
        margin-top: 5px;
      }
      .form-cancel-btn {
        margin-left: 10px;
      }
      label {
        text-align: left;
        margin-bottom: 0;
        padding: 0 10px 0 0;
        line-height: 30px;
        font-size: 14px;
      }
      input {
        height: 28px;
      }
      .ant-select {
        text-align: left;
        .ant-select-selection--single {
          height: @input_height;
          .ant-select-selection__rendered {
            line-height: @line_height30;
          }
        }
      }
      //地域的样式设置-start
      .ant-tabs-tab-active {
        .ant-tabs-tab-inner {
          color: #2db7f5;
        }
      }
      .ant-tabs-tab-inner {
        padding: 7px 16px 6px;
        color: #666;
        &:hover {
          color: #2db7f5;
        }
      }
      .ant-tabs-tabs-bar {
        border-bottom: 1px solid #d9d9d9;
      }
      //地域的样式设置-end
    }
    .remarks-wrapper {
      width: 400px;
    }
  }
  .area-selector {
    float: left;
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    .ant-tabs-tab {
      padding: 7px !important;
      text-align: center;
    }
  }
}
