@import "../../../../public/css/common-variables";
.customer-pool{
  .topNav {
    .return-btn-container {
      float: left;
      margin-top: 20px;
      cursor: pointer;
    }
    .customer-search-block{
      float: left;
      width: 300px;
      margin-top: 20px;
      margin-left: 50px;
    }
    .extract-btn{
      float: right;
      margin-top: 15px;
    }
  }
}
.customer-table-container {
  margin-top: 64px;
  padding-left: 20px;
  .ant-table tbody .current-row:hover,
  .ant-table tbody .current-row {
    background: #DFEAF3 !important;
  }
  .customer-list-tags .ant-tag{
    float: left;
    border-radius: 4px;
    background: #d1d9db;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
  }
  .customer-label {
    float: left;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: @tag-font-color;
    background-color: #b8c4ca;
  }
  .customer-label.info-tag-style {
    background-color: @info-tag-color;
  }
  .customer-label.intent-tag-style {
    background-color: @intent-tag-color;
  }
  .customer-label.trial-tag-style {
    background-color: @trial-tag-color;
  }
  .customer-label.sign-tag-style {
    background-color: @sign-tag-color;
  }
  .customer-label.qualified-tag-style {
    background-color: @qualified-tag-color;
  }
  .customer-label.history-qualified-tag-style {
    background-color: @history-qualified-tag-color;
  }
  .customer-label.re-contract-tag-style{
    background-color: @re-contract-color;
  }
  .customer-label.loss-tag-style {
    background-color: @loss-tag-color;
  }
}