//客户查重界面
@import "../../../../public/css/common-variables";
.customer-repeat-container {
  .topNav {
    padding-left: 15px;
  }
  .return-btn-container {
    float: left;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    .customer-back-btn{
      position: relative;
      top: -7px;
    }
    .icon-return-btn {
      font-size: 14px;
    }
    .return-btn-font {
      padding-left: 5px;
      font-size: 14px;
    }
  }
  .customer-delete-btn, .customer-merge-btn {
    float: right;
    width: 110px;
    height: 75px;
    line-height: 75px;
    border-left: 1px solid #edf1f2;
    text-align: center;
    color: #a9a9a9;
    cursor: default;
  }
  .delete-active, .merge-active {
    color: @primary-color;
    cursor: pointer;
  }
  //等待效果
  .table-loading-wrap {
    position: fixed;
    top: 90px;
    right: 0;
    bottom: 90px;
    left: 0;
    z-index: 9;
    .loader8 {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
  .customer-repeat-table {
    position: relative;
    padding: 84px 20px 20px 20px;

    .repeat-customer-table-thead {
      padding-left: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #eef0ef;
      font-size: 14px;
      font-weight: 700;
      //去掉头部的全选按钮
      .ant-table-thead {
        .ant-checkbox {
          display: none;
        }
        th {
          padding: 9px 8px;
          > div {
            height: 30px;
            line-height: 30px;
            .filter-input-container {
              position: relative;
              //清空过滤内容的按钮
              .anticon-cross-circle-o {
                position: absolute;
                height: 30px;
                width: 20px;
                right: 0;
                line-height: 30px;
                cursor: pointer;
              }
            }
          }
          //表头中搜索搜索按钮的样式
          .repeat-customer-search-icon {
            font-size: 16px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            float: right;
          }
        }
      }

    }
    .repeat-customer-col {
      padding-right: 10px;
    }
    //重复客户列表的样式设置
    .repeat-customer-table-tbody {
      .alert-tip-wrap {
        margin-top: 20px;
        text-align: center;
        .ant-alert {
          display: inline-block;
        }
      }
      .customer-repeat-row {
        font-size: 14px;
        padding: 24px 0 5px 10px;
        border-bottom: 1px solid #eef0ef;
        color: #75797c;
        &:hover {
          background-color: #ebf6fd;
        }
        //电话重复
        .phone-repeat-tag{
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #eef0ef;
          background-color: #eef0ef;
          color: #c1bd38;
          font-size: 12px;
          padding: 0 4px;
        }
        .customer-row {
          padding-bottom: 10px;
          .repeat-customer-col {
            line-height: 18px;
          }
          .customer-name-click {
            cursor: pointer;
            &:hover {
              color: @primary-color;
            }
          }
          .customer-name-active {
            color: @primary-color;
          }
          //删除按钮
          .repeat-del-btn {
            border: 0;
            padding: 0;
            width: 25px;
            height: 20px;
            line-height: 20px;
            margin-right: 10px;
            position: relative;
            bottom:-2px;
            background-color: transparent;
            font-size: 17px;
            cursor: pointer;
            float: right;
          }
        }
        //合并
        .repeat-merge-btn {
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
    //过滤框
    .filter-input-container {
      position: relative;
      //清空过滤内容的按钮
      .anticon-cross-circle-o {
        position: absolute;
        height: 30px;
        width: 20px;
        right: 0;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
  .ant-table tbody .current-row:hover,
  .ant-table tbody .current-row {
    background: #DFEAF3 !important;
  }
  .total {
    display: block;
    position: relative;
    margin-top: 10px;
    bottom: 0;
  }
}
// 移动端样式适配
@media screen and (max-width: 600px) {
  .customer-repeat-container{
    .topNav {
      padding-left: 0;
      left: 16px;
    }
  }
}
