@import "../../../../public/css/common-variables";

@filter-width: 288px;
.customer-pool {
  .topNav {
    .search-input-wrapper {
      float: left;
      margin-top: 15px;
      margin-right: 20px;
      .btn-item {
        margin-right: 0 !important;
      }
      .search-wrapper .filter-contianer .show-zone ul.collapse {
        padding: 2px 0;
      }
    }
    .customer-search-block {
      float: left;
      width: 300px;
      margin-top: 15px;
    }
    .extract-btn {
      float: right;
      margin-top: 15px;
      margin-right: 20px !important;
    }
    .icon-close {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      position: relative;
      float: right;
      margin-top: 15px;
      margin-right: 15px;
      line-height: 25px;
      font-size: 14px;
      color: #fff;
      background-color: #b5c2ca;
      z-index: 2;
      &:hover {
        background-color: #4d96d1;
      }
    }
  }
  .filter-container {
    float: left;
    border-right: 1px solid #ccc;
    min-width: @filter-width;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    &.filter-close {
      left: 0 - @filter-width - 22;
    }
  }
  .customer-pool-table-wrap.filter-panel-show {
    padding-left: @filter-width + 22px;
  }
}

.customer-table-container {
  margin-top: 64px;
  padding-left: 20px;
  .customer-pool-filter {
    padding-top: 10px;
  }
  .ant-table tbody .current-row:hover,
  .ant-table tbody .current-row {
    background: #DFEAF3 !important;
  }
  .customer-list-tags .ant-tag {
    float: left;
    border-radius: 4px;
    background: #d1d9db;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
  }
  .customer-label {
    float: left;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: @tag-font-color;
  }
  //提取按钮
  .icon-extract{
    margin-left: 3px;
    font-size: 16px;
    color: #8da8c5;
    cursor: pointer;
    &:hover{
      color: #2196F3;
    }
  }
}

.batch-extract-popover{
  .table-select-icon{
    border: 1px solid #999999;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 2px;
    margin: 0 2px;
    vertical-align: middle;
  }
}