@import '../../../../public/css/common-variables';
//跟进记录
@btn_color: #8ba9c3;
@font_color: #999999;
@title_color: #333333;
@padding: 8px;
@icon_visit_color: #9b5bf7;
@other_icon_color: #8da8c5;
@split_line_color: #f5f5f5;
@hover_color: #2196f3;
.customer-container {
  .trace-top-block {
    //共xxx条
    .total-tip {
      color: @font_color;
    }
    //添加跟进记录按钮
    .iconfont.icon-add {
      float: right;
      margin-left: 6px;
      margin-top: -4px;
      font-size: 16px;
      color: @btn_color;
      &:hover {
        color: @hover_color;
      }
    }
    .trace-filter-item {
      float: right;
      margin-left: 14px;
      font-weight: bold;
      color: @btn_color;
      &:hover {
        color: @hover_color;
      }
    }
  }
  //添加跟进记录面板
  .add-customer-trace {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 4px;
    .add-trace-item {
      margin-bottom: 8px;
      .add-trace-label {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        color: @font_color;
      }
      .visit-label {
        padding-top: 3px;
      }
      .ant-radio-wrapper {
        margin-right: 30px;
        font-size: 14px;
        .iconfont {
          padding-right: 4px;
          font-size: 16px;
          color: @other_icon_color;
        }
        .iconfont.icon-visit-briefcase {
          color: @icon_visit_color;
        }
      }
      textarea {
        width: 350px;
      }
    }
  }
  //跟进记录列表（下部时间线）展示面板
  .show-container {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 12px;
    border-radius: 4px;
    background-color: #fff;
    .trace-item-content {
      float: right;
      width: 370px;
      padding: 8px 16px 8px 8px;
      font-size: 14px;
      //跟进记录类型图标
      .iconfont {
        padding-right: @padding;
        font-size: 16px;
        color: @other_icon_color;
      }
      .icon-visit-briefcase {
        color: @icon_visit_color;
      }
      .item-detail-tip {
        color: @title_color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      //跟进内容
      .item-detail-content {
        white-space: normal;
        word-wrap: break-word;
        color: @font_color;
        //点此补充跟进记录
        .add-detail-tip {
          font-size: 14px;
          color: #4a8ec4;
          cursor: pointer;
        }
      }
      .item-bottom-content {
        margin-top: 4px;
        color: #b0b6ba;
        //未接听
        .call-un-answer {
          line-height: 24px;
          margin-right: 4px;
        }
        //播放录音区的样式
        .audio-container {
          float: left;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          padding-left: 4px;
          margin-right: 4px;
          //录音图标
          .iconfont.icon-play {
            font-size: 16px;
            //color: @blue;
            cursor: pointer;
          }
          .iconfont.icon-play.icon-selected {
            color: #C20C0C;
          }
          //通话时长
          .call-time-descr {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            padding-left: 4px;
          }
        }
        //打电话的人
        .sale-name {
          display: inline-block;
          line-height: 24px;
        }
        .trace-record-time {
          display: inline-block;
          float: right;
          line-height: 24px;
        }
      }
    }
    //底部录音播放状态的组件展示样式
    .audio-play-container {
      position: fixed;
      height: 0;
      bottom: 0;
      left: 24px;
      right: 0;
      background-color: #ffffff;
      box-shadow: 0 4px 20px #cac8c8;
      .audio-player-wrap {
        //录音播放插件
        audio {
          margin: 0 auto;
        }
        .iconfont.icon-close {
          position: absolute;
          height: 24px;
          width: 24px;
          top: 5px;
          right: 5px;
          color: @btn_color;
          font-size: 14px;
          font-weight: bold;
        }
        //客服电话得提示及上报
        .report-wrap {
          font-size: 14px;
          margin: 0 auto;
          width: 180px;
        }
      }
    }
    .audio-play-container.is-playing-audio {
      height: 60px;
    }
  }
}
