@import "../../../../public/css/common-variables";

@filter-width: 288px;
.customer-pool {
  .topNav {
    position: inherit;
    border-bottom: 1px solid #DEDFE3;
    padding: 0 15px;
    .search-input-wrapper {
      float: left;
      margin-top: 15px;
      margin-right: 8px;
      .btn-item {
        margin-right: 0 !important;
      }
      .search-wrapper .filter-contianer .show-zone ul.collapse {
        padding: 1px 0 2.5px 0;
      }
    }
    .customer-back-btn{
      margin-right: 0.5em;
      position: relative;
      float: left;
      top: 15px;
    }
    .customer-search-block {
      float: left;
      width: 300px;
      margin-top: 15px;
    }
    .extract-btn {
      float: right;
      margin-top: 15px;
      margin-left: 0.5em !important;
      margin-right: 0 !important;
      .ant-btn{
        vertical-align: baseline;
      }
      .iconfont {
        margin-right: 8px;
      }
      &.responsive-mini-btn {
        padding: 0;
        min-width: 2em;
        .iconfont {
          margin-right: 0;
        }
        .ant-btn {
          min-width: 2em;
          padding: 0;
        }
      }
    }
    .icon-close {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      position: relative;
      float: right;
      margin-top: 15px;
      margin-right: 15px;
      line-height: 25px;
      font-size: 14px;
      color: #fff;
      background-color: #b5c2ca;
      z-index: 2;
      &:hover {
        background-color: #4d96d1;
      }
    }
    .refresh-btn{
      padding: 0;
      margin-top: 15px;
      margin-left: 20px!important;
    }
  }
  .filter-container {
    float: left;
    border-right: 1px solid #ccc;
    min-width: @filter-width;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    &.filter-close {
      left: 0 - @filter-width - 22;
    }
  }
  .customer-pool-table-wrap{
    padding-left: 22px;
    .antc-table .load8.spinner-fix{
      left: 0;
    }
    .ant-pagination{
      margin: 10px 0;
      .ant-pagination-total-text{
        position: absolute;
        left: 5px;
      }
    }
  }
  .customer-pool-table-wrap.filter-panel-show {
    padding-left: @filter-width + 27px;
  }
  .customerpool-list-selected-tip{
    float: left;
    //padding-left: 15px;
    height: 30px;
    line-height: 30px;
    margin-top: 17px;
    .icon-sys-notice{
      color: #4d96d1;
      font-size: 18px;
      font-weight: bold;
      float: left;
      margin-right: 5px;
    }
  }
}

.customer-table-container {
  margin-top: 0;
  padding:0 20px 0 0;
  .ant-table tbody .current-row:hover,
  .ant-table tbody .current-row {
    background: #DFEAF3 !important;
  }
  .customer-list-tags .ant-tag {
    float: left;
    border-radius: 4px;
    background: #d1d9db;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
  }
  .customer-label {
    float: left;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: @tag-font-color;
  }
  //提取按钮
  .icon-extract{
    margin-left: 3px;
    font-size: 16px;
    color: #8da8c5;
    cursor: pointer;
    &:hover{
      color: #2196F3;
    }
  }
}

.batch-extract-popover{
  .table-select-icon{
    border: 1px solid #999999;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 2px;
    margin: 0 2px;
    vertical-align: middle;
  }
}