@import "../../../../components/antd-table-pagination/index.less";
@import "../../../../public/css/common-variables";
@import "../../../../public/css/iconfont";

//信息标签的背景色
@info-tag-color: #b8c4ca;
//意向标签的背景色
@intent-tag-color: #ddd13c;
//试用标签的背景色
@trial-tag-color: #95b73c;
//签约标签的背景色
@sign-tag-color: #5197cf;
//合格标签的背景色
@qualified-tag-color: #00a854;
//标签字体的颜色
@tag-font-color: #ffffff;

.crm_content{
  //客户标签的样式设置
  .customer-label {
    float: right;
    margin-right: 2px;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: @tag-font-color;
    background-color: #b8c4ca;
  }
  .customer-label.info-tag-style{
    background-color: @info-tag-color;
  }
  .customer-label.intent-tag-style{
    background-color: @intent-tag-color;
  }
  .customer-label.trial-tag-style{
    background-color: @trial-tag-color;
  }
  .customer-label.sign-tag-style{
    background-color: @sign-tag-color;
  }
  .customer-label.qualified-tag-style{
    background-color: @qualified-tag-color;
  }
  td .comments-fix {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .last-contact-time{
    float: left;
    margin-right: 10px;
  }
  .ant-spin-container .ant-table-pagination li:first-child{
    position: absolute;
    left: 5px;
  }
  .search-input-select-block{
    float:left;
    height:30px;
    line-height:30px;
    margin-top:@filter_area_margin_top;
    margin-left:@container_padding;
    width:450px;
    .search-input-container{
      display:inline-block;
      max-width:@filter_input_width;
    }
    .ant-btn{
      .filter_btn;
    }
  }
  .filter-block{
    .block{
      display:inline-block;
      vertical-align:middle;
    }
    //已选xx项的提示
    .crm-list-selected-tip{
      float: left;
      padding-left: 58px;
      height: 30px;
      line-height: 30px;
      margin-top: 20px;
      .icon-sys-notice{
        color: #4d96d1;
        font-size: 18px;
        font-weight: bold;
        float: left;
        margin-right: 5px;
      }
      a{
        margin-left: 5px;
        color: #108ee9;
        text-decoration: none;
        &:hover{
          color: #62AFE6;
        }
      }
    }
    //缩小浏览器时，操作按钮变图标后的样式设置
    .handle-btn-mini{
      float:right;
      width:40px;
      height:75px;
      line-height:75px;
      text-align:center;
      color:#4d96d1;
      cursor:pointer;
      .iconfont, .anticon-plus{
        font-size:22px;
      }
      .icon-merge-btn{
        font-size:24px;
      }
      .anticon-plus{
        vertical-align:middle;
      }
    }
  }
  .filter-block .gray{
    color:#a9a9a9;
    cursor:default;
  }
  .content-block{
    margin: @top_nav_height+2 @container_padding auto @container_padding;
    .ant-table-placeholder{
      min-height: 550px;
    }
    table{
      background:#fff;
    }
    .ant-alert{
      position:relative;
      margin-bottom:0;
      width:auto;
      top:0;
      left:0;
      text-align:left;
    }
    .no-more-data-tip .ant-alert{
      text-align: center;
    }
  }
  .ant-alert{
    position:absolute;
    z-index:100;
    width:180px;
    top:20px;
    left:70%;
    text-align:center;
  }
  .handle-btn-container{
    div:focus, span:focus{
      outline:0;
    }
  }
  .order-btn-class{
    border:0px;
    width:25px;
    background-color:transparent;
    text-align:center;
    padding:0px;
    color:#B6C2C9;
    font-size:16px;
    border-radius:100px;
    &:hover{
      color:#9BA4A8;
      background-color:transparent;
    }
  }
  .crm-add-form{
    padding-top:33px;
    padding-bottom:50px;
    .check-only-error{
      margin-top:-@margin-bottom;
      line-height:20px;
      margin-bottom:10px;
      margin-left:100px;
      color:#f50;
      width:@edit_input_width;
    }
    .tip-customer-exist{
      margin-top:-@margin-bottom;
      line-height:20px;
      margin-bottom:10px;
      margin-left:100px;
    }
    .input-red-border{
      position:relative;
      display:inline-block;
      padding:6px 7px;
      border:1px solid #f50;
      line-height:1.5;
      color:#666;
      background-color:#fff;
      background-image:none;
      box-shadow:0 0 0 2px #ffddcc;
      cursor:text;

    }
    .industry-list-loading{
      line-height:35px;
      color:#666;
      padding-left:10px;
      .anticon-loading{
        font-size:16px;
        margin-left:10px;
      }
    }
    .ant-select{
      width:@edit_input_width;
    }
  }
  .crm-add-form-loading{
    margin-top: -300px;
  }
  .content-block{
    tbody{
      cursor:pointer;
    }
  }
  .total{
    position:absolute;
    bottom: 33px;
    font-size: 13px;
    left:150px;
    display:none;
  }

  .content-block .clearfix .ant-table tbody .current-row:hover,
  .content-block .ant-table tbody .current-row{
    background:#DFEAF3 !important;
  }

  .ant-select-selection--multiple{
    min-height:35px;
    ul{
      margin-top:3px;
      input{
        margin-top:-10px
      }
    }
  }

  .customer-list-tags{
    margin-top:10px;
    .ant-tag{
      border-radius:4px;
      background:#d1d9db;
    }
  }

  .customer_name {
    overflow: hidden;
    .focus-customer{
      float: right;
    }
    .iconfont{
      color:#e2e2e2;
      margin-top: -2px;
      &:hover{
        color:#F9B706;
      }
    }
    .icon-interested{
      color:#F9B706;
    }
  }

  .crm-filter-panel{
    margin:85px 10px -75px;
    padding:0 40px;
    border-bottom:2px dotted #edf1f2;
    dt{
      display:table-cell;
      width:90px;
      vertical-align:top;
      font-size:13px;
      padding-top:3px;
    }
    dd{
      display:table-cell;
      li{
        float:left;
        margin-right:20px;
        margin-bottom:10px;
        cursor:pointer;
        padding:3px 10px;
      }
      li.selected{
        background:#4d96d1;
        color:#fff;
        border-radius:4px;
      }
    }
  }
  .table-loading-wrap{
    position:fixed;
    top:90px;
    right:0;
    bottom:90px;
    left:0;
    z-index:9;
    .loader8{
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
    }
  }
  .call-out {
    cursor: pointer;
    font-size: 16px;
  }
  .ant-pagination{
    margin: 10px 0;
  }
  .ant-pagination-jump-next + li{
    display: none;
  }
}

// 导入客户下载模板文件
.import-crm-template-panel .right-pannel-default{
  width:420px;
  transform:translateX(100%);
  -webkit-transform:translateX(100%);
  font-size:14px;
  .import-tips{
    margin-top:60px;
    margin-left:20px;
    a{
      text-decoration:none;
    }
    p{
      padding-bottom:20px;
    }
  }
  .import-file{
    float:right;
    margin-right:20px;
    .ant-btn{
      margin-bottom:3px;
    }
    .import-crm, .ant-btn .ant-btn-ghost{
      border:1px solid #4d96d1;
      border-radius:5px;
      padding:4px 11px;
      font-size:12px;
      cursor:pointer;
    }
    .import-crm{
      margin-right:12px;
      color:#fff;
      background-color:#4d96d1;
      border-color:#4d96d1;
    }
  }
}

.customer-import-modal.ant-modal-body {
    max-height: 400px;
    overflow-y: auto;

    .column-contact-way {
        white-space: pre;
    }

    .customer-repeat {
        color: red;
    }

    .import-warning {
        float: left;
        line-height: 28px;
        color: red;
    }
}

.customer-import-modal.ant-modal-footer {
    .import-warning {
        float: left;
        margin-left: 5px;
        line-height: 28px;
        color: red;
        font-size: 14px;
    }
}

