/**
* 提成界面的样式
*/
@import "../../../../public/css/common-variables";
.sales-commission-panel {
  background-color: #fff;
  min-width: 700px;
  .sales-content {
    .search-select-condition {
      padding: 16px;
      height: 62px;
      .search-condition {
        float: left;
        .search-input-container {
          width: 200px;
        }
      }
      .standard-select, .time-select, .refresh-commission, .export-file {
        float: right;
      }
      .standard-select, .time-select{
        padding-left: 16px;
      }
      .refresh-commission {
        .refresh-btn {
          line-height: 30px;
        }
        .alert-timer {
          position: absolute;
          right: 60px;
          z-index: 1;
        }
      }
      .export-file {
        margin-left: 16px;
        cursor: pointer;
        border-radius: 3px;
        height: 30px;
        border: 1px solid #4d96d1;
        padding: 1px 5px;
        .icon-export {
          color: #4d96d1;
          font-weight: bolder;
        }
      }
      .no-show-export-button {
        margin-left: 0;
      }
    }
    .sales-commission-loading{
      .load8 {
        margin-top: 30%;
      }
    }
    .sales-table-content {
      clear: both;
      padding: 0 8px 16px 16px;
      .ant-table-tbody {
        .current-row,.current-row:hover {
          background: #DFEAF3 !important;
        }
        .number-value {
          text-align: right;
        }
      }
    }
    .summary_info {
      padding: 0 16px;
    }
  }
  .sale-detail {
    // 销售明细样式
    .sale-detail-content {
      .sales-detail-head {
        line-height: 30px;
        padding: 16px 16px 16px 0;
        height: 62px;
        font-size: 20px;
      }
      .sales-detail-table {
        padding: 0 16px 0 0;
        .ant-table-tbody {
          .current-row,.current-row:hover {
            background: #DFEAF3 !important;
          }
          .number-value {
            text-align: right;
          }
        }
      }
    }
    .sale-detail-loading {
      .load8 {
        margin-top: 30%;
      }
    }
  }
  .right-pannel-default {
    width: 700px;
    transform: translateX(700px);
    font-size: 14px;
    .load8 {
      position: absolute;
      top: 100px;
      left: 300px;
      transform: scale(0.5, 0.5);
      .loader8 {
        border-left-color: #394144;
      }
    }
    .ant-tabs-nav {
      margin-left: 10px;
    }
    .icon-close {
      position: absolute;
      margin: 0;
      top: 15px;
      right: 15px;
    }
    .icon-update {
      position: absolute;
      margin: 0;
      top: 15px;
      right: 50px;
      z-index: 1;
    }
    .icon-return {
      z-index: 1;
    }
    .ant-tabs-bar {
      margin: 0 20px 16px;
      border-bottom-color: #D2DBE6;
      .ant-tabs-tab {
        padding: 5px 0;
      }
      .ant-tabs-ink-bar {
        background-color: #4D96D1;
        height: 3px;
      }
    }
    form {
      padding-left: 20px;
      padding-bottom: 20px;
      .ant-form-item {
        width: auto;
        color: inherit;
        .ant-calendar-picker{
          width: @edit_input_width;
        }
        .ant-form-text{
          padding-left: 5px;
          padding-right: 0;
        }
      }
    }
    .btn-primary-sure {
      margin-left: 20px;
      margin-right: 10px;
    }
    .circle-button-minus {
      margin-right: 15px;
      float: right;
      background-color: #f05150;
    }
    .circle-button-minus:hover {
      background-color: #c91211;
    }
    .choose-type {
      .ant-tabs-tabpane {
        padding: 10px 0 0 20px;
      }
      ul {
        display: inline-block;
      }
      li {
        display: inline-block;
        width: 96px;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 30px;
        padding: 3px 0;
      }
      li.active {
        background: #4d96d1;
        color: #fff;
      }
    }
    .step-button {
      position: absolute;
      bottom: 35px;
      right: 20px;
      button {
        color: #71aad8;
        background-color: transparent;
        border-color: #71aad8;
        margin-left: 15px;
        font-size: 15px;
        padding: 0 15px;
      }
    }
    .belong-customer-form {
      width: 285px;
      position: relative;
      input, .ant-select, .ant-form-explain {
        width: 260px !important;
      }
      .circle-button {
        position: absolute;
        top: 3px;
        right: -10px;
        margin: 0;
        z-index: 1;
        cursor: pointer;
      }
    }
    .add-form {
      .ant-tabs-tab {
        pointer-events: none;
      }
    }
    .add-basic {
      margin-top: 30px;
      .ant-form-item {
        label {
          margin-right: 20px;
        }
      }
      .ant-select {
        width: @edit_input_width;
      }
      input, .ant-select-selection--single {
        height: @input_height;
      }
      .ant-form-explain{
        float: none;
      }
    }
    .add-products {
      width: 660px;
      margin: 0 auto;
      .add-product {
        overflow: hidden;
        button {
          float: right;
          padding: 1px 20px;
          margin: 0 10px 15px 0;
        }
      }
      form {
        background: #dde6ed;
        padding-bottom: 0;
        .circle-button {
          margin-top: 6px;
        }
        .ant-form-item {
          label {
            padding-right: 0;
          }
          input {
            width: 80%;
          }
        }
      }
      form:first-child {
        padding-top: 10px;
        .circle-button {
          margin-top: 40px;
        }
      }
      form:last-child {
        padding-bottom: 20px;
      }
      .ant-form-item {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        line-height: 35px;
        .ant-select {
          width: 100%;
        }
        .ant-form-explain {
          position: absolute;
        }
      }
      .ant-form-item:first-child {
        width: 200px;
        margin-right: 17px;
        .ant-select {
          margin-top: -3px;
        }
      }
    }
    .finances {
      width: 630px;
      margin: 0 auto;
      .add-finance {
        display: inline-block;
        position: relative;
        line-height: 30px;
        > * {
          display: inline-block;
        }
        input, .ant-select {
          margin: 0 5px;
          width: initial;
        }
        input {
          width: 100px;
          display: inline-block;
        }
        .ant-checkbox-wrapper {
          font-size: 14px;
          font-weight: normal;
          color: rgba(0,0,0,.65);
          margin-left: 8px;
        }
        .ant-form-item {
          display: inline-block;
          vertical-align: top;
        }
        .ant-form-explain {
          float: none;
          text-align: center;
        }
        .ant-calendar-picker-input {
          margin-right: 5px;
        }
        .ant-checkbox-input {
          width: auto;
        }
        button {
          padding: 1px 20px;
        }
      }
      .finance-list {
        padding: 5px 0;
        background: #dde6ed;
        ul {
          margin: 20px 0 20px 30px;
        }
        li {
          position: relative;
          list-style-type: disc;
          margin-bottom: 20px;
          .ant-form-item {
            margin-bottom: 0;
          }
        }
        .icon-update {
          top: 0;
          right: 55px;
        }
        .icon-delete {
          position: absolute;
          top: 0;
          right: 20px;
        }
        .btn-save {
          position: absolute;
          top: 0;
          right: 55px;
        }
        .btn-cancel {
          position: absolute;
          top: 0;
          right: 20px;
        }
      }
    }
    .add-repayments {
      .finances;
    }
    .add-payments {
      .finances;
    }
    .detail-repayments {
      .finances;
    }
    .detail-payments {
      .finances;
    }
    .detail-invoice {
      .invoice-info {
        background: #dde6ed;
        margin: 0 20px;
        padding-bottom: 8px;
        .info {
          margin: 0 5px;
          padding: 15px 20px;
          line-height: 30px;
          border-bottom: 1px #d1dade solid;
        }
        .info-blank {
          padding-left: 40px;
        }
        .extra {
          margin-top: 15px;
          .add-invoice {
            position: relative;
            margin-left: 43px;
            margin-bottom: 10px;
          }
          .render-form {
            .ant-form-item {
              display: inline-block;
            }
          }
          .has-error {
            position: relative;
            .ant-form-explain {
              position: absolute;
            }
          }
          .btn-add-invoice {
            position: absolute;
            top: 0;
            right: 20px;
          }
          ul {
            margin: 0 0 20px 40px;
          }
          li {
            position: relative;
            list-style-type: disc;
            margin-bottom: 20px;
            .ant-form-item {
              margin-bottom: 0;
            }
          }
          .icon-update {
            top: 0;
            right: 55px;
          }
          .icon-delete {
            position: absolute;
            top: 0;
            right: 20px;
          }
          .btn-save {
            position: absolute;
            top: 0;
            right: 55px;
          }
          .btn-cancel {
            position: absolute;
            top: 0;
            right: 20px;
          }
        }
      }
      form {
        input {
          height: 28px;
        }
      }
      .ant-form-horizontal {
        .ant-form-item {
          margin-bottom: 0;
        }
        padding-left: 50px;
        margin-bottom: 8px;
      }
      .op-buttons {
        overflow: hidden;
        margin-top: 20px;
        margin-right: 197px;
      }
    }
    .detail-basic {
      margin-bottom: 20px;
      line-height: 30px;
      @content-margin: auto 20px;
      .basic-info {
        position: relative;
        margin: @content-margin;
        background: #dde6ed;
        padding: 20px;
        margin-bottom: 15px;
        .edit-zone {
          .ant-form-item {
            width: 55px;
            position: absolute;
            top: 0;
          }
          .ant-form-item:first-child {
            right: 100px;
          }
          .ant-form-item:nth-child(2) {
            right: 40px;
          }
          .ant-form-item-label {
            display: none;
          }
          .ant-form-item-control-wrapper, .ant-select {
            width: 100% !important;
          }
        }
        .detail-item {
          margin-bottom: 5px;
          & > span:first-child {
            display: inline-block;
            margin-right: 4px;
          }
          & > span:last-child {
            margin-left: 4px;
          }
          textarea {
            display: inline-block;
            width: 463px;
            vertical-align: top;
          }
          .remarks {
            display: inline-block;
            width: 500px;
            vertical-align: top;
          }
        }
        .half {
          width: 50%;
          float: left;
        }
        input, .ant-select {
          width: 153px;
          margin-right: 5px;
        }
        .belong-customer {
          button {
            display: inline-block;
            float: none;
            margin: 0 7px 0 0;
          }
        }
        .icon-update {
          display: none;
        }
      }
      .basic-info:hover {
        .icon-update {
          display: block;
        }
      }
      @separator: 1px #D1DADE solid;
      .block-title {
        position: relative;;
        border-bottom: @separator;
        margin-bottom: 15px;
        padding-bottom: 5px;
        .icon-close,
        .icon-update {
          top: 0;
          right: 0;
        }
      }
      .block-bottom {
        border-top: @separator;
        margin-top: 15px;
        padding-top: 5px;
      }
      .belong-customer-list {
        .detail-item {
          border-bottom: @separator;
        }
        .detail-item:last-child {
          border-bottom: none;
        }
      }
      .ant-form-explain {
        float: none;
      }
      .op-buttons {
        overflow: hidden;
        margin-top: 20px;
        margin-right: 10px;
        button {
          float: right;
        }
      }
    }
    .detail-cost {
      padding-left: 40px;
      .icon-update {
        top: 60px;
        right: 55px;
      }
      .icon-delete {
        z-index: 1;
        position: absolute;
        top: 60px;
        right: 20px;
      }
      .ant-form-item {
        line-height: 30px;
      }
      button {
        margin: 0;
      }
      .btn-primary-cancel {
        margin-left: 15px;
      }
      .value-text {
        display: inline-block;
      }
    }
  }
  // 上下布局时的样式
  @media (max-width: 1599px) {
    .sales-content {
      width: 100%;
      max-height: 50%;
      .sales-commission-loading {
        .load8 {
          margin-top: 10%;
        }
      }
    }
    .sale-detail {
      width: 100%;
      min-height: 50%;
      // 销售明细样式
      .sale-detail-content {
        padding: 16px 8px 16px 16px;
        .sales-detail-head {
          height: 42px;
          font-size: 14px;
          padding: 16px 0;
        }
        .sales-detail-table {
          padding: 16px 0;
        }
        .sale-detail-loading {
          .load8 {
            margin-top: 5%;
          }
        }
      }
    }
  }
}