@import "../../public/css/common-variables";
.always-show-select-container {
  position: relative;
  .select-input {
    input {
      padding-right: 20px;
    }
    .anticon-down {
      position: absolute;
      right: 8px;
      top: 10px;
    }
  }
  .select-options {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
    .ant-radio-group{
      width: 100%;
    }
    .select-item-no-content {
      position: relative;
      display: block;
      //padding: 7px 8px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.65);
      white-space: nowrap;
      transition: background 0.3s ease;
    }
    .select-item {
      &:extend(.always-show-select-container .select-options .select-item-no-content);
      cursor: pointer;
      .ant-radio-wrapper{
        width: 100%;
        padding:7px 8px;
        margin: 0;
      }
      .sales-name{
        font-weight: bold;
        color:#72767A;
      }
      .team-name{
        color: @secondary-font-color;;
      }
      &:hover {
        background-color: #ecf6fd;
      }
    }
    .item-active {
      background-color: #f7f7f7;
      .sales-name{
        color:#6CBAF7;
      }
    }
  }
}

