/*
* 搜索框的样式设置
*/
@import "../../public/css/common-variables";
.search-input-container {
  width: 100%;
  position: relative;

  .search-input {
    width: 100%;
    height: @input_height;
    padding: 6px 25px 6px 5px;
    line-height: @input_height;
    border: 1pt solid #cdd5d9;
    border-radius: @border-radius;
    font-size: @form_font_size;
    &:hover {
      border-color: #57c5f7;
    }
  }

  .ant-select {
    width: 100%;
    height: @input_height;
    .ant-select-selection {
      font-size: @form_font_size;
      line-height: normal;
      height: @input_height;
      background: #fff;
      color: inherit;
      cursor: default;
      border-radius: @border-radius;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #7f909a;
    cursor: pointer;
    z-index: 1;
  }
  .icon-circle-close.search-icon{
    margin-top: -14px;
    font-size: 18px;
    color: #7f909a;
  }
}

