@import "../../public/css/common-variables";
.clue-info-item-apply-try{
    .clue-info-item-apply-try-content-title{
        display: inline-block;
        color: @secondary-font-color;
        width: 65px;
    }
    .clue-info-item-apply-try-content-value{
        display: inline-block;
    }
}
