
.clue-info-item-apply-try{
    .clue-info-item-apply-try-content-title{
        display: inline-block;
        color: #999;
        width: 65px;
    }
    .clue-info-item-apply-try-content-value{
        display: inline-block;
    }
}
