@import "../../../../public/css/common-variables";

@right_panel_width: 504px;
@right_panel_content_width: 480px;
@right_panel_bgcolor: #f5f5f5;
@box_shadow_color: #cac8c8;
@font-color: #5D5D5D;
//新版客户详情的样式
//TODO 后期所有界面宽度改成统一的宽度后抽出到公共的rightPanel样式中即可
.clue-right-panel.right-pannel-default {
  width: @right_panel_width !important;
  transform: translate(@right_panel_width, 0);
  background-color: transparent !important;
  overflow: inherit;
  .right-panel-content {
    height: 100%;
    width: @right_panel_content_width !important;
    box-shadow: -4px 0 20px @box_shadow_color;
    background-color: @right_panel_bgcolor !important;
  }
  > .icon-close,.close-placeholder {
    width: 24px;
    height: 24px;
    float: left;
    font-size: 14px;
    z-index: 1010;
  }
  > .icon-close{
    color: #fff;
    background-color: #8ea9c4;
    border-radius: 0 !important;
  }
  .load8 {
    transform: scale(0.5, 0.5);
  }
}


.clue-right-panel {
  .clue-right-panel-content-slide {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
  }
  .clue-right-panel-content {
    float: left;
    width: 100%;
    padding: 0 20px 20px;
    .ant-tabs-bar {
      margin-bottom: 8px;
      .ant-tabs-nav {
        color: @secondary-font-color;
        .ant-tabs-tab {
          margin-right: 9px;
          font-size: 14px;
          padding: 8px 4px !important;
        }
        .ant-tabs-tab-active {
          color: @primary-color;
        }
      }
    }

    .ant-form-item {
      color: @font-color;
    }

    .panel-title {
      font-size: 14px;
      padding: 5px 4px 10px 4px;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-tabs-bar {
      color: #B6C2C9;
      border-bottom: 1px solid #D2DBE6;
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner {
      color: @font-color;

    }
    .ant-tabs-ink-bar {
      background-color: @primary-color !important;
      height: 2px;
    }
    .ant-tabs-nav .ant-tabs-tab-inner {
      padding-bottom: 12px;
      padding-top: 5px;
      color: #898989;
      &:hover {
        color: @primary-color;
      }
    }
  }

  .clue-right-panel-addbtn {
    height: 34px;
    border: 1px solid #33A3DC;
    border-radius: @border-radius;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #33A3DC;
    padding-top: 5px;
    background-color: #D4E6ED;
    span {
      margin-left: 6px;
    }
    cursor: pointer;
  }

  .clue-right-panel-addbtn:hover {
    background-color: #B9DBEA;
  }
}

//添加销售线索
.add-form-wrap {
  height: 100%;
  .sales-clue-form {
    .ant-form-item {
      .ant-calendar-picker {
        .ant-calendar-picker-input {
          width: 155px;
        }
      }
      .indicator {
        position: absolute;
        float: right;
        right: 150px;
        top: 16px;
        .ant-alert {
          position: relative;
          width: auto;
          top: auto;
          left: auto;
          padding: 8px;
        }
      }
      .form-cancel-btn {
        margin-right: 16px;
      }
    }
  }
}

//某个客户下的用户列表
.customer-user-list-panel.right-pannel-default {
  width: auto;
  left: 75px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: #fff;
  display: block;
  .button-zones{
    position: inherit;
    left: 0;
    padding-left: 20px;
  }
  .no-more-data-tip .ant-alert{
    width: 100%;
    top:0;
    left:0;
  }
  .user_manage_return_block{
    .icon-return.return-btn{
      margin-top: 2px;
      margin-left: 6px;
      left: 0;
    }
    .customer_name_wrap{
      font-size: 15px;
      margin-top: 20px;
      margin-left: 38px;
    }
  }
  .user_manage_filter_block{
    .user_manage_droplist{
      margin-right: 20px;
    }
    .ant-select{
      width: auto;
    }
  }
  .topNav {
    left: 0 !important;
    .topnav-links-wrap{
      display: none!important;
    }
  }
}

//手机端样式
@media screen and (max-width: 720px){
  .clue-right-panel.right-pannel-default{
    width: 100% !important;
    //关闭按钮样式
    .icon-close{
      color: @icon-close-background-color;
      position: absolute;
      top: 22px;
      left: 24px;
      font-size: 16px;
      font-weight: bold;
      background-color: unset;
    }
    //内容样式
    .right-panel-content{
      width: 100% !important;
      //头部样式
      .clue-name-wrap{
        width: auto;
        margin-top: 30px;
        margin-left: -28px;
        &.no-delete-btn, &.is-edit-type{
          margin-top: 0;
          margin-left: 0;
        }
        .clue-stage{
          padding: 0 3px;
          border-radius: 2px;
        }
        .clue-name-title{
          overflow: hidden;
          width: auto;
          float: unset;
          .basic-edit-field-input.basic-edit-field{
            border: none;
          }
          .basic-info-text{
            width: auto!important;
          }
        }
      }
      //删除按钮样式
      .remove-clue{
        position: absolute;
        right: 24px;
      }
      //基本信息样式
      .clue-detail-container{
        .basic-edit-field form{
          width: calc(100% - 80px)!important;
        }
        .clue-info-detail .basic-edit-field .basic-info-text{
          max-width: calc(100% - 80px)!important;;
        }
        .detail-card-container{
          overflow: hidden;
        }
        //地域样式
        .location-edit-field{
          width: 100%;
          label{
            display: none;
          }
          .area-selector{
            width: 100%!important;
          }
        }
        //填写无效原因
        .invalid-valid-container{
          .btn-container{
            width: 100%;
            text-align: right;
            .confirm-invalidate-item{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .clue_customer_rightpanel {
    .clue-detail-wrap{
      width: 100% !important;
      .clue-basic-info-container{
        padding-left: 56px;
      }
    }
  }
}