.winning-clue-container {
  background-color: #fff;
  .title {
    background: transparent url("../../static/images/gift-bg.png") 0 0;
    display: flex;
    align-items: center;
    height:48px;
    font-size:16px;
    font-weight:500;
    color: #fff;
    line-height:18px;
    padding-left: 24px;
    .icon-close {
      cursor: pointer;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }
  .content-container {
    padding: 24px 5px 5px 24px;
    .content {
      margin-bottom: 20px;
      font-size:14px;
      .number {
        color: #EFA246;
        padding: 0 2px;
      }
    }
    .tips {
      margin-bottom: 16px;
      .number {
        color: #2196F3;
        padding: 0 2px;
      }
      .extract-clue {
        color: #2196F3;
        cursor: pointer;
      }
    }
    .owner {
      font-size: 12px;
      color: #ccc;
      text-align: right;
    }
  }
}