@import "../../../public/css/common-colors";
.app-config-content {
  .app-terminals-item {
    .ant-checkbox-group {
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
    .no-select-terminals-tips {
      color: @error-color;
    }
  }
}