.status-wrapper {
    position: relative;
    .alert-container {
        text-align: center;
        .ant-alert {
            width: initial;
            display: inline-block;
        }
    }
    .transparent {
        visibility: hidden;
    }
    .spiner-container {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        .spin-wrapper {
            display: table;
            width: 100%;
            height: 100%;
            .ant-spin {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}