.app-property-setting {
  padding-top:20px;
  .ant-tabs-nav-wrap {
    .ant-tabs-nav .ant-tabs-tab {
      padding: 8px 4px !important;
      font-weight: normal;
      .app_name_tooltip {
        text-align: center;
        margin-right:20px;
        max-width:130px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .app-property-content {
    .gm-scrollbar.-horizontal .thumb {
      height: auto;
    }
    .basic-data-form {
      .form-item-content {
        .user-multilogin-radiofield-block {
          display: inline-block;
          margin-top: 6px;
        }
      }
    }
  }

  .app-property-other-property {
    margin-top:10px;
  }
  .app-property-container-content {
    transition:opacity 0.1s ease;
    opacity:1;
    .select-no-role .ant-alert-error{
      border:0;
      background:rgba(0, 0, 0, 0);
      padding-left: 10px;
      color: #f04134;
      .ant-alert-icon {
        display: none;
      }
    }
  }
  
  .change-current-app-loading {
    opacity:0.2;
  }
}
//单个应用的编辑状态，不展示左侧的应用列表
.single-app-edit {
  .antd-vertical-tabs-tabs-bar {
    display:none;
  }
  .antd-vertical-tabs-vertical.antd-vertical-tabs-left .antd-vertical-tabs-content {
    padding-left:0;
  }
}