//时间线的样式
@import "../../public/css/common-variables";
@font_color: #999999;
@split_line_color: #f5f5f5;
.time-line {
  .time-line-item {
    float: left;
    width: 100%;
    //天的时间样式
    .group-day {
      float: left;
      width: 100%;
      font-size: 16px;
      color: @primary-font-color;
    }
    //天分隔线
    .day-split-line {
      border-top: 1px solid @split_line_color;
    }
  }
}