//时间线的样式
@font_color: #999999;
@split_line_color: #f5f5f5;
@day_color: #333333;
.time-line {
  .time-line-item {
    float: left;
    width: 100%;
    //年的时间样式
    .group-year {
      padding: 12px 0 0 12px;
      color: @font_color;
      //年分割线
      .year-split-line {
        display: inline-block;
        vertical-align: middle;
        width: 90%;
        height: 1px;
        margin-left: 8px;
        background-color: @split_line_color;
      }
    }
    //天的时间样式
    .group-day {
      float: left;
      width: 100%;
      padding: 0 16px;
      font-size: 16px;
      color: @day_color;
    }
    //天分隔线
    .day-split-line {
      border-top: 1px solid @split_line_color;
    }
  }
}