.open-app-wrapper {
    .btn-bar {
        text-align: right;
        button {
            margin-left: 10px;
        }
    }
    legend {
        width: initial;
        border: initial;
        font-size: initial;
        line-height: initial;
        margin: 0;
    }
    fieldset.app-container {
        display: inline-block;
        border: 1px solid #ccc;
        margin: 20px;
        width: 300px;
        padding: 0;
        legend {
            font-size: 17px;
            padding: 0 5px;
            color: black;
            margin-left: 15px;
        }
        p {
            font-size: 13px;
            margin: 20px;
        }
        .btn-bar {
            text-align: right;
            button {
                border-radius: 0;
            }
        }
    }
    .app-detail-wrapper {
        .btn-bar {
            padding-right: 25px;
        }
        &.right-pannel-default .close-pannel {
            position: absolute;
            float: none;
            right: 0;
            top: 0;
        }
        .app-detail-container {
            margin: 20px;
            .content {
                h5 {
                    margin-bottom: 30px;
                    padding-left: 10px;
                    font-size: 15px;
                }
                margin-top: 30px;
                .role-from-wrapper {
                    margin-top: 10px;
                }
            }
        }
    }
}