.open-app-wrapper {
    legend {
        width: initial;
        border: initial;
        font-size: initial;
        line-height: initial;
        margin: 0;
    }
    fieldset.app-container {
        display: inline-block;
        border: 1px solid #ccc;
        margin: 20px;
        width: 300px;
        padding: 0;
        legend {
            font-size: 17px;
            padding: 0 5px;
            color: black;
            margin-left: 15px;
        }
        p {
            font-size: 13px;
            margin: 20px;
        }
        .btn-bar {
            text-align: right;
            button {
                border-radius: 0;
            }
        }
    }
}