.product-table {
    .add-app-container {
        background: white;
        padding-left: 7px;
        font-size: 14px;
        line-height: 32px;
        margin-top: -5px;
    }
    .antc-table {
        margin-right: 30px;
        .ant-table-placeholder {
            display: none;
        }
    }
}
.product-table.is-edit {
    .antc-table {
        width: 100%;
        margin-right: 0;
    }
}

