/*app应用权限面板样式设置*/
@import "../../../../public/css/common-variables";
.app-auth-api-container {
  height: 100%;
  padding-top: 20px;
  //标题
  .app-auth-api-title {
    height: 30px;
    margin-left: 20px;
    padding-left: 5px;
    margin-right: 15px;
    border-bottom: 1px solid #b6c2c9;
    font-size: 14px;
    .icon-update {
      margin-left: 5px;
      color: #b6c2c9;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: #666;
      }
    }
    .edit-btn-active {
      color: #4d96d1;
    }
  }
  //api列表
  .app-auth-api-content {
    padding: 20px 5px 20px 20px;
    //api标题
    .api-header {
      span {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
      }
      span:first-child {
        width: 80px;
        margin-left: 45px;
      }
      span:last-child {
        width: 200px;
        margin-left: 20px;
      }
    }
    //无数据的提示
    .no-api-data {
      text-align: center;
      padding-top: 30px;
    }
    //列表展示样式
    .app-auth-api-item {
      .api-item-left {
        display: inline-block;
        width: 80px;
        margin-left: 50px;
      }
      .api-item-right {
        display: inline-block;
        width: 200px;
        margin-left: 20px;
      }
    }
    //权限服务地址样式
    .permission-api-item {
      margin-bottom: 5px;
      .ant-select {
        width: 80px;
        margin-left: 40px;
      }
      //输入框的样式
      input {
        width: 200px;
        height: 30px;
        line-height: 30px;
        margin-left: 20px;
        vertical-align: middle;
        //输入框为空时，验证提示的边框样式
        &.validate-error {
          border: 1px solid @error_tips_color;
          box-shadow: 0 0 0 2px #ffddcc;
        }
      }
      //验证提示信息样式
      .permissionApi-validate {
        margin-left: 140px;
        color: @error_tips_color;
        line-height: 25px;
      }
    }
    //添加、删除按钮
    .permission-inputgroup-btns-div {
      display: inline-block;
      vertical-align: middle;
    }
    .permission-inputgroup-btn {
      float: left;
      height: 16px;
      width: 16px;
      margin-left: 5px;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer;
      background: #4d96d1;
      color: #fff;
      user-select: none;
      &:hover {
        background: #478ebf;
      }
    }
    .del-permission-inputgroup-btn {
      line-height: 18px;
    }
    .add-permission-inputgroup-btn {
      line-height: 16px;
    }
  }
  //保存按钮区域
  .save-btn-container {
    margin-top: 20px;
    margin-right: 40px;
    button, .indicator {
      float: right;
    }
    .form-submit-btn {
      margin-right: 6px;
    }
    .indicator {
      margin-right: 10px;
      .ant-alert {
        padding: 6px;
      }
    }
  }
}