.code-container{
  .app-code-trace-container{
    .app-code-trace-content{
      padding: 50px 40px;
      .app-code-trace{
        h3{
          font-size: 16px;
          font-weight: normal;
        }
        .app-code-tip{
          margin: 8px 0;
          width: 100%;
          word-wrap:break-word;
          word-break:normal;
          overflow: hidden;
          white-space:normal!important;
        }
        .app-code-block{
          position: relative;
          pre{
            min-height: 200px;
            font-size: 13px;
            color: #4D4D4D;
            background-color: #F3F3F3;
            border: none;
            border-radius: 3px;
            direction: ltr;
            margin: 15px 0;
            padding:20px;
            text-align: left;
            height: auto;
            display: block;
            width: 100%;
            .anticon{
              position: absolute;
              top:12px;
              right: 15px;
              display: none;
            }
            .app-code{
              word-break: break-all;
            }
          }
          &:hover{
            .anticon{
              display: block;
            }
          }
        }

      }
    }

  }
  .alert-wrap{
    margin-top: 150px;
    width: 311px;
    margin-left: 52px;
  }
  .load8{
    margin-top: 150px;
    transform:scale(0.5, 0.5);
    .loader8{
      border-left-color:#394144;
    }
  }
}