// 版本升级日志列表显示样式
.version-content-list {
  margin-left: 20px;
  margin-right: 20px;
  .version-content-item {
    font-size: 14px;
    margin-bottom: 17px;
    padding: 8px 0 14px 10px;
    background: #dce4e7;
    .upgrade-version {
      text-align: right;
      margin-right: 10px;
    }
    .app-version-delete {
      display: inline-block;
      margin: 4px 0 -20px 325px;
    }
  }

  .ant-alert {
    position: relative;
    top: 20px;
    left: 110px;
  }

  .ant-alert-error, .ant-alert-message, .ant-alert-info {
    display: inline-block;
  }

  .alert-wrap {
    text-align: center;
    .ant-alert {
      position: relative;
      top: 30px;
      left: 20px;
    }
    .ant-alert-error, .ant-alert-message, .ant-alert-info {
      display: inline-block;
    }
  }


  // 上传apk文件样式
  .upload-apk {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #4d96d1;
    border-radius: 5px;
    padding: 2px 6px;
    color: #4d96d1;
    .ant-upload > span {
      outline: none;
    }
    cursor: pointer;
  }
  .upload-apk-file-position {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
  }
  .upgrade-log-upload-apk {
    font-size: 16px;
    border: 0;
    background-color: #dce4e7;
    a{
      color:#666;
      text-decoration:none;
    }
    a:hover{
      color: #0f6ab4;
    }
  }
}

.right-pannel-default {
  .app-record-style .close-pannel {
    margin-bottom: 20px;
  }
}

.ant-confirm-btns {
  button {
    border-radius: 3px;
  }
}