@LEFT_BACKGROUND_COLOR: #f3f5f7;
@RIGHT_BACKGROUND_COLOR:#AAA;
@BACKGROUND_WHITE:#FFF;
@FONT_WHITE:#FFF;
.sales_home_content {
  .topNav {
    padding: 0 !important;
    margin-left: 30px;
  }
  .top_nav_content {
    ul {
      overflow: hidden;
      li {
        float: left;
        width: 250px;
        .statistic-total-content {
          height: 75px;
          overflow: hidden;
          .content-left {
            float: left;
            .iconfont {
              font-size: 45px;
            }
          }
          .content-right {
            font-size: 14px;
            float: left;
            margin: 12px 0 0 10px;
            .phone-total-data {
              margin-left: 10px;
              > span {
                display: inline-block;
              }
            }
            p:last-child {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  //下部主要内容
  .main-content-container {
    margin: 73px 0 0 30px;
    overflow: hidden;
    .customer-list-left, .customer-content-right {
      padding:0px;
      font-size: 14px;
      height: 100%;
    }
    //左侧客户列表
    .customer-list-left {
      background: @LEFT_BACKGROUND_COLOR;
      ul li {
        height: 50px;
        font-size: 18px;
        padding: 15px 10px;
        cursor: pointer;
        .data-total {
          float: right;
        }
      }
      li.customer-item.selected-customer-item{
        background: @RIGHT_BACKGROUND_COLOR;
        color:#fff;
      }
    }
    //右侧客户详情
    .customer-content-right {
      background: @RIGHT_BACKGROUND_COLOR;
      padding: 30px;
      //今日日程列表
      .schedule-day-list{
        height: 100%;
        .schedule-list-tip{
          font-size: 16px;
          margin-bottom: 5px;
          color:@FONT_WHITE;
        }
      }
      //今日过期日程列表
      .today-expired-schedule{
        height: 100%;
      }

      //客户查重界面
      .customer-repeat-container .customer-repeat-table{
        background: @BACKGROUND_WHITE;
        padding: 0 10px 20px 10px;
      }
    }
    //包含重复客户时的右侧客户详情
    .customer-content-right.has-repeat-customer{
      padding: 0px;
    }
    //关注客户
    .concerned-customer-container{
      height: 100%;
    }
    //停用后登录
    .app-illeage-container{
      height: 100%;
    }

  }
}