@import "../../../../public/css/common-variables";
.new-distribute-customer {
  padding: 16px;
  background: #fff;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 12px;
  //客户标签的样式设置
  .customer-label {
    float: right;
    margin-left: 4px;
    margin-right: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: @tag-font-color;
    background-color: #b8c4ca;
  }
  .customer-label.info-tag-style{
    background-color: @info-tag-color;
  }
  .customer-label.intent-tag-style{
    background-color: @intent-tag-color;
  }
  .customer-label.trial-tag-style{
    background-color: @trial-tag-color;
  }
  .customer-label.sign-tag-style{
    background-color: @sign-tag-color;
  }
  .customer-label.qualified-tag-style{
    background-color: @qualified-tag-color;
  }
  .customer-label.history-qualified-tag-style{
    background-color: @history-qualified-tag-color;
  }
  .customer-label.loss-tag-style{
    background-color:@loss-tag-color;
  }
}