@import "../../../../public/css/common-variables";
@bg-color: #f3f5f5;
@drag-over-color: lightblue;
.deal-stage-board-wrap {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

//拖拽经过时的背景设置
.dragging-over-style.deal-stage-board-container {
  background-color: @drag-over-color;
}

.deal-stage-board-container {
  position: relative;
  display: inline-block;
  float: none;
  width: 360px;
  margin-top: 20px;
  padding-right: 2px;
  background-color: @bg-color;
  vertical-align: top;
  //将滚动条调到卡片外面
  .srollbar-out-card-style{
    >.gm-scroll-view{
      padding-right: 12px;
    }
  }
  //订单阶段标题
  .detail-card-title {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 16px;
    color: @primary-font-color;
    .deal-total-count,.deal-total-price {
      float: right;
      padding-right: 8px;
      line-height: 24px;
      font-size: 12px;
      color: @secondary-font-color;
    }
  }
  .detail-card-content{
    padding: 8px 0 8px 12px;
  }
  .anticon-spin.anticon-loading {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    color: @primary-color;
  }
  //订单卡片的内容
  .deal-card-content {
    .deal-customer-name.deal-info-item {
      width: 100%;
      font-size: 14px;
      color: @primary-color;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      span{
        cursor: pointer;
      }
    }
    .deal-info-item {
      color: @secondary-font-color;
      .deal-item-label {
        margin-right: 4px;
      }
    }
    .deal-budget {
      font-size: 16px;
      color: @primary-font-color;
      .icon-deal-budget {
        font-size: 14px;
      }
      .deal-no-budget {
        font-size: 12px;
        color: @secondary-font-color;
      }
    }
  }
  .single-deal-card {
    margin-top: 8px;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ffffff;
  }

  .single-deal-card.draggable-style {
    cursor: grab;
  }
}

.deal-stage-board-container:not(:last-child) {
  margin-right: 20px;
}