.deal-manage-container {
  .add-deal-btn {
    float: right;
    margin-top: 15px;
  }
  .deal-manage-content {
    padding: 64px 24px 0 24px;
    .summary_info {
      font-size: 13px;
      color: #7c8185;
      position: fixed;
      bottom: 20px;
    }
  }
}