@import "../../../../public/css/common-variables";
.deal-manage-container {
  .deal-view-radio-container {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
  }
  .deal-search-block {
    float: left;
    width: 260px;
    margin-top: 15px;
  }
  .add-deal-btn {
    float: right;
    margin-top: 15px;
  }
  .deal-manage-content {
    float: left;
    width: 100%;
    padding: 64px 24px 0 24px;
    .deal-table-container {
      .current-row, .current-row:hover {
        background: #DFEAF3 !important;
      }
      //客户名的样式
      .deal-customer-name {
        cursor: pointer;
      }
      .customer-name-active {
        color: @primary-color;
      }
    }
  }
  //看板视图的样式
  .deal-board-view-container {
    overflow-x: scroll;
  }
  .deal-manage-content.board-view-style {
    .deal-board-list {
      float: left;
      white-space: nowrap;
    }
  }
}