.oplate_user_analysis {
  .analysis_bar_chart {
    .chart,.loadwrap {
      position:relative;
    }
    .nodata {
      position:absolute;
      width:100px;
      height:30px;
      margin:auto;
      font-size:16px;
      top:0;
      bottom:0;
      right:0;
      left:0;
    }
    .load8 {
      transform:scale(0.5,0.5);
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      right:0;
      left:0;
    }
    .echarts-tooltip {
      min-width: 220px;
      transition: none !important;
      overflow:hidden;
      color:#fff !important;
      .title {
        color:#dedede;
        line-height:14px;
        font-size:12px;
        span {
          margin-left:20px;
        }
        padding:0;
      }
      li {
        padding:7px 0 7px 7px;
        overflow: hidden;
        span,em,i {
          float: left;
        }
        em,b,i {
          font-weight:normal;
          font-style:normal;
        }
        span {
          width:12px;
          height:12px;
          margin-top: 3px;
          margin-right:17px;
          position:relative;
          b {
            position:absolute;
            width:100%;
            height:6px;
            bottom:0;
            left:0;
          }
        }
        i, em {
          width: 50px;
        }
        .number_text {
          text-align:right;
        }
      }
    }

  }
}
