//动态添加、删除联系人及联系方式的组件样式
.contact-way-container{
  .contact-wrap{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    .customer-name-item{
      margin-bottom: 13px;
      .customer_search_wrap{
        float: left;
        width: 90%;
      }
      //.ant-form-item-control-wrapper{
      //  width: 90%;
      //}
      //.customer-name-item .ant-form-item-control-wrapper{
      //  width: 75%;
      //}
      .iconfont.icon-delete.disabled{
        color: transparent;
      }
    }

    i.iconfont{
      margin-right:10px;
      color:#999;
    }
    .contact-way-buttons{
      float: left;
      color:#8EABC6;
      font-size: 14px;
      margin-left: 5px;
      cursor: pointer;
      .clue-minus-button{
        float: left;
      }
      .clue-plus-button{
        float: left;
        margin-left:6px;
      }
    }
  }
  .add-contact{
    float: left;
    text-align: left;
    color:#8EAAC5;
    cursor: pointer;
    margin-left: 40px;
    font-size: 14px;
  }
}