 
 @import "../../public/css/common-variables";
    .customer-label{
      height: 18px;
      line-height: 15px;
      font-size: 12px;
      padding: 0 5px;
      color: @tag-font-color;
      background-color: @secondary-font-color;
    }
    .customer-label.info-tag-style {
      background-color: @info-tag-color;
    }
    .customer-label.intent-tag-style {
      background-color: @intent-tag-color;
    }
    .customer-label.trial-tag-style {
      background-color: @trial-tag-color;
    }
    .customer-label.sign-tag-style {
      background-color: @sign-tag-color;
    }
    .customer-label.qualified-tag-style {
      background-color: @qualified-tag-color;
    }
    .customer-label.history-qualified-tag-style {
      background-color: @history-qualified-tag-color;
    }
    .customer-label.loss-tag-style {
      background-color: @loss-tag-color;
    }
    .customer-label.re-contract-tag-style {
      background-color: @re-contract-color;
    }
  