//登录踢出提示框样式的设置
.ant-modal-container.offline-modal-container .ant-confirm {
  .ant-confirm-body {
    .anticon {
      float: left;
    }

    .ant-confirm-content {
      padding-top: 5px;
    }
  }

  //提示框中的重新登录按钮居中
  .ant-confirm-btns {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
  }
}
.noty-container .noty-content{
  -webkit-line-clamp: initial!important;
  .phone-item{
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 13px;
    .customer-name{
      max-width: 130px;
      display: inline-block;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      position: relative;
      top: 5px;
    }
    .icon-phone-call-out{
      color: #8CA9C5;
      margin-right: 6px;
  }
  }
}

