@import "../apply-common-style/index";
.apply-detail-customer.apply-detail-info{
  .iconfont{
    font-size: 18px;
  }
  .apply-info-label{
    overflow: hidden;
    .user-info-label,.user-info-text{
      float: left;
    }
    .user-info-text{
      min-width: 200px;
      white-space: normal;
      word-break: break-all;
    };
    .user-info-text.show-time-line{
      height: 55px;
      float: none;
      clear: both;
      padding-top:10px;
    }
  }
}
