@import '../../css/bootstrap-variables.less';
@import '../../css/iconfont.less';
@import '../../css/common-zh.less';
@import "../../../public/css/common-variables";
@font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
@font-family-macintosh: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
@bd-grey: #DEDFE3;
body,
pre {
    font-family: @font-family;
}

body.macintosh,
body.macintosh pre {
    font-family: @font-family-macintosh;
}

.token_expires {
    position: fixed;
    z-index: 1042;
    top: 20px;
    padding: 4px 10px;
    left: 50%;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-left: -160px;
    height: 30px;
    line-height: 20px;
    a {
        text-decoration: underline;
    }
}

.search-input-container .search-input {
    height: @btn-height;
    line-height: @btn-height;
}

.topnav-links-wrap {
    li {
        a {
            font-size: @btn-font-size;
            &.active {
                border-bottom: 4px solid @primary-color;
            }
        }
    }
}

.btn-item-container {
    height: @top_nav_height;
    .btn-item {
        margin-top: @filter_area_margin_top;
    }
}

.btn-item {
    margin-right: @btn-margin !important;
    margin-left: 0 !important;
    button,
    .ant-select-selection,
    .ant-input-number,
    .range-datepicker {
        line-height: @btn-lineHeight !important;
        font-size: @btn-font-size;
        height: @btn-height !important;
        vertical-align: middle;
        min-width: @btn-min-width;
        color: @secondary-color;
        &.ant-btn-primary {
            color: white;
        }
    }
    .ant-input-number {
        min-width: auto;
        .ant-input-number-input {
            color: @secondary-color;
        }
    }
    .ant-calendar-picker-input {
        height: @btn-height;
        color: @secondary-color;
        font-size: @btn-font-size;
    }
    .ant-select-selection {
        .ant-select-selection__rendered {
            line-height: @btn-height;
            .ant-select-selection__placeholder {
                font-size: @btn-font-size;
            }
            .ant-select-selection-selected-value {
                padding-top: 0;
            }
        }
    }
    .ant-select-selection--multiple {
        ul {
            .ant-select-selection__choice {
                background: none;
                height: @btn-height;
                line-height: @btn-height;
                margin-top: 0;
                color: @secondary-color;
            }
        }
    }
}
// 主色调按钮的样式
.btn-item .ant-btn-primary, .btn-item.ant-btn-primary, .ant-btn-primary, .btn-primary-sure {
    background-color: @primary-color;
    &:hover {
        background-color: @primary-hover-color;   
    }
}
// 普通主界面操作按钮
.btn-item {
    float: left;
    display: block;
    margin-right: @btn-margin;
    margin-left: 0;
    line-height: @btn-lineHeight ;
    font-size: @btn-font-size ;
    height: @btn-height ;
    vertical-align: middle;
    min-width: @btn-min-width;
    color: @secondary-color;
    border-radius: @btn-radius;
    border-color:@SEARCH-INPUT-BORDER;
    &:hover{
       color: @primary-color;
       border-color: @primary-color;
    }
    &.ant-btn-primary {
        color: white ;
    }
    .search-input {
        font-size: @btn-font-size;
    }
    .datepicker_wrap {
        color: @font-black;
    }
    &.ant-select-selection {
        border-radius: @btn-radius;
        .ant-select-selection__rendered {
            line-height: @btn-height;
            .ant-select-selection__placeholder {
                font-size: @btn-font-size;
            }
            .ant-select-selection-selected-value {
                padding-top: 0;
            }
        }
    }
    &.ant-select-selection{
        line-height: @btn-height;
        font-size: @btn-font-size;
        height: @btn-height;
        vertical-align: middle;
        min-width: @btn-min-width;
        color: @secondary-color;
        &.ant-btn-primary {
            color: white;
        }
    }
}
.explain-pop{
    top:45px !important;
}

// 操作按钮样式
.handle-btn-item{
    color: @secondary-color;
    cursor: pointer;
    &:hover{
      color: @primary-color;
    }
}


#app {
    //去掉自动填充用户名的背景色chrom
    input:-webkit-autofill {
        box-shadow: inset 0 0 0 1000px #fff !important;
    }
    //去掉自动填充用户名的背景色ff
    input{
        filter: none !important;
    }
    .select-init-width {
        width: initial;
        .ant-select {
            width: initial;
        }
    }
    .float-r {
        float: right;
    }
    .float-l {
        float: left;
    }
    .btn-m-r {
        margin-right: @btn-margin;
    }
    .btn-m-r-2 {
        margin-right: @btn-margin + @btn-margin;
    }
    .row {
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
        >.col-xs-2 {
            z-index: 12;
            width: @sidebar-min-width;
        }
        >.col-xs-10 {
            width: 100%;
            min-height: 100vh;
            padding-left: @sidebar-min-width;
            margin-left: -@sidebar-min-width;
            padding-right: 0;
            background-color: @right-area-bgcolor;
        }
        &.extend {
            >.col-xs-2 {
                width: @sidebar-default-width;
            }
            >.col-xs-10 {
                margin-left: -@sidebar-default-width;
                padding-left: @sidebar-default-width;
            }
        }
    }
    .extend .topNav {
        left: @sidebar-default-width;
    } //线索的右侧详情
    .clue_customer_rightpanel.right-pannel-default.page-frame-clue-detail {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10000001;
    }
}

//蒙板和下线提示位于高图层
.ant-modal-mask{
    z-index: 1050;
}
.ant-modal-wrap{
    z-index: 1100;
}

.btn-primary-sure {
    @basiccolor: @primary-color;
    @hovercolor: @primary-hover-color;
    border-color: @basiccolor ;
    background-color: @basiccolor ;
    color: #fff;
    &:hover {
        border-color: @hovercolor ;
        background-color: @hovercolor ;
    }
}

.btn-primary-cancel {
    @basiccolor: #71aad8;
    border-color: @basiccolor ;
    background-color: transparent;
    color: @basiccolor ;
    &:hover {
        border-color: darken(@basiccolor, 20%);
        color: darken(@basiccolor, 20%);
    }
}
.btn-primary-delete {
    @basiccolor: #ea7b72;
    border-color: @basiccolor ;
    background-color: transparent!important;
    color: @basiccolor ;
    &:hover,&:active,&:focus {
        border-color: darken(@basiccolor, 20%)!important;
        color: darken(@basiccolor, 20%)!important;
    }
}
// 隐藏火狐浏览器ant-table-header的原生滚动条
@-moz-document url-prefix() {
    .ant-table-header {
        overflow: hidden !important;
    }
}
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #dee7ed;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .3);
}

/*noty plugin custom css start*/

.noty-container {
    padding: 6px;
    line-height: 1.5;
    .noty-title {
        font-size: 14px;
        color: #666;
        margin-bottom: 4px;
    }
    .noty-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-size: 12px;
        color: @secondary-font-color;
    }
}

#noty_top_layout_container,
#noty_topLeft_layout_container,
#noty_topCenter_layout_container,
#noty_topRight_layout_container,
#noty_center_layout_container,
#noty_centerLeft_layout_container,
#noty_centerRight_layout_container,
#noty_bottom_layout_container,
#noty_bottomLeft_layout_container,
#noty_bottomCenter_layout_container,
#noty_bottomRight_layout_container {
    &>li {
        border-radius: 6px;
    }
}

.noty_bar {
    .noty_close {
        color: @secondary-font-color;
        opacity: 1 !important;
        display: block !important;
        top: 4px !important;
        right: 13px !important;
        background: rgba(0, 0, 0, 0) !important;
        &:after {
            content: "\E633";
            font-size: 12px;
            font-family: "anticon";
            cursor: pointer;
        }
        &:hover {
            color: #57c5f7;
        }
    }
}

/*noty plugin custom css end*/

// 手机端样式设置
.nav-bar-wrap.col-xs-12 {
    position: fixed;
    bottom: 0;
    height: 48px;
    padding: 0;
    z-index: 12;
}
.main-content-wrap.col-xs-12 {
    padding: 0 0 48px 0;
}
