@import '../../css/bootstrap-variables.less';
@import '../../css/iconfont.less';
@import '../../css/common-es';
@import "../../../public/css/common-variables";

@font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
@font-family-macintosh: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
body, pre{
  font-family:@font-family;
}

body.macintosh, body.macintosh pre{
  font-family:@font-family-macintosh;
}

.token_expires{
  position:fixed;
  z-index:1042;
  top:20px;
  padding:4px 10px;
  left:50%;
  font-size:12px;
  margin-bottom:20px;
  border-radius:4px;
  margin-left:-160px;
  height:30px;
  line-height:20px;
  a{
    text-decoration:underline;
  }
}

#app{
  .row{
    width:auto;
    margin-left:-15px;
    margin-right:-15px;

    > .col-xs-2{
      z-index:10;
      width:@sidebar-min-width;
    }

    > .col-xs-10{
      width:100%;
      min-height:100vh;
      padding-left:@sidebar-min-width;
      margin-left:-@sidebar-min-width;
      padding-right:0;
      background-color:@right-area-bgcolor;
    }
    &.extend{
      > .col-xs-2{
        width:@sidebar-default-width;
      }
      > .col-xs-10{
        margin-left:-@sidebar-default-width;
        padding-left:@sidebar-default-width;
      }
    }

  }
  .topNav{
    position:fixed;
    z-index:11;
    top:0;
    right:0;
    //overflow: hidden;
    left:@sidebar-min-width;
    height:@top_nav_height;
    background:#fff;
    padding-left:16px;
    max-height: 76px;
    font-size: 16px;

    &:before{
      content:" ";
      position:absolute;
      bottom:0;
      left:10px;
      right:10px;
      border-bottom:2px dotted #edf1f2;
    }
    .topnav-links-wrap{
      display:inline-block;
      vertical-align:middle;
      .navbar-toggle{
        display:none;
        margin-top:21px;
        border-color: @primary-color;
        .icon-bar{
          background: @primary-color;
        }
      }
      &[hidden]{
        ul{
          display:none;
        }
        .navbar-toggle{
          display:block;
        }
      }

      &.fixed-layout{
        ul{
          position:fixed;
          top:74px;
          left:75px;
          right:0;
          display:block;
          background:#fff;
          border-top:1px solid #d9d9d9;
          border-bottom:1px solid #d9d9d9;
          li{
            display:block;
            float:none;
            padding:0;
            line-height:20px;
            a{
              padding:10px 20px;
              &:hover{
                color: @primary-color;
                background-color:#f9f9f9;
              }
            }
          }
        }
        .navbar-toggle{
          background: @primary-color;
          .icon-bar{
            background:#fff;
          }
        }
      }

    }

    ul.topnav-links{
      line-height:@top_nav_height - 4;
      li{
        padding:0 20px 0 0;
        position:relative;
        float:left;
        a{
          font-size:14px;
          display:block;
          color:#b6c2c9;
          outline:none;
        }
      }
      .topNav-menu-item-selected{
        color: @primary-color;
      }
      a.active{
        color: @primary-color;
      }
    }
    .inline-block{
      display:inline-block;
      vertical-align:middle;
    }

    a:hover, a:focus{
      text-decoration:none;
    }
    .ant-menu-horizontal{
      border-bottom:none;
    }
    .ant-menu{
      line-height:@top_nav_height - 3;
      padding-left:63px;
    }
    @media (max-width:@modal-md) {
      .ant-menu{
        padding-left:0;
        display:inline-block;
      }
    }
  }
  .extend .topNav{
    left:@sidebar-default-width;
  }
  //线索的右侧详情
  .clue_customer_rightpanel.right-pannel-default.page-frame-clue-detail{
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    z-index: 10000000;
  }
}

.btn-primary-sure{
  @basiccolor: @primary-color;
  @hovercolor: @primary-hover-color;
  border-color:@basiccolor;
  background-color:@basiccolor;
  color:#fff;
  &:hover{
    border-color:@hovercolor;
    background-color:@hovercolor;
  }
}

.btn-primary-cancel{
  @basiccolor:#71aad8;
  border-color:@basiccolor;
  background-color:transparent;
  color:@basiccolor;
  &:hover{
    border-color:darken(@basiccolor, 20%);
    color:darken(@basiccolor, 20%);
  }
}
.btn-primary-delete {
  @basiccolor: #ea7b72;
  border-color: @basiccolor ;
  background-color: transparent!important;
  color: @basiccolor ;
  &:hover,&:active,&:focus {
    border-color: darken(@basiccolor, 20%)!important;
    color: darken(@basiccolor, 20%)!important;
  }
}
// 隐藏火狐浏览器ant-table-header的原生滚动条
@-moz-document url-prefix() {
  .ant-table-header {
    overflow: hidden !important;
  }
}
.custom-scrollbar::-webkit-scrollbar{
  width:6px;
}

.custom-scrollbar::-webkit-scrollbar-track{
  background:#dee7ed;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background:rgba(0, 0, 0, .2);
  border-radius:3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background:rgba(0, 0, 0, .3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active{
  background:rgba(0, 0, 0, .3);
}
/*noty plugin custom css start*/

.noty-container{
  padding:6px;
  line-height:1.5;
  .noty-title{
    font-size:14px;
    color:#666;
    margin-bottom:4px;
  }
  .noty-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size:12px;
    color: @secondary-font-color;
  }
}

#noty_top_layout_container,
#noty_topLeft_layout_container,
#noty_topCenter_layout_container,
#noty_topRight_layout_container,
#noty_center_layout_container,
#noty_centerLeft_layout_container,
#noty_centerRight_layout_container,
#noty_bottom_layout_container,
#noty_bottomLeft_layout_container,
#noty_bottomCenter_layout_container,
#noty_bottomRight_layout_container{
  & > li{
    border-radius:6px;
  }
}

.noty_bar{
  .noty_close{
    color: @secondary-font-color;
    opacity:1 !important;
    display:block !important;
    top:10px !important;
    right:16px !important;
    background:rgba(0, 0, 0, 0) !important;
    &:after{
      content:"\E633";
      font-size:12px;
      font-family:"anticon";
      cursor:pointer;
    }
    &:hover{
      color:#57c5f7;
    }
  }
}

/*noty plugin custom css end*/