.commission-target-text {
  overflow: hidden;
  position: relative;
  top:-4px;
  .ant-input-number, .text-container, .buttons-container {
    float: left;
  }
  .text-container{
    margin: 6px 5px 0 5px;
  }
  .has-error{
    clear:both;
  }
  .buttons-container{
    margin: 6px 0 0 0;
    i{
      margin-right: 3px;
    }
  }
  .icon-update {
    margin: 0 0 0 10px;
    color: #b6c2c9;
    cursor: pointer;
    &:hover {
      color: #627884;
    }
  }
}