.commission-target-text{
    .ant-input-number{
      float: left;
    }
  .icon-update{
    margin: 0 0 0 10px;
    color: #b6c2c9;
    cursor: pointer;
    &:hover{
      color: #627884;
    }
  }
}