#member-infor-list{
  padding:20px 0 20px 20px;
  .member-detail-item{
    padding:8px 0;
    .ant-form-item input{
      width:220px;
      margin-top:-5px;
    }
    .ant-form-item .edit-select-item{
      width:220px;
      margin-top:-5px;
    }
    .ant-select-selection--multiple .ant-select-search--inline .ant-select-search__field{
      height:20px;
      width: 0.75em;
    }
    .user-basic-edit-field form .icon-choose{
      padding-top:0;
    }
    .user-basic-edit-field form .icon-close{
      padding-top:3px;
    }
    .ant-pwd-strength{
      margin:0;
    }
  }
}