/*成员管理样式设置*/
@import "../../../../public/css/common-variables";
@import (optional) "./common.less";

//成员管理样式设置
.backgroundManagement_user_content{
  .user-basic-edit-field{
    span.inline-block {
      white-space: normal;
      max-width: 260px;
    }
  }
  //标签过滤面板的样式
  .user-filter-adv{
    position:absolute;
    top:75px;
    right:10px;
    left:85px;
    padding:10px 40px 0 40px;
    border-bottom:2px dotted #edf1f2;
    dt{
      display:table-cell;
      width:90px;
      vertical-align:top;
      font-size:13px;
    }
    dd{
      display:table-cell;
      li{
        float:left;
        margin-right:20px;
        margin-bottom:10px;
        cursor:pointer;
        padding:3px 10px;
        span.tag-count{
          display:inline-block;
          margin-left:5px;
          color:#4d96d1;
          font-weight:bold;
        }
      }
      li.selected{
        background:#4d96d1;
        color:#fff;
        border-radius:4px;
        span.tag-count{
          color:#1f539e !important;
        }
      }
    }
  }

  .topNav .handle-btn-container{
    float:right;
    width:110px;
    height:@top_nav_height;
    line-height:@top_nav_height;
    border-left:1px solid #edf1f2;
    font-size:14px;
    text-align:center;
    color:#4d96d1;
    cursor:pointer;
  }

  .right-cards-container{
    ul.topnav-links{
      min-width:412px;
    }
    .cards-filter{
      position:relative;
      float:right;
      left:0;
      margin-right:120px;
      .search-input-block{
        float:right;
        margin-left:@filter_btn_internal;
        width:@edit_input_width;
        margin-top: @filter_area_margin_top;
      }
    }
    .card-list-container{
      padding-top:@top_nav_height;
      .no-data-intro,.no-data{
        margin:260px auto;
      }
    }
  }
  .btn-add-member{
    height:34px;
    border:1px solid #4d8cbf;
    border-radius:4px;
    margin:20px 20px 0;
    text-align:center;
    font-size:13px;
    color:#4d8cbf;
    padding-top:5px;
    cursor:pointer;
    .anticon-plus{
      font-size:15px;
      font-weight:bold;
      margin-right:10px;
    }
  }
}

.user_manage_style{
  .firstLoading{
    position:fixed;
    top:40%;
    left:50%;
    z-index:999;
  }
}

//所属团队的样式设置
.card-item{
  .update-user-team{
    display:inline-block;
    vertical-align:top;
    margin-left:5px;
    color:#b6c2c9;
    cursor:pointer;
    &:hover{
      color:#666;
    }
  }
  .user-team-select.ant-select{
    width:200px;
  }
  .team-icon{
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
    cursor:pointer;
  }
  .anticon-loading{
    margin-top:10px;
  }
  .save-team-icon{
    color:#4dbe50;
    &:hover{
      color:#179E1B;
    }
  }
  .cancel-save-team-icon{
    color:#f43631;
    &:hover{
      color:#b50e0a;
    }
  }
}

//错误提示
.save-team-error-tip{
  margin-top:-3px;
  margin-left:75px;
  font-size:12px;
  color:#F73434;
}
//提成比例样式
.radio-container{
  margin:0 20px 0 40px;
  border-top:1px solid #bcc4c7;
  padding: 10px 0 0 0;
  font-size: 14px;
  .ant-checkbox-wrapper{
    font-size: 14px;
  }
  .ant-input-number-input{
    height: 25px;
  }
  .ant-input-number{
    margin:5px 10px;
  }
  .icon-choose,.icon-update{
    margin: 0px 5px;
  }
  .edit-btn{
    cursor: pointer;
  }
}
.log-infor-scroll .log-infor-list{
  margin-top: 10px;
  border-top:1px solid #bcc4c7;
  padding-top: 10px;
}


