/*成员管理样式设置*/
@import "../../../../public/css/common-variables";
//添加成员时，角色选中后就不再在下拉列表中展示的样式设置
.ant-select-dropdown-menu-item-selected.role-options-selected{
  display:none;
}

//添加面板样式设置
.backgroundManagement_user_content{
  .user-basic-edit-field{
    span.inline-block {
      white-space: normal;
      max-width: 260px;
    }
  }
  //标签过滤面板的样式
  .user-filter-adv{
    position:absolute;
    top:75px;
    right:10px;
    left:85px;
    padding:10px 40px 0 40px;
    border-bottom:2px dotted #edf1f2;
    dt{
      display:table-cell;
      width:90px;
      vertical-align:top;
      font-size:13px;
    }
    dd{
      display:table-cell;
      li{
        float:left;
        margin-right:20px;
        margin-bottom:10px;
        cursor:pointer;
        padding:3px 10px;
        span.tag-count{
          display:inline-block;
          margin-left:5px;
          color:#4d96d1;
          font-weight:bold;
        }
      }
      li.selected{
        background:#4d96d1;
        color:#fff;
        border-radius:4px;
        span.tag-count{
          color:#1f539e !important;
        }
      }
    }
  }

  .topNav .handle-btn-container{
    float:right;
    width:240px;
    height:@top_nav_height;
    line-height:@top_nav_height;
    border-left:1px solid #edf1f2;
    font-size:14px;
    text-align:center;
    color:#4d96d1;
    cursor:pointer;
  }

  .right-cards-container{
    ul.topnav-links{
      min-width:412px;
    }
    .cards-filter{
      position:relative;
      float:right;
      left:0;
      margin-right:200px;
      .search-input-block{
        float:right;
        margin-left:@filter_btn_internal;
        width:297px;
      }
    }
    .card-list-container{
      padding-top:@top_nav_height;
      .no-data-intro,.no-data{
        margin:260px auto;
      }
    }
    .ant-pwd-strength{
      margin:-20px 0 10px 166px;
    }
    .card-box .single-card .card-content .card-item .card-item-right{
      width:36%;
    }
    .right-pannel-default form .ant-form-item input{
      width:283px;
      margin-left:30px;
    }
    .ant-form-explain{
      margin-left:30px;
    }
    .user-form-scroll .ant-form-item .ant-select{
      width:283px !important;
      margin-left:30px;
    }

  }
  form{
    .head-image-container{
      margin-bottom:40px;
    }
    #user-add-form{
      position: relative;
    }
  }
  .btn-add-member{
    height:34px;
    border:1px solid #4d8cbf;
    border-radius:4px;
    margin:20px 20px 0;
    text-align:center;
    font-size:13px;
    color:#4d8cbf;
    padding-top:5px;
    cursor:pointer;
    .anticon-plus{
      font-size:15px;
      font-weight:bold;
      margin-right:10px;
    }
  }
}

.user-form-scroll{
  .ant-select-selection--multiple .ant-select-search--inline .ant-select-search__field{
    height:20px;
    border:0;
  }
  .ant-form-item{
    padding-right:0;
    text-align:left;
    margin-left:30px !important;
    .ant-select{
      width:292px !important;
    }
    > label{
      text-align:left !important;
    }
    .indicator{
      position:absolute;
      float:right;
      right:140px;
      top:17px;
      text-align:center;
      .ant-alert{
        padding:8px 5px;
      }
    }
    //正在获取角色列表的等待效果
    .role-list-loading{
      line-height:35px;
      color:#666;
      .anticon-loading{
        font-size:16px;
        margin-left:10px;
      }
    }
  }
  .form-cancel-btn{
    margin-right:-32px;
  }
  .phone-email-check{
    float:left;
    width:100%;
    margin-top:-20px;
    line-height:20px;
    margin-bottom:10px;
    padding-left:105px;
    color:@error_tips_color;
  }
  .input-red-border{
    position:relative;
    display:inline-block;
    width:100%;
    padding:6px 7px;
    border:1px solid @error_tips_color;
    line-height:1.5;
    color:#666;
    background-color:#fff;
    background-image:none;
    box-shadow:0 0 0 2px #ffddcc;
    cursor:text;

  }
}

.user_manage_style{
  .firstLoading{
    position:fixed;
    top:40%;
    left:50%;
    z-index:999;
  }
}

//所属团队的样式设置
.card-item{
  .update-user-team{
    display:inline-block;
    vertical-align:top;
    margin-left:5px;
    color:#b6c2c9;
    cursor:pointer;
    &:hover{
      color:#666;
    }
  }
  .user-team-select.ant-select{
    width:200px;
  }
  .team-icon{
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
    cursor:pointer;
  }
  .anticon-loading{
    margin-top:10px;
  }
  .save-team-icon{
    color:#4dbe50;
    &:hover{
      color:#179E1B;
    }
  }
  .cancel-save-team-icon{
    color:#f43631;
    &:hover{
      color:#b50e0a;
    }
  }
}

//错误提示
.save-team-error-tip{
  margin-top:-3px;
  margin-left:75px;
  font-size:12px;
  color:#F73434;
}
