/**
* 西语环境下，特殊的样式设定
*/
.log-infor-scroll {
  width: 560px;
}
.card-infor-list {
  .card-item {
    width: 470px;
  }
}
//标签修改的样式
.card-info-tag-form {
  .ant-form-item {
    width: 450px !important;
    > label {
      padding-right: 55px;
    }
    .block-tag-edit {
      width: 420px;
      .app-tag {
        line-height: 21px;
      }
    }
  }
}