//成员详情样式文件
@btn-color: #8da8c5;
@label-color: #999999;
.member-detail-container {
  //成员详情头部样式设置
  .right-panel-modal-content {
    .right-panel-modal-title {
      margin-bottom: 0;
      padding: 20px 20px 14px;
      font-weight: normal;
    }
  }
  .member-detail-title {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    //头像
    .head-image-container {
      float: left;
      height: auto;
      margin-bottom: 0;
      margin-top: 0;
      p {
        float: left;
        width: 0;
      }
      .cirle-image {
        float: left;
        margin-left: 0;
      }
      .update-logo-desr {
        font-size: 12px;
      }
    }
    //成员名称
    .memeber-name-container {
      .member-name-label {
        min-height: 26px;
        line-height: 20px;
        //名称展示
        .basic-edit-field .basic-info-text {
          margin-left: 0;
          font-weight: bold;
        }
        //编辑按钮
        .icon-edit-btn {
          float: right;
          margin-left: 6px;
          cursor: pointer;
        }
      }
    }
    //名称、密码区域的公共的样式
    .memeber-name-container, .password-edit-container {
      float: left;
      margin-top: 10px;
      margin-left: 10px;
      .ant-form-item {
        padding-right: 0;
        margin-bottom: 6px !important;
        .ant-input {
          margin-left: 0;
        }
      }
    }

    //按钮区
    .member-title-btns {
      float: right;
      .iconfont {
        margin-left: 8px;
        color: @btn-color;
        cursor: pointer;
      }
      .status-switch-container {
        float: right;
      }
    }
  }

  .ant-tabs {
    padding: 0 20px;
  }

  .basic-info-item {
    float: left;
    width: 100%;
    min-height: 24px;
    font-size: 14px;
    .basic-info-label {
      float: left;
      line-height: 24px;
      color: @label-color;
    }
    //编辑按钮hover时才展示
    .icon-edit-btn {
      display: none;
    }
    &:hover {
      background-color: #f6fbff;
      .icon-edit-btn {
        display: block;
        float: right;
        font-size: 16px;
        color: @btn-color;
        cursor: pointer;
      }
    }
    form {
      .ant-form-item {
        padding-right: 0;
      }
    }
  }
  //提成比例样式
  .radio-container {
    font-size: 14px;
    .ant-checkbox-wrapper {
      font-size: 14px;
    }
    .ant-input-number-input {
      height: 25px;
    }
    .ant-input-number {
      margin: 5px 10px;
    }
    .iconfont {
      font-size: 14px;
      cursor: pointer;
    }
    .icon-choose, .icon-update {
      margin: 0px 5px;
    }
    .icon-choose {
      color: #4dbe50;
    }
    .icon-close {
      color: #f43631;
    }
    .edit-btn {
      cursor: pointer;
    }
  }
  //再添加一个成员的按钮样式
  .btn-add-member {
    height: 34px;
    border: 1px solid #4d8cbf;
    border-radius: 4px;
    margin: 20px 20px 0;
    text-align: center;
    font-size: 13px;
    color: #4d8cbf;
    padding-top: 5px;
    cursor: pointer;
    .anticon-plus {
      font-size: 15px;
      font-weight: bold;
      margin-right: 10px;
    }
  }

}

//@margin-top: 20px;
//@border-style: 1px solid #bcc4c7;
//@import "../../../../public/css/common-variables";
//.infor-list {
//  padding: 25px 10px 22px 24px;
//  margin-left: @margin-top;
//  margin-right: @margin-top;
//  font-size: 14px;
//}
//
//.edit-buttons {
//  position: absolute;
//  top: 15px;
//  left: 10px;
//  width: 210px;
//}
//
//.log-infor-scroll {
//  width: 420px;
//  .ant-pagination {
//    float: right;
//    margin-top: 5px;
//  }
//  .ant-pagination-item {
//    background-color: transparent;
//  }
//  .ant-pagination-item-active {
//    background-color: #2db7f5;
//  }
//}
//
//.card-infor-list {
//  .infor-list;
//  border-top: @border-style;
//  .card-detail-error {
//    padding-left: 50px;
//    padding-right: 50px;
//    text-align: center;
//  }
//
//  .card-item {
//    width: 330px;
//    height: 35px;
//    line-height: 33px;
//    .card-item-left {
//      display: inline-block;
//      overflow: hidden;
//    }
//    .card-item-right {
//      display: inline-block;
//      max-width: 280px;
//      white-space: nowrap;
//      text-overflow: ellipsis;
//      overflow: hidden;
//      word-wrap: initial;
//      padding-left: 6px;
//    }
//    i{
//      padding: 0 8px;
//    }
//
//  }
//  //标签展示的样式
//  .tag-container {
//    display: inline-block;
//    .tag-label {
//      float: left;
//      line-height: 28px;
//    }
//    .block-tag {
//      width: 310px;
//      white-space: normal;
//      display: inline-block;
//      .ant-tag {
//        font-size: 14px;
//        border-radius: 4px;
//        background: #c0d7e8;
//        margin-top: 4px;
//        margin-left: 5px;
//        float: none;
//        a {
//          color: #000;
//        }
//        i {
//          color: #3879d9;
//        }
//      }
//    }
//  }
//  .detail-address-style {
//    line-height: 20px;
//    padding-bottom: 5px;
//    .card-item-right {
//      padding-left: 42px;
//      max-width: 330px;
//      white-space: normal;
//    }
//  }
//  //没有左侧的label时，样式设置
//  .left-label-null-style {
//    padding-top: 0;
//    padding-bottom: 8px;
//    .card-item-right {
//      padding-left: 55px;
//    }
//  }
//}
//
//.card-infor-list:last-child {
//  border-bottom: @border-style;
//}
//
////标签修改的样式
//.card-info-tag-form {
//  display: inline-block;
//  padding: 25px 10px 22px 24px;
//  margin-left: 20px;
//  margin-right: 20px;
//  label {
//    padding-right: 0;
//    padding-top: 3px;
//    text-align: left;
//  }
//  .ant-form-item {
//    width: 330px !important;
//    margin-bottom: 5px;
//    .block-tag-edit {
//      font-size: 14px;
//      width: 300px;
//      white-space: normal;
//      .app-tag {
//        margin-right: 8px;
//        cursor: pointer;
//        padding: 3px 8px;
//        display: inline-block;
//        margin-bottom: 5px;
//        color: #666;
//      }
//      .tag-selected {
//        background: #4d96d1;
//        border-radius: 4px;
//        color: white;
//        padding: 3px 8px;
//      }
//    }
//    .app-tag-saving {
//      color: #979EA2;
//    }
//    .app-tag-save-success {
//      color: #87d068;
//    }
//    .app-tag-save-error {
//      color: @error_tips_color;
//    }
//  }
//}
//
//.log-infor-list {
//  .infor-list;
//
//  .log-infor-title {
//    padding-bottom: 10px;
//  }
//
//  .log-list-content {
//    margin-top: 5px;
//    text-align: center;
//  }
//
//}
//.ant-btn.ant-btn-sm{
//  border-radius: 3px;
//}