.sales-report {
    .report-content {
        padding: 20px 16px 0;
        background: #f3f5f5;
        font-size: 14px;
        dl {
            margin-right: 16px;
            dt {
                font-size: 18px;
                line-height: 2em;
                padding-left: 10px;
            }
        }
        .base-info {
            .avatar {
                .no-user-logo-div {
                    .icon-users {
                        font-size: 70px;
                    }
                }
            }
            dd {
                background: #fff;
                margin-bottom: 16px;
            }
            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            td.field-name {
                padding-left: 10px;
                padding-right: 20px;
                font-weight: bold;
            }
            td.field-value {
                width: 100px;
            }
            .avatar {
                margin-left: 10px;
            }
        }
        .analysis-charts {
            margin: 0 -16px;
        }
    }
}
