.table-list-panel {
    .panel-content {
        margin-top: 64px;
        padding: 0 16px;
        .ant-pagination-total-text {
            position: absolute;
            left: 10px;
            font-size: 14px;
        }
    }
}
