.table-list-panel {
    .clickable {
        cursor: pointer;
    }
    .panel-content {
        margin-top: 64px;
        padding: 0 16px;
        .ant-pagination-total-text {
            position: absolute;
            left: 10px;
            font-size: 14px;
        }
        .antc-data-source {
            .load8 {
                position: fixed;
                top: 53%;
            }
        }
    }
}
