/*引入公共变量*/
@import '../../../../public/css/bootstrap-variables';
@import '../../../../public/css/common-variables';
@import '../../../../components/antd-table-pagination/index.less';
@import '../../../../components/ModalDialog/modalDialog-zh_CN.less';

@apply-top-height: 64px; //头部的高度

.right-pannel-default {
  .user_manage_userform {
    .customer_searchbox_wrap .has-error {
      padding-top: 7px;
    }
    //添加loading状态
    .anticon-loading {
      color: #394144;
      font-size: 16px;
      margin: 0 0 0 5px;
      vertical-align: -2px;
    }
    .customer_choosen {
      display: inline-block;
      margin-top: 4px;
      cursor: pointer;
      background-color: #f3f3f3;
      &:hover {
        background-color: darken(#f3f3f3, 5%);
      }
      border-radius: 4px;
      overflow: hidden;
      padding: 3px 10px 3px 10px !important;
      & > span {
        vertical-align: middle;
      }
      .iconfont {
        display: inline-block;
        vertical-align: middle;
        font-family: anticon !important;
        &:before {
          content: "\E62D";
        }
        transform: scale(.66666667) rotate(0deg);
        text-transform: none;
        text-rendering: auto;
        zoom: 1;
        filter: none;
      }
    }
    .txt {
      color: #666;
      padding-top: 7px;
    }
    .userform_error_tip {
      color: @error_tips_color;
      padding-top: 7px;
    }
    .ant-form-item {
      width: auto;
      margin-right: 12px;
      padding: 0 0 0 12px;
    }
    .ant-form-item > label {
      text-align: left;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .ant-input-number-input {
      border: none !important;
      height: 28px !important;
    }
    form .ant-input-number {
      margin-top: 3px;
    }
    form .ant-form-item .ant-select-selection--single .ant-select-selection__rendered {
      line-height: 32px;
    }
    .app-selector-nodata {
      color: #666;
      padding: 8px 0 0 0;
    }
    .ant-form-item .ant-radio-group {
      padding-top: 7px;
    }
  }
  .user_manage_userform, .user-detail-add-app, .user-detail-edit-app {
    .form_btns {
      position: fixed;
      height: 67px;
      bottom: 0;
      left: 28px;
      right: 28px;
      background: #e6edef;
      border-top: 1px solid #cfd8d7;
      .pull-left {
        padding-top: 20px;
        color: #b2bdbf;
      }
    }
  }

  .user_manage_userform, .form_btns {
    .indicator {
      position: absolute;
      width: 200px;
      top: 15px;
      left: 50%;
      text-align: center;
      margin-left: -125px;
      .anticon-loading {
        font-size: 18px;
      }
    }
    .ant-alert {
      display: inline-block;
    }
  }

  .user_manage_userform, .addapp_minor_items, .editapp_minor_items {
    .ant-radio + span {
      color: #5d5d5d;
      font-weight: normal;
    }
    .icon-arrow-up, .icon-arrow-down {
      display: none;
      position: absolute;
      right: 10px;
      top: 2px;
      color: #000;
      cursor: pointer;
    }
    .ant-calendar-picker-icon {
      display: none;
    }
    .ant-calendar-picker-open {
      opacity: 1;
    }
    .customdate {
      .icon-arrow-up, .icon-arrow-down {
        display: block;
        pointer-events: none;
      }
      .ant-input {
        cursor: pointer;
      }
    }
    .ant-radio-group label {
      cursor: pointer;
      min-width: 50px;
    }
  }

}

.user_manage_user_detail_wrap {
  font-size: 0;
  transition: transform 0.5s ease;
  transform: translateX(0);

  &.move_left {
    transform: translateX(-700px);
  }

  .full_size {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
  }
  .user-customer {
    margin-top: -5px;
  }
}

.user_apply_page {
  .none {
    display: none;
  }
  .global_filter_adv {
    position: relative;
    z-index: 10;
    .filter_roles_loading {
      .anticon {
        font-size: 16px;
      }
    }
    .filter_roles_error {
      .ant-alert-error {
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        display: inline-block !important;
      }
      li {
        cursor: auto;
      }
      dt {
        padding-top: 2px;
      }
      a {
        margin-left: 5px;
      }
    }
    .filter_teams_loading {
      .anticon {
        font-size: 16px;
      }
    }
    .filter_teams_error {
      .ant-alert-error {
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        display: inline-block !important;
      }
      li {
        cursor: auto;
      }
      dt {
        padding-top: 2px;
      }
      a {
        margin-left: 5px;
      }
    }
  }
  //.user_apply_contentwrap{
  //padding:25px @container_padding 25px @container_padding;

  .status {
    display: inline;
    margin: 0 0 0 30px;
  }

  .summary_info {
    font-size: 13px;
    color: #7c8185;
    position: fixed;
    bottom: 43px;
  }
  .user-list-thead tbody {
    display: none;
  }
  .user-list-thead .ant-table-body {
    border-bottom: 0;
  }
  .user-list-tbody .ant-table-body {
    height: auto;
    border-bottom: none;
  }
  .user-list-tbody .ant-table-placeholder {
    top: auto;
  }
  .user-list-tbody {
    //下拉加载失败后，提示的样式
    .scroll-loading-data-error {
      text-align: center;
      padding: 5px 0;
      line-height: 20px;
      a {
        font-size: 14px;
      }
    }
    .operate-style, .operate-detail-style {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      word-wrap: initial;
      width: 90%;
      display: inline-block;
    }
    .operate-detail-style {
      cursor: text;
    }
    .show-copy-icon {
      display: none;
    }
    .operate-detail:hover {
      .show-copy-icon {
        display: inline-block;
        width: 10%;
        color: #2db7f5;
        position: relative;
        bottom: 3px;
      }
    }
  }
  .user-list-thead .ant-table-placeholder {
    display: none;
  }
  .user-list-thead .ant-table-body {
    height: auto;
  }
  .user-list-thead .ant-table-empty {
    margin-bottom: 0;
  }
  .ant-table td, .ant-table th {
    padding: 8px 4px;
  }
  .ant-table td {
    color: #6e7377;
  }
  .ant-table .app_ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ant-table td .light_color {
    color: #adb1b2;
  }
  .ant-table td li {
    margin-bottom: 10px;
  }
  .ant-table td li:last-child {
    margin-bottom: 0;
  }

  //}

}

//用户审批
.apply_manage_wrap {
  .nodata-msg-block {
    margin: 50px auto 0 auto;
    a {
      text-decoration: underline;
    }
  }
}

.apply_manage_wrap.user-manage-v2, .my-work-detail-panel, .historical-detail-panel {
  @font-color: #999999;
  @bordercolor: #e1e9eb;
  padding: 0;
  min-width: @screen-md;
  .app_user_manage_detail {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .app_user_apply_list_style {
    .summary_info {
      position: relative;
      bottom: 0px;
      height: 30px;
      margin-top: 10px;
      margin-left: 20px;
      font-size: @form_font_size14;
    }
  }
  //申请列表
  .app_user_manage_apply_list_wrap {
    position: relative;
    @color: #506470;
    color: @color;
    border-right: 1px solid @bordercolor;
    width: 420px;
    float: left;
    min-height: 300px;
    @text-color: #313330;
    .searchbar {
      height: @apply-top-height;
      padding: 16px 20px 0 20px;
      border-bottom: 1px solid @bordercolor;
      //申请类型筛选
      .apply-type-filter {
        position: relative;
        float: left;
        color: @title-color;
        cursor: pointer;
        .apply-type-filter-btn {
          float: left;
          padding-left: 10px;
          padding-right: 2px;
          font-size: 14px;
          border: 1px solid #cdd5d9;
          border-radius: 3px;
          line-height: 29px;
          &:hover {
            border: 1px solid #57c5f7;
          }
          .iconfont.icon-arrow-down {
            font-size: 24px;
            vertical-align: middle;
            color: #a3a4a4;
            font-weight: bold;
          }
        }
      }
      //搜索框
      .apply-search-wrap {
        float: left;
        width: 200px;
        .search-input-container {
          height: @btn-height;
          padding: 0;
          .search-input {
            height: 30px;
            line-height: 30px;
            border: none;
            outline: none;
          }
        }
      }
      //刷新、查看未读回复的按钮
      .search-btns {
        float: right;
        height: 30px;
        line-height: 30px;
        .icon-refresh {
          margin-right: 0;
          color: #a0abaf;
        }
        span.icon-apply-message-tip {
          font-size: 18px;
          color: #edeef0;
        }
        span.has-unread-reply, span.has-new-apply {
          color: @reply-message-tip-color;
          cursor: pointer;
        }
        .check-uread-reply-bg {
          float: right;
          border-radius: 3px;
          height: 24px;
          width: 24px;
          text-align: center;
          line-height: 24px;
          margin-top: 4px;
          margin-left: 14px;
        }
        .check-uread-reply-bg.active {
          background-color: #e1eaf1;
          cursor: pointer;
        }
      }
    }
    .ant-pagination {
      padding: 20px 0 11px 0;
      border: 1px solid @bordercolor;
      border-top: none;
    }
    ul.app_user_manage_apply_list {

      .ant-alert-info {
        display: inline-block;
      }
      //有未读回复的提示
      li.has-unread-reply-tip {
        height: 40px;
        background-color: @reply-message-tip-color;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        cursor: default;
      }
      li {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 3px solid transparent;
        border-bottom: 1px solid #f0f4f7;
        cursor: pointer;
        &:hover{
          background-color: @current-item-color;
        }
        &.current {
          background-color: @current-item-color;
          border-left: 3px solid @apply-active-color;
          dt span {
            color: @title-color;
          }
        }
        em, dt {
          font-weight: normal;
          font-style: normal;
        }
        dt {
          padding-top: 12px;
          padding-bottom: 12px;
          span {
            padding-top: 5px;
            line-height: 19px;
            font-size: 16px;
          }
          //未读回复的标识
          span.icon-apply-message-tip {
            padding-left: 5px;
            color: @reply-message-tip-color;
          }
          em {
            float: right;
            line-height: 20px;
            font-size: 13px;
            color: @approval-pending-color;
            &.processed {
              color: @font-color;
            }
          }
        }
        dd {
          line-height: 18px;
          font-size: 13px;
          padding-bottom: 6px;
          color: @font-color;
          & > span {
            float: left;
            max-width: 65%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          em {
            float: right;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }

  //申请详情
  .app_user_manage_apply_detail_wrap {
    color: #5d5d5d;
    position: relative;
    background-color: @current-item-color;
    //详情头部标题
    .apply-detail-title {
      height: 64px;
      padding: 20px;
      .apply-type-tip {
        font-size: 16px;
        color: @title-color;
      }
      .order-id {
        float: right;
        font-size: 14px;
        color: @font-color;
      }
    }
    .apply-detail-content {
      padding: 0 20px;
    }
    //客户、用户、备注、回复信息
    .apply-detail-info {
      background-color: @apply-detail-bg-color;
      margin-bottom: 10px;
      padding: 0 10px;
      .reply-icon-block {
        z-index: 2;
      }
      .customer-icon-block, .user-icon-block, .common-icon-block, .reply-icon-block {
        float: left;
        width: 50px;
        height: 60px;
        padding-left: 8px;
        padding-top: 15px;
        .icon-customer, .icon-user, .icon-common, .icon-apply-message-tip {
          color: #9faaac;
        }
        .icon-customer {
          font-size: 18px;
        }
        .icon-user {
          font-size: 20px;
        }
        .icon-common {
          font-size: 14px;
        }
      }
      .apply-info-block {
        position: relative;
        width: 100%;
        padding-left: 50px;
        z-index: 0;
        .apply-info-content{
          padding: 16px 10px 16px 16px;
          border-left: 1px solid @bordercolor;
          .apply-info-label {
            margin-top: 4px;
            font-size: 14px;
            color: #9f9fa1;
            .user-info-label {
              padding-right: 6px;
            }
            .user-info-text {
              color: @text-color;
            }
          }
        }
      }
      .apply-info-label {
        margin-top: 4px;
        font-size: 14px;
        color: #9f9fa1;
        .user-info-label {
          padding-right: 6px;
        }
        .user-info-text {
          color: @text-color;
        }
      }
      //客户信息
      .customer-info-block {
        .customer-name {
          padding-bottom: 6px;
          a {
            font-size: 14px;
            color: @title-color;
            text-decoration: none;
          }
          .icon-arrow-right {
            padding-left: 4px;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
      //用户信息
      .user-info-block {
        .user-info-text {
          .icon-update {
            cursor: pointer;
          }
          .user-nick-name {
            color: @font-color;
          }
        }
        //用户名
        .edit-name-label {
          display: inline-block;
          line-height: 26px;
        }
        .edit-name-wrap{
          display: inline-block;
          vertical-align: top;
        }
        .user-name-wrap {
          display: inline-block;
          width: 260px;
          form {
            float: left;
            width: 200px;
            .ant-form-item {
              margin-bottom: 0;
            }
          }
          .save-buttons {
            float: left;
            margin-top: 4px;
          }
        }
        //密码
        .password-label {
          float: left;
          line-height: 32px;
        }
        .apply-repassword-container {
          padding-left: 37px;
        }
        .apply-change-password-style {
          input {
            height: 24px;
            line-height: 24px;
          }
        }
        //延期、到期时间
        .delay-time-wrap {
          .user-info-label {
            float: left;
            line-height: 26px;
          }
          .user-info-text {
            display: inline-block;
            line-height: 26px;
            .modify-delay-time-style {
              input {
                height: 26px;
              }
              .ant-select-selection--single {
                height: 28px;
              }
              .select-modify-unit {
                width: 70px;
              }
            }
          }
        }
        .icon-choose, .icon-close {
          margin-left: 10px;
          cursor: pointer;
        }
        .icon-choose {
          color: #4dbe50;
        }
        .icon-close {
          color: #b50e0a;
          font-size: 14px;
        }
        //应用
        .apply_detail_apps {
          position: relative;
          padding-top: 10px;
          table {
            border-color: @bordercolor;
            margin-bottom: 0;
          }
          tr {
            background-color: #fff;
          }
          .apply-detail-head {
            background-color: transparent;
          }
        }
        .apply_detail_operate {
          position: absolute;
          top: -16px;
          right: 0;
        }
      }
      //备注
      .common-info-block {
        .apply-info-label {
          margin-top: 0;
        }
      }
    }
    //回复列表外层容器
    .apply-detail-reply-list {
      //position: relative;
      //float: left;
      //width: 100%;
      .reply-info-block {
        .reply-list-container {
          li {
            margin-bottom: 6px;
            word-break: break-all;
            overflow: hidden;
          }
          //回复
          .ant-input-group-wrapper {
            margin-top: 4px;
          }
          .ant-input-group-addon {
            padding: 4px 14px;
            background-color: #fff;
          }
        }
        .apply-info-label {
          margin-top: 0;
          .reply-date-text {
            float: right;
            padding-right: 0;
          }
        }
        .refresh-reply-data-tip {
          display: inline-block;
          width: 100%;
          line-height: 27px;
          text-align: center;
        }
        //loading外层容器
        .reply-loading-wrap {
          display: block;
          text-align: center;
          margin: 0 0 0 8px;
          font-size: 18px;
        }
        //loading文字容器
        .reply-loading-text {
          font-size: 12px;
          margin: 0 0 0 10px;
        }
        //提示容器
        .ant-alert {
          display: inline-block;
        }
        //刷新样式
        .anticon-reload {
          cursor: pointer;
          &.pull-right {
            margin: 10px 10px 0 0;
            font-size: 14px;
          }
        }
      }
    }
    //申请用户的各应用配置面板
    .apply_custom_setting_wrap {
      background-color: @apply-detail-bg-color;
      margin-top: 10px;
      .apply_detail_operate {
        width: 100%;
        padding-right: 10px;
      }
    }

    .modal-backdrop, .modal {
      position: absolute;
    }
    .modal-dialog .modal-content {
      box-shadow: none !important;
    }
    .apply-change-password-style {
      width: 230px;
      display: inline-block;
      vertical-align: bottom;
      .ant-form-item {
        margin-bottom: 0;
      }
    }
    .ant-form-horizontal {
      dt {
        padding-top: 10px !important;
      }
    }

    .approval {
      text-align: center;
      color: #4d96d1;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #748fa0;
      padding: 10px 0;
      margin: 16px 33px 19px 38px;
      line-height: 22px;
      cursor: pointer;
    }
    .approval_block {
      height: 48px;
      overflow: hidden;
      .ant-form-item-control textarea {
        resize: none;
      }
      .approval_text {
        padding-top: 15px;
        padding-bottom: 0;
        line-height: 24px;
        font-size: 16px;
        color: #506470;
      }
      .approval_person {
        line-height: 22px;
        color: @font-color;
        .col-3 {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .btn-primary-sure {
      margin-left: 10px;
    }
    .modal-content {
      box-shadow: none;
    }
    .approval_loading {
      p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
      }
    }
    .approval_result {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      background: #fff;
      .approval_result_wrap {
        width: 300px;
        height: 227px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        padding: 8px 0 0 0;
        z-index: 10;
        .bgimg {
          width: 80px;
          height: 83px;
          margin: 0 auto;
          background: transparent url("../images/approval_success.png") 0 0;
        }
        .bgimg.error {
          background: transparent url("../images/approval_error.png") 0 0;
        }
        p {
          line-height: 28px;
          color: #b8bdc0;
          font-size: 20px;
          margin-top: 23px;
          margin-bottom: 27px;
        }
        .ant-btn-ghost {
          color: #b8bdc0;
          &:hover {
            color: #57c5f7;
          }
        }
        .re_send {
          margin-right: 23px;
          color: #57c5f7;
          &:hover {
            color: darken(#57c5f7, 20%);
          }
        }
      }
    }
    .single_user_log_select_time, .single_user_log_select_app {
      display: inline-block;
      padding: 10px 0;
      vertical-align: middle;
    }
    // 单个用户审计日志的搜素框样式
    .single_user_log_search_content {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0;
      .search-input-container {
        .search-input {
          height: @input_height;
        }
      }
    }

    .single_user_log_information {
      margin-bottom: 15px;
      margin-right: 20px;
      padding: 8px 0 2px 10px;
      background: #dce4e7;
    }

    .single_user_log_time_operation {
      font-size: 14px;
      font-weight: bold;
    }

    .single_user_log_other_information {
      font-size: 14px;
    }

    .single_user_log_detail {
      padding-right: 20px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    .user_audit_log_select_app .ant-select-selection--single,
    .single_user_log_select_app .ant-select-selection--single {
      height: @input_height;
      font-size: @form_font_size;
      line-height: @line_height30;
    }

    .user_audit_log_select_app .ant-select-selection__rendered,
    .single_user_log_select_app .ant-select-selection__rendered {
      line-height: @line_height30;
    }

    .right-panel-audit-log-style {
      .load8 {
        transform: scale(0.5, 0.5);
        .loader8 {
          border-left-color: #394144;
        }
      }
      .call_chart {
        position: relative;
        height: 214px;
        margin: 0 20px 20px 20px;
      }

      .ant-alert-error, .ant-alert-message, .ant-alert-info {
        display: inline-block;
      }

      .alert-wrap {
        text-align: center;
      }
      .alert-wrap:first-child {
        margin-top: 20px;
        position: absolute;
        width: 100%;
      }

      .total_summary {
        margin-top: 15px;
        font-size: 14px;
      }

      .no-more-data-tip {
        .ant-alert-info {
          margin-right: 20px;
          display: block;
        }
      }
    }
  }
  .button-zones {
    position: inherit;
  }
}

.my-work-detail-panel {
  .app_user_manage_apply_detail_wrap {
    .delay_detail_apps {
      .apply_detail_operate {
        top: 2px !important;
      }
    }
  }
}

.app_user_manage_apply_list_error {
  height: 80px;
}

.app_user_manage_apply_list_loading, .app_user_manage_apply_list_error, .app_user_manage_detail_loading, .app_user_manage_detail_error {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  position:absolute;
  z-index: 1;
  .ant-alert-error, .ant-alert-message, .ant-alert-info {
    display: inline-block;
  }
}
.app_user_manage_apply_list_error{
  position: absolute;
}

.apply-filter-menu-list {
  .ant-dropdown-menu-item {
    font-size: 14px;
  }
  .ant-dropdown-menu-item a:hover {
    color: #57c5f7;
  }
}
//申请审批详情宽度设置
.historical-detail-panel:not(.show-modal) {
  width: calc(@apply-detail-width + 24px);

  .close-modal-btn{
    right: @apply-detail-width;
  }
}
.historical-detail-panel{
  .right-panel-modal-content{
    width: @apply-detail-width;
  }
}

.app_user_manage_apply_list_wrap, .app_user_manage_apply_detail_wrap {
  padding-left: 0;
  padding-right: 0;
}
