/** Created by 2019-03-11 14:00 */
@import "../../../../public/css/common-variables";
.contract-panel-v2{
  .add-products {
    .ant-form {
      background: transparent;
      padding: 0 !important;

      .ant-form-item {
        width: auto;
        display: block;
        margin-bottom: 0px !important;

        .ant-form-explain {
          position: relative;
          font-size: 12px;
        }
      }
    }

    .app-icon-name {
      .app-self {
        img {
          width: 24px;
          height: 24px;
        }
      }

      .app-name {
        margin-left: 5px;
        color: #000000a6;
      }
    }

    .product-forms {
      margin: 0 15px 29px 15px;
    }
  }

  // 产品与服务信息
  .contract-product {
    // 添加产品
    .add-products {
      .add-app-container {
        right: 18px;
      }

      .detail-card-container {
        position: relative;
      }

      .ant-dropdown-trigger {
        cursor: pointer;
        color: #9fb5cd;
      }
    }
  }

}