/** Created by 2019-03-12 10:12 */
@import "../../../../public/css/common-variables";
.contract-panel-v2{
  .add-basic {
    margin-top: 0px;

    .ant-form-item {
      label {
        margin-right: 0px;
      }

      .ant-checkbox-wrapper {
        line-height: @line_height30;
      }
    }

    .belong-customer-form {
      .belong-customer-item {
        float: left;
        width: calc(100% - 35px);
      }
    }
  }
}
