/** Created by 2019-03-12 09:36 */
@import "../../../../public/css/common-variables";
.contract-panel-v2{
  // 回款，付款样式
  .add-repayments, .add-payments {
    width: auto;
    padding-top: 5px;
    .new-add-form-container {
      padding: 15px;
      width: 440px;

      .ant-form-item {
        margin-right: 0;
      }

      .ant-form {
        padding: 0;
      }
    }

    .finance-list {
      padding: 0 12px;
      margin: 0 20px;
      background: @apply-detail-bg-color;

      ul {
        margin: 10px 0;
      }

      li {
        list-style: none;
        margin-bottom: 0;
      }

      .iconfont.icon-huikuan {
        color: #71ca62;
      }
    }

    .add-finance {
      input {
        width: 60px;
        margin: 0;
      }

      .btn-primary-sure {
        margin: 0 8px;
        padding: 1px 12px;
      }
    }
  }
  // 滚动条下的内容包裹区
  .contract-view-content{
    .repayment-title {
      display: inline-block;
    }

    .repayment-label {
      font-size: @form_font_size14;
      color: @title-color;
    }

    .finance-list {
      .finance-list-item {
        .btn-bar {
          padding: 0 5px;
        }

        .btn-bar, .icon-edit-btn {
          display: none;
        }

        &:hover {
          .btn-bar, .icon-edit-btn {
            display: inline-block;
          }
        }

        &.item-actived {
          background: #d9ebfa;

          &:hover {
            .btn-bar, .icon-edit-btn {
              display: none;
            }
          }
        }

        .btn-save, .btn-cancel {
          position: relative;
          right: 0;
          width: 20px;
          height: 20px;
        }
        .btn-save{
          margin-right: 3px;
        }
      }
    }
  }
}