/** Created by 2019-03-11 13:42 */
@import "../../../../public/css/common-variables";
// 费用详情样式
.detail-cost-basic {
  padding: 0 15px;

  form {
    padding: 0;
  }

  .detail-card-title {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .icon-edit-btn {
    float: right;
    font-size: @form_font_size16;
    color: @CLICK-BLUE;
    cursor: pointer;
  }

  .cost-amout-type {
    .basic-info-label {
      margin-right: 8px;
    }

    .basic-info-text {
      color: @title-color;
    }
  }
}