/*头像的样式设置*/
$right-pannel-width: 540px;
$img-size: 70px;

.upload-img-public {
  position: absolute;
  margin: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 70px;
  width: 70px;
}

.head-image-container {
  height: 95px;
  margin-top: 50px;
  margin-bottom: 15px;
  .upload-img-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .update-logo-desr {
    text-align: center;
    color: #ffffff;
    z-index: 1;
    background-color: #99a5ad;
    height: 20px;
    bottom: 0;
    top: auto;
    @extend .upload-img-public;
  }
  .upload-img-select {
    text-align: center;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    @extend .upload-img-public;
  }
  .cirle-image {
    margin: 0 auto;
    width: $img-size;
  }
  img {
    height: $img-size;
    width: $img-size;
    border-radius: 50%;
  }
  p {
    width: $right-pannel-width;
    text-align: center;
    margin-top: 10px;
    color: #5d5d5d;
  }
}
