//详情中信息展示的卡片
@card_margin: 8px;
@card_width: 100%;
@btn_color: #8da8c5;
@font_color: #8da8c5;
@box_shadow_color: #cac8c8;
@item_height: 24px;
//展示状态下的卡片
.detail-card-container {
  float: left;
  width: @card_width;
  padding: 12px;
  margin-top: @card_margin;
  border-radius: 3px;
  background-color: #ffffff;
  .title-border-bottom-none.detail-card-title{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .detail-card-title {
    width: @card_width;
    min-height: @item_height;
    margin-bottom: @card_margin;
    padding-bottom: @card_margin;
    border-bottom: 1px solid #f5f5f5;
    color: #999999;
    font-size: 14px;
    .title-descr-style{
      padding-left: 4px;
      color: #d2d0d0;
    }
    .title-right-block{
      float: right;
      color: #8da8c5;
    }
  }
  .title-click-block {
    cursor: pointer;
  }
  .detail-card-bottom {
    float: left;
    width: @card_width;
    border-top: 1px solid #f5f5f5;
    padding-top: 4px;
    color: #999999;
    font-size: 14px;
  }
}

//编辑状态下的卡片,有阴影
.detail-card-edit-status {
  box-shadow: 0 8px 10px @box_shadow_color;
  .card-content-edit-status {
    border: 1px solid #d3eafc;
    padding: 10px;
    border-radius: 3px;
  }
}

//保存、取消按钮
.button-container {
  height: @item_height;
  margin-top: 10px;
  .button-cancel, .button-save {
    float: right;
    margin-left: 10px;
    height: @item_height;
  }
  .button-cancel {
    color: @font_color;
  }
  //等待样式
  .anticon.save-loading {
    float: right;
    font-size: 16px;
    line-height: 24px;
  }
  //错误提示样式
  span.save-error {
    float: right;
    line-height: 24px;
    color: #f50;
  }
  //成功提示样式
  span.save-success {
    float: right;
    line-height: 24px;
    color: #06ae06;
  }
}