//暂无数据提示的样式
@import "../../../../../../public/css/common-variables";
.error-data-tip {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  background-color: #ffffff;
  .anticon-close-circle {
    color: @error-color;
  }
  a, .error-tip-msg {
    margin-left: 4px;
  }
}