@import "../../../../public/css/common-variables";

.commission-payment-panel{
  background-color:#fff;
  .commission-payment-content{
    padding-top:64px;
    .search-select-condition{
      padding:16px 0 16px 16px;
      height:62px;
      .search-condition{
        .search-input-container{
          width:200px;
        }
      }
      .search-condition{
        float:left;
      }
      .role-select, .time-select, .add-commission-item{
        float:right;
        padding-right:16px;
      }
      .add-commission-item{
        cursor:pointer;
        .icon-add{
          font-size:26px;
          line-height:30px;
          border:1px solid #d2d3d5;
          border-radius:3px !important;
        }
      }
    }
    .commission-payment-table-content{
      padding:0 16px;
      .ant-table-tbody{
        .current-row, .current-row:hover{
          background:#b6d3f3 !important;
        }
      }
    }
  }
  .right-pannel-commission{
    width:500px;
    transform:translateX(500px);
    font-size:14px;
    .load8{
      position:absolute;
      top:100px;
      left:300px;
      transform:scale(0.5, 0.5);
      .loader8{
        border-left-color:#394144;
      }
    }
    .ant-tabs-nav{
      margin-left:10px;
    }
    .icon-close{
      position:absolute;
      margin:0;
      top:15px;
      right:15px;
    }
    .icon-update{
      position:absolute;
      margin:0;
      top:15px;
      right:50px;
      z-index:1;
    }
    .icon-return{
      z-index:1;
    }
    .ant-tabs-bar{
      margin:0 20px 16px;
      border-bottom-color:#D2DBE6;
      .ant-tabs-tab{
        padding:5px 0;
      }
      .ant-tabs-ink-bar{
        background-color:#4D96D1;
        height:3px;
      }
    }
    form{
      padding-left:20px;
      padding-bottom:20px;
      .ant-form-item{
        width:auto;
        color:inherit;
        .ant-calendar-picker{
          width:@edit_input_width;
        }
        .ant-form-text{
          padding-left:5px;
          padding-right:0;
        }
      }
    }
    .btn-primary-sure{
      margin-left:20px;
      margin-right:10px;
    }
    .circle-button-minus{
      margin-right:15px;
      float:right;
      background-color:#f05150;
    }
    .circle-button-minus:hover{
      background-color:#c91211;
    }
    .choose-type{
      .ant-tabs-tabpane{
        padding:10px 0 0 20px;
      }
      ul{
        display:inline-block;
      }
      li{
        display:inline-block;
        width:96px;
        text-align:center;
        background:#fff;
        border-radius:4px;
        cursor:pointer;
        margin-left:30px;
        padding:3px 0;
      }
      li.active{
        background:#4d96d1;
        color:#fff;
      }
    }
    .belong-customer-form{
      width:285px;
      position:relative;
      input, .ant-select, .ant-form-explain{
        width:260px !important;
      }
      .circle-button{
        position:absolute;
        top:3px;
        right:-10px;
        margin:0;
        z-index:1;
        cursor:pointer;
      }
    }
    .add-form{
      .ant-tabs-tab{
        pointer-events:none;
      }
    }
    .commission-detail{
      padding-left:40px;
      .icon-update{
        top:60px;
        right:55px;
      }
      .icon-delete{
        z-index:1;
        position:absolute;
        top:60px;
        right:20px;
      }
      .ant-form-item{
        line-height:30px;
      }
      button{
        margin:0;
      }
      .btn-primary-cancel{
        margin-left:15px;
      }
      .value-text{
        display:inline-block;
      }
    }
  }
}