/*产品管理样式设置*/
@import "../../../../public/css/common-variables";

.handle-btn-container {
  float: right;
  width: 110px;
  height: @top_nav_height;
  line-height: @top_nav_height;
  border-left: 1px solid #edf1f2;
  font-size: 14px;
  text-align: center;
  color: #4d96d1;
  cursor: pointer;
}

//产品管理样式设置
.backgroundManagement_production_content {
  .right-cards-container {
    ul.topnav-links {
      min-width: 412px;
    }
    .cards-filter {
      display: none;
    }
    .card-list-container {
      .no-data-intro, .no-data {
        margin: 260px auto;
      }
      .no-data-intro .no-data-container {
        top: -34px;
      }
      .card-box .single-card .card-content .card-item .card-item-right {
        width: 60%;
      }
    }
  }
}