/*产品管理样式设置*/
@import "../../../../public/css/common-variables";

.handle-btn-container {
  float: right;
  width: 110px;
  height: @top_nav_height;
  line-height: @top_nav_height;
  border-left: 1px solid #edf1f2;
  font-size: 14px;
  text-align: center;
  color: @primary-color;
  cursor: pointer;
}
//导入产品dropdown的样式
.import-product-dropdown-container {
  .import-product-list-container {
    width: 350px;
    .search-product-input {
      margin-bottom: 10px;
    }
    .product-list {
      height: 200px;
    }
    label {
      font-weight: normal;
    }
    .hidden-checkbox {
      display: none;
    }
  }
  .un-select-data-tip {
    float: left;
    line-height: 27px;
    width: 210px;
  }
}

//产品管理样式设置
.production-manage-container {
  padding: 12px;
  .backgroundManagement_production_content {
    background: #fff;
    .production-top-nav {
      height: 80px;
      border-bottom: 1px solid @border-color;
      .condition-operator {
        height: 100%;
        padding: 24px;
        .pull-left {
          .icon-oplate {
            padding-right: 5px;
          }
        }
        .pull-right {
          .filter-ip-btn {
            padding: 0 24px;
            .btn-item {
              margin-right: 0 !important;
            }
            .icon-filter-ip {
              margin-right: 8px;
            }
          }
        }
      }
    }
    .right-cards-container {
      ul.topnav-links {
        min-width: 412px;
      }
      .cards-filter {
        display: none;
      }
      .card-list-container {
        .no-data-intro, .no-data {
          margin: 260px auto;
        }
        .no-data-intro .no-data-container {
          top: -34px;
        }
        .card-box .single-card .card-content .card-item .card-item-right {
          width: 60%;
        }
        .card-layout-container {
          .card-box {
            .card-content {
              .card-title {
                color: @primary-font-color;
              }
              .card-item {
                color: @has-transfer-color;
              }
            }
          }
          .production-stop {
            background-color: #fbfbfb;
            .img-container {
              img {
                filter:grayscale(100%);
                opacity: 0.2;
              }
              .no-user-logo-div {
                background-color: #e6e6e6;
              }
            }
            .card-content {
              .card-title, .card-item {
                color: @has-transfer-color;
              }
            }
          }
        }
      }
    }
  }
}