//添加成员时，角色选中后就不再在下拉列表中展示的样式设置
.ant-select-dropdown-menu-item-selected.role-options-selected {
  display: none;
}

// 错误提示的字体以及边框颜色
@error_tips_color: #f04134;
@success-tip-color: #06ae06;
//添加成员面版样式
.product-add-container {
  .product-details-content {
    //产品顶部信息
    .product-info-title{
      height: 114px;
      overflow: hidden;
      background: #ffffff;
      padding: 24px;
      .product-icon{
        float: left;
        .head-image-container{
          height: 100%;
          margin-top: 0px;
          margin-bottom: 0px;
          .cirle-image{
            margin-left: 0px;
          }
        }
      }
      .product-info{
        margin-left: 24px;
        float: left;
        .product-title {
          margin-bottom: 8px;
          line-height: 16px;
          font-size: 16px;
          color: #506470;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          word-wrap: initial;
        }
        .product-item {
          width: 100%;
          font-size: 14px;
          height: 20px;
          line-height: 18px;
          color: #81939e;
          &.product-version {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  form {
    .head-image-container {
      margin-bottom: 0;
      margin-top: 0;
      .update-logo-desr {
        line-height: 20px;
      }
      p {
        margin-top: 0;
      }
    }
    #price{
      width: 95%;
    }
    .currency_unit{
      display: inline-block;
      width: 5%;
    }
    label.ant-checkbox-wrapper{
      font-weight: normal;
      font-size: 14px;
    }
    //jscode-----------------start
    .ant-form-item.jscode-form-item, .ant-form-item.useJS-form-item{
      margin-bottom: 0;
    }
    .copy-btn {
      float: right;
      height: 28px;
      font-size: 12px;
    }
    //复制成功的提示
    .copy-success-tip {
      float: right;
      display: inline-block;
      margin-left: 10px;
      line-height: 28px;
      color: @success-tip-color;
    }
    .js-code-label {
      display: inline-block;
      line-height: 28px;
      color: #999999;
      font-size: 14px;
    }
    //jscode展示区
    .js-code-contianer {
      margin-top: 4px;
      margin-left: 30px;
      pre {
        padding: 10px;
      }
      .js-code-user-tip {
        display: inline-block;
        margin-top: 8px;
        color: #999999;
        .attention-flag {
          color: @error_tips_color;
        }
        button {
          margin-left: 4px;
        }
      }
    }
    .test-success-tip{
      color: @success-tip-color;
    }
    .test-error-tip{
      color: @error_tips_color;
    }
    .test-error-tip,.test-success-tip{
      display: inline-block;
      margin-left: 10px;
      line-height: 24px;
      float: right;
      margin-right: 45px;
    }
    //jscode--------------end
    // 用户属性展示区
    .custom-variable-container{
      margin-left: 30px;
      .custom-variable-item{
        line-height: 20px;
        .custom-variable-key{
          width: 40%;
        }
      }
    }
    //自定义属性添加展示区 -- start
    .custom-variables-wrapper{
      .ant-form-item{
        padding-right: 0!important;
      }
      .circle-button{
        top: 0;
      }
      .edit-container{
        .icon-edit-btn{
          top: -7px;
        }
      }
    }
    //自定义属性添加展示区 -- end
  }
}